<div ng-if="currentQuestion.questionType.toUpperCase()=='AUDIO'">
  <div class="row" ng-show="currentQuestion.hasImage">
    <div class="col p-2 text-center ">
      <img ng-src="{{assets_url+currentQuestion.imageName}}" class="text-center rounded img-raised">
    </div>
  </div>
  <div class="row" ng-show="currentQuestion.hasAudio">
    <div class="col p-2 text-center">
      <audio controlsList="nodownload" ng-src="{{assets_url+currentQuestion.audioName}}" controls type="audio/mpeg"></audio>
    </div>
  </div>
  <div class="row" ng-show="currentQuestion.hasAnimatedGif">
    <div class="col p-2 text-center">
      <video width="auto" height="auto" controls controlsList="nodownload" ng-src="{{assets_url+currentQuestion.videoName}}" ></video>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-lg-10 col-md-10 col-sm-10 text-center">
      <h3 btf-markdown="currentQuestion.description" style="text-align: justify"></h3>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <button class="custom-btn-test custom-btn btn-block"
              ng-click="selectAnswer(currentQuestion.id,option,false)"
              ng-repeat="option in currentQuestion.answerRequests"
              btf-markdown="option.description">&nbsp;<span><audio controlsList="nodownload" ng-src="{{assets_url+currentQuestion.audioName}}" controls type="audio/mpeg"></audio></span>
      </button>
    </div>
    <div class="float-lg-right p-2">
      <button class="btn btn-block btn-info" ng-hide="hideNextButton" ng-disabled="disableNextButton" ng-click="next()">Next</button>
    </div>
    <div class="float-lg-left p-2">
      <button class="btn btn-block btn-danger" ng-show="showPreviousButton" ng-click="previous()">Previous</button>
    </div>
  </div>
</div>