<style>
  .btn-sim {
    < !-- border: 1 px solid;
    -->border-color: #00bb7e;
    background-color: transparent;
    padding 0px 0px;
  }

  .btn-sim:hover {
    background-color: #FFFFFF;
    color: #FFFFFF;

  }
</style>


<div ng-if="currentQuestion.questionType.toUpperCase()=='GROUP'">
  <div class="row" ng-show="currentGroup.commonText!=undefined && currentGroup.commonText!='undefined'">
    <div class="col p-2 pl-3 pr-3  text-center">
      <h4 btf-markdown="currentGroup.commonText" style="text-align: justify" class="test-question-p"></h4>
    </div>
  </div>
  <div class="row" ng-show="currentGroup.commonType.toLowerCase()=='image'">
    <div class="col text-with-img">
      <img ng-src="{{assets_url+currentGroup.fileName}}" class="text-center rounded img-raised">
    </div>
  </div>
  <div class="row" ng-show="currentGroup.commonType.toLowerCase()=='audio'">
    <div class="col p-2 text-center">
      <audio controlsList="nodownload" ng-src="{{assets_url+currentGroup.fileName}}" controls type="audio/mp3"></audio>
    </div>
  </div>
  <div class="row" ng-show="currentGroup.commonType.toLowerCase()=='video'">
    <div class="col p-2 text-center">
      <video width="auto" height="auto" controls controlsList="nodownload"
        ng-src="{{assets_url+currentGroup.fileName}}"></video>
    </div>
  </div>


  <!-- <div class="table-responsive ">
    <table class="table table_width table-bordered">
      <thead class="table-inverse">
      <tr>
        <th>
          <div class="text-left">Question Description</div>
        </th>
        <th ng-repeat="option in arrayOfQuestionsOfSameGroup[0].answerRequests">
          <div class="text-center">{{option.description}}</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="question in arrayOfQuestionsOfSameGroup">
        <td>
          <div class="text-left">
            {{question.description}}
          </div>
        </td>
        <td ng-repeat="option in question.answerRequests">
          <div class="text-center">
            <input type="radio" class="groupQuestions" name={{question.id}} ng-click="selectAnswer(question.id,option,false)">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div> -->

  <div class="question_text" ng-repeat="question in arrayOfQuestionsOfSameGroup">
    <!-- <p><b>{{$index + 1}}.</b> {{question.description}}</p> -->
    <ul>
      <li>{{question.description}}</li>
    </ul>
    <!-- <p class="rahulll">{{question.description}}</p> -->
    <div class="row">
      <div class="d-flex justify-content-center clearfix w-100">
        <div class="col p-0 text-center chek-text" ng-repeat="option in arrayOfQuestionsOfSameGroup[0].answerRequests">
          <label>
            <input type="radio" name={{question.id}} ng-click="selectAnswer(question.id,option,false)">
            <span style="display: block;" class="label-font">{{option.description}}</span>
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class="first-test-nxt">
    <button class="btn btn-info mb-2" ng-hide="hideNextButton" ng-disabled="disableNextButton"
      ng-click="next()">Next</button>
    <button class="btn btn-success" ng-show="hideNextButton" ng-disabled="disableSubmitAnswer || submitTestIcon"
      ng-click="submitAnswer()">
      <i class="fa fa-save"></i> &nbsp;Submit Test
      <i class="fa fa-spinner fa-pulse fa-fw" ng-show="submitTestIcon"></i>
    </button>

    <button class="btn btn-block btn-danger float-left" ng-show="showPreviousButton"
      ng-click="previous()">Previous</button>

  </div>


</div>