<div ng-if="currentQuestion.questionType.toUpperCase()=='IMAGE'">
  <div class="row" ng-show="currentQuestion.hasImage">
    <div class="get-img">
      <img ng-src="{{assets_url+currentQuestion.imageName}}" class="text-center rounded img-raised">
    </div>
  </div>
  <div class="row" ng-show="currentQuestion.hasAudio">
    <div class="col p-2 text-center">
      <audio controlsList="nodownload" ng-src="{{assets_url+currentQuestion.audioName}}" controls
        type="audio/mpeg"></audio>
    </div>
  </div>
  <div class="row" ng-show="currentQuestion.hasAnimatedGif">
    <div class="col p-2 text-center">
      <!--<video width="auto" height="auto" id="questionVideo" preload="metadata" ng-src="{{assets_url+currentQuestion.videoName}}"></video>-->
      <video width="auto" height="auto" id="questionVideo" nofullscreen="true"></video>
    </div>
  </div>
  <div class="row">
    <div class="question_images">
      <h5 btf-markdown="currentQuestion.description" style="text-align: justify"></h5>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 text-center justify-content-center"
      ng-class="currentQuestion.videoName?'':'d-flex'" ng-show="showAnswerOption">
      <figure class="figure p-1 answer" ng-repeat="option in currentQuestion.answerRequests">
        <label class="figure-img imageQuestion">
          <input type="radio" ng-click="selectAnswer(currentQuestion.id,option,false)" name="1"
            value="option.optionNumber" />
          <img class="img-raised rounded" ng-src="{{assets_url+option.imageName}}">
        </label>
        <!--<figcaption class="figure-caption">{{option.description}}</figcaption>-->
        <figcaption class="figure-caption">({{$index+1}})</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="nxt-btn-div">
      <div class=" p-2">
        <button class="btn btn-block btn-info" ng-hide="hideNextButton" ng-disabled="disableNextButton"
          ng-click="next()">Next</button>
        <button class="btn btn-success" ng-show="hideNextButton" ng-disabled="disableSubmitAnswer || submitTestIcon"
          ng-click="submitAnswer()">
          <i class="fa fa-save"></i> &nbsp;Submit Test
          <i class="fa fa-spinner fa-pulse fa-fw" ng-show="submitTestIcon"></i>
        </button>
      </div>
      <div class="float-lg-left p-2">
        <button class="btn btn-block btn-danger" ng-show="showPreviousButton" ng-click="previous()">Previous</button>
      </div>
    </div>
  </div>
</div>