<div ng-if="currentQuestion.questionType.toUpperCase()=='MCQ'">
  <div class="row" ng-show="currentQuestion.hasImage">
    <div class="col p-2 text-center">
      <img ng-src="{{assets_url+currentQuestion.imageName}}" class="text-center rounded img-raised">
    </div>
  </div>
  <div class="row" ng-show="currentQuestion.hasAudio">
    <div class="col p-2 text-center">
      <audio controlsList="nodownload" ng-src="{{assets_url+currentQuestion.audioName}}" controls type="audio/mpeg"></audio>
    </div>
  </div>
  <div class="row" ng-show="currentQuestion.hasAnimatedGif">
    <div class="col p-2 text-center">
      <video width="auto" height="auto" controls controlsList="nodownload" ng-src="{{assets_url+currentQuestion.videoName}}" ></video>
    </div>
  </div>
  <div class="row">
    
    <div class="optional-question-main">
      <div class="text-center">
      <h5 btf-markdown="currentQuestion.description" class="    preragrap" style="text-align: justify"></h5>
      <button class="custom-btn-test custom-btn btn-block" ng-click="selectAnswer(currentQuestion.id,option,false)" ng-repeat="option in currentQuestion.answerRequests" btf-markdown="option.description">

      </button>
      <div class="opction-nxt">
        <button class="btn btn-block btn-info" ng-hide="hideNextButton" ng-disabled="disableNextButton" ng-click="next()">Next</button>
        <button class="btn btn-success" ng-show="hideNextButton" ng-disabled="disableSubmitAnswer || submitTestIcon" ng-click="submitAnswer()">
          <i class="fa fa-save"></i> &nbsp;Submit Test
          <i class="fa fa-spinner fa-pulse fa-fw" ng-show="submitTestIcon"></i>
        </button>
   
    
        <button class="btn btn-block btn-danger" ng-show="showPreviousButton" ng-click="previous()">Previous</button>
     
    
  </div>
  </div>
</div>