<div ng-if="currentQuestion.questionType.toUpperCase()=='Slider'.toUpperCase()">
  <!--<div class="row" ng-show="currentQuestion.hasImage">-->
  <!--<div class="col p-2 text-center ">-->
  <!--<img ng-src={{currentQuestion.imageName}} class="text-center rounded img-raised">-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="row" ng-show="currentQuestion.hasAudio">-->
  <!--<div class="col p-2 text-center">-->
  <!--<audio controlsList="nodownload" ng-src={{currentQuestion.audioName}} controls controlsList="nodownload" type="audio/mpeg"></audio>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
  <!--<div class="offset-1 col-lg-10 col-md-10 col-sm-10 text-center">-->
  <!--<h3>{{currentQuestion.description}}</h3>-->
  <!--</div>-->
  <!--&lt;!&ndash;work in progress&ndash;&gt;-->
  <!--<div class="mt-5 p-5" ng-repeat="option in currentQuestion.answerRequests">-->
  <!--<div class="row ">-->
  <!--<div class="col-lg-6 ">-->
  <!--<h5>{{option.description}}</h5>-->
  <!--</div>-->
  <!--<div class="col-lg-6">-->
  <!--<div id="sliderScale" class="slider slider-info ">-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="float-lg-right p-2">-->
  <!--<button class="btn btn-block btn-info" ng-hide="hideNextButton" ng-click="next()">Next</button>-->
  <!--</div>-->
  <!--<div class="float-lg-left p-2">-->
  <!--<button class="btn btn-block btn-danger" ng-show="showPreviousButton" ng-click="previous()">Previous</button>-->
  <!--</div>-->
</div>