<style>
  /******* styling for group type questions*******/
  input[type='radio'].groupQuestions {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid darkgray;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 3px 0px gray inset;
    margin: 4px;
  }

  input[type='radio'].groupQuestions:hover {
    box-shadow: 0 0 5px 0px #fab400 inset;
  }

  input[type='radio'].groupQuestions:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }

  input[type='radio'].groupQuestions:checked:before {
    background: #00bb7e;
  }

  .groupQuestionButton {}

  /******* styling for image type questions*******/

  label.imageQuestion>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
  }

  label.imageQuestion>input+img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 1px solid #e2f986;
  }

  label.imageQuestion>input:checked+img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 4px solid #76b900;
    box-shadow: none;
    opacity: 0.5;
    color: #996;
  }

  /******* styling for MCQ type questions*******/
  .custom-btn {
    border-width: 1px;
    font-weight: 500;
    font-size: 1.1111em;
    line-height: 2.35em;
    border: solid #76b900;
    border-radius: 0;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #ffffff;
    color: #76b900;
  }

  .custom-btn-test {
    background-color: #ffffff;
    color: #76b900;
  }

  .custom-btn-test:hover,
  .custom-btn-test:focus,
  .custom-btn-test:active,
  .custom-btn-test.active,
  .custom-btn-test:active:focus,
  .custom-btn-test:active:hover,
  .custom-btn-test.active:focus,
  .custom-btn-test.active:hover,
  .open>.custom-btn-test.dropdown-toggle,
  .open>.custom-btn-test.dropdown-toggle:focus,
  .open>.custom-btn-test.dropdown-toggle:hover {
    background-color: #76b900;
    /*border: solid #000000;*/

    color: #FFFFFF;
    transition: width 4s;
  }

  .custom-btn-test.focus,
  .custom-btn-test:focus {
    box-shadow: none;
  }

  /******* styling for test intro*******/
  /*.video-container {*/
  /*position: relative;*/
  /*padding-bottom: 56.25%;*/
  /*padding-top: 30px;*/
  /*height: 0;*/
  /*overflow: hidden;*/
  /*box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);*/
  /*}*/

  /*.video-container iframe, .video-container object, .video-container embed {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*border-radius: 7px*/
  /*}*/

  .video-container {
    overflow: hidden;
    /*position: absolute;*/
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border-radius: 7px
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
  }

  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    text-align: justify;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .showHelp {
    display: block;
  }

  .hideHelp {
    display: none;
  }

  .minii {}
</style>
<div class="container">
  <div ng-show="showIntro">
    <!--<div class="section">-->
    <div class="row" ng-if="!test.videoName==''">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 col-md-12 col-sm-12 padd">
        <video id="testVideo" class="video-container" width="640" height="320" preload="auto" autoplay controls
          controlsList="nodownload" poster="/assets/img/reel.gif" ng-src="{{assets_url+test.videoName}}"></video>
      </div>
    </div>
    <div class="row">

      <div class="col-12 ntroduction-main">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card card-plain">
            <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
              <div class="card-header" data-background-color="orange" role="tab" id="headingOne">
                <h5 class="description text-center">
                  Introduction
                </h5>
              </div>
            </a>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="card-block">
                <p style="text-align: justify" btf-markdown="test.introduction"></p>
                <div class="text-center being-button">
                  <button class="btn btn-info btn-lg" ng-click="begin()" ng-disabled="showLoadingIcon">
                    <i class="fa fa-spinner fa-pulse fa-fw" ng-show="showLoadingIcon"></i>
                    Begin Assessment
                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--</div>-->
    <!--<div class="section">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-3">-->
    <!--<img class="mt-4 mb-4 p-4" src="/assets/img/1.jpg">-->
    <!--<img class="mt-4" src="/assets/img/cloud3.jpg">-->
    <!--</div>-->

    <!--<div class="col-lg-3">-->
    <!--<img src="/assets/img/cloud2.jpg">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
<div class="mt-1 mb-5" ng-show="takeTest">
  <div class="progress-container progress-primary">
    <span class="progress-badge">Assessment &nbsp;Progress &nbsp;{{width}}</span>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{progressLength}}"
        aria-valuemin="0" aria-valuemax="100" ng-style="{width: width}">
        <!--<span class="progress-value">{{progressLength}}</span>-->
      </div>
    </div>
  </div>
  <div ng-include="'views/testPanel/group.html'"></div>

  <div ng-include="'views/testPanel/mcq.html'"></div>

  <div ng-include="'views/testPanel/image.html'"></div>

  <div ng-include="'views/testPanel/audio.html'"></div>

  <div ng-include="'views/testPanel/text.html'"></div>

  <div ng-include="'views/testPanel/slider.html'"></div>

  <div ng-if="questionImageNameList.length>0" ng-show="false">
    <img ng-repeat="dummyImg in questionImageNameList" ng-src="{{assets_url+dummyImg}}">
  </div>
  <!--<div ng-if="questionAudioNameList.length>0" ng-show="false">-->
  <!--<audio ng-src="{{assets_url+dummyAudio}}" preload ng-repeat="dummyAudio in questionAudioNameList" type="audio/mp3"></audio>-->
  <!--</div>-->
  <div ng-if="questionVideoNameList.length>0" ng-show="false">
    <video preload ng-repeat="dummyVideo in questionVideoNameList" ng-src="{{assets_url+dummyVideo}}"></video>
  </div>

</div>
<div id="overlay" ng-show="showTestProcedureVar" style="display: block" title="Click any where to continue test"
  ng-click="hideTestProcedure()">
  <img src="/assets/img/Helping_Hand.jpg">
  <div id="text" class="mt-2">{{test.procedure}}</div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>