<div ng-if="currentQuestion.questionType.toUpperCase()=='TEXT'">
  <div class="row">
    <div class="audio-question">
      <h5 btf-markdown="currentQuestion.description" style="text-align: justify"></h5>
    </div>
  </div>

  <div class="row" ng-show="currentQuestion.hasImage">
    <div class="col p-2 text-center ">
      <img ng-src="{{assets_url+currentQuestion.imageName}}" class="text-center rounded img-raised">
    </div>
  </div>
  <div class="row" ng-show="currentQuestion.hasAudio">
    <div class="col p-2 text-center">
      <audio id="questionAudio" ng-src="{{assets_url+currentQuestion.audioName}}" preload type="audio/mp3"></audio>
      <div class="text-center">
        <button class="btn btn-warning btn-lg" ng-disabled="disablePlayAudio" ng-click="playAudio()">
          <i class="fa fa-play-circle pr-2" aria-hidden="true"></i>play
        </button>
      </div>
    </div>
  </div>
  <div class="row" ng-show="currentQuestion.hasAnimatedGif">
    <div class="col p-2 text-center">
      <video width="auto" height="auto" controls controlsList="nodownload" ng-src="{{assets_url+currentQuestion.videoName}}"></video>
    </div>
  </div>


  <div class="row" ng-repeat="option in currentQuestion.answerRequests">
    <div class="textarea-main">
      <div class="textareia">
      <div class="textarea-container">
        <textarea class="form-control" ng-disabled="!showAnswerOption" placeholder={{option.description}} ng-model="option.text" ng-change="enableNextButton()">
        </textarea>
      </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-lg-2">-->
    <!--<button class="btn btn-success" ng-click="validateAnswer(currentQuestion.id,option)">Submit Answer</button>-->
    <!--</div>-->
    <!--</div>-->
    <div class="nxt-button">
      <button class="btn btn-info" ng-hide="hideNextButton" ng-disabled="disableNextButton" ng-click="validateAnswer(currentQuestion.id,option,true)">Next</button>
      <button class="btn btn-success" ng-show="hideNextButton" ng-disabled="disableSubmitAnswer || submitTestIcon"
              ng-click="validateAnswer(currentQuestion.id,option,true)">
        <i class="fa fa-save"></i> &nbsp;Submit Test
        <i class="fa fa-spinner fa-pulse fa-fw" ng-show="submitTestIcon"></i>
      </button>
    </div>
    </div>
  </div>
  <!--<div class="float-lg-right p-2">-->
  <!--<button class="btn btn-block btn-info" ng-hide="hideNextButton" ng-disabled="disableNextButton" ng-click="validateAnswer(currentQuestion.id,option,true)">Next</button>-->
  <!--</div>-->
  <div class="float-lg-left p-2">
    <button class="btn btn-block btn-danger" ng-show="showPreviousButton" ng-click="previous()">Previous</button>
  </div>
</div>
