<style>
  .cursorPointer{
    cursor: pointer;
  }

  @media print
{
  .no-print, .no-print *
  {
      display: none !important;
  }
}
</style>
<nav class="navbar navbar-toggleable-md bg-white ">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-bar bar1"></span>
    </button>

    <a class="navbar-brand">
      <!--<img ng-src="https://s3.amazonaws.com/intscale-assets/{{internalLogo}}">-->
      <img src="/assets/img/logo-int.png">
    </a>

  </div>
</nav>