<div class="container">
  <div class="form-group label-floating">

    <label class="control-label">Add Media to : </label>
    <div class="dropdown">
      <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
        Click to choose component
      </a>
      <ul class="dropdown-menu" aria-labelledby={{component}}>
        <a class="dropdown-item" ng-click="getComponent(component);"
           ng-repeat="component in components">{{component}}</a>
      </ul>
    </div>
  </div>

  <hr>
  <div class="row">


    <div class="col-lg-3 col-md-6 col-sm-6" ng-show="items.length>0">
      <div class="card ">
        <table class="table table-hover">
          <thead class="thead-inverse">
          <tr>
            <th>S. No.</th>
            <th>{{componentName}} Name</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in items">
            <td ng-click="getItem(item.id)">{{$index+1}}</td>
            <td ng-click="getItem(item.id)">{{item.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6" ng-show="showTestOnCard">
      <div class="card">
        <a ng-click="browseImage()"><img class="card-img-top" data-ng-src="{{testImageURI}}" alt="Image"></a>
        <div class="card-block">
          <h4 class="card-title text-center">{{testOnCard.name}}</h4>
          <a ng-click="browseImage()" class="mb-2">Browse Image</a>
          <input id="testImg" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setFiles(this)"/>
          <button class="btn btn-default btn-sm" ng-click="upload(testOnCard.id)">upload</button>
          <div class="checkbox">
            <input id="stakeholderImage" type="checkbox" ng-model="stakeholderImage">
            <label for="stakeholderImage">
              StakeholderImage
            </label>
          </div>
          <hr>
          <div ng-show="uploadTestImage">
            <a ng-click="browseVideo()" class="mb-2">Browse Video</a>
            <input id="testVideo" type="file" style="display:none" accept="/*" onchange="angular.element(this).scope().setVideoFile(this)"/>
            <button class="btn btn-sm" ng-click="uploadVideo(testOnCard.id)" ng-disabled="disableUpload">
              <i class="fa fa-spinner fa-fw fa-pulse fa-2x" ng-show="disableUpload"></i>
              <!--{{progress.hide?'upload':'uploading '+progress.percent}}-->
              {{progress.hide?'upload':'uploading '}}
            </button>
            <div class="checkbox">
              <input id="stakeholderVideo" type="checkbox" ng-model="stakeholderVideo">
              <label for="stakeholderVideo">
                StakeholderVideo
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>