
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="closeAddVideoDialog()" aria-hidden="true">&times;</button>
  </div>
  <input id="testVideo" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setFiles(this)"/>
  <button class="btn btn-neutral" ng-click="browseVideo">Choose Video</button>
  <p> work in progress</p>
</div>