<div class="container">
  <div class="content-center brand">
    <img src="/assets/img/thankyou_bg.png">
    <!--<h class="text-center">ThankYou</h>-->
    <!--<h2 class="description text-center">Want to take some more <a ui-sref="app.availabletests">tests</a></h2>-->
    <h2 class="text-center">To give remaining tests click <a ui-sref="app.availabletests"><strong>here</strong></a></h2>
  </div>
</div>