<h3>Demo Report Console</h3>

<div class="card borderRadius mt-2">
    <div class="card-header" style="background-color: #202c54">
        <p class="card-title" style="color: white">To search users, you can write their full name or username and then
            click on Search Users button.</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <div class="textarea-container">
                <textarea class="form-control" ng-init="fullName" ng-model="fullName"
                          placeholder="Write User's Full Name or username here">
                </textarea>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <button title="Click here" class="btn btn-block btn-success"
                        ng-click="filterUsersByFullName(fullName)">Search
                    Users
                </button>
            </div>
        </div>
    </div>
</div>

<div ng-show="users.length > 0">
    <div class="card-body">
        <table class="table table-hover table-responsive">
            <thead class="table-inverse">
            <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>School</th>
                <th>Grade</th>
                <th>Demo Report</th>
                <th>Download Demo Report</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">

                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.schoolName}}</td>
                <td>{{user.grade}}</td>
                <td><a href="" target="_blank" ui-sref="app.aimReportDemo({id: user.userId})">Click here</a></td>
                <td><a href="" ng-click="downloadDemoReport(user.userId)">Click here</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

