<div class="container">
  <div class="card">
    <div class="card-header">
      <h6 class="card-title">All Available Test<input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search..." ng-model="searchText"></h6>
    </div>
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Test's Name</th>
        <th>Test's Description</th>
        <th>CreatedDate</th>
        <th>Version</th>
        <th>Status</th>
        <th>History</th>
        <th>Action</th>
        <th>Publish</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-class="test.published ? 'table-success' : 'table-default'" ng-repeat="test in alltests | orderBy:'name'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize" ng-if="test.latestVersion">
        <td>#</td>
        <td>{{test.name}}</td>
        <td>{{test.description}}</td>
        <td>{{test.date}}</td>
        <td>{{test.version}}</td>
        <td><button class="btn btn-sm btn-default" ng-show="!test.goLive" ng-click="goLiveTest(test.id)">GoLive</button><div class="col-form-label" ng-show="test.goLive"><font color="green"><b>Live</b></font></div></td>
        <td><i class="fa fa-history" aria-hidden="true" ng-click="viewTestHistory(test.id)"></i></td>
        <td>
          <!--<button class="btn btn-sm btn-default" ng-click="openAddVideoDialog(test.id)">AddVideo</button>&nbsp;-->
          <button class="btn btn-sm btn-default" ng-click="editTest(test.id,test.goLive)">Edit</button>&nbsp;
          <button class="btn btn-sm btn-danger" ng-click="deleteTest(test.id)">Del</button>
        </td>
        <td>
          <button
                  ng-class="test.published ? 'btn btn-simple btn-success btn-sm' : 'btn btn-simple btn-primary btn-sm'" ng-click="publishTest(test.id, test.published)">
            <i ng-class="test.published ? 'now-ui-icons emoticons_satisfied' : 'now-ui-icons ui-1_simple-remove'"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="card-footer">
      <ul class="pagination" ng-show="alltests.length">
        <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
        <li>
          <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
          </button>
        </li>&nbsp;
        <li>
          <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
          </button>
        </li>
      </ul>
    </div>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>
<script type="text/ng-template" id="testHistory.html">
  <div class="card col-lg-12">
    <div class="card-header">
      <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Test History</h6>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <tbody>
        <tr>
          <th>TestName</th>
          <th>CreatedDate</th>
          <th>TestNotes</th>
        </tr>
        <tr ng-repeat="history in testHistoryList">
          <td>{{history.name}}</td>
          <td>{{history.date}}</td>
          <td>{{history.notes}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Close</button>
    </div>
  </div>
</script>