<div class="container">
  <div class="card">
    <div class="card-header">
      <h6 class="card-title">Assign Category</h6>
    </div>
    <div class="card-block">
      <div class="row">
        <label class="col-form-label col-lg-3" for="category">Category : </label>
        <div class="form-group-no-border input-group col-lg-9">
          <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
          <select class="form-control" id="category" ng-model="selectedCategory" ng-options="category as category.name for category in categories"
                  ng-change="addCategory(selectedCategory);filteredChildCategoryByParentName(selectedCategory)"></select>
        </div>
      </div>
      <div class="row">
        <label class="col-form-label col-lg-3" for="subCategory">Sub Category : </label>
        <div class="form-group-no-border input-group col-lg-9">
          <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
          <select class="form-control" id="subcategory" ng-model="selectedSubCategory" ng-options="childCategory as childCategory.name for childCategory in childCategories"
                  ng-change="addSubCategory(selectedSubCategory)"></select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-info btn-sm btn-round" ng-repeat="selectedCategory in selectedCategories">
              {{selectedCategory.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeCategory($index)"></i>
            </button>
            <button class="btn btn-info btn-sm btn-round" ng-repeat="selectedSubCategory in selectedSubCategories">
              {{selectedSubCategory.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeSubCategory($index)"></i>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">

        <thead>
        <tr>
          <th>Sr No.</th>
          <th>Question</th>
          <th>Question Type</th>
          <th>Category</th>
          <th>SubCategory</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="question in selectedQuestions">
          <td>{{$index+1}}</td>
          <td>{{question.description}}</td>
          <td>{{question.questionType}}</td>
          <td><span ng-repeat="cat in question.category" class="badge badge-default">
           <button class="btn btn-info btn-sm btn-round">
             {{cat.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeCategory($parent.$index,$index)"></i>
           </button>
          </span></td>
          <td><span ng-repeat="scat in question.subcategory" class="badge badge-default">
            <button class="btn btn-info btn-sm btn-round">
              {{scat.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeSubCategory($parent.$index,$index)"></i>
            </button>
          </span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <p>{{selectedQuestions.length}} Questions selected
        <button class="btn btn-info btn-sm" style="float:right;" ng-click="saveTestQuestionWithCategories(selectedQuestions,selectedCategories)">Save</button>
        <button class="btn btn-default btn-sm mr-2" style="float:right;" ng-click="closeAssignCategoryModal()">close</button>
      </p>
    </div>
  </div>

</div>
