<style>
  .takeTestButton {
    border: none;
    padding: 8px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    cursor: pointer;
  }

  .takeTestButton {
    background-color: white;
    color: Black;
    /*border: 2px solid #f96332;*/
  }

  .takeTestButton:hover {
    background-color: #f85019;
    color: white;
  }

  .product-card {
    height: auto;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    transition: 0.3s;
    padding-bottom: 10px;

  }
.card-block {
    min-height: auto !important;
    display: inline-block;
    width: 100%;

  }
 
  .product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    width: 101%;
  }


  
</style>


<div class="container" ng-hide="show404page">
  <div class="row borderRadius">
    <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="product in products|orderBy:'sequence'">
      <a ui-sref="app.product({id: product.id})">
        <div class="card product-card">
          <img class="card-img-top" ng-src="{{assets_url+product.image}}">
          <!--<img class="card-img-top" src="/assets/img/rotating_windmil.gif">-->
          <div class="card-block">
            <h4 class="card-title text-center">{{product.name}}</h4>
            <!--<h3 class="card-title text-center" style="color: black">AIM</h3>-->
            <p class="card-subtitle mb-2 text-muted text-center">{{product.description}}</p>
            <div class="text-center">
              <!--<button class="btn btn-lg btn-primary" ng-click="exploreFirstLevel(product.subParents)">Explore</button>-->
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="container" ng-show="show404page">
  <div class="content-center brand">
    <div class="text-center">
      <img src="/assets/img/Bravo.jpg" style="height: 430px;" ng-show="orgName=='www'||orgName=='talent'">
      <img src="/assets/img/de_briefing1.jpg" style="height: 430px;" ng-hide="orgName=='www'||orgName=='talent'">
    </div>
    <h5 ng-if="user.enableAimReport" class="text-center">Your Aim Report is ready, click <a href="" ng-click="downloadIndividualReport(user.id)">here</a> to download it.</h5>
    <p class="text-center">To create your story, click <a ui-sref="app.userTimeline">here.</a></p>
    <h5 class="description text-center" ng-show="threeSixtyEligible">
      Since your assessment are 360 enabled, click blow Button to add email id of your concern respondents.
      <button class="btn btn-sm" ng-click="openStakeholderModel()">Add Respondents</button>
    </h5>
  </div>

</div>


<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>