<div class="container">
    <div class="row">
        <div class="offset-3 col-lg-6 col-md-6 col-sm-6 ">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-subtitle mb-2 text-muted text-center">Bulk Upload</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-form-label">
                            Select Type:
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" ng-model="uploadType">
                                <option value="" selected>Select Upload Type</option>
                                <option ng-repeat="typ in uploadTypes track by $index" value="{{typ}}">{{typ}}</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            Provide a email to receive notification after the task get completed
                        </div>
                        <div class="col-6">
                            <input type="email" class="form-control" placeholder="Enter email here..."
                                   ng-model="email"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-7">
                            <input width="100%" id="signupSheet" type="file" accept="xlsx/*"
                                   onchange="angular.element(this).scope().setFiles(this)"/>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success" ng-click="exportExampleFile(uploadType)">Download sample
                                sheet
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-1">
                        <div class="col">
                            <div class="checkbox">
                                <input id="allowMainAimReport" ng-model="allowMainAimReport" type="checkbox">
                                <label for="allowMainAimReport">
                                    <span>Allow for Main AimReport</span>
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="checkbox">
                                <input id="allowMiniAimReport" ng-model="allowMiniAimReport" type="checkbox">
                                <label for="allowMiniAimReport">
                                    <span>Allow for Mini AimReport</span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="row mt-1">
                        <div class="col-lg-4">
                            <div class="checkbox">
                                <input id="dryrun" ng-model="dryrun" type="checkbox">
                                <label for="dryrun">
                                    <span>Dryrun</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <button class="btn btn-default btn-block" style="display: block"
                                    ng-click="upload(uploadType)">upload
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="showDisplayResponse">
        <div class="card">
            <div class="card-block">
                <table class="table table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-class="result.value=='OK' ? 'table-success' : 'table-danger'" ng-repeat="result in res">
                        <td>{{$index+1}}</td>
                        <td>{{result.name}}</td>
                        <td>{{result.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>
