<div class="row">
  <div class="col-lg-12">
    <div class="card">


    <div class="card-header">
      <h6 class="card-title">Category and Sub-Category</h6>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-2 ">
          <div class="form-group label-floating">
            <label class="control-label">*Name</label>
            <input class="form-control" name="name" type="text" required ng-model="workingCategory.name">
            <span class="material-input"> </span>
          </div>
        </div>
        <div class="col-md-2 ">
          <div class="form-group label-floating">
            <label class="control-label">*Display Name</label>
            <input class="form-control" name="displayName" type="text" required ng-model="workingCategory.displayName">
            <span class="material-input"> </span>
          </div>
        </div>


        <div class="col-md-2">
          <div class="form-group label-floating">
            <label class="control-label">Description</label>
            <input class="form-control" name="description" type="text" required ng-model="workingCategory.description">
          </div>
        </div>

        <div class="col-md-1">
          <div class="form-group label-floating">
            <label for="color">Colors:</label>
            <input class="form-control" id="color" name="color" type="text" required ng-model="workingCategory.color">

          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group label-floating">
            <label class="control-label">Category Type</label>
            <select class="form-control" id="category_type" name="category_type" ng-model="workingCategory.type" required autofocus>
              <option value="" selected>Select Category Type</option>
              <option data-ng-repeat="type in  categoryTypes" value="{{type}}">{{type}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
              <div class="form-group label-floating">
                  <label class="control-label">Parent Category</label>
                  <select class="form-control " id="designation" name="designation" ng-model="workingCategory.parentId" required autofocus>
                      <option value="" selected>Select Parent Category</option>
                      <option data-ng-repeat="pc in parentCategory" value="{{pc.id}}">
                          {{pc.name}}
                      </option>
                  </select>
              </div>
          </div>
      </div>
      <!--<hr>-->
      <div class="row mt-4">
        <div class="col-lg-6">
          <div class="row">
            <label class="col-form-label col-lg-2" for="lowText">Low Text:</label>
            <div class="col-lg-9">
              <div class="textarea-container">
                <textArea class="form-control" id="lowText" placeholder="LowText" ng-model="workingCategory.lowText"></textArea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <label class="col-form-label col-lg-2" for="lowText">High Text:</label>
            <div class="col-lg-9">
              <div class="textarea-container">
                <textArea class="form-control" id="highText" placeholder="LowText" ng-model="workingCategory.highText"></textArea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <label class="col-form-label col-lg-2" for="lowText">Short Low Text:</label>
            <div class="col-lg-9">
              <div class="textarea-container">
                <textArea class="form-control" id="shortLowText" placeholder="Short Low Text" ng-model="workingCategory.shortLowText"></textArea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <label class="col-form-label col-lg-2" for="lowText">Short High Text:</label>
            <div class="col-lg-9">
              <div class="textarea-container">
                <textArea class="form-control" id="shortHighText" placeholder="Short High Text" ng-model="workingCategory.shortHighText"></textArea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button class="btn btn-rose btn-primary" ng-click="saveCategory(workingCategory)">Save</button>
      <button class="btn btn-default" ng-click="myFunction()">New Create</button>
    </div>
    </div>
  </div>
</div>
<div class="container-fluid">
    <div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                    <th><input name="all" type="checkbox" ng-click="selectAllCategory(all)" ng-model="all"/></th>
                    <th>Name</th>
                    <th>Parent Category</th>
                    <th>Color</th>
                    <th>Type</th>
                    <th><i class="fa fa-trash-o fa-lg" aria-hidden="true" ng-click="remove()"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cat in category">
                    <td><input type="checkbox" ng-model="cat.checked" ng-click="check()"/></td>
                    <td>{{cat.name|uppercase }}</td>
                    <td>{{cat.categoryName}}&nbsp;&nbsp;&nbsp;</span>  </td>
                    <td style="background-color: {{cat.color}};"></td>
                    <td>{{cat.type }}</td>
                    <td class="nested">
                      <button class="btn btn-simple btn-sm btn-primary" ng-click="updateCategory(cat)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" ></i>Edit
                      </button>
                       </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

