
<div class="card borderRadius">
    <div class="card-header" style="background-color: #202c54">
        <p class="card-title" style="color: white">To search users, you can write their full name or username and then
            click on Search Users button.</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <div class="textarea-container">
                <textarea class="form-control" ng-init="fullName" ng-model="fullName"
                          placeholder="Write User's Full Name or Username Here">
                </textarea>
                </div>
            </div>
            <div class="col-3">
                <button title="Click here" class="btn btn-block btn-success"
                        ng-click="filterUsersByFullName(fullName)">Search
                    Users
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-3"><hr></div>
    <div class="col-2"><div class="text-center"><h5 class="text-muted">Or</h5></div></div>
    <div class="col-3"><hr></div>
    <div class="col-2"></div>
</div>


<div class="">
    <div class="card-body">
        <div class="input-group form-group-no-border">
            <select class="form-control col-lg-3" ng-model="schoolId">
                <option value="" selected>Select School</option>
                <option ng-repeat="sch in listSchooles" value="{{sch.name}}">{{sch.name}}</option>
            </select>&nbsp;&nbsp;
            <select class="form-control col-lg-3" ng-model="gradeId">
                <option value="" selected>Select Grade</option>
                <option ng-repeat="grd in listGrades" value="{{grd.value}}">{{grd.value}}</option>
            </select>&nbsp;&nbsp;
            <select class="form-control col-lg-3" ng-model="counsellorId">
                <option value="" selected>Select Counsellor</option>
                <option ng-repeat="cous in listOfCounsellor" value="{{cous.id}}">{{cous.username}}</option>
            </select>&nbsp;&nbsp;
            <button type="button" class="btn btn-info btn-sm" ng-click="filterSearch()">Filter Students</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-info btn-sm" ng-click="saveAll()">Save</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-info btn-sm" ng-click="removeAll()">Remove</button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h6 class="card-title">Counsellor Student Assignment<input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search..." ng-model="searchText"></h6></div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>
                        <input id="selectAllStudent" ng-model="selectAllStudent" ng-change="isSelectAllStudent()" type="checkbox">
                        <label for="selectAllStudent">
                            <span>&nbsp;</span>
                        </label>
                    </th>
                    <th>Student Name</th>
                    <th>Username</th>
                    <th>School</th>
                    <th>Grade</th>
                    <th>Counsellor</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="student in listOfStudents |orderBy:'id'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
                    <td>

                            <input id="{{student.id}}" ng-model="student.selectStudent" ng-change="isStudentSelected(student)" type="checkbox">
                            <label for="{{student.id}}">
                                <span>&nbsp;</span>
                            </label>

                    </td>
                    <td>{{student.name}}</td>
                    <td>{{student.username}}</td>
                    <td>{{student.schoolName}}</td>
                    <td>{{student.grade}}</td>
                    <td>{{student.counsellor}}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="col-md-12">
                <div class="input-group form-group-no-border row">
                    <div class="col-md-2 col-form-label">Counsellor:</div>
                    <div class="col-md-4">
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                            <select class="form-control" ng-model="counsellor">
                                <option value="" selected>Select Counsellor</option>
                                <option ng-repeat="cous in listOfCounsellor" value="{{cous.id}}">{{cous.username}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <ul class="pagination" ng-show="listOfStudents.length">
            <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
            <li>
                <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                </button>
            </li>&nbsp;
            <li>
                <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                </button>
            </li>
        </ul>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>

