<!--<div class="card">-->
<!--<div class="card-block">-->
<div>
  <div class="container">
    <h3>Profile</h3>
    <hr>

    <div class="bg-faded borderRadius">
      <div class="row p-4">
        <div class="col-5">
          <div class="text-left">
            <h6 ng-show="user.name.length>0">Name</h6>
            <h6 ng-show="user.gender.length>0">Gender</h6>
            <h6 ng-show="user.grade.length>0">Grade</h6>
            <h6 ng-show="user.academicScore.length>0">Academic Score</h6>
            <h6 ng-show="user.school.length>0">School Name</h6>
            <h6 ng-show="user.dob.length>0">Dob </h6>
            <h6 ng-show="user.supw.length>0">SUPW(Socially Useful Productive Work)</h6>
            <h6 ng-show="user.interest.length>0">Interests</h6>
          </div>
        </div>
        <div class="col-7">
          <div class="text-left">
            <h6>:&nbsp;&nbsp;&nbsp;{{user.firstName}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.gender}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.grade}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.academicScore}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.school}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.dob}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.supw}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;<label class="badge badge-default"
                                          ng-repeat="intrs in user.interest track by $index">
              {{intrs}}
            </label></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <footer></footer>
  <div class="container">
    <h3>Strengths And Weaknesses</h3>
    <hr>
    <h5>Strengths</h5>
    <div class="bg-faded borderRadius">
      <div class="p-4">

        <p>{{specialTextForStrength}}</p>
        <ul>
          <li ng-repeat="s in strengths">
            <h6>{{s.name}}</h6>
            <hr>
            <p>Score : {{s.percentile}}</p>
            <p>Report Section name : {{s.reportSectionName}}</p>
            <p>{{s.strength}}</p>
          </li>
        </ul>
      </div>
    </div>
    <h5>Weaknesses</h5>
    <div class="bg-faded borderRadius">
      <div class="p-4">
        <p>{{specialTextForNeurotism}}</p>
        <p>{{specialTextForWeakness}}</p>
        <ul>
          <li ng-repeat="w in weaknesses">
            <h6>{{w.name}}</h6>
            <hr>
            <p>Score : {{w.percentile}}</p>
            <p>Report Section name : {{w.reportSectionName}}</p>
            <p>{{w.weakness}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <footer></footer>
  <div class="container">
    <h3>Innate Qualities</h3>
    <hr>
    <div class="bg-faded borderRadius" ng-if="innateTalents.length>0">
      <div class="p-4">
        <h5>Innate Talent</h5>
        <hr>
        <ul>
          <li ng-repeat="innateTalent in innateTalents ">{{innateTalent.innateTalentText}}</li>
        </ul>
      </div>
    </div>
    <div class="bg-faded borderRadius" ng-if="innateTraits.length>0">
      <div class="p-4">
        <h5>Innate Trait</h5>
        <hr>
        <ul>
          <li ng-repeat="innateTrait in innateTraits">{{innateTrait.innateTalentText}}</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <footer></footer>
  <div class="container" ng-repeat="reportSection in reportSections" ng-if="reportSection.name=='Interest'">
    <h3>Interest</h3>
    <hr>
    <div class="bg-faded borderRadius">
      <div class="p-4">
        <h5>Interest Summary</h5>
        <hr>
        <!--<p>{{category.desterestInventcription}}</p>-->
        <p>{{reportSection.interestInventoryResponse.shortDescription}}</p>
      </div>
    </div>
  </div>
  <br>
  <footer></footer>
  <div class="container">
    <h3>Learning Styles</h3>
    <hr>
    <div class="bg-faded borderRadius" ng-if="learningStyles.first">
      <div class="p-4">
        <h5>Verbal vs Visual</h5>
        <hr>
        <p>Learning Style : {{learningStyles.first.learningStyle}}</p>
        <p>Learning Style Inference : {{learningStyles.first.learningStyleInference}}</p>
        <p>Learning Style Recommendation: {{learningStyles.first.learningStyleRecommendation}}</p>
      </div>

    </div>
    <div class="bg-faded borderRadius" ng-if="learningStyles.second">
      <div class="p-4">
        <h5>Academic vs Practical</h5>
        <hr>
        <p>Learning Style: {{learningStyles.second.learningStyle}}</p>
        <p>Learning Style Inference: {{learningStyles.second.learningStyleInference}}</p>
        <p>Learning Style Recommendation: {{learningStyles.second.learningStyleRecommendation}}</p>
      </div>
    </div>
    <div class="bg-faded borderRadius" ng-if="learningStyles.third">
      <div class="p-4">
        <h5>Thinking Style</h5>
        <hr>
        <p>Learning Style : {{learningStyles.third.learningStyle}}</p>
        <p>Learning Style Inference: {{learningStyles.third.learningStyleInference}}</p>
        <p>Learning Style Recommendation: {{learningStyles.third.learningStyleRecommendation}}</p>
      </div>
    </div>
  </div>
  <br>
  <footer></footer>
  <div class="container" ng-repeat="reportSection in reportSections">
    <h3><strong>{{reportSection.name}}</strong></h3>
    <hr>
    <div class="bg-faded borderRadius">
      <div class="p-4">
        <h5>{{reportSection.description}}</h5>
        <hr ng-if="reportSection.name=='CI'||reportSection.name=='EI'||reportSection.name=='SI'">
        <h5 ng-if="reportSection.name=='CI'||reportSection.name=='EI'||reportSection.name=='SI'">Score:
          {{reportSection.score}}</h5>
        <hr ng-if="reportSection.name=='CI'||reportSection.name=='EI'||reportSection.name=='SI'">
        <p ng-if="reportSection.name=='CI'||reportSection.name=='EI'||reportSection.name=='SI'">Description:
          {{reportSection.summary}}</p>
      </div>
    </div>
    <br>
    <div ng-if="reportSecondaryType[$index].data.length>0">
      <div class="p-4">
        <div class="row">
          <div class="col-11">
            <div class="container-fluid" style="position: relative;">
              <canvas class="chart chart-horizontalBar" height="150" width="500"
                      chart-options="report[$index].options" chart-data="reportSecondaryType[$index].data"
                      chart-labels="reportSecondaryType[$index].labels"
                      chart-colors="['#8e5ea2']"></canvas>
            </div>
          </div>
        </div>
      </div>
      <br>
      <h5>Comparison between {{reportSecondaryType[$index].labels[0]}} and
        {{reportSecondaryType[$index].labels[1]}} </h5>
      <hr>
      <div ng-repeat="category in reportSection.categories" ng-if="category.type=='secondary'">
        <div class="bg-faded borderRadius">
          <div class="p-3">
            <p>{{category.name}}</p>
            <!--<h5>{{category.displayName}}</h5>-->
            <!--<p>{{category.description}}</p>-->
            <p>{{category.summary}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="p-4">
      <div class="row">
        <div class="col-11">
          <div class="container-fluid" style="position: relative;">
            <canvas class="chart chart-horizontalBar" height="200" width="500"
                    chart-options="report[$index].options" chart-data="report[$index].data"
                    chart-labels="report[$index].labels"
                    chart-colors="['#8e5ea2']"></canvas>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div>
      <h3>Obtained Scores</h3>
      <hr>
      <div class="bg-faded borderRadius">
        <div class="p-4">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="text-center">Display Names</th>
              <th class="text-center" ng-repeat="category in reportSection.categories">
                {{category.displayName}}
              </th>
            </tr>
            <tr>
              <th class="text-center">Names</th>
              <td class="text-center" ng-repeat="category in reportSection.categories">{{category.name}}
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th class="text-center">Z-Scores</th>
              <td class="text-center" ng-repeat="category in reportSection.categories">
                {{category.percentile}}
              </td>
            </tr>
            <tr>
              <th class="text-center">Raw Percentage Scores</th>
              <td class="text-center" ng-repeat="category in reportSection.categories">
                {{category.rawScore}}
              </td>
            </tr>
            <tr>
              <th class="text-center">Score Label</th>
              <td class="text-center" ng-repeat="category in reportSection.categories">
                {{category.scoreLabel}}
              </td>
            </tr>
            <tr>
              <th class="text-center">Score Label Rating</th>
              <td class="text-center" ng-repeat="category in reportSection.categories">
                {{category.scoreLabelRating}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    <div ng-if="reportSection.name!='Interest'">
      <h3>Description</h3>
      <hr>
      <div ng-repeat="category in reportSection.categories" ng-if="category.type!='secondary'">
        <div class="bg-faded borderRadius">
          <div class="p-3">
            <!--<h5>{{category.name}}</h5>-->
            <h5>{{category.displayName}}</h5>
            <hr>
            <!--<p>{{category.description}}</p>-->
            <p>{{category.summary}}</p>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="reportSection.name=='Interest'">
      <h3>Description</h3>
      <hr>
      <div ng-repeat="category in reportSection.top3CategoriesForInterest" ng-if="reportSection.name=='Interest'">
        <div class="bg-faded borderRadius">
          <div class="p-3">
            <h5>{{category.displayName}}</h5>
            <hr>
            <!--<p>{{category.description}}</p>-->
            <p>{{category.lowText}}</p>
          </div>
        </div>
      </div>
      <br>
      <h3>Holland Code</h3>
      <hr>
      <div ng-if="reportSection.name=='Interest'">
        <div class="bg-faded borderRadius">
          <div class="p-3">
            <h5>{{reportSection.interestInventoryResponse.interestCombination}}</h5>
            <hr>
            <!--<p>{{category.desterestInventcription}}</p>-->
            <p>{{reportSection.interestInventoryResponse.description}}</p>
            <p>Region : {{reportSection.interestInventoryResponse.region}}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <footer></footer>
  </div>
  <br>
  <footer></footer>
  <div class="container" ng-if="aimExpertCareerInventory.length>0">
    <h3>Careers</h3>
    <hr>
    <h5>Report Section Scores</h5>
    <div class="">
      <div class="p-4">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="text-center">Careers</th>
              <th class="text-center">score</th>
              <!--<th class="text-center" ng-repeat="reportSection in aimExpertCareerInventory[0].reportSections">{{reportSection.reportSectionName}}</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="career in aimExpertCareerInventory">
              <td class="text-center"><strong>{{career.name}}</strong></td>
              <td class="text-center">{{career.score}}</td>
              <td class="text-center" ng-repeat="reportSection in career.reportSections"><h6>{{reportSection.reportSectionName}}</h6>{{reportSection.scoreLabelProcessedRating}}
                <hr>
                <span ng-repeat="cat in reportSection.categories"><p>{{cat.category}} : <strong>{{cat.scoreLabelProcessedRating}}</strong></p><hr></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <br>
    <h5>Subjects</h5>
    <div class="">
      <div class="p-4" ng-repeat="career in aimExpertCareerInventory">
        <h6>Career -> {{career.name}}</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="text-center">Subject</th>
              <th class="text-center">score</th>
              <th class="text-center">weight</th>
              <th class="text-center">score * weight</th>
              <!--<th class="text-center" ng-repeat="reportSection in aimExpertCareerInventory[0].reportSections">{{reportSection.reportSectionName}}</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="subject in career.subjects">
              <td class="text-center"><strong>{{subject.name}}</strong></td>
              <td class="text-center">{{subject.score}}</td>
              <td class="text-center">{{subject.weight}}</td>
              <td class="text-center">{{subject.weightedScore}}</td>
              <td class="text-center" ng-repeat="reportSection in subject.reportSections"><h6>{{reportSection.reportSectionName}}</h6>{{reportSection.scoreLabelProcessedRating}}
                <hr>
                <span ng-repeat="cat in reportSection.categories"><p>{{cat.category}} : <strong>{{cat.scoreLabelProcessedRating}}</strong></p><hr></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <br>
    <h5>Lesiures</h5>
    <div class="">
      <div class="p-4" ng-repeat="career in aimExpertCareerInventory">
        <h6>Career -> {{career.name}}</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="text-center">Lesiure</th>
              <!--<th class="text-center" ng-repeat="reportSection in aimExpertCareerInventory[0].reportSections">{{reportSection.reportSectionName}}</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="leisure in career.leisures">
              <td>{{leisure.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <br>
  <footer></footer>
  <div class="container" ng-if="aimExpertCareerInventory.length>0">
    <h3>Careers</h3>
    <hr>

    <div class="" ng-repeat="career in aimExpertCareerInventory">
      <h5>{{career.name}}</h5>
      <hr>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="text-left">
            <img ng-src={{assets_url+career.imageName}}>
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
          <div class="text-left">
            <p>{{career.summary}}</p>
          </div>
        </div>
      </div>
      <div class="bg-faded borderRadius mt-2">
        <div class="p-4">
          <h6>Knowledge and skills</h6>
          <hr>
          <p>{{career.tasks}}</p>
        </div>
      </div>
      <div class="bg-faded borderRadius mt-2">
        <div class="p-4">
          <h6>Pros and Cons</h6>
          <hr>
          <p>{{career.scope}}</p>
        </div>
      </div>
      <div class="bg-faded borderRadius mt-2">
        <div class="p-4">
          <h6>Education</h6>
          <hr>
          <p>{{career.education}}</p>
        </div>
      </div>

      <div class="bg-faded borderRadius mt-2">
        <div class="p-4">
          <h6>Companies</h6>
          <hr>
          <p>{{career.topRecruiters}}</p>
        </div>
      </div>
      <div class="bg-faded borderRadius mt-2">
        <div class="p-4">
          <h6>Top Colleges in India</h6>
          <hr>
          <p>{{career.topCollegesOfIndia}}</p>
        </div>
      </div>
      <div class="bg-faded borderRadius mt-2">
        <div class="p-4">
          <h6>Top Colleges in Abroad</h6>
          <hr>
          <p>{{career.topCollegesOfAbroad}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <footer></footer>
  <div class="container">
    <h3>Development Plan</h3>
    <hr>
    <div class="">
      <div class="p-4">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>ReportSection</th>
              <th>Inference</th>
              <th>DevelopmentPlan</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="innateTalent in innateTalents">
              <td class="text-center">Innate Talent</td>
              <td class="text-center"><strong>{{innateTalent.innateTalentText}}</strong></td>
              <td class="text-center"><strong>{{innateTalent.developmentPlanForStrength}}</strong></td>
            </tr>
            <tr ng-repeat="innateTrait in innateTraits">
              <td class="text-center">Innate Traits</td>
              <td class="text-center"><strong>{{innateTrait.innateTalentText}}</strong></td>
              <td class="text-center"><strong>{{innateTrait.developmentPlanForStrength}}</strong></td>
            </tr>
            <tr ng-repeat="strength in strengths">
              <td class="text-center">Strengths</td>
              <td class="text-center"><strong>{{strength.strength}}</strong></td>
              <td class="text-center"><strong>{{strength.developmentPlanForStrength}}</strong></td>
            </tr>
            <tr ng-repeat="weakness in weaknesses">
              <td class="text-center">Weaknesses</td>
              <td class="text-center"><strong>{{weakness.strength}}</strong></td>
              <td class="text-center"><strong>{{weakness.developmentPlanForWeakness}}</strong></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
