<ul class="nav nav-tabs justify-content-center" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" style="color: #fab400;" data-toggle="tab" href="" data-target=".explore" role="tab" ng-click="getNotes('EXPLORE')">
     Explore</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-" data-toggle="tab" href="" data-target=".commit" role="tab" ng-click="getNotes('COMMIT')">
      Commit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: #4158d5;" data-toggle="tab" href="" data-target=".engage" role="tab" ng-click="getNotes('ENGAGE')">
      Engage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: #202c54;" data-toggle="tab" href="" data-target=".free_flow" role="tab" ng-click="getNotes('FREE_FLOW')">
      Engage</a>
  </li>
</ul>


<div class="tab-content text-center">
  <div class="tab-pane explore active" role="tabpanel"></div>
  <div class="tab-pane commit" role="tabpanel"></div>
  <div class="tab-pane engage" role="tabpanel"></div>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>
        <div class="text-center"> Statement</div>
      </th>
      <th>
        <div class="text-center"> Type</div>
      </th>
      <th>
        <div class="text-center">Timeline Post</div>
      </th>
      <th>
        <div class="text-center"> Status</div>
      </th>
      <th>
        <div class="text-center"> Action</div>
      </th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="text-center">
          <div class="textarea-container">
            <textarea class="form-control" placeholder="write statement here..." ng-model="request.statement"></textarea>
          </div>
        </div>
      </td>
      <td>
        <div class="text-center">
          <button ng-class="request.class" data-ng-disabled=true> {{request.counsellingSessionType}}</button>
        </div>
      </td>
      <td>
        <div class="text-center">
          <button
              ng-class="request.timelinePost ? 'btn btn-simple btn-default btn-sm' : 'btn btn-simple btn-warning btn-sm'" ng-click="request.timelinePost = !request.timelinePost">
            {{request.timelinePost ? 'Yes' : 'No'}}
          </button>
        </div>
      </td>
      <td>
        <div class="text-center">
          <button
              ng-class="request.active ? 'btn btn-simple btn-default btn-sm' : 'btn btn-simple btn-warning btn-sm'" ng-click="request.active = !request.active">
            {{request.active ? 'Activated' : 'Deactivated'}}
          </button>
        </div>
      </td>
      <td>
        <div class="text-center">
          <button class="btn btn-info btn-sm" ng-click="saveNote(request)">Save</button>
        </div>
      </td>

    </tr>
    <tr ng-repeat="note in notes">
      <td>
        <div class="text-center">
          <div class="textarea-container">
            <textarea class="form-control" placeholder="write statement here..." ng-model="note.statement"></textarea>
          </div>
        </div>
      </td>
      <td>
        <div class="text-center">
          <button ng-class="note.class" data-ng-disabled=true> {{note.counsellingSessionType}}</button>
        </div>
      </td>
      <td>
        <div class="text-center">
          <button
              ng-class="note.timelinePost ? 'btn btn-simple btn-default btn-sm' : 'btn btn-simple btn-warning btn-sm'" ng-click="note.timelinePost = !note.timelinePost">
            {{note.timelinePost ? 'Yes' : 'No'}}
          </button>
        </div>
      </td>
      <td>
        <div class="text-center">
          <button
              ng-class="note.active ? 'btn btn-simple btn-default btn-sm' : 'btn btn-simple btn-warning btn-sm'" ng-click="note.active = !note.active">
            {{note.active ? 'Activated' : 'Deactivated'}}
          </button>
        </div>
      </td>
      <td>
        <div class="text-center">
          <button class="btn btn-info btn-sm" ng-click="saveNote(note)">Save</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
