

<!--<div id='wrap'>-->

  <!--<div id='calendar'></div>-->

  <!--<div style='clear:both'></div>-->
<!--</div>-->

<style>
    .fc-right .fc-prev-button, .fc-right .fc-next-button{
        background-color: #00bb7e;
        background-image: none;
    }

    .fc-today-button{
        background-color: #202c54;
        background-image: none;
        color:white;
    }

    .fc-center .fc-month-button, .fc-center .fc-list-button{
        background-color: #4158d5;
        background-image: none;
        color:white;
    }

     .fc-center .fc-list-button{
          background-color: #e19500;
          background-image: none;
          color:white;
      }

    .calendar {
        /* 		float: right; */
        margin: 0 auto;
        width: 900px;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
    }
    .fc-title{
        color:white;
    }
</style>

<div class="row">
    <div class="col-md-2">
        <br>
        <br>
        <br><hr>
        <ul>
            <li class="p-1"><div class="fc-content" style="background-color:#ffb300;"> <span class="fc-title p-1" > UPCOMING</span> </div></li>
            <li class="p-1"><div class="fc-content" style="background-color:#d9534f;"> <span class="fc-title p-1" > MISSED</span>   </div> </li>
            <li class="p-1"><div class="fc-content" style="background-color:#202c54;"> <span class="fc-title p-1" > DRAFTED</span>  </div> </li>
            <li class="p-1"><div class="fc-content" style="background-color:#00bb7e;"> <span class="fc-title p-1" > COMPLETED</span></div> </li>
            <li class="p-1"><div class="fc-content" style="background-color:#4158d5;"> <span class="fc-title p-1" > DELAYED</span>  </div> </li>
        </ul>
        <hr>
    </div>
    <div class="col-md-10 calendar"><div ng-if="events.length>0" class="p-2" fc fc-options="calendarOptions" ng-model="events" ></div></div>
</div>


<!-------------------------------------       PREVIOUS CODE      ------------------------------------------->


<!--<h4>Hi Counsellor!</h4>-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="input-group form-group-no-border">-->
                <!--<select class="form-control col-lg-3" ng-model="schoolId">-->
                    <!--<option value="" selected>Select School</option>-->
                    <!--<option ng-repeat="sch in listSchooles" value="{{sch.name}}">{{sch.name}}</option>-->
                <!--</select>&nbsp;&nbsp;-->
                <!--<select class="form-control col-lg-3" ng-model="gradeId">-->
                    <!--<option value="" selected>Select Grade</option>-->
                    <!--<option ng-repeat="grd in listGrades" value="{{grd.value}}">{{grd.value}}</option>-->
                <!--</select>&nbsp;&nbsp;-->
                <!--<button type="button" class="btn btn-info btn-sm" ng-click="filterSearch()">Filter Students</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="container">-->
    <!--<div class="card-block">-->
        <!--<div class="table-responsive">-->
            <!--<table class="table table-condensed table-striped table-hover">-->
                <!--<thead class="text-primary">-->
                <!--<tr>-->
                    <!--<th>Student</th>-->
                    <!--<th>SchoolName</th>-->
                    <!--<th>Grade</th>-->
                    <!--<th>Profile</th>-->
                    <!--<th>StudentReport</th>-->
                    <!--<th>CounsellorReport</th>-->
                    <!--<th>Notify</th>-->
                    <!--<th>Notes</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="student in listOfStudents |orderBy:'name'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">-->
                    <!--<td>{{student.name}}</td>-->
                    <!--<td>{{student.schoolName}}</td>-->
                    <!--<td>{{student.gradeName}}</td>-->
                    <!--<td><i class="fa fa-user-circle" aria-hidden="true" ng-click="viewStudentProfile(student.id)"></i></td>-->
                    <!--<td>-->
                        <!--<div class="col-md-8">-->
                            <!--<a href="" ng-click="downloadIndividualReport(student.id)"><i class="fa fa-2x fa-download"></i></a>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="col-md-8">-->
                            <!--<a ui-sref="app.counsellorReportV2({id: student.id})" class="btn btn-default btn-sm">Counsellor AimReport</a>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="col-md-8">-->
                            <!--<div class="input-group form-group-no-border">-->
                                <!--<span class="input-group-addon"><i class="fa fa-flag-checkered" aria-hidden="true"></i></span>-->
                                <!--<select class="form-control " ng-model="notification">-->
                                    <!--<option value="" selected>Notify</option>-->
                                    <!--<option value="voiceCall">voice call</option>-->
                                    <!--<option value="vedioCall">vedio call</option>-->
                                    <!--<option value="fbCall">FB call</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</td>-->
                    <!--<td><i class="fa fa-table" aria-hidden="true" ng-click="loadStudentNotes(student.id)"></i></td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
        <!--<ul class="pagination" ng-show="listOfStudents.length">-->
            <!--<li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;-->
            <!--<li>-->
                <!--<button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV-->
                <!--</button>-->
            <!--</li>&nbsp;-->
            <!--<li>-->
                <!--<button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;-->
                <!--</button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!--<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>-->

<!--<script type="text/ng-template" id="studentnotes.html">-->
    <!--<div class="card">-->
        <!--<div class="card-header">-->
            <!--<h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">-->
                <!--Student Notes Management&nbsp;<i class="fa fa-window-close" style="cursor: pointer;" aria-hidden="true" ng-click="close()"></i>-->
            <!--</h6>-->
        <!--</div>-->
        <!--<div class="card col-lg-12" ng-repeat="note in studentNotesList">-->
            <!--<div class="card-header">-->
                <!--<h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">-->
                    <!--Session:&nbsp;{{note.sessionName}}&nbsp;&nbsp;CreatedDate(MM-dd-yyyy):&nbsp;{{note.date}}-->
                <!--</h6>-->
            <!--</div>-->
            <!--<div class="table-responsive">-->
                <!--<table class="table table-condensed table-striped table-hover">-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<b>Student Notes:-</b>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<div style="width: 825px; height: 100px; overflow-y: scroll;">-->
                            <!--<font size="3">{{note.notes}}</font>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<textarea class="form-control" placeholder="Write your student notes." ng-model="note.notes" readonly></textarea>&ndash;&gt;-->
                    <!--</tr>-->
                    <!--<tr><div class="col-md-12">-->
                        <!--<div class="row"></div></div>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<b>Self Notes:-</b>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<div style="width: 825px; height: 100px; overflow-y: scroll;">-->
                            <!--<font size="3">{{note.selfNotes}}</font>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<textarea class="form-control" placeholder="Write your self notes." ng-model="note.selfNotes" readonly></textarea>&ndash;&gt;-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <!--<div class="card-footer text-center">-->
                <!--<button ng-hide="note.pushStatus" class="btn btn-rose btn-primary btn-sm" ng-click="pushStudentNotes(note)">Push</button>&nbsp;-->
                <!--<button ng-hide="note.pushStatus" class="btn btn-rose btn-primary btn-sm" ng-click="updateStudentNotes(note)">Update</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card col-lg-12">-->
            <!--<div class="card-header">-->
                <!--<h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">-->
                    <!--Create New Notes For Student-->
                <!--</h6>-->
            <!--</div>-->
            <!--<div class="table-responsive">-->
                <!--<table class="table table-condensed table-striped table-hover">-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--Session Name-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<input class="form-control" placeholder="Write your session name" type="text" ng-model="studentNotes.sessionName">-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--Student Notes-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<textarea class="form-control" placeholder="Write your student notes." ng-model="studentNotes.notes"></textarea>-->
                    <!--</tr>-->
                    <!--<tr><div class="col-md-12">-->
                        <!--<div class="row"></div></div>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--Self Notes-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<textarea class="form-control" placeholder="Write your self notes." ng-model="studentNotes.selfNotes"></textarea>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <!--<div class="card-footer text-center">-->
                <!--<button class="btn btn-rose btn-primary btn-sm" ng-click="saveAndPushStudentNotes()">Push</button>&nbsp;-->
                <!--<button class="btn btn-rose btn-primary btn-sm" ng-click="saveStudentNotes()">Save</button>&nbsp;-->
                <!--<button class="btn btn-rose btn-primary btn-sm" ng-click="close();notes='';">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</script>-->
<!--<script type="text/ng-template" id="editStudentNotes.html">-->
    <!--<div class="card col-lg-12">-->
        <!--<div class="card-header">-->
            <!--<h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">-->
                <!--Update Notes For Student-->
            <!--</h6>-->
        <!--</div>-->
        <!--<div class="table-responsive">-->
            <!--<table class="table table-condensed table-striped table-hover">-->
                <!--<tbody>-->
                <!--<tr>-->
                    <!--Session Name-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<input class="form-control" placeholder="Write your session name" type="text" ng-model="studentNotes.sessionName">-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--Student Notes-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<textarea class="form-control" placeholder="Write your student notes." ng-model="studentNotes.notes"></textarea>-->
                <!--</tr>-->
                <!--<tr><div class="col-md-12">-->
                    <!--<div class="row"></div></div>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--Self Notes-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<textarea class="form-control" placeholder="Write your self notes." ng-model="studentNotes.selfNotes"></textarea>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div class="card-footer text-center">-->
            <!--<button class="btn btn-rose btn-primary btn-sm" ng-click="saveAndPushUpdateStudentNotes(studentNotes)">Push</button>&nbsp;-->
            <!--<button class="btn btn-rose btn-primary btn-sm" ng-click="saveUpdateStudentNotes(studentNotes)">Save</button>&nbsp;-->
            <!--<button class="btn btn-rose btn-primary btn-sm" ng-click="closeEditModal();notes='';">Close</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</script>-->
<!--<script type="text/ng-template" id="studentProfile.html">-->
    <!--<div class="container">-->
        <!--<h3>Profile&nbsp;<i class="fa fa-window-close" style="cursor: pointer;" aria-hidden="true" ng-click="close()"></i></h3>-->
        <!--<hr>-->
        <!--<div class="bg-faded borderRadius">-->
        <!--<div class="row p-4">-->
        <!--<div class="col-5">-->
        <!--<div class="text-left">-->
        <!--<h6 ng-show="user.name.length>0">Name</h6>-->
        <!--<h6 ng-show="user.gender.length>0">Gender</h6>-->
        <!--<h6 ng-show="user.grade.length>0">Grade</h6>-->
        <!--<h6 ng-show="user.academicScore.length>0">Academic Score</h6>-->
    <!--<h6 ng-show="user.school.length>0">School Name</h6>-->
    <!--<h6 ng-show="user.dob.length>0">Dob </h6>-->
        <!--<h6 ng-show="user.supw.length>0">SUPW(Socially Useful Productive Work)</h6>-->
    <!--<h6 ng-show="user.interest.length>0">Interests</h6>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-7">-->
        <!--<div class="text-left">-->
        <!--<h6>:&nbsp;&nbsp;&nbsp;{{user.name}}</h6>-->
    <!--<h6>:&nbsp;&nbsp;&nbsp;{{user.gender}}</h6>-->
    <!--<h6>:&nbsp;&nbsp;&nbsp;{{user.grade}}</h6>-->
    <!--<h6>:&nbsp;&nbsp;&nbsp;{{user.academicScore}}</h6>-->
    <!--<h6>:&nbsp;&nbsp;&nbsp;{{user.school}}</h6>-->
    <!--<h6>:&nbsp;&nbsp;&nbsp;{{user.dob}}</h6>-->
    <!--<h6>:&nbsp;&nbsp;&nbsp;{{user.supw}}</h6>-->
    <!--<h6>:&nbsp;&nbsp;&nbsp;<label class="badge badge-default"-->
    <!--ng-repeat="intrs in user.interest track by $index">-->
        <!--{{intrs}}-->
    <!--</label></h6>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
<!--</script>-->




