<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group form-group-no-border">
        <select class="form-control col-lg-3" ng-model="schoolId">
          <option value="" selected>Select School</option>
          <option ng-repeat="sch in listSchools" value="{{sch.name}}">{{sch.name}}</option>
        </select>&nbsp;&nbsp;
        <select class="form-control col-lg-2" ng-model="gradeId">
          <option value="" selected>Select Grade</option>
          <option ng-repeat="grd in listGrades" value="{{grd.value}}">{{grd.value}}</option>
        </select>&nbsp;&nbsp;
        <select class="form-control col-lg-3" ng-model="city">
          <option value="" selected>Select City</option>
          <option ng-repeat="city in cities" value="{{city.value}}">{{city.value}}</option>
        </select>&nbsp;&nbsp;
        <button type="button" class="btn btn-info btn-sm" ng-click="filterSearch()">Get Users</button>&nbsp;&nbsp;
        <div class="input-group col-lg-3" ng-show="listOfStudents.length>0">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="User Search..." ng-model="searchText">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive" ng-show="listOfStudents.length>0">
  <table class="table table-bordered">
    <caption>
      <ul class="pagination">
        <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
        <li>
          <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0"
                  ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
          </button>
        </li>&nbsp;
        <li>
          <button type="button" class="btn btn-blue btn-sm"
                  ng-disabled="curPage >= TotalRecordCount/pageSize - 1"
                  ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
          </button>
        </li>
      </ul>
    </caption>
    <thead class="thead-light">
    <tr>
      <th>
        <div class="text-center"> Username</div>
      </th>
      <th>
        <div class="text-center"> Name</div>
      </th>
      <th>
        <div class="text-center"> Aim Assessment Completed On</div>
      </th>
      <th>
        <div class="text-center"> User Assigned On</div>
      </th>
      <th>
        <div class="text-center"> Aim Report</div>
      </th>
      <th>
        <div class="text-center"> Score card</div>
      </th>
      <th>
        <div class="text-center"> Total sessions held</div>
      </th>
      <th>
        <div class="text-center"> Excel activities</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="student in listOfStudents |orderBy:'name'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
      <td>
        <div class="text-center"><a href="" ng-click="viewStudentProfile(student.id)">{{student.username}}</a></div>
      </td>
      <td>
        <div class="text-center"> {{student.name}}</div>
      </td>
      <td>
        <div class="text-center"> {{student.aimAssessmetsCompletedOn}}</div>
      </td>
      <td>
        <div class="text-center"> {{student.counsellorAssignedOn}}</div>
      </td>
      <td>
        <div class="text-center"><a href="" ng-click="downloadIndividualReport(student.id, false)"><i class="fa fa-2x fa-download"></i></a></div>
      </td>
      <!--<td><a ui-sref="app.counsellorReportV2({id: student.id})" class="btn btn-default btn-sm">Counsellor AimReport</a></td>-->
      <td>
        <div class="text-center"><a href="" ng-click="downloadAimReportScoreCardInExcel(student.id);"><i class="fa fa-2x fa-download"></i></a></div>
      </td>
      <td>
        <div class="text-center">{{student.totalSessions}}</div>
      </td>
      <td>
        <div class="text-center">
          <button class="btn btn-warning btn-sm" ui-sref="app.counsellingSession({id: student.id, admin: false})"> Excel</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<script type="text/ng-template" id="studentProfile.html">
  <div class="p-2 text-right" style="float: right">
    <a href="" style="float: right"><i class="fa fa-2x fa-window-close" style="cursor: pointer;" aria-hidden="true"
                                       ng-click="close()"></i></a>
  </div>
  <div class="container p-2">
    <h3>Profile</h3>
    <hr>
    <div class="bg-faded borderRadius">
      <div class="row p-4">
        <div class="col-5">
          <div class="text-left">
            <h6 ng-show="user.name.length>0">Name</h6>
            <h6 ng-show="user.gender.length>0">Gender</h6>
            <h6 ng-show="user.grade.length>0">Grade</h6>
            <h6 ng-show="user.academicScore.length>0">Academic Score</h6>
            <h6 ng-show="user.school.length>0">School Name</h6>
            <h6 ng-show="user.dob.length>0">Dob </h6>
            <h6 ng-show="user.supw.length>0">SUPW(Socially Useful Productive Work)</h6>
            <h6 ng-show="user.interest.length>0">Interests</h6>
          </div>
        </div>
        <div class="col-7">
          <div class="text-left">
            <h6>:&nbsp;&nbsp;&nbsp;{{user.name}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.gender}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.grade}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.academicScore}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.school}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.dob}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.supw}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;<label class="badge badge-default"
                                          ng-repeat="intrs in user.interest track by $index">
              {{intrs}}
            </label></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
