<div class="row">
  <div class="col-lg-2">
    <div class="input-group">
      <select name="selectTag" class="form-control" ng-model="selectedTag" placeholder="Choose Subtag" ng-options="tag as tag.name for tag in tags"
              ng-change="tagSelected(selectedTag)">
        <option value="" disabled selected>Choose Tag</option>
      </select>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-round" ng-click="removeTag(tag)" ng-repeat="tag in filterTags track by $index">
          {{tag.name}}&nbsp;<a ng-click="removeTag(tag)"> <i class="fa fa-times" aria-hidden="true"></i></a>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="input-group">
      <select name="selectSubtag" class="form-control" ng-model="selectedSubtag" placeholder="Choose Subtag" ng-options="subTag as subTag.name for subTag in subTags"
              ng-change="addSubTag(selectedSubtag)">
        <option value="" disabled selected>Choose subtag</option>
      </select>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-round" ng-click="removeSubTag(subTag)" ng-repeat="subTag in filterSubTags track by $index">
          {{subTag.name}}&nbsp;<a ng-click="removeSubTag(subTag)"><i class="fa fa-times" aria-hidden="true"></i></a>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-group label-floating">
      <div class="dropdown">
        <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedGender" placeholder="Choose Gender..."/>
        <ul class="dropdown-menu" aria-labelledby={{gender.gender}}>
          <a class="dropdown-item" ng-click="selectAll(genders,!genders.isAllSelected());">
            <span ng-show="genders.isAllSelected()">&#10004; &nbsp;</span>
            <span ng-hide="genders.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            All</a>
          <a class="dropdown-item" ng-click="gender.selected= !gender.selected;" ng-repeat="gender in genders | filter : {gender:selectedGender}">
            <span ng-show="gender.selected">&#10004; &nbsp;</span>
            <span ng-hide="gender.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{gender.gender}}</a>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-round" ng-click="gender.selected = !gender.selected" ng-repeat="gender in genders | filter : {selected:'true'}">
          {{gender.gender}} &nbsp;<a><i class="fa fa-times" ng-click="gender.selected = !gender.selected"></i></a>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group label-floating">
      <!--<label class="control-label">Select grade:</label>-->
      <div class="dropdown">
        <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedGrade" placeholder="Choose Grade..."/>
        <ul class="dropdown-menu" aria-labelledby={{grade.value}}>
          <a class="dropdown-item" ng-click="selectAll(grades,!grades.isAllSelected());">
            <span ng-show="grades.isAllSelected()">&#10004; &nbsp;</span>
            <span ng-hide="grades.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            All</a>
          <a class="dropdown-item" ng-click="grade.selected= !grade.selected;" ng-repeat="grade in grades | filter : {value:selectedGrade}">
            <span ng-show="grade.selected">&#10004; &nbsp;</span>
            <span ng-hide="grade.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{grade.value}}</a>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-round" ng-click="grade.selected= !grade.selected;" ng-repeat="grade in grades | filter : {selected:'true'}">
          {{grade.value}} &nbsp;<a><i class="fa fa-times" ng-click="grade.selected= !grade.selected;"></i></a>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-group label-floating">
      <!--<label class="control-label">Select School:</label>-->
      <div class="dropdown">
        <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedSchool" placeholder="Choose School..."/>
        <ul class="dropdown-menu" aria-labelledby={{school.name}}>
          <a class="dropdown-item" ng-click="selectAll(schools,!schools.isAllSelected());">
            <span ng-show="schools.isAllSelected()">&#10004; &nbsp;</span>
            <span ng-hide="schools.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            All</a>
          <a class="dropdown-item" ng-click="school.selected= !school.selected;" ng-repeat="school in schools | filter : {name:selectedSchool}">
            <span ng-show="school.selected">&#10004; &nbsp;</span>
            <span ng-hide="school.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{school.name}}</a>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-round" ng-click="school.selected= !school.selected;" ng-repeat="school in schools |filter : {selected:'true'}">
          {{school.name}} &nbsp;<a><i class="fa fa-times" ng-click="school.selected= !school.selected;"></i></a>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group label-floating">
      <!--<label class="control-label">Select School:</label>-->
      <div class="dropdown">
        <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedCity" placeholder="Choose City..."/>
        <ul class="dropdown-menu" aria-labelledby={{city.value}}>
          <a class="dropdown-item" ng-click="selectAll(cities,!city.isAllSelected());">
            <span ng-show="cities.isAllSelected()">&#10004; &nbsp;</span>
            <span ng-hide="cities.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            All</a>
          <a class="dropdown-item" ng-click="city.selected= !city.selected;" ng-repeat="city in cities | filter : {value:selectedCity}">
            <span ng-show="city.selected">&#10004; &nbsp;</span>
            <span ng-hide="city.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{city.value}}</a>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-round" ng-click="city.selected= !city.selected;" ng-repeat="city in cities | filter : {selected:'true'}">
          {{city.value}}&nbsp;<a><i class="fa fa-times" ng-click="city.selected= !city.selected;"></i></a>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-1">
    <button class="btn btn-sm btn-warning" ng-click="reset()">Reset</button>
  </div>
  <div class="col-lg-1">
    <button class="btn btn-sm" ng-click="listUsersByCounsellorAdmin();">Search</button>
  </div>


</div>


<hr>
<div class="table-responsive" ng-show="listOfStudents.length>0">
  <table class="table table-bordered">
    <caption>
      <ul class="pagination">
        <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
        <li>
          <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0"
                  ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
          </button>
        </li>&nbsp;
        <li>
          <button type="button" class="btn btn-blue btn-sm"
                  ng-disabled="curPage >= TotalRecordCount/pageSize - 1"
                  ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
          </button>
        </li>
      </ul>
    </caption>
    <thead class="thead-light">
    <tr>
      <th colspan="2">
        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="User Search..." ng-model="searchText">
        </div>
      </th>

      <th>
        <div class="text-center">Aim Assessment Completed On</div>
      </th>
      <th>
        <div class="text-center">Counsellor</div>
      </th>
      <!--<th><div class"text-center">User Assigned On</</th>-->
      <th>
        <div class="text-center">Aim Report</div>
      </th>
      <th>
        <div class="text-center">Score card</div>
      </th>
      <th>
        <div class="text-center">Total sessions held</div>
      </th>
      <th>
        <div class="text-center">Excel activities</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="student in listOfStudents |orderBy:'name'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
      <td><div class="text-center"><a href="" ng-click="viewStudentProfile(student.id)">{{student.username}}</a></div></td>
      <td><div class="text-center">{{student.name}}</div></td>
      <td><div class="text-center">{{student.aimAssessmetsCompletedOn}}</div></td>
      <td><div class="text-center">{{student.counsellor}}</div></td>
      <!--<td><div class="text-center"> {{student.counsellorAssignedOn}}</</td>-->
      <td><div class="text-center">
        <div class="text-center"><a href="" ng-click="downloadIndividualReport(student.id, false)"><i class="fa fa-2x fa-download"></i></a></div>
      </div></td>
      <!--<td><div class="text-center"> <a ui-sref="app.counsellorReportV2({id: student.id})" class="btn btn-default btn-sm">Counsellor AimReport</a></</td>-->
      <td><div class="text-center">
        <div class="text-center"><a href="" ng-click="downloadAimReportScoreCardInExcel(student.id);"><i class="fa fa-2x fa-download"></i></a></div>
      </div></td>
      <td><div class="text-center">{{student.userCounsellingSessions.length}}</div></td>
      <td><div class="text-center">
        <button class="btn btn-warning btn-sm" ui-sref="app.counsellingSession({id: student.id, admin: true})"> Excel</button>
      </div></td>
    </tr>
    </tbody>
  </table>
</div>


<script type="text/ng-template" id="studentProfile.html">
  <div class="p-2 text-right" style="float: right">
    <a href="" style="float: right"><i class="fa fa-2x fa-window-close" style="cursor: pointer;" aria-hidden="true"
                                       ng-click="close()"></i></a>
  </div>
  <div class="container p-2">
    <h3>Profile</h3>
    <hr>
    <div class="bg-faded borderRadius">
      <div class="row p-4">
        <div class="col-5">
          <div class="text-left">
            <h6 ng-show="user.name.length>0">Name</h6>
            <h6 ng-show="user.gender.length>0">Gender</h6>
            <h6 ng-show="user.grade.length>0">Grade</h6>
            <h6 ng-show="user.academicScore.length>0">Academic Score</h6>
            <h6 ng-show="user.school.length>0">School Name</h6>
            <h6 ng-show="user.dob.length>0">Dob </h6>
            <h6 ng-show="user.supw.length>0">SUPW(Socially Useful Productive Work)</h6>
            <h6 ng-show="user.interest.length>0">Interests</h6>
          </div>
        </div>
        <div class="col-7">
          <div class="text-left">
            <h6>:&nbsp;&nbsp;&nbsp;{{user.name}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.gender}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.grade}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.academicScore}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.school}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.dob}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;{{user.supw}}</h6>
            <h6>:&nbsp;&nbsp;&nbsp;<label class="badge badge-default"
                                          ng-repeat="intrs in user.interest track by $index">
              {{intrs}}
            </label></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
