<div class="container">

  <div class="bg-faded borderRadius">
    <div class="row">
      <div class="col-4">
        <div class="text-left">
          <h6 ng-show="user.name.length>0">Name</h6>
          <h6 ng-show="user.gender.length>0">Gender</h6>
          <h6 ng-show="user.grade.length>0">Grade</h6>
          <h6 ng-show="user.academicScore.length>0">Academic Score</h6>
          <h6 ng-show="user.school.length>0">School Name</h6>
          <h6 ng-show="user.dob.length>0">Dob </h6>
          <h6 ng-show="user.supw.length>0">SUPW(Socially Useful Productive Work)</h6>
          <h6 ng-show="user.interest.length>0">Interests</h6>

        </div>
      </div>
      <div class="col-5">
        <div class="text-left">
          <h6>:&nbsp;&nbsp;&nbsp;{{user.name}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.gender}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.grade}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.academicScore}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.school}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.dob}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.supw}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;<label class="badge badge-default"
                                        ng-repeat="intrs in user.interest track by $index">{{intrs}}</label></h6>


        </div>
      </div>
      <div class="col-3">
        <div class="text-center">
          <img class="rounded-circle img-raised" data-ng-src="{{userImageURI}}" alt="Profile Picture" style="width: 200px; height: 200px">
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-10">
    <div class="text-center">
      <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" style="color: #fab400;" ng-click="getCounsellingSessions('EXPLORE')" data-toggle="tab" href="" data-target=".explore" role="tab"
             ng-disabled="loading">
            Explore </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="getCounsellingSessions('COMMIT')" data-toggle="tab" href="" data-target=".commit" role="tab" ng-disabled="loading">
            Commit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #4158d5;" ng-click="getCounsellingSessions('ENGAGE')" data-toggle="tab" href="" data-target=".engage" role="tab" ng-disabled="loading">
            Engage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #202c54;" ng-click="getCounsellingSessions('FREE_FLOW')" data-toggle="tab" href="" data-target=".free_flow" role="tab" ng-disabled="loading">
            Single Session</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-2">
    <div class="text-right">
      <a href="" class="btn btn-success mt-4" ng-click="getLeadsFromAllSessions()">Lead</a>
    </div>
  </div>
</div>

<div class="mt-3">
  <div class="tab-content text-center">
    <div class="tab-pane explore active" role="tabpanel"></div>
    <div class="tab-pane commit" role="tabpanel"></div>
    <div class="tab-pane engage" role="tabpanel"></div>
  </div>
  <div class="table-responsive" ng-show="counsellingSessions.length>0">
    <table class="table table-bordered">
      <caption>
        <ul class="pagination">
          <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
          <li>
            <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0"
                    ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
            </button>
          </li>&nbsp;
          <li>
            <button type="button" class="btn btn-default btn-sm"
                    ng-disabled="curPage >= TotalRecordCount/pageSize - 1"
                    ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
            </button>
          </li>
          <li>

          </li>
        </ul>
      </caption>
      <thead class="thead-light">
      <tr>
        <th colspan="2">
          <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Session Search..." ng-model="searchText">
          </div>
        </th>

        <th ng-if="!counsellorIsAdmin">
          <div class="text-center" > Scheduled date</div>
        </th>
        <th ng-if="!counsellorIsAdmin">
          <div class="text-center" > Status</div>
        </th>
        <th>
          <div class="text-center"> Notes</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="session in counsellingSessions |orderBy:'sequence'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
        <td>
          <div class="text-center"> {{$index+1}}</div>
        </td>
        <td>
          <div class="text-center"> {{session.name}}</div>
        </td>
        <td ng-if="!counsellorIsAdmin">
          <div class="text-center" > {{session.scheduledOn}}</div>
        </td>
        <td ng-if="!counsellorIsAdmin">
          <div class="text-center" > {{session.counsellingSessionStatus}}</div>
        </td>
        <td>
          <div class="text-center">
            <a class="btn btn-success" href="" ng-click="openCounsellingSessionSummary(session);">
              {{session.label}}
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right">
    <button class="btn btn-primary btn-round btn-icon" ng-if="!counsellorIsAdmin" data-toggle="tooltip" title="create session" ng-click="createNewSession()"><i class="fa fa-plus"
                                                                                                                                                                aria-hidden="true"></i>
    </button>
  </div>
</div>


<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<script type="text/ng-template" id="createCounsellingSession.html">

  <div>
    <div class="p-4">
      <div class="text-center">
        <h5>Create New Session </h5>
      </div>
      <div>
        <label class="control-label" for="scheduledOn">Schedule on :</label>
        <input type="date" class="form-control col-md-12" id='scheduledOn' ng-model="request.scheduledOn"/>
      </div>
      <hr>
      <div>
        <label class="control-label">*Session Name:</label>
        <input type="text" class="form-control col-md-12" placeholder="write session name here..." disabled ng-model="request.name">
      </div>
      <div class="text-center mt-2">
        <button class="btn btn-default btn-sm" ng-click="saveSession(request,'UPCOMING');">create session</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="leadsFromAllSessionsModal.html">
  <div>
    <div class="p-4">
      <div class="text-center">
        <h5>Lead</h5>
      </div>
      <ul>
        <li ng-repeat="lead in leadsFromAllSessions">{{lead}}<hr></li>
      </ul>
      <div class="text-center">
        <button class="btn btn-info" ng-click="closeLeadsFromAllSessionsModal();">close</button>
      </div>
    </div>
  </div>
</script>

