<style>
  .row-main {
    width: max-content;

  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <label>From:
        <input type="datetime" ng-model="startDate" />
      </label>
    </div>
    <div class="col-lg-4">
      <label id="toDate">To:
        <input type="datetime" ng-model="endDate" />
      </label>
    </div>
    <div class="col-lg-4">
      <button type="button" class="btn btn-info btn-sm" ng-click="getCouponCode()">Get Coupon Codes</button>
    </div>
  </div>
  <div style="width: 100%; overflow: scroll;margin-top: 20px;">
    <div class="row-main">
      <div class="card" style="width: 18rem;margin-right: 10px;" ng-repeat="coupon in couponCodes">
        <div class="card-body">
          <h5 class="card-title">{{coupon.name}}</h5>
          <p class="card-text">
            <strong>Consumed: </strong>{{coupon.consumedCount}}</p>
          <a href class="btn btn-primary" ng-click="getUsers(coupon)">View Users</a>
        </div>
      </div>
    </div>
  </div>

  <div class="mytable" ng-if="users.length">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Contact no</th>
          <th scope="col">username</th>
          <th scope="col">Email</th>
          <th scope="col">Date</th>
          <th scope="col">Product Purchased</th>
          <th scope="col">Name</th>
          <th scope="col">Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <th scope="row">{{user.contactNumber}}</th>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.date}}</td>
          <td>{{user.productPurchased}}</td>
          <td>{{user.name}}</td>
          <td>{{user.grade}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>