<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-danger btn-sm" ng-click="cancelTest()" style="float: right">
            <i class="fa fa-times" aria-hidden="true"></i></button>
          <h6 class="card-title">Test</h6>
        </div>
        <form name="CreateTestForm" class="mt-2 mb-8 p-3" novalidate>
          <div class="col-lg-12" ng-show="showStep1">
            <div class="row">
              <label class="col-form-label col-lg-3" for="name">Name : </label>
              <!--<div class="form-group-no-border input-group col-lg-9">-->
              <!--<span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>-->
              <!--<input type="text" id="name" name="name"-->
              <!--class="form-control"-->
              <!--placeholder="Test's Name" ng-model="test.name" autofocus required="">-->
              <!--</div>-->
              <div class="col-lg-9">
                <!--<div class="form-group-no-border input-group col-lg-9">-->
                <!--<span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>-->
                <!--<input type="text" id="description" name="description"-->
                <!--class="form-control"-->
                <!--placeholder="Test's Description" ng-model="test.description" required>-->
                <div class="textarea-container">
                  <textArea class="form-control" id="name" placeholder="name" ng-model="test.name" ng-readonly="readUser"></textArea>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="description">Description : </label>
              <div class="col-lg-9">
                <!--<div class="form-group-no-border input-group col-lg-9">-->
                <!--<span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>-->
                <!--<input type="text" id="description" name="description"-->
                <!--class="form-control"-->
                <!--placeholder="Test's Description" ng-model="test.description" required>-->
                <div class="textarea-container">
                  <textArea class="form-control" id="description" placeholder="description" ng-model="test.description"></textArea>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="introduction">Introduction : </label>
              <!--<div class="form-group-no-border input-group col-lg-9">-->
              <!--<span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>-->
              <!--<input type="text" id="introduction" name="Introduction"-->
              <!--class="form-control"-->
              <!--placeholder="Test's Introduction" ng-model="test.introduction" required>-->
              <!--</div>-->
              <div class="col-lg-9">
                <div class="textarea-container">
                  <textArea class="form-control" id="introduction" placeholder="introduction" ng-model="test.introduction"></textArea>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="procedure">Procedure : </label>
              <!--<div class="form-group-no-border input-group col-lg-9">-->
              <!--<span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>-->
              <!--<input type="text" id="procedure" name="procedure"-->
              <!--class="form-control"-->
              <!--placeholder="Test's Procedure" ng-model="test.procedure" autofocus required>-->
              <!--</div>-->
              <div class="col-lg-9">
                <div class="textarea-container">
                  <textArea class="form-control" id="procedure" placeholder="procedure" ng-model="test.procedure"></textArea>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="participation">Participation : </label>
              <!--<div class="form-group-no-border input-group col-lg-9">-->
              <!--<span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>-->
              <!--<input type="text" id="participation" name="participation"-->
              <!--class="form-control"-->
              <!--placeholder="Test's participation" ng-model="test.participation" required>-->
              <!--</div>-->
              <div class="col-lg-9">
                <div class="textarea-container">
                  <textArea class="form-control" id="participation" placeholder="participation" ng-model="test.participation"></textArea>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="disclaimer">Disclaimer : </label>
              <!--<div class="form-group-no-border input-group col-lg-9">-->
              <!--<span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>-->
              <!--<input type="text" id="disclaimer" name="disclaimer"-->
              <!--class="form-control"-->
              <!--placeholder="Test's Disclaimer" ng-model="test.disclaimer" required>-->
              <!--</div>-->
              <div class="col-lg-9">
                <div class="textarea-container">
                  <textArea class="form-control" id="disclaimer" placeholder="disclaimer" ng-model="test.disclaimer"></textArea>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="disclaimer">Notes : </label>
              <div class="col-lg-9">
                <div class="textarea-container">
                  <textArea class="form-control" id="notes" placeholder="Notes" ng-model="test.notes"></textArea>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-default col-lg-1" ng-click="step1()"><<</button>
              <button class="btn btn-primary col-lg-1" ng-click="step2(test.notes)">>></button>
            </div>
          </div>
          <div class="col-lg-12" ng-show="showStep2">
            <div class="row">
              <div class="form-group-no-border input-group col-lg-6">
                <label class="col-form-label" for="videoName">Video Name: </label>&nbsp;&nbsp;&nbsp;
                <input type="text" id="videoName" name="videoName"
                       class="form-control"
                       placeholder="Enter video name with extension" ng-model="test.videoName" required>
                <span class="input-group-addon"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
              </div>
              <div class="form-group-no-border input-group col-lg-6">
                <label class="col-form-label" for="videoName">ReportType: </label>&nbsp;&nbsp;&nbsp;
                <span class="input-group-addon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>
                <select class="form-control" ng-model="test.reportType">
                  <option value="" selected>Select Report Type</option>
                  <option ng-repeat="type in reportsTypes track by $index" value="{{type}}">
                    {{type}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="checkbox">
                  <input id="autoIncrement" ng-model="test.autoIncrementQuestion" type="checkbox">
                  <label for="autoIncrement">
                    Auto Increment Allowed
                  </label>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkbox">
                  <input id="navigationAllowed" ng-model="test.navigationAllowed" type="checkbox">
                  <label for="navigationAllowed">
                    Navigation Allowed?
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="checkbox">
                  <input id="isPaid" ng-model="test.paid" type="checkbox">
                  <label for="isPaid">
                    Is Paid?
                  </label>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkbox">
                  <input id="skipQuestions" ng-model="test.skipQuestions" type="checkbox">
                  <label for="skipQuestions">
                    Skip Questions?
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="checkbox">
                  <input id="disableSubmit" ng-change="test.submitLimit=80" ng-model="test.disableSubmit" type="checkbox">
                  <label for="disableSubmit">
                    Disable Submit?
                  </label>
                </div>
              </div>
              <div ng-show="test.disableSubmit" class="form-group-no-border input-group col-lg-3">
                <input type="text" id="submitLimit" name="submitLimit"
                       class="form-control"
                       placeholder="submitLimit" ng-model="test.submitLimit" required>
                <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="checkbox">
                  <input id="discontinueTest" ng-model="test.discontinueTest" type="checkbox">
                  <label for="discontinueTest">
                    Discontinue Test?
                  </label>
                </div>
              </div>
              <div ng-show="test.discontinueTest" class="form-group-no-border input-group col-lg-6">
                <input type="text" id="discontinueTestCriteria" name="discontinueTestCriteria"
                       class="form-control"
                       placeholder="After giving how many wrong answers test should be discontinued" ng-model="test.discontinueTestCriteria" required>
                <span class="input-group-addon"><i class="fa fa-question-circle-o" aria-hidden="true"></i></span>
              </div>
            </div>

            <div class="text-right">
              <button class="btn btn-default col-lg-1" ng-click="step1()"><<</button>
              <button class="btn btn-primary col-lg-1" ng-click="step3(test.reportType)">>></button>
            </div>
          </div>
          <div class="col-lg-12" ng-show="showStep3">
            <div class="row mt-2" style="margin-top: 25px">
              <div class="col-lg-3">
                <label class="col-form-label" for="name">Age group : </label>
              </div>
              <div class="col-lg-9">
                <div id="ageGroupSlider" class="slider slider-info ">
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <label class="col-form-label col-lg-3" for="userType">UserType: </label>
              <div class="form-group-no-border input-group col-lg-9">
                <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
                <select id="userType" name="userType"
                        class="form-control" ng-model="test.userType" autofocus required>
                  <option value="" selected>Select UserType</option>
                  <option ng-repeat="userType in userTypes" value="{{userType.value}}">
                    {{userType.value}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="studentType">Student Type: </label>
              <div class="form-group-no-border input-group col-lg-9">
                <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
                <select type="text" id="studentType" name="studentType"
                        class="form-control" ng-model="test.studentType" autofocus required>
                  <option value="" selected>Select StudentType</option>
                  <option ng-repeat="studentType in studentTypes" value="{{studentType.value}}">
                    {{studentType.value}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3">Grades : </label>
              <div class="form-group-no-border input-group col-lg-9">
                <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
                <select type="text"
                        class="form-control" ng-model="test.grades" multiple autofocus required>
                  <option value="" selected>Select Grades</option>
                  <option ng-repeat="grd in grades" value="{{grd.value}}">
                    {{grd.value}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="language">Language : </label>
              <div class="form-group-no-border input-group col-lg-9">
                <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
                <select type="text" id="language" name="language"
                        class="form-control" ng-model="test.language" autofocus required>
                  <option value="" selected>Select language</option>
                  <option ng-repeat="language in languages" value="{{language.value}}">
                    {{language.value}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="language">Test Construct : </label>
              <div class="form-group-no-border input-group col-lg-9">
                <span class="input-group-addon"><i class="fa fa-tree" ng-click="treeListtest()" aria-hidden="true"></i></span>
                <select  class="form-control" ng-model="test.parentId" autofocus required>
                  <option value="" selected>Select Test Construct</option>
                  <option ng-repeat="cons in constructList" value="{{cons.id}}">
                    {{cons.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-form-label col-lg-3" for="primaryReportText">Primary Report Text : </label>
              <div class="col-lg-9">
                <div class="textarea-container">
                  <textArea class="form-control" id="primaryReportText" placeholder="Primary Report Text" ng-model="test.primaryReportText"></textArea>
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-form-label col-lg-3" for="secondaryReportText">Secondary Report Text</label>
              <div class="col-lg-9">
                <div class="textarea-container">
                  <textArea class="form-control" id="secondaryReportText" placeholder="Secondary Report Text" ng-model="test.secondaryReportText"></textArea>
                </div>
              </div>
            </div>

            <div class="text-right">
              <button class="btn btn-default col-lg-1" ng-click="step2('back1')"><<</button>
              <button class="btn btn-primary col-lg-1" ng-click="step4()">>></button>
            </div>
          </div>
          <div class="col-lg-12" ng-show="showStep4">
            <div class="content-center brand">
              <h4 class="text-center">Want to add Questions ?</h4>
              <h5 class="description text-center"><a ng-click="step5()">Click here.</a></h5>
            </div>
            <div class="text-right">
              <button class="btn btn-default col-lg-1" ng-click="step3(1)"><<</button>
              <button class="btn btn-primary col-lg-1" ng-click="step6()">>></button>
            </div>
          </div>
          <div class="col-lg-12" ng-show="showStep5">
            <div class="row">
              <div class="col-6">

                <div class="card">
                  <div class="card-header">
                    <!--<input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search" ng-model="searchText">-->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group form-group-no-border">
                          <select name="selectTag" class="form-control" ng-model="selectedTag" ng-options="tag as tag.name for tag in tags"
                                  ng-change="tagSelected(selectedTag)"></select>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <button class="btn btn-sm btn-round" ng-repeat="tag in filterTags">
                              {{tag.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeTag(tag)"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group form-group-no-border">
                          <select name="selectSubtag" class="form-control" ng-model="selectedSubtag" ng-options="subTag as subTag.name for subTag in subTags"
                                  ng-change="addSubTag(selectedSubtag)"></select>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                              <span>
                              <button class="btn btn-sm btn-round" ng-repeat="subTag in filterSubTags">
                                {{subTag.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeSubTag(subTag)"></i>
                              </button>
                              </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-condensed table-striped table-hover">
                          <thead class="text-primary">
                          <tr>
                            <!--<th>-->
                            <!--<div class="checkbox" style="display: inline">-->
                            <!--<input id="selectAll" ng-model="selectAllQuestionsForTest" ng-change="isSelectAllQuestions(selectAllQuestionsForTest)" type="checkbox">-->
                            <!--<label for="selectAll">-->
                            <!--<span>&nbsp;</span>-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--</th>-->

                            <th>Sr N.</th>
                            <th>Question Description</th>
                            <th>Type</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="question in questionList | orderBy:'id' | subTagFilter:filterSubTags ">
                            <!--<td>-->
                            <!--<div class="checkbox">-->
                            <!--<input id="{{question.id}}" ng-model="question.selected" ng-change="isQuestionSelected(question)" type="checkbox">-->
                            <!--<label for="{{question.id}}">-->
                            <!--<span>&nbsp;</span>-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--</td>-->
                            <td ng-click="getQuestion(question.id)">{{curPage*pageSize +$index+1}}</td>
                            <td ng-click="getQuestion(question.id)" btf-markdown="question.description"></td>
                            <td ng-click="getQuestion(question.id)">{{question.questionType}}</td>
                            <td>
                              <button class="btn btn-sm btn-neutral" ng-click="isQuestionSelected(question)">>></button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <ul class="pagination" ng-show="questionList.length">
                      <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
                      <li>
                        <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                        </button>
                      </li>&nbsp;
                      <li>
                        <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= questionList.length/pageSize - 1"
                                ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                        </button>
                      </li>&nbsp;&nbsp;
                      <li>
                        <select class="btn btn-sm" ng-model="goToPage">
                          <option ng-repeat="page in pages" value="{{page}}" ng-selected="page==goToPage">{{page}}</option>
                        </select>
                      </li>&nbsp;&nbsp;
                      <li>
                        <button type="button" class="btn btn-info btn-sm" data-ng-click="curPage = goToPage - 1" data-ng-disabled="goToPage == 0">Go To Page</button>
                      </li>&nbsp;&nbsp;
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <div class="card-header">
                    <p class="card-title">Selected Questions</p>
                  </div>
                  <div class="card-block">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">

                            <table class="table table-condensed table-striped table-hover">
                              <thead class="text-primary">
                              <tr ng-show="questionList.length">
                                <th></th>
                                <th>Sr N.</th>
                                <th>Question Description</th>
                                <th>Type</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr ng-repeat="question in test.questions">
                                <td>
                                  <button class="btn btn-sm btn-neutral" ng-click="removeQuestionSelected(question)"><<</button>
                                </td>
                                <td ng-click="getQuestion(question.id)">{{curPage*pageSize +$index+1}}</td>
                                <td ng-click="getQuestion(question.id)" btf-markdown="question.description"></td>
                                <td ng-click="getQuestion(question.id)">{{question.questionType}}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">

                  </div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-default col-lg-1" ng-click="step4()"><<</button>
              <button class="btn btn-primary col-lg-1" ng-click="step6()">>></button>
            </div>
          </div>
          <div class="col-lg-12" ng-show="showStep6">
            <!-- <div class="input-group form-group-no-border row" ng-show="version">
               <div class="col-md-3 col-form-label">Coming Test Version:</div>
               <div class="col-md-5">
                 <div class="input-group form-group-no-border">
                   <span class="input-group-addon"><i class="fa fa-list-ol" aria-hidden="true"></i></span>
                   <input type="number" class="form-control" placeholder="Enter test version" ng-model="testVersion" readonly>
                 </div>
               </div>
             </div>-->
            <div class="text-center" style="margin-bottom: 20px;margin-top: 20px">
              <div class="checkbox">
                <input id="randomid" ng-model="test.random" type="checkbox">
                <label for="randomid">
                  Randomize Questions?
                </label>
              </div>
            </div>
            <div ng-show="test.random">
              <!--<div class="row">-->
              <!--<div class="form-group-no-border input-group col-lg-3">-->
              <!--<button class="form-control" ng-click="getAllQuestions()">All Questions</button>-->
              <!--</div>-->
              <!--<div class="form-group-no-border input-group col-lg-3">-->
              <!--<select type="text" id="chooseCategory1" ng-change="filteredChildCategoryByParent(parentId)" name="chooseCategory"-->
              <!--class="form-control" ng-model="parentId" autofocus required>-->
              <!--<option value="" selected>Select Category</option>-->
              <!--<option ng-repeat="category in categories" value="{{category.id}}">-->
              <!--{{category.name}}-->
              <!--</option>-->
              <!--</select>-->
              <!--</div>-->

              <!--<div class="form-group-no-border input-group col-lg-3">-->
              <!--<select type="text" id="chooseSubCategory1" name="chooseSubCategory"-->
              <!--class="form-control" ng-model="filterSubCategory" autofocus required>-->
              <!--<option value="" selected>Select SubCategory</option>-->
              <!--<option ng-repeat="childCategory in childCategories" value="{{childCategory.id}}">-->
              <!--{{childCategory.name}}-->
              <!--</option>-->
              <!--</select>-->
              <!--</div>-->
              <!--</div>-->
              <table class="table  table-striped table-hover">
                <thead>
                <tr>
                  <th>Sr No.</th>
                  <th>Question</th>
                  <th>Question Type</th>
                  <th>Group</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="testQuestions in test.questions">
                  <td>{{$index+1}}</td>
                  <td>{{testQuestions.description}}</td>
                  <td>{{testQuestions.questionType}}</td>
                  <td>{{testQuestions.groupName}}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="text-right">
              <button class="btn btn-default col-lg-1" ng-click="step5()"><<</button>
              <button class="btn btn-primary col-lg-1" ng-disabled="showLoadingIcon" ng-click="saveTest()">Save
                <i class="fa fa-spinner fa-pulse fa-fw" ng-show="showLoadingIcon"></i>
              </button>
            </div>
          </div>
        </form>
        <div class="card-footer">
          <div class="progress-container progress-primary mt-2">
            <span class="progress-badge">Test Created</span>
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{progressLength}}"
                   aria-valuemin="0"
                   aria-valuemax="100" ng-style="{width: width}">
                <span class="progress-value">{{progressLength}}%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

<script type="text/ng-template" id="testTree.html">
  <div class="card">
    <div class="card-header">
      <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Test Tree</h6>
    </div>
    <div ui-tree>
      <ol ui-tree-nodes="" ng-model="list">
        <li ng-repeat="item in list" ui-tree-node>
          <div ui-tree-handle>
            <div class="checkbox">
              <input id="{{item.id}}" ng-model="item.selected" type="checkbox">
              <label for="{{item.id}}">
                {{item.name}}
              </label>
            </div>
          </div>
          <ol ui-tree-nodes="" ng-model="item.subParents">
            <li ng-repeat="subItem in item.subParents" ui-tree-node>
              <div ui-tree-handle>
                <div class="checkbox">
                  <input id="{{subItem.id}}" type="checkbox" ng-model="subItem.selected">
                  <label for="{{subItem.id}}">
                    {{subItem.name}}
                  </label>
                </div>
              </div>
              <ol ui-tree-nodes="" ng-model="subItem.testChild">
                <li ng-repeat="subChild in subItem.testChild" ui-tree-node>
                  <div ui-tree-handle>
                    <div class="checkbox">
                      <input id="{{subChild.id}}" type="checkbox" ng-model="subChild.selected">
                      <label for="{{subChild.id}}">
                        {{subChild.name}}
                      </label>
                    </div>
                  </div>
                  <ol ui-tree-nodes="" ng-model="subChild.testLeafs">
                    <li ng-repeat="child in subChild.testLeafs" ui-tree-node>
                      <div ui-tree-handle>
                        <div class="checkbox">
                          <input id="{{child.id}}" type="checkbox" ng-model="child.selected">
                          <label for="{{child.id}}">
                            {{child.name}}
                          </label>
                        </div>
                      </div>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-rose btn-primary btn-sm" ng-click="close()">close</button>
    </div>
  </div>
</script>