<button ng-click="showNew = !showNew; reportSection={};" class="btn btn-sm mb-2">New+</button>
<div class="card" ng-if="showNew">
    <div class="card-header">
        <h5>Create new report section here</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <div class="form-group label-floating mt-4">
                    <label class="control-label">Report Section Name :</label>
                    <div class="textarea-container">
                        <textArea class="form-control" id="news_name" placeholder="Write Report Section Name Here"
                                  ng-model="reportSection.name"></textArea>
                    </div>
                </div>
            </div>
            <div class="offset-1 col-5">
                <div class="form-group label-floating mt-4">
                    <label class="control-label">Report Section Description :</label>
                    <div class="textarea-container">
                        <textArea class="form-control" id="new_description"
                                  placeholder="Write Report Description Name Here"
                                  ng-model="reportSection.description"></textArea>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="text-right mt-5">
                    <button class="btn btn-primary btn-sm" ng-click="saveReportSection(reportSection);">
                        {{reportSection.id==undefined?'save':'update'}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">Junior Mean</th>
                        <th class="text-center">Junior Standard Deviation</th>
                        <th class="text-center">Senior Mean</th>
                        <th class="text-center">Senior Standard Deviation</th>
                        <th class="text-center">Secondary Mean</th>
                        <th class="text-center">Secondary Standard Deviation</th>
                        <th class="text-center">Sequence</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group label-floating mt-2">
                                <input class="form-control" name="juniorMeanScore" type="number"
                                       ng-model="reportSection.juniorMeanScore" placeholder="Mean Score">
                            </div>
                        </td>
                        <td>
                            <div class="form-group label-floating mt-2">
                                <input class="form-control" name="juniorStandardDeviation" type="number"
                                       ng-model="reportSection.juniorStandardDeviation"
                                       placeholder="Standard Deviation">
                            </div>
                        </td>
                        <td>
                            <div class="form-group label-floating mt-2">
                                <input class="form-control" name="seniorMeanScore" type="number"
                                       ng-model="reportSection.seniorMeanScore" placeholder="Mean Score">
                            </div>
                        </td>
                        <td>
                            <div class="form-group label-floating mt-2">
                                <input class="form-control" name="seniorStandardDeviation" type="number"
                                       ng-model="reportSection.seniorStandardDeviation"
                                       placeholder="Standard Deviation">
                            </div>
                        </td>
                        <td>
                            <div class="form-group label-floating mt-2">
                                <input class="form-control" name="secondaryMeanScore" type="number"
                                       ng-model="reportSection.secondaryMeanScore" placeholder="Mean Score">
                            </div>
                        </td>
                        <td>
                            <div class="form-group label-floating mt-2">
                                <input class="form-control" name="secondaryStandardDeviation" type="number"
                                       ng-model="reportSection.secondaryStandardDeviation"
                                       placeholder="Standard Deviation">
                            </div>
                        </td>
                        <td>
                            <div class="form-group label-floating mt-2">
                                <input class="form-control" name="sequence" type="number"
                                       ng-model="reportSection.sequence"
                                       placeholder="Sequence">
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-6">
                <div class="input-group form-group-no-border">
                    <select class="form-control" ng-model="test" ng-change="addSelectedTest(test)">
                        <option value="" selected>Select Tests</option>
                        <option ng-repeat="test in tests" value="{{test}}">
                            {{test.name}}&nbsp;v-{{test.version}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div ng-repeat="selectedTest in selectedTests track by $index">
                    <label class="btn btn-round btn-info btn-sm">
                        {{selectedTest.name}}&nbsp;v-{{selectedTest.version}}<i class="now-ui-icons ui-1_simple-remove"
                                                                                ng-click="removeSelectedTest($index)"></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="container" ng-if="showScoreRange">

            <div class="table-responsive">
                <table class="table table-bordered">
                    <caption>Add <strong>{{reportSection.name}}</strong>'s score ranges</caption>
                    <thead class="table-inverse">
                    <tr>
                        <th class="text-center">Age group</th>
                        <th class="text-center">Very High</th>
                        <th class="text-center">< High</th>
                        <th class="text-center">< Average</th>
                        <th class="text-center">< Low <</th>
                        <th class="text-center">Very Low < 0</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group label-floating mt-4" title="For Juniors or Seniors">
                                <label class="control-label">Select:{{reportSection.score.applicableFor}}</label>
                                <select class="form-control " id="applicableForSubcat" name="applicableForSubcat"
                                        ng-change="formatScoreRangesForDisplay(reportSection,reportSection.score.applicableFor);"
                                        ng-model="reportSection.score.applicableFor" autofocus>
                                    <option value="" selected>PLease select</option>
                                    <option value="junior">Juniors</option>
                                    <option value="senior">Seniors</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="VeryHigh" type="number"
                                       ng-model="reportSection.score.VeryHigh" placeholder="Very High">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="VeryHighText" type="text"
                                  ng-model="reportSection.score.VeryHighText"
                                  placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="High" type="number"
                                       ng-model="reportSection.score.High"
                                       placeholder="High">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="HighText" type="text"
                                  ng-model="reportSection.score.HighText" placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="Average" type="number"
                                       ng-model="reportSection.score.Average"
                                       placeholder="Average">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="AverageText" type="text"
                                  ng-model="reportSection.score.AverageText"
                                  placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="Low" type="number" ng-model="reportSection.score.Low"
                                       placeholder="Low">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="LowText" type="text" ng-model="reportSection.score.LowText"
                                  placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="VeryLow" type="number"
                                       ng-model="reportSection.score.VeryLow"
                                       placeholder="Very Low">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="VeryLowText" type="text"
                                  ng-model="reportSection.score.VeryLowText"
                                  placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <br>
                                <button class="btn btn-primary btn-icon"
                                        ng-click="saveReportSectionRange(reportSection)">
                                    <span ng-hide="loading"><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
                                    <span ng-show="loading"><i class="fa fa-spinner fa-spin"
                                                               aria-hidden="true"></i></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card" ng-repeat="reportSection in reportSections">

    <div class="card-body">
        <div class="row">
            <div class="col-5">
                <div class="form-group label-floating mt-4">
                    <label class="control-label">Report Section Name :</label>
                    <div class="textarea-container">
                        <textArea class="form-control" id="name" placeholder="Write Report Section Name Here"
                                  ng-model="reportSection.name"></textArea>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="form-group label-floating mt-4">
                    <label class="control-label">Report Section Description :</label>
                    <div class="textarea-container">
                        <textArea class="form-control" id="description"
                                  placeholder="Write Report Description Name Here"
                                  ng-model="reportSection.description"></textArea>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="text-center mt-5">
                    <button class="btn btn-sm btn-primary" ng-click="saveReportSection(reportSection);">Update</button>
                    <button class="btn btn-sm mt-3" ng-click="showMore=!showMore">{{showMore?'ShowLess<<':'ShowMore>>'}}
                    </button>
                </div>
            </div>
        </div>
        <div class="container" ng-if="showMore">
            <div class="row mb-2">
                <div class="col-4">
                    <div class="input-group form-group-no-border">
                        <select class="form-control" ng-model="test" ng-change="addSelectedTest(test)">
                            <option value="" selected>Select Tests</option>
                            <option ng-repeat="test in tests" value="{{test}}">
                                {{test.name}}&nbsp;v-{{test.version}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div ng-repeat="st in reportSection.selectedTests track by $index">
                        <label class="btn btn-round btn-danger btn-sm">
                            {{st.name}}&nbsp;v-{{st.version}}
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div ng-repeat="selectedTest in selectedTests track by $index">
                        <label class="btn btn-round btn-info btn-sm">
                            {{selectedTest.name}}&nbsp;v-{{selectedTest.version}}<i
                                class="now-ui-icons ui-1_simple-remove"
                                ng-click="removeSelectedTest($index)"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">Language</th>
                            <th class="text-center">Junior Mean</th>
                            <th class="text-center">Junior Standard Deviation</th>
                            <th class="text-center">Senior Mean</th>
                            <th class="text-center">Senior Standard Deviation</th>
                            <th class="text-center">Secondary Mean</th>
                            <th class="text-center">Secondary Standard Deviation</th>
                            <th class="text-center">Sequence</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label for="selectedLanguage"></label>
                                <select class="form-control " id="selectedLanguage" name="selectedLanguage"
                                        ng-change="copyLanguageNormToTempNorm(selectedLanguage);"
                                        ng-model="selectedLanguage" autofocus>
                                    <option value="" selected>Please select</option>
                                    <option value={{lang.value}} ng-repeat="lang in languages">{{lang.value}}</option>
                                </select></td>
                            <td>
                                <div class="form-group label-floating mt-2">
                                    <input class="form-control" name="juniorMeanScore" type="number"
                                           ng-model="reportSection.juniorMeanScore" placeholder="Mean Score">
                                </div>
                            </td>
                            <td>
                                <div class="form-group label-floating mt-2">
                                    <input class="form-control" name="juniorStandardDeviation" type="number"
                                           ng-model="reportSection.juniorStandardDeviation"
                                           placeholder="Standard Deviation">
                                </div>
                            </td>
                            <td>
                                <div class="form-group label-floating mt-2">
                                    <input class="form-control" name="seniorMeanScore" type="number"
                                           ng-model="reportSection.seniorMeanScore" placeholder="Mean Score">
                                </div>
                            </td>
                            <td>
                                <div class="form-group label-floating mt-2">
                                    <input class="form-control" name="seniorStandardDeviation" type="number"
                                           ng-model="reportSection.seniorStandardDeviation"
                                           placeholder="Standard Deviation">
                                </div>
                            </td>
                            <td>
                                <div class="form-group label-floating mt-2">
                                    <input class="form-control" name="secondaryMeanScore" type="number"
                                           ng-model="reportSection.secondaryMeanScore" placeholder="Mean Score">
                                </div>
                            </td>
                            <td>
                                <div class="form-group label-floating mt-2">
                                    <input class="form-control" name="secondaryStandardDeviation" type="number"
                                           ng-model="reportSection.secondaryStandardDeviation"
                                           placeholder="Standard Deviation">
                                </div>
                            </td>
                            <td>
                                <div class="form-group label-floating mt-2">
                                    <input class="form-control" name="sequence" type="number"
                                           ng-model="reportSection.sequence"
                                           placeholder="Sequence">
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <br>
                                    <button class="btn btn-primary btn-icon"
                                            ng-click="saveCategoryStandardScore(reportSection,selectedLanguage)">
                                                    <span ng-hide="loading"><i class="fa fa-floppy-o"
                                                                               aria-hidden="true"></i></span>
                                        <span ng-show="loading"><i class="fa fa-spinner fa-spin"
                                                                   aria-hidden="true"></i></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <caption>Add <strong>{{reportSection.name}}</strong>'s score ranges</caption>
                    <thead class="table-inverse">
                    <tr>
                        <th class="text-center">Age group</th>
                        <th class="text-center">Very High</th>
                        <th class="text-center">< High</th>
                        <th class="text-center">< Average</th>
                        <th class="text-center">< Low <</th>
                        <th class="text-center">Very Low < 0</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group label-floating mt-4" title="For Juniors or Seniors">
                                <label class="control-label">Select:</label>
                                <select class="form-control " id="applicableForSubcat1" name="applicableForSubcat1"
                                        ng-change="formatScoreRangesForDisplay(reportSection,reportSection.score.applicableFor);"
                                        ng-model="reportSection.score.applicableFor" autofocus>
                                    <option value="" selected>PLease select</option>
                                    <option value="junior">Juniors</option>
                                    <option value="senior">Seniors</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="VeryHigh" type="number"
                                       ng-model="reportSection.score.VeryHigh" placeholder="Very High">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="VeryHighText" type="text"
                                  ng-model="reportSection.score.VeryHighText"
                                  placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="High" type="number"
                                       ng-model="reportSection.score.High"
                                       placeholder="High">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="HighText" type="text"
                                  ng-model="reportSection.score.HighText" placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="Average" type="number"
                                       ng-model="reportSection.score.Average"
                                       placeholder="Average">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="AverageText" type="text"
                                  ng-model="reportSection.score.AverageText"
                                  placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="Low" type="number" ng-model="reportSection.score.Low"
                                       placeholder="Low">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="LowText" type="text" ng-model="reportSection.score.LowText"
                                  placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="form-group mt-2">
                                <input class="form-control" name="VeryLow" type="number"
                                       ng-model="reportSection.score.VeryLow"
                                       placeholder="Very Low">
                            </div>
                            <div class="textarea-container mt-2">
                        <textarea class="form-control" name="VeryLowText" type="text"
                                  ng-model="reportSection.score.VeryLowText"
                                  placeholder="Enter your text here"></textarea>
                            </div>
                        </td>
                        <td>
                            <div class="text-center">
                                <br>
                                <button class="btn btn-primary btn-icon"
                                        ng-click="saveReportSectionRange(reportSection)">
                                    <span ng-hide="loading"><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
                                    <span ng-show="loading"><i class="fa fa-spinner fa-spin"
                                                               aria-hidden="true"></i></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
