<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div>
                    <div class="form-group label-floating">
                        <label class="control-label">Report Name :</label>

                        <div class="textarea-container">
                        <textArea class="form-control" id="name" placeholder="name"
                                  ng-model="report.name"></textArea>
                        </div>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">Report Description :</label>

                        <div class="textarea-container">
                        <textArea class="form-control" id="description" placeholder="description"
                                  ng-model="report.description"></textArea>
                        </div>
                    </div>
                    <br>
                    <div class="input-group form-group-no-border">
                        <select class="form-control" ng-model="reportSection"
                                ng-change="addSelectedReportSection(reportSection)">
                            <option value="" selected>Select Report-Section</option>
                            <option ng-repeat="reportSection in reportSections" value="{{reportSection}}">
                                {{reportSection.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-right">
                    <button class="btn btn-primary btn-sm" ng-click="save();">
                        {{id==undefined?abc='save':abc='update'}}
                    </button>
                    <button class="btn btn-sm text-right" ng-click="report = {}">New</button>
                </div>

            </div>
        </div>

    </div>
    <div class="col-3">
        <div ng-repeat="rs in report.reportSections track by $index">
            <label class="btn btn-round btn-danger btn-sm">{{rs.name}}</label>
        </div>
    </div>
    <div class="col-3">
        <div ng-repeat="selectedReportSection in selectedReportSections track by $index">
            <label class="btn btn-round btn-info btn-sm">
                {{selectedReportSection.name}}<i class="now-ui-icons ui-1_simple-remove"
                                                 ng-click="removeSelectedReportSection($index)"></i>
            </label>
        </div>
    </div>


</div>
<button class="btn" ng-click="downloadAimreportInExcel()"> download</button>
<div class="table-responsive" ng-if="reports.length>0">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rep in reports">
            <td>{{rep.name|uppercase }}</td>
            <td>{{rep.description }}</td>
            <td>
                <button class="btn btn-sm" ng-click="getReport(rep.id);">Edit</button>
                <button class="btn btn-danger" ng-click="copyJuniorNormsToSenior(rep.id);" title="Click here to copy Junior's score ranges to Senior">Copy Junior Norms To Senior</button>
                <button class="btn btn-warning" ng-click="checkAndAllowAllUserForReport(rep.id);" title="Click here to check and allow for all user for Report">Check And Allow All User For Report</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
