<div>
  <div>
    <h6>Product Management&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-simple btn-default"><i class="fa fa-plus" aria-hidden="true" ng-click="newRecord()"></i>&nbsp;&nbsp;New</button>
      <input type="text"
             class="form-control col-md-4"
             style="float:right;"
             placeholder="Search..."
             ng-model="searchText"/>

    </h6>
  </div>
  <hr class="mt-4">
  <div>
    <span>
      <div>
        <div class="input-group form-group-no-border">
          <select class="form-control col-lg-2" ng-model="parentId" ng-change="subParentListTest(parentId)">
            <option value="" selected>Select Parent</option>
            <option ng-repeat="ptest in parentList" value="{{ptest}}">{{ptest.testName}}</option>
          </select>&nbsp;&nbsp;<a href=""><i class="fa fa-forward fa-2x mt-1" aria-hidden="true" ng-click="addTest(parentId)"></i></a>
          &nbsp;&nbsp;
          <select class="form-control col-lg-2" ng-model="subParentId" ng-change="childListTest(subParentId)">
            <option value="" selected>Select SubParent</option>
            <option ng-repeat="sptest in subParentList" value="{{sptest}}">{{sptest.testName}}</option>
          </select>&nbsp;&nbsp;<a href=""><i class="fa fa-forward fa-2x mt-1" aria-hidden="true" ng-click="addTest(subParentId)"></i></a>
          &nbsp;&nbsp;
          <select class="form-control col-lg-2" ng-model="childId" ng-change="subChildListTest(childId)">
            <option value="" selected>Select ChildTest</option>
            <option ng-repeat="ctest in childList" value="{{ctest}}">{{ctest.testName}}</option>
          </select>&nbsp;&nbsp;<a href=""><i class="fa fa-forward fa-2x mt-1" aria-hidden="true" ng-click="addTest(childId)"></i></a>
          &nbsp;&nbsp;
          <select class="form-control col-lg-2" ng-model="subChildId">
            <option value="" selected>Select SubChild</option>
            <option ng-repeat="sctest in subChildList" value="{{sctest}}">{{sctest.name}}</option>
          </select>&nbsp;&nbsp;<a href=""><i class="fa fa-forward fa-2x mt-1" aria-hidden="true" ng-click="addTest(subChildId)"></i></a>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-info btn-sm" ng-click="saveProduct(product)">Save Product</button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-info btn-sm" ng-click="treeListtest()">Test Hierarchy</button>
        </div>
      </div>
    </span>
    <span>
      <div>
        <div>
          <div class="form-group">
            <button class="btn btn-default btn-sm btn-round" ng-repeat="test in selectedTests">
              {{test.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeTest($index)"></i>
            </button>
          </div>
        </div>
      </div>
    </span>
    <hr>
    <span>
      <div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-2 col-form-label">Product Name:</div>
          <div class="col-md-4">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-product-hunt" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Enter product name" ng-model="product.name" ng-disabled="updateMode">
            </div>
          </div>
          <div class="col-md-2 col-form-label">Product Description:</div>
          <div class="col-md-4">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-paragraph" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Enter product description" ng-model="product.description">
            </div>
          </div>
        </div>
      </div>
    </span>

    <div class="card table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead class="table-inverse">

        <tr>
          <th>Product Name</th>
          <th>Product Items</th>
          <th>Description</th>
          <th>Action</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="prod in productList |orderBy:'name'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
          <td>{{prod.name}}</td>
          <td><span ng-repeat="test in prod.tests" class="label label-info">{{test}}&nbsp;&nbsp;</span></td>
          <td>{{prod.description}}</td>
          <td><i class="fa fa-wrench" aria-hidden="true" ng-click="updateProduct(prod)"></i></td>
          <td><i class="fa fa-ban" aria-hidden="true" ng-click="deleteProduct(prod.id)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <ul class="pagination" ng-show="productList.length">
      <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
      <li>
        <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
        </button>
      </li>&nbsp;
      <li>
        <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
        </button>
      </li>
    </ul>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>

<script type="text/ng-template" id="testTree.html">
  <div class="card">
    <div class="card-header">
      <h6 style="text-align: center;" class="card-subtitle mb-2 text-muted text-center">Test Tree</h6>
    </div>
    <div ui-tree>
      <ol ui-tree-nodes="" ng-model="list">
        <li ng-repeat="item in list" ui-tree-node>
          <div ui-tree-handle>
            <div class="checkbox">
              <input id="{{item.id}}" ng-model="item.selected" type="checkbox">
              <label for="{{item.id}}">
                {{item.name}}
              </label>
            </div>
          </div>
          <ol ui-tree-nodes="" ng-model="item.subParents">
            <li ng-repeat="subItem in item.subParents" ui-tree-node>
              <div ui-tree-handle>
                <div class="checkbox">
                  <input id="{{subItem.id}}" type="checkbox" ng-model="subItem.selected">
                  <label for="{{subItem.id}}">
                    {{subItem.name}}
                  </label>
                </div>
              </div>
              <ol ui-tree-nodes="" ng-model="subItem.testChild">
                <li ng-repeat="subChild in subItem.testChild" ui-tree-node>
                  <div ui-tree-handle>
                    <div class="checkbox">
                      <input id="{{subChild.id}}" type="checkbox" ng-model="subChild.selected">
                      <label for="{{subChild.id}}">
                        {{subChild.name}}
                      </label>
                    </div>
                  </div>
                  <ol ui-tree-nodes="" ng-model="subChild.testLeafs">
                    <li ng-repeat="child in subChild.testLeafs" ui-tree-node>
                      <div ui-tree-handle>
                        <div class="checkbox">
                          <input id="{{child.id}}" type="checkbox" ng-model="child.selected">
                          <label for="{{child.id}}">
                            {{child.name}}
                          </label>
                        </div>
                      </div>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-rose btn-primary btn-sm" ng-click="close()">close</button>
    </div>
  </div>
</script>