<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group label-floating">
        <label class="control-label">Select School:</label>
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedSchool" placeholder="Choose School..."/>
          <ul class="dropdown-menu" aria-labelledby={{school.name}}>
            <a class="dropdown-item" ng-click="selectAll(schools,!schools.isAllSelected());">
              <span ng-show="schools.isAllSelected()">&#10004; &nbsp;</span>
              <span ng-hide="schools.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              All</a>
            <a class="dropdown-item" ng-click="school.selected= !school.selected;" ng-repeat="school in schools | filter : {name:selectedSchool}">
              <span ng-show="school.selected">&#10004; &nbsp;</span>
              <span ng-hide="school.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{school.name}}</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group label-floating">
        <label class="control-label">Select grade:</label>
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedGrade" placeholder="Choose Grade..."/>
          <ul class="dropdown-menu" aria-labelledby={{grade.value}}>
            <a class="dropdown-item" ng-click="selectAll(grades,!grades.isAllSelected());">
              <span ng-show="grades.isAllSelected()">&#10004; &nbsp;</span>
              <span ng-hide="grades.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              All</a>
            <a class="dropdown-item" ng-click="grade.selected= !grade.selected;" ng-repeat="grade in grades | filter : {value:selectedGrade}">
              <span ng-show="grade.selected">&#10004; &nbsp;</span>
              <span ng-hide="grade.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{grade.value}}</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group label-floating">
        <label class="control-label">Select Product:</label>
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedProduct" placeholder="Choose Product..."/>
          <ul class="dropdown-menu" aria-labelledby={{product.name}}>
            <a class="dropdown-item" ng-click="selectAll(products,!products.isAllSelected());">
              <span ng-show="products.isAllSelected()">&#10004; &nbsp;</span>
              <span ng-hide="products.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              All</a>
            <a class="dropdown-item" ng-click="product.selected= !product.selected;loadTestByProduct(product.id)" ng-repeat="product in products | filter : {name:selectedProduct}">
              <span ng-show="product.selected">&#10004; &nbsp;</span>
              <span ng-hide="product.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{product.name}}</a>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="col-lg-3">
      <div class="form-group label-floating">

        <label class="control-label">Select Test:</label>
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedTest" placeholder="Choose Test..."/>
          <ul class="dropdown-menu" aria-labelledby={{test.name}}>
            <a class="dropdown-item" ng-click="selectAll(tests,!tests.isAllSelected());">
              <span ng-show="tests.isAllSelected()">&#10004; &nbsp;</span>
              <span ng-hide="tests.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              All</a>
            <a class="dropdown-item" ng-click="test.selected= !test.selected" ng-repeat="test in tests | filter : {name:selectedTest}">
              <span ng-show="test.selected">&#10004; &nbsp;</span>
              <span ng-hide="test.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{test.name}}</a>
          </ul>
        </div>
      </div>
    </div>-->
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <label> Test Taken From Date:
        <input type="date" ng-model="fromDate" />
      </label>
    </div>
    <div class="col-3">
      <label id="toDate">To Date:
        <input type="date" ng-model="toDate"/> </label>
    </div>
    <div class="col-2">
      <button class="btn btn-sm" ng-click="populateDashRequest();">Refresh</button>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-lg-4">
      <div class="card dashboard-card" style="height: 225px;">
        <div class="p-3">
          <h5>&nbsp;&nbsp;Male<label style="float:right;">FeMale</label></h5>
          <hr>
          <div class="card-block">
            <h3>{{dashboardResponse.assignedMaleCount}}<label style="float:right;">{{dashboardResponse.assignedFeMaleCount}}</label></h3>
            <hr><div class="text-center"><b>AssignedTest</b></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card dashboard-card" style="height: 225px;">
        <div class="p-3">
          <h5>&nbsp;&nbsp;Male<label style="float:right;">FeMale</label></h5>
          <hr>
          <div class="card-block">
            <h3>{{dashboardResponse.remainingMaleCount}}<label style="float:right;">{{dashboardResponse.remainingFeMaleCount}}</label></h3>
            <hr><div class="text-center"><b>AttemptedTest</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
