<div class="container">
  <div class="card">
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th>Sr. No</th>
        <th>Test's Name</th>
        <th>Test's Description</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="test in alltests">
        <td>{{$index+1}}</td>
        <td>{{test.name}}&nbsp;v-{{test.version}}</td>
        <td>{{test.description}}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-default" ng-click="getTestQuestions(test.id)">Derive Categories</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h6>Test Derived Questions</h6>
        </div>
        <div class="card-block">
          <table class="table table-striped table-hover">

            <thead>
            <tr>
              <th>Sr No.</th>
              <th>Q. Id.</th>
              <th>Question</th>
              <th>Question Type</th>
              <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="testQuestionWithCategories in testQuestionsWithCategoriesList">
              <td>{{$index+1}}</td>
              <td>{{testQuestionWithCategories.question.id}}</td>
              <td>{{testQuestionWithCategories.question.description}}</td>
              <td>{{testQuestionWithCategories.question.questionType}}</td>
              <td><span ng-repeat="category in testQuestionWithCategories.category" class="badge badge-default">{{category.name}}&nbsp;&nbsp;&nbsp;</span></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <p>{{testQuestionsWithCategories.length}} Questions assigned</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title">Test Questions
            <button class="btn btn-info btn-sm" style="float:right;" ng-click="openAssignCategoryModal()">Assign Category</button>
          </h6>
        </div>
        <div class="card-block">
          <table class="table table-striped table-hover">

            <thead>
            <tr>
              <th>Sr No.</th>
              <th>Select</th>
              <th>Question</th>
              <th>Question Type</th>
              <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="remainingQuestion in remainingQuestionsForAssigningCategory">
              <td>{{$index+1}}</td>
              <td>
                <div class="checkbox">
                  <input id="{{remainingQuestion.question.id}}" ng-model="remainingQuestion.question.selected" ng-change="isQuestionSelected(remainingQuestion.question,remainingQuestion.precategory,remainingQuestion.presubcategory)"
                         type="checkbox">
                  <label for="{{remainingQuestion.question.id}}">
                    <span>&nbsp;</span>
                  </label>
                </div>
              </td>

              <td>{{remainingQuestion.question.description}}</td>
              <td>{{remainingQuestion.question.questionType}}</td>
              <td><span ng-repeat="category in remainingQuestion.category" class="badge badge-default">{{category.name}}&nbsp;&nbsp;&nbsp;</span></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <p>{{remainingQuestionsForAssigningCategory.length}} total questions
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>