<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="input-group form-group-no-border">
        <h6 class="card-title">Expert Analysis and Developement Plan</h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select class=" form-control col-md-4" ng-model="categoryId" data-ng-click="head()" ng-change="loadDataByCategory(categoryId)" required autofocus>
          <option value="" selected>Select Category</option>
          <option data-ng-repeat="pc in category" value="{{pc.id}} ">
            {{pc.name|uppercase}}
          </option>
        </select>
      </div>
    </div>
    <div class="card-block" ng-show="tabhead">
      <div class="row">
        <div class="input-group form-group-no-border row">
          <div class="col-md-5 offset-1">

          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover">
              <thead class="text-primary ">
              <tr>
                <th>#</th>
                <th style="width:35%">Enter Marks</th>
                <th style="width:25%">Expert Analysis</th>
                <th style="width:25%">Developement Plan</th>
                <th>
                  <i class="fa fa-plus-circle" aria-hidden="true" ng-click="resetRow()"></i>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-show="addNew">
                <td>#</td>
                <td><input class=" btn-simple btn-sm   col-lg-2 nested " type="number" placeholder="Min" min="0" ng-model="feedbackObject.marksMin">&nbsp;&nbsp;<input
                    class=" btn-simple btn-sm col-lg-2 " type="number" min="0" placeholder="Max" ng-model="feedbackObject.marksMax"></td>
                <td><textarea placeholder="Description" ng-model="feedbackObject.expertAnaylsis" class="  form-control" maxlength="1500"></textarea></td>
                <td><textarea placeholder="Description" ng-model="feedbackObject.developementPlan" class="form-control"></textarea></td>
                <td class="nested">
                  <i class=" fa fa-times" aria-hidden="true" ng-click="addNew=false"></i>
                </td>
              </tr>
              <tr ng-repeat="record in listOfdata">
                <td>{{$index+1}}</td>
                <td>[{{record.marksMin}}-{{record.marksMax}}]</td>
                <td>{{record.expertAnaylsis}}</td>
                <td>{{record.developementPlan}}</td>
                <td class="nested">
                  <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="updateRecord(record)"></i> &nbsp;<i class="fa fa-trash-o" aria-hidden="true"
                                                                                                                    ng-click="removeRecord(record)"></i>
                </td>
              </tr>


              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-right" ng-show="tabhead">
      <button class="btn btn-rose btn-primary col-lg-1 btn-sm" ng-show="addNew" ng-click="save(feedbackObject)">Save</button>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
