<div class="container" ng-hide="show404page">
  <h2 class="already-assessment">You have already taken these assessments.</h2>
  <!--<div class="text-center">-->
    <!--<button ng-if="user.enableAimReport" ng-disabled="userReportStatus.status!='Generated'" class="btn btn-primary" ng-click="downloadIndividualReport(user.id, false)"><i class="fa fa-2x fa-download"></i>{{userReportStatus.status=='Generated'?'Download':userReportStatus.status}} Aim Report</button>-->
  <!--</div>-->
  <div class="container mt-2">
    <div class="card">
      <table class="table table-hover ">
        <thead class="table-inverse ">
        <tr>
          <th class="text-center">S. No.</th>
          <th class="text-center">Test's Name</th>
          <th class="text-center">Report</th>

        </tr>
        </thead>
        <tbody>
        <!--<tr ng-repeat="userAnswerResponse in result.userAnswerResponses" ng-click="getQuestion(userAnswerResponse.questionId)">-->
        <tr ng-repeat="test in tests">
          <td class="text-center">{{$index+1}}</td>
          <td class="text-center"><strong>{{test.name}}</strong></td>
          <td class="text-center">
            <span>
              <button ng-show="test.reportType=='TalentReport'" ui-sref="app.talentReport({id: test.id})"  class="btn btn-info btn-sm mt-1">View Report</button>&nbsp; &nbsp;
              <!--<button ui-sref="app.individualReport({id: test.id})" class="btn btn-primary btn-sm">GetReport 0.0</button>-->
              <!--<a href="" ng-click="downloadIndividualReport(test.id)"><i class="fa fa-2x fa-download"></i></a>-->
           </span>
            <!--<span><button ui-sref="app.individualReportV1({id: test.id})" class="btn btn-info btn-sm mt-1">AimReport</button>&nbsp; &nbsp;-->
            <!--<a href="" ng-click="downloadIndividualReport(user.id)"><i class="fa fa-2x fa-download"></i></a>-->
            <!--</span>-->
            <span ng-show="test.reportType=='StudentReport'">
              <button ui-sref="app.userResult({t: test.id, u:user.id})" class="btn btn-primary btn-sm mt-1">view report</button>
            </span>
          </td>
          <!--<td class="text-center"><button ui-sref="app.userResult({t: test.id, u:user.id})" class="btn btn-primary btn-sm">view report</button></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container" ng-show="show404page">
  <div class="content-center brand">
    <img src="/assets/img/Get-Started.jpg">
    <!--<h2 class="text-center">We're glad You're here</h2>-->
    <!--<h5 class="description text-center">Start with taking test from <a ui-sref="app.availabletests">here.</a></h5>-->
    <h2 class="text-center p-4 mt-lg-4">To start taking assessments click <a ui-sref="app.availabletests"><strong>here</strong>.</a></h2>
  </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

