<div class="container">
  <div class="row">
    <div class="offset-2 col-lg-4 col-md-4 col-sm-4 ">
      <div class="card">
        <div class="card-header">
          <h6 class="card-subtitle mb-2 text-muted text-center">Import Test</h6>
        </div>
        <div class="card-block text-center">
          <input class="mt-1" width="100%" id="testSheet" type="file" accept="xlsx/*" onchange="angular.element(this).scope().setFiles(this)"/>
          <div class="input-group form-group-no-border mt-1">
            <span class="input-group-addon"><i class="fa fa-cube" aria-hidden="true"></i></span>
            <select class="form-control"
                    id="testType" name="testType" ng-model="testType" required autofocus>
              <option value="" selected>Select Test Type</option>
              <option value="Mcq Test">
                Mcq Test
              </option>
              <option value="Group Question Test">
                Group Question Test
              </option>
            </select>
          </div>
          <div class="checkbox mt-1">
            <input id="dryrun" ng-model="dryrun" type="checkbox">
            <label for="dryrun">
              <span>Dryrun</span>
            </label>
            <button class="btn btn-default btn-round btn-sm btn-block mt-1" style="display: block" ng-click="upload()">upload</button>
          </div>
        </div>
      </div>
    </div>
    <div class="offset-2 col-lg-4 col-md-4 col-sm-4 ">
      <div class="card">
        <div class="card-header">
          <h6 class="card-subtitle mb-2 text-muted text-center">Import TestQuestion For Recovery</h6>
        </div>
        <div class="card-block text-center">
          <div class="checkbox mt-1">
            <input ng-model="dryrun" type="checkbox">
            <label for="dryrun">
              <span>Dryrun</span>
            </label>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <input class="mt-1" width="100%"  type="file" accept="xlsx/*" onchange="angular.element(this).scope().setFiles(this)"/>

            </div>
            <div class="col-6">
              <div class="text-right">
                <button class="btn btn-default btn-round" ng-click="uploadTestQuestions()">upload</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-show="showDisplayResponse">
  <div class="card">
    <div class="card-block">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="result.value=='OK' ? 'table-success' : 'table-danger'" ng-repeat="result in res">
          <td>{{$index+1}}</td>
          <td>{{result.name}}</td>
          <td>{{result.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>