<div class="row">
  <div class="card col-lg-12">

    <div class="card-header">
      <h6 class="card-title">Interests</h6>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-4 text-center ">
          <div class="form-group label-floating">
            <label class="control-label">*Name</label>
            <input class="form-control" name="name" type="text" required ng-model="workingInterest.name">
            <span class="material-input"> </span>
          </div>
        </div>

        <div class="col-md-4 text-center ">
          <div class="form-group label-floating">
            <label class="control-label">Image</label>
            <input class="form-control" name="image" type="text" required ng-model="workingInterest.image">
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div class="form-group label-floating">
            <label class="control-label">Parent Interest</label>
            <select class="form-control " id="intre" name="designation" ng-model="workingInterest.parent" required autofocus>
              <option value="" selected>Select Parent Interest</option>
              <option data-ng-repeat="intr in interests" value="{{intr.name}}">
                {{intr.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button class="btn btn-rose btn-primary" ng-click="saveInterest(workingInterest)">Save</button>
      <button class="btn btn-default" ng-click="newInterest()"> Create New</button>
    </div>
  </div>

  <div class="card col-lg-12">
    <div class="card-header">
      <h6 class="card-title">Interest</h6>

    </div>
    <div class="card-block">
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead class="text-primary">
          <tr>
            <th><input name="all" type="checkbox" ng-click="selectAllInterests(all)" ng-model="all"/></th>
            <th>Name</th>
            <th>Image</th>
            <th>Parent Interest</th>
            <th><i class="fa fa-trash-o fa-lg" aria-hidden="true" ng-click="remove()"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="intr in interests" ng-click="updateInterest(intr)">
            <td><input type="checkbox" ng-model="intr.checked" ng-click="check()"/></td>
            <td>{{intr.name|uppercase }}</td>
            <td>{{intr.image }}</td>
            <td>{{intr.parent}}&nbsp;&nbsp;&nbsp;</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>


