<style>
  .table-hover > tbody > tr > td:hover, .table-hover > tbody > tr > td:hover {
    background-color: #f5f5f5 !important;

  }

  .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: inherit;
  }

  .pointer {
    cursor: pointer;
  }

  .table-inverse2 td, .table-inverse2 th, .table-inverse2 thead th {
    border-color: #202c54;
  }

  .table-inverse2 {
    background-color: #202c54;
  }
</style>

<div class="row">
  <div class="col-lg-2">
    <label>From:
      <input type="date" ng-model="fromDate" ng-change="getResult();"/>
    </label>
    <button class="btn btn-sm btn-success" style="float: right;" ng-click="shiftFromDate('lastWeek');"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; Last week</button>&nbsp;&nbsp;&nbsp;

  </div>
  <div class="col-lg-2">
    <label id="toDate">To:
      <input type="date" ng-model="toDate" ng-change="getResult();"/> </label>
    <button class="btn btn-sm btn-success" style="float: left" ng-click="shiftFromDate('lastMonth');"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; Last Month</button>&nbsp;&nbsp;&nbsp;

  </div>
  <div class="col-lg-4">
    <div class="table-responsive" style="margin-top:14px; float: right">
      <table>
        <thead class="table-inverse2">
        <tr>
          <th>
            <div class="dropdown">
              <a href="" class="btn btn-neutral btn-success dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
                Select grade :&nbsp;&nbsp;<strong>{{currentGrade}}
              </strong> </a>
              <ul class="dropdown-menu" aria-labelledby={{currentGrade}}>
                <a class="dropdown-item" ng-click="selectItem(grade,'grade');"
                   ng-repeat="grade in grades">{{grade}}
                </a>
              </ul>
            </div>
          </th>
          <th>
            <div class="dropdown">
              <a href="" class="btn btn-neutral btn-success dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink2">
                Select section :&nbsp;&nbsp;<strong>{{currentSection}}
              </strong> </a>
              <ul class="dropdown-menu" aria-labelledby={{currentSection}}>
                <a class="dropdown-item" ng-click="selectItem(section,'section');"
                   ng-repeat="section in sections">{{section}}
                </a>
              </ul>
            </div>
          </th>
          <!--<th>-->
          <!--<div class="dropdown">-->
          <!--<a href="" class="btn btn-neutral btn-success dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink3">-->
          <!--Select subject :&nbsp;&nbsp;<strong>{{  currentSubject.slice(0, currentSubject.indexOf(" "))}}</strong>-->
          <!--</a>-->
          <!--<ul class="dropdown-menu" aria-labelledby={{currentSubject}}>-->
          <!--<a class="dropdown-item" ng-click="selectItem(subject,'subject'); "-->
          <!--ng-repeat="subject in subjects">{{  subject.slice(0, subject.indexOf(" "))}}-->
          <!--</a>-->
          <!--</ul>-->
          <!--</div>-->
          <!--</th>-->
          <!--<th>-->
          <!--<a href="" class="btn btn-default" ng-click="getResult();">-->
          <!--<strong>Get Result</strong>-->
          <!--</a>-->
          <!--</th>-->

          <!--<th>-->
          <!--<a href="" class="btn btn-warning btn-neutral btn-success" ng-click="reset()">Reset</a>-->
          <!--</th>-->
        </tr>
        </thead>
      </table>
    </div>
    <hr>
    <div class="text-center" style="margin-top: 46px;">
      <h6 ng-if="studentCountByGrade[currentGrade][currentSection]>0">Total students : {{studentCountByGrade[currentGrade][currentSection]}}</h6>

    </div>
  </div>
  <div class="col-lg-2">
    <div ng-if="currentGrade && currentSection" class="text-right" style="margin-top: 14px;">
      <a class="btn btn-success" title="click here to view individual student performance"
         ui-sref="app.leapDashboardStudentsPerformance({grade: currentGrade, section: currentSection})">View students performance</a>
    </div>
  </div>


</div>


<br>
<div class="">
  <br>

  <div class="row">
    <div class="col-6">
      <div ng-repeat="(key, value) in resultByGrades" ng-if="value.length>0">
        <div ng-repeat="subject in value">
          <div class="text-left" style="height: 250px;">
            <div class="row">
              <div class="col-5">
                <h5>{{ subject.name.slice(0, subject.name.indexOf(" "))}}</h5>
                <hr>
                <p>Syllabus Completed : {{subject.syllabusCompleted}}%</p>
              </div>
              <div class="col-7">
                <canvas id="pie" height="100" width="200" class="chart chart-pie"
                        chart-data="subject.data" chart-labels="subject.labels" chart-colors="colors" chart-options="pieOptions">
                </canvas>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h5 style="float: right"><strong>Chapter-wise Mean Scores</strong></h5>
      <div class="" ng-repeat="(key, value) in resultByChapter" ng-if="value.length>0">
        <div class="" ng-repeat="subject in value">
          <div class="text-right" style="height: 250px;">
            <!--<p><strong>{{subject.name}}</strong></p>-->
            <!--<hr style="width: 50px;">-->

            <canvas height="125" width="300" class="chart chart-bar"
                    chart-data="subject.data" chart-labels="subject.labels" chart-options="barOptions" chart-colors="colors2">
            </canvas>
            <!--<hr style="width: 50px;">-->
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

