<div class="row">
  <div class="col-lg-2">
    <label>From:
      <input type="date" ng-model="fromDate" ng-change="getResultForGrades();"/>
    </label>
    <button style="float: right" class="btn btn-sm btn-success" ng-click="shiftFromDate('lastWeek');"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; Last Week</button>
  </div>
  <div class="col-lg-2">
    <label id="toDate">To:
      <input type="date" ng-model="toDate" ng-change="getResultForGrades();"/> </label>
    <button style="float: left" class="btn btn-sm btn-success" ng-click="shiftFromDate('lastMonth');"><i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; Last Month</button>
  </div>
  <!--<div class="col-lg-8">-->
    <!--<div class="text-left">-->
  <!--<span>-->

  <!--<button style="    margin-top: 18px;" class="btn btn-warning btn-simple" ng-click="reset()">Reset</button>&nbsp;&nbsp;&nbsp;-->
  <!--<button style="    margin-top: 18px;" class="btn" ng-click="getResultForGrades()">get result</button>&nbsp;&nbsp;&nbsp;</span>-->
    <!--</div>-->
  <!--</div>-->
</div>
<br>
<div class="" ng-repeat="(key, value) in resultByGrades" ng-if="value.length>0">
  <br>
  <div class="card">
    <div class="card-body">
      <div class="text-center" ng-init="$index_key=true">
        <button class="btn btn-success btn-block" ng-click="$index_key= !$index_key">Grade : {{key}} (Overall) <i class="fa fa-minus" aria-hidden="true" style="float: right"
                                                                                                                  ng-if="$index_key"></i><i class="fa fa-plus" aria-hidden="true"
                                                                                                                                            style="float: right"
                                                                                                                                            ng-if="!$index_key"></i></button>
      </div>
      <div class="text-right mt-2">
        <h6>Total students: {{studentCountByGrade[key]['all']}}</h6>
      </div>
      <div class="row justify-content-center align-items-center" ng-if="$index_key">
        <div class="col-lg-3" ng-repeat="subject in value">
          <div class="text-center">
            <p ng-init="subjectName = subject.name"><strong>{{subject.name.slice(0, subject.name.indexOf(" "))}}</strong></p>

            <canvas id="pie" class="chart chart-pie"
                    chart-data="subject.data" chart-labels="subject.labels" chart-options="pieOptions" chart-colors="colors">
            </canvas>
            <button class="btn btn-sm btn-success" ng-click="getResultForSections(key, subject.id)">view sections performance</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

