<style>
  .table-hover > tbody > tr > td:hover, .table-hover > tbody > tr > td:hover {
    background-color: #f5f5f5 !important;

  }

  .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: inherit;
  }

  .pointer {
    cursor: pointer;
  }

  .table-inverse2 td, .table-inverse2 th, .table-inverse2 thead th {
    border-color: #202c54;
  }

  .table-inverse2 {
    background-color: #202c54;
  }
</style>


<div class="table-responsive">
  <table>
    <thead class="table-inverse2">
    <tr>
      <th>
        <div class="text-center">
          <div class="dropdown">
            <a href="" class="btn btn-neutral btn-success dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
              Select grade :&nbsp;&nbsp;<strong>{{currentGrade}}
            </strong> </a>
            <ul class="dropdown-menu" aria-labelledby={{currentGrade}}>
              <a class="dropdown-item" ng-click="selectItem(grade,'grade');"
                 ng-repeat="grade in grades">{{grade}}
              </a>
            </ul>
          </div>
        </div>
      </th>
      <th>
        <div class="text-center">
          <div class="dropdown">
            <a href="" class="btn btn-neutral btn-success dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink2">
              Select section :&nbsp;&nbsp;<strong>{{currentSection}}
            </strong> </a>
            <ul class="dropdown-menu" aria-labelledby={{currentSection}}>
              <a class="dropdown-item" ng-click="selectItem(section,'section');"
                 ng-repeat="section in sections">{{section}}
              </a>
            </ul>
          </div>
        </div>
      </th>
    </tr>
    </thead>
  </table>
</div>

<br>
<button style="cursor: default;" class="btn btn-success btn-lg btn-block">Students
  Performance&nbsp;&nbsp;|&nbsp; &nbsp; Grade : <strong>{{currentGrade}}&nbsp;{{currentSection}}</strong>&nbsp;&nbsp;| &nbsp;&nbsp;Total number of students :&nbsp;<strong>{{results.length}}</strong>
</button>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="table-inverse">
    <tr>
      <th>
        <div class="text-center">
          Student Name
        </div>
      </th>
      <th ng-repeat="(key, value) in subjects "><div class="text-center">
        {{key.slice(0, key.indexOf(" "))}}

          <hr>
          Syllabus Covered {{value}}%
        </div>
      </th>
      <th>
        <div class="text-center"> Overall</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in results | orderBy:'-overallScore'">
      <td>
        <div class="text-center">
          {{result.name}}
        </div>
      </td>
      <td ng-repeat="subject in result.subjects "
          ng-click="subject.percentageScore==0?void():getStudentPerformanceBySubject(currentGrade,currentSection,subject.constructId,subject.userId,subject.type,subject.syllabusCompleted);"
          ng-class="subject.percentageScore==0?'':'pointer'">
        <div class="text-center">
          {{subject.percentageScore==0?'-':subject.percentageScore.toFixed(2)}}<span ng-if="subject.percentageScore!=0">%</span>
        </div>
      </td>
      <td>
        <div class="text-center">{{result.overallScore.toFixed(2);}}%</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>