<style>
  .table-hover > tbody > tr > td:hover, .table-hover > tbody > tr > td:hover {
    background-color: #f5f5f5 !important;

  }

  .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: inherit;
  }

  .pointer {
    cursor: pointer;
  }

  .table-inverse2 td, .table-inverse2 th, .table-inverse2 thead th {
    border-color: #202c54;
  }

  .table-inverse2 {
    background-color: #202c54;
  }
</style>


<div class="table-responsive">
  <table>
    <thead class="table-inverse2">
    <tr>
      <th>
        <div class="text-center">
          <div class="dropdown">
            <a href="" class="btn btn-neutral dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
              Select grade :&nbsp;&nbsp;<strong>{{currentGrade}}
            </strong> </a>
            <ul class="dropdown-menu" aria-labelledby={{currentGrade}}>
              <a class="dropdown-item" ng-click="selectItem(grade,'grade');"
                 ng-repeat="grade in grades">{{grade}}
              </a>
            </ul>
          </div>
        </div>
      </th>
      <th>
        <div class="text-center">
          <div class="dropdown">
            <a href="" class="btn btn-neutral dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink2">
              Select section :&nbsp;&nbsp;<strong>{{currentSection}}
            </strong> </a>
            <ul class="dropdown-menu" aria-labelledby={{currentSection}}>
              <a class="dropdown-item" ng-click="selectItem(section,'section');"
                 ng-repeat="section in sections">{{section}}
              </a>
            </ul>
          </div>
        </div>
      </th>
      <th>
        <div class="text-center">
          <div class="dropdown">
            <a href="" class="btn btn-neutral dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink3">
              Select subject :&nbsp;&nbsp;<strong>{{ currentSubject.name.slice(0, currentSubject.name.indexOf(" "))}}</strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby={{currentSubject}}>
              <a class="dropdown-item" ng-click="selectItem(subject,'subject');"
                 ng-repeat="subject in subjects">{{ subject.name.slice(0, subject.name.indexOf(" "))}}
              </a>
            </ul>
          </div>
        </div>
      </th>
      <th>
        <div class="text-center">
          <a href="" class="btn btn-default" ng-click="getResult();">
            <strong>Get Result</strong>
          </a>
        </div>
      </th>
    </tr>
    </thead>
  </table>
</div>
<br>
<div class="table-responsive card" ng-if="headers.length>0">
  <table class="table table-hover table-bordered">
    <thead class="table-inverse">
    <tr>
      <th>
        <div class="text-center">
          Student Name
        </div>
      </th>
      <th ng-repeat="cell in headers track by $index">
        <div class="text-center">{{cell}}</div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rows track by $index">
      <td ng-repeat="cell in row track by $index" ng-class="cell == 'Not Taken'?'bg-warning':'pointer'" ng-click="getStudentTestReport($parent.$index, $index-1,cell);">
        <div class="text-center">
          {{cell}}
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>