<style>
  .grow {
    transition: all .2s ease-in-out;
    cursor: pointer;
  }

  .grow:hover {
    transform: scale(1.1);

  }
</style>
<div class="container borderRadius" style="background-color: #00bb7e">
  <div class="p-2">

    <h4 class="text-center">
      <input type="text" class="form-control col-md-5 card text-center" placeholder="Type Here To Search Logged In Users..." ng-model="searchText"></h4>
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="container">
            <div class="card grow" ng-repeat="user in users | filter:searchText" title="Click here to forcly logout this user" ng-click="forceLogout(user.name)">
              <div class="row p-2">
                <div class="col-1">
                  <img class="rounded-circle" src="/assets/img/default-profile-picture.png" style="width: 25px; height:25px; vertical-align: middle;">
                </div>
                <div class="col-11">
                  <strong>{{user.name}}</strong>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
