<!--<nav class="navbar navbar-toggleable-md bg-white" style="margin-bottom: 0px; height: 95px;" ng-if="orgName=='assess' || orgName=='localhost'">-->
<!--<div class="container">-->
<!--<a class="navbar-brand" href="https://assess.aim2excel.in">-->
<!--&lt;!&ndash;<img ng-src="https://s3.amazonaws.com/intscale-assets/{{internalLogo}}">&ndash;&gt;-->
<!--<img src="/assets/img/abc.png">-->
<!--</a>-->
<!--<div class="collapse  navbar-collapse justify-content-end" id="navigation">-->
<!--<div class="navbar-nav">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->
<style>
  html,
  body {
    min-height: 100%;
    height: 100%;
    background: #1b2440;
  }

  .form-control::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .form-control:-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .form-control::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .form-control:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .forgotPassword::-moz-placeholder {
    color: #202c54;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .forgotPassword:-moz-placeholder {
    color: #202c54;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .forgotPassword::-webkit-input-placeholder {
    color: #202c54;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .forgotPassword:-ms-input-placeholder {
    color: #202c54;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .cursorPointer {
    cursor: pointer;
  }

  .login-bg {

    /*width: 100%;*/
    height: auto;

    /*background-image: url('/assets/img/background-login2.png');*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*background: url('/assets/img/background-login2.png') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #202c54;
  }

  .footer1 {
    < !-- position: fixed;
    -->left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
  }

  .card {
    transition: 0.3s;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  }

  /*.card:hover {*/
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);*/
  /*width: 101%;*/
  /*}*/

  .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    /*width: 101%;*/
  }

  .page-header::before {
    display: none;
  }

  .login-main {
    padding-top: 50px;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 22;
  }

  /* .login-page:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } */

  .login-page .card-login {
    background: #2e3858;
  }
</style>
<div class="login-page">
  <div class="login-main">
    <!--<div class="page-header-image" ></div>-->
    <!-- <div class="page-header-image login-bg" style=""></div> -->


    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12 mt-2 login-video">
          <div class="text-left">
            <video class="video-container" width="100%" height="auto" loop muted controls controlsList="nodownload"
              poster="/assets/img/A2E_Logo_White BG_POSTER.jpg" src="/assets/media/A2E_8Aug_18.mp4"></video>
          </div>

        </div>

        <div class="col-lg-5 col-md-6 col-sm-12 mt-2 input_center">

          <div class="login-section">
            <div class="text-center">
              <div class="card card-login card-plain borderRadius">
                <div class="p-4">
                  <div class="header header-primary text-center mb-6"
                    ng-if="orgName=='assess' || orgName =='localhost'">
                    <a href="https://assess.aim2excel.in" ng-if="orgName=='assess' || orgName =='localhost'">
                      <!--<img class="mb-4" ng-src="https://s3.amazonaws.com/intscale-assets/{{logoname}}" alt="">-->
                      <img src="/assets/img/a2e.png">
                    </a>
                  </div>
                  <br>
                  <div class="container" ng-hide="showLoginCard">
                    <div class="row">
                      <div class="col-6">
                        <div>
                          <span class="text-left" style="color: #00a26d; display: block"><strong
                              translate="LOGIN_PAGE.I already have an account"></strong></span>
                          <!--<span class="text-left" style="color: #00a26d; display: block"><strong></strong></span>-->

                          <button class="btn btn-default mt-2" style="float: left;"
                            ng-click="showLoginCard = true;">{{'LOGIN_PAGE.Login'| translate}} &nbsp;<i
                              class="fa fa-play" aria-hidden="true"></i>
                          </button>

                        </div>
                      </div>
                      <div class="col-6">
                        <div>
                          <span class="text-left" style="color: #e1a200; display: block"><strong
                              translate="LOGIN_PAGE.I want a new account"></strong></span>
                          <!--<span class="text-left" style="color: #e1a200; display: block"><strong>account</strong></span>-->
                          <button class="btn btn-warning mt-2" style="float: left;"
                            ng-click="buyTest()">{{'LOGIN_PAGE.Register'| translate}} &nbsp;<i class="fa fa-play"
                              aria-hidden="true"></i></button>
                        </div>
                      </div>
                    </div>
                    <hr color="white">
                    <button g-login ng-disabled="g" ng-click=" g=!g"
                      class="btn btn-neutral btn-round btn-google btn-icon btn-icon-mini">
                      <i class="fa fa-google-plus"></i>
                    </button>&nbsp;&nbsp;
                    <button fb-login ng-disabled="f" ng-click="f=!f"
                      class="btn btn-neutral btn-facebook btn-round btn-icon btn-icon-mini">
                      <i class="fa fa-facebook-square"></i>
                    </button>
                  </div>

                  <div ng-show="showLoginCard" style="background-color: rgba(249, 99, 50, 0);">
                    <div class="content">
                      <div class="input-group form-group-no-border">
                        <span class="input-group-addon">
                          <i class="fa fa-id-badge" aria-hidden="true"></i>
                        </span>
                        <input type="text" style="color:#ffffff" class="form-control" placeholder="Username/Email"
                          ng-model="username" autofocus>
                      </div>
                      <div class="input-group form-group-no-border">
                        <span class="input-group-addon">
                          <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input type="password" placeholder="Password..." ng-model="password" style="color:#ffffff"
                          class="form-control" ng-keypress="$event.keyCode == 13 ? login() : return" />
                      </div>

                      <div class="row">
                        <div class="col-6">
                          <div style="margin-top:8px;">
                            <p class="text-muted">
                              <a href="" style="color:#fab400 ;"
                                ng-click="openDisplayForgotPassword()">{{'LOGIN_PAGE.Forgot Password?' | translate}}</a>
                              <!--<a class="link">Change Password?</a>-->
                            </p>
                          </div>
                        </div>
                        <div class="col-6">
                          <button class="btn btn-primary btn-round btn-block" type="submit" ng-click="login()"
                            ng-disabled="dataLoading">{{'LOGIN_PAGE.Login' | translate}}
                            <i class="fa fa-spinner fa-spin" ng-show="dataLoading"></i>
                            <span class="sr-only">Loading...</span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div ng-if="orgName=='assess'||orgName=='localhost'||orgName=='dev' ||orgName=='192'"
                      class="footer text-center">
                      <h5 style="color: white"> {{'LOGIN_PAGE.OR' | translate}}</h5>
                      <h6 style="color: white" class="mt-2">
                        {{'LOGIN_PAGE.CONTINUE WITH' | translate}}&nbsp;&nbsp;&nbsp;
                        <button g-login ng-disabled="g" ng-click=" g=!g"
                          class="btn btn-neutral btn-round btn-google btn-icon btn-icon-mini">
                          <i class="fa fa-google-plus"></i>
                        </button>&nbsp;&nbsp;
                        <button fb-login ng-disabled="f" ng-click="f=!f"
                          class="btn btn-neutral btn-facebook btn-round btn-icon btn-icon-mini">
                          <i class="fa fa-facebook-square"></i>
                        </button>
                      </h6>
                      <hr style="background-color: #ffffff;">
                      <p style="font-size:16px; color: white">
                        {{"LOGIN_PAGE.Don't have an account" | translate}}?
                        <a style="color:#fab400;" ui-sref="register">
                          <strong>{{'LOGIN_PAGE.Create here' | translate}}</strong>
                        </a>
                      </p>
                    </div>
                    <!--<div class="pull-right">-->
                    <!--<h6>-->
                    <!--<a ng-click="displayForgotPassword()">Change Password</a>-->
                    <!--&lt;!&ndash;<a class="link">Change Password?</a>&ndash;&gt;-->
                    <!--</h6>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>