<style>
  .coupon_code_input label {
    display: block;
    margin: 0;
    color: #757575;
    font-size: 13px;
    font-weight: 700;
  }

  .coupon_code_input input {
    width: 100%;
    border: none;
    border: 1px solid #ddd;
    transition: 0.6s ease-in-out;
    padding: 0px 10px;
    margin-top: 5px;
  }

  .coupon_code_input {
    width: 100%;
    display: inline-block;
  }

  .coupon_code_input input:focus {

    border: none;
    outline: none;
    border: 1px solid blue;
    transition: 0.7s;
  }

  .coupon_code_input_main .coupon_code_input label {
    display: block;
    margin: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .coupon_code_main .footer-button button {
    font-size: 18px;
    padding: 5px 0;
    width: 100px;
    margin-right: 10px;
  }

  .footer-button {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
</style>
<div class="container">
  <h2>Manage Coupons
    <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#myModal" ng-click="coupon={}">New</button>
  </h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Sno</th>
              <th scope="col">Code</th>
              <th scope="col">Discount(in Percent)</th>
              <th scope="col">Valid From</th>
              <th scope="col">Valid Thru</th>
              <th scope="col">Total Count</th>
              <th scope="col">Consumed</th>
              <th scope="col">Active</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="promoCode in promoCodes;">
              <th scope="row">{{$index + 1}}</th>
              <td>{{promoCode.name}}</td>
              <td>{{promoCode.discount}}</td>
              <td>{{promoCode.couponStartDate}}</td>
              <td>{{promoCode.couponEndDate}}</td>
              <td>{{promoCode.totalCount}}</td>
              <td>{{promoCode.consumedCount}}</td>
              <td>
                <input type="checkbox" ng-model="promoCode.isValid" ng-change="validate(promoCode)" />
              </td>
              <td>
                <a href data-toggle="modal" data-target="#myModal" ng-click="edit(promoCode)">
                  <span class="fa fa-edit"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Promo Code</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="coupon_code_input_main">
          <div class="coupon_code_input">
            <label>Coupon code</label>
            <input ng-disabled="coupon.id > 0" type="text" name="" id="" ng-model="coupon.name">
          </div>
          <div class="coupon_code_input">
            <label>Discount</label>
            <input ng-disabled="coupon.id > 0" type="number" min="0" max="100" name="" id="" ng-model="coupon.discount">
          </div>
          <div class="coupon_code_input">
            <label> Valid From</label>
            <input type="datetime-local" name="" id="" ng-model="coupon.couponStartDate">
          </div>
          <div class="coupon_code_input">
            <label> Valid Thru</label>
            <input type="datetime-local" name="" id="" ng-model="coupon.couponEndDate">
          </div>
          <div class="coupon_code_input">
            <label> Quantity of Code</label>
            <input type="number" name="" id="" ng-model="coupon.totalCount">
          </div>

          <div class="coupon_code_input">
            <label> Products</label>
            <div class="checkbox" ng-repeat="productName in productNames;">
              <input id="{{productName}}" type="checkbox" name="selectedProducts[]" value="{{productName}}" ng-checked="coupon.productName.indexOf(productName) > -1"
                ng-click="toggleSelection(productName)">
              <label for="{{productName}}">
                {{productName}}
              </label>
            </div>
          </div>
        </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="footer-button">
          <button type="button" class="btn " ng-click="createPromoCode()">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</div>