<div class="table-responsive">
  <table>
    <thead class="table-inverse2">
      <tr class="row">
        <th class="col-md-2">
          <label>From:
            <input type="date" ng-model="fromDate" />
          </label>
        </th>
        <th class="col-md-2">
          <label id="toDate">To:
            <input type="date" ng-model="toDate" /> </label>
        </th>
        <th class="col-md-2">
          <div class="form-group label-floating" style="margin-top: 17px;">
            <div class="dropdown">
              <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedTenant"
                placeholder="Choose Tenant" />
              <ul class="dropdown-menu" aria-labelledby={{tenant.name}}>
                <a class="dropdown-item" ng-click="selectAll(tenants,!tenants.isAllSelected());">
                  <span ng-show="tenants.isAllSelected()">&#10004; &nbsp;</span>
                  <span ng-hide="tenants.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  All</a>
                <a class="dropdown-item" ng-click="tenant.selected= !tenant.selected;"
                  ng-repeat="tenant in tenants | filter : {name:selectedTenant}">
                  <span ng-show="tenant.selected">&#10004; &nbsp;</span>
                  <span ng-hide="tenant.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  {{tenant.name}}</a>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-round" ng-click="tenant.selected= !tenant.selected;"
                ng-repeat="tenant in tenants |filter : {selected:'true'}">
                {{tenant.name}} &nbsp;<a><i class="fa fa-times" ng-click="tenant.selected= !tenant.selected;"></i></a>
              </button>
            </div>
          </div>
        </th>
        <th class="col-md-2">
          <div class="form-group label-floating" style="margin-top: 17px;">
            <!--<label class="control-label">Select School:</label>-->
            <div class="dropdown">
              <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedCity"
                placeholder="Choose City..." />
              <ul class="dropdown-menu" aria-labelledby={{city.value}}>
                <a class="dropdown-item" ng-click="selectAll(cities,!cities.isAllSelected());">
                  <span ng-show="cities.isAllSelected()">&#10004; &nbsp;</span>
                  <span ng-hide="cities.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  All</a>
                <a class="dropdown-item" ng-click="city.selected= !city.selected;"
                  ng-repeat="city in cities | filter : {value:selectedCity}">
                  <span ng-show="city.selected">&#10004; &nbsp;</span>
                  <span ng-hide="city.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  {{city.value}}</a>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-round" ng-click="city.selected= !city.selected;"
                ng-repeat="city in cities | filter : {selected:'true'}">
                {{city.value}}&nbsp;<a><i class="fa fa-times" ng-click="city.selected= !city.selected;"></i></a>
              </button>
            </div>
          </div>
        </th>
        <th class="col-md-2">
          <div class="form-group label-floating" style="margin-top: 17px;">
            <!--<label class="control-label">Select School:</label>-->
            <div class="dropdown">
              <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedSchool"
                placeholder="Choose School..." />
              <ul class="dropdown-menu" aria-labelledby={{school.name}}>
                <a class="dropdown-item" ng-click="selectAll(schools,!schools.isAllSelected());">
                  <span ng-show="schools.isAllSelected()">&#10004; &nbsp;</span>
                  <span ng-hide="schools.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  All</a>
                <a class="dropdown-item" ng-click="school.selected= !school.selected;"
                  ng-repeat="school in schools | filter : {name:selectedSchool}">
                  <span ng-show="school.selected">&#10004; &nbsp;</span>
                  <span ng-hide="school.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  {{school.name}}</a>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-round" ng-click="school.selected= !school.selected;"
                ng-repeat="school in schools |filter : {selected:'true'}">
                {{school.name}} &nbsp;<a><i class="fa fa-times" ng-click="school.selected= !school.selected;"></i></a>
              </button>
            </div>
          </div>
        </th>
        <th class="col-md-2">
          <div class="form-group label-floating" style="margin-top: 17px;">
            <!--<label class="control-label">Select grade:</label>-->
            <div class="dropdown">
              <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedGrade"
                placeholder="Choose Grade..." />
              <ul class="dropdown-menu" aria-labelledby={{grade.value}}>
                <a class="dropdown-item" ng-click="selectAll(grades,!grades.isAllSelected());">
                  <span ng-show="grades.isAllSelected()">&#10004; &nbsp;</span>
                  <span ng-hide="grades.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  All</a>
                <a class="dropdown-item" ng-click="grade.selected= !grade.selected;"
                  ng-repeat="grade in grades | filter : {value:selectedGrade}">
                  <span ng-show="grade.selected">&#10004; &nbsp;</span>
                  <span ng-hide="grade.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  {{grade.value}}</a>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-round" ng-click="grade.selected= !grade.selected;"
                ng-repeat="grade in grades | filter : {selected:'true'}">
                {{grade.value}} &nbsp;<a><i class="fa fa-times" ng-click="grade.selected= !grade.selected;"></i></a>
              </button>
            </div>
          </div>
        </th>
      </tr>
    </thead>
  </table>
</div>
<div class="text-center">
  <span><button class="btn btn-sm btn-warning btn-simple" ng-click="init()">Reset</button>&nbsp;&nbsp;&nbsp;<button
      class="btn btn-sm" ng-click="getResult()">Get Result</button></span>
</div>
<br>
<div class="row">
  <div class="col-lg-3">
    <div class="card dashboard-card dashboard-card1" ng-class="{'active': activeItem == 1}"
      ng-click="getNewUsersCount();">
      <div class="p-3">
        <div class="card-block">
          <div class="text-left">
            <h6>New SignUps</h6>
            <hr>
            <h3>{{newUsersCount}}<br>
              <button style="float: right" class="btn btn-success btn-sm" ng-click="getNewUsers()">see users</button>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card dashboard-card dashboard-card2" ng-class="{'active': activeItem == 2}" ng-click="getResult();">
      <div class="p-3">

        <div class="card-block">
          <div class="text-left">
            <h6>Test Takers In Progress</h6>
            <hr>
            <h3>{{inProgressCount}}
              <br>
              <button style="float: right" class="btn btn-success btn-sm"
                ng-click="getUsersForAimTestsByStatus('InProgress');">see users</button>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card dashboard-card dashboard-card3" ng-class="{'active': activeItem == 3}" ng-click="getResult();">
      <div class="p-3">

        <div class="card-block">
          <div class="text-left">
            <h6>Completed AIM</h6>
            <hr>
            <h3>{{generatedCount}}
              <br>
              <button style="float: right" class="btn btn-success btn-sm"
                ng-click="getUsersForAimTestsByStatus('Generated');">see users</button>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row" ng-if="users.length">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th colspan="3">User<input type="text" class="form-control col-md-5" style="float:right;"
                placeholder="Search..." ng-model="searchText">
              <span class="badge badge-default">{{filteredUsers.length}}</span></th>
              <th>Signup On</th>
              <th>Contact Number</th>
            <th>Gender</th>
            <th>Grade</th>
            <th>Stream</th>
            <th>School</th>
            <th>City</th>
            <th>Academic Score</th>
            <th>Intersts</th>
            <th>Count Of Taken Test</th>
            <th>Name Of Taken Test</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in (filteredUsers = (users |orderBy:'username'|filter:searchText))"
            ng-click="updateUser(user)">

            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.signupDate}}</td>
            <td>{{user.contactNumber}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.grade}}</td>
            <td>{{user.stream}}</td>
            <td>{{user.school}}</td>
            <td>{{user.city}}</td>
            <td>{{user.academicScore}}</td>
            <td>{{user.interest}}</td>
            <td>{{user.testCount}}</td>
            <td>{{user.nameOfTestsTaken}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>