<!-- <div class="container-fluid">
    <div class="card compose-post">
        <div class="container"> -->
            <div class="row mt-2">
                
    <div class="news-main col-md-12">
        <div class="container" ng-repeat="news in newsFeed">
          <h3>{{
            news.Interest
        }}</h3>
          <div class="owl" >
            <div class="item" ng-repeat="new in news.PageLink">
              <div class="row">
                <div class="col-md-12">
                  <!-- <div class="news-cart">
                    <div class="news-img">
                      <img src="{{new.imgLink}}" alt="">
                    </div>
                    <div class="news-title">
{{new.title}}
                    </div>

                    <div>
                      <ul>
                        <li> <a >new.date</a></li>
                        <li> <a ><i class="fa fa-thumbs-up" ></i> {{news.ThumpsUp}}</a></li>
                        <li> <a ><i class="fa fa-thumbs-down" ></i> {{news.ThumpsDown}}</a></li>
                        <li> <a ><i class="fa fa-bookmark" ></i></a></li>
                      </ul>
                    </div>
                  </div> -->


                  <div class="card " style="width: 18rem;    display: inline-block;">
                     <a href="{{new.url}}"> <img class="card-img-top"  src="{{new.imgLink}}" alt="Card image cap">
                     </a>
                      <div class="card-body">
                        <a  href="{{new.url}}"><p class="card-text"> {{ new.title | limitTo: 80 }}{{myString.length > 80 ? '' : '.....'}}</p>
                          <h5 class="card-title" >{{new.date}}</h5></a>
                        <a ><i class="fa fa-thumbs-up" ></i> {{news.ThumpsUp}}</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                         <a ><i class="fa fa-thumbs-down" ></i> {{news.ThumpsDown}}</a>
                         <a style="float:right" ><i class="fa fa-bookmark" ></i></a>

                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div>
                </div>
              </div>
            </div>
           
          </div>
  
        </div>
      </div>
  
  
            </div>
        <!-- </div>
    </div>
</div> -->
