<div class="container">

  <div class="row mt-5 p-5">
    <div class="offset-3 col-lg-6">
      <h5>Play the audio and write below what you heared </h5>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">
          <i class="fa fa-play-circle" aria-hidden="true"></i>play
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-3 col-lg-6">
      <div class="textarea-container ">


        <textArea class="form-control" placeholder="Type your answer...">
        </textArea>
      </div>
    </div>
  </div>

</div>
<footer class="footer fixed-bottom">

  <div class="container">
    <div class="progress-container progress-primary">
      <span class="progress-badge">Test Completed</span>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{p}}"
             aria-valuemin="0"
             aria-valuemax="100" ng-style="{width: width}">
          <span class="progress-value">{{progressLength}}%</span>
        </div>
      </div>
    </div>
  </div>

</footer>
