<div class="container">


  <div class="row">
    <div class=" offset-4 col ">
      <img src="http://via.placeholder.com/350x150" class=" text-center img-raised">

    </div>
  </div>
  <div class="row mt-4 p-4">
    <div class="offset-1 col-6">
      <h5>By Seeing picture or text choose the response whether you agree or not agree</h5>
    </div>
    <div class="col-1"> Strongly Agree</div>
    <div class="col-1">Agree</div>
    <div class="col-1">Neutral</div>
    <div class="col-1">Disagree</div>
    <div class="col-1">Strongly Disagree</div>
  </div>

  <div class="row mt-lg-2">

    <div class="offset-1 col-6">
      You are so agressive
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio1" ng-model="color" id="radiafwesao11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio1" ng-model="color" id="radaiosefgves1qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple ">
        <input type="radio" name="radio1" ng-model="color" id="rasadigsevo11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio1" ng-model="color" id="radidsfffo11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio1" ng-model="color" id="radsddio1dfbgd1qwd" value="option1">
      </label>
    </div>

    <div class="offset-1 col-6">
      You like to organize documents
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio51" ng-model="color" id="radiao11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio51" ng-model="color" id="radaio11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple ">
        <input type="radio" name="radio51" ng-model="color" id="rasadio11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio51" ng-model="color" id="radidfo11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio51" ng-model="color" id="radsddidvgdo11qwd" value="option1">
      </label>
    </div>


    <div class="offset-1 col-6">
      Prepare food for parties or other special functions
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio511" ng-model="color" id="radiao1sfc1qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio511" ng-model="color" id="radaiof11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple ">
        <input type="radio" name="radio511" ng-model="color" id="rasafdio11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio511" ng-model="color" id="radidffo11qwd" value="option1">
      </label>
    </div>
    <div class="col-1">
      <label class="btn btn-info btn-simple">
        <input type="radio" name="radio511" ng-model="color" id="radsddidfvgdo11qwd" value="option1">
      </label>
    </div>
  </div>
  <div class="row mt-1 p-1">
    <div class="offset-11 col-1 float-lg-right">
      <button class="btn btn-block btn-info" ui-sref="app.newtest5">Next</button>
    </div>
  </div>


  <div class="progress-container progress-primary  ">
    <span class="progress-badge">Test Completed</span>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{p}}"
           aria-valuemin="0"
           aria-valuemax="100" ng-style="{width: width}">
        <span class="progress-value">{{progressLength}}%</span>
      </div>
    </div>
  </div>
</div>