<style>
  label > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }

  label > input + img { /* IMAGE STYLES */
    cursor: pointer;
    border: 1px solid #e2f986;
  }

  label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    border: 4px solid #76b900;
    box-shadow: none;
    opacity: 0.5;
    color: #996;
  }
</style>
<div class="container">

  <div class="row">
    <div class="offset-1 col-lg-10">
      <h2>Which of the following is capital of India ?</h2>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-lg-10">

      <label>
        <input type="radio" name="1" value="1"/>
        <img class="img-raised" src="http://via.placeholder.com/350x150">
      </label>

      <label>
        <input type="radio" name="1" value="2"/>
        <img class="img-raised" src="http://via.placeholder.com/350x150">
      </label>

      <label>
        <input type="radio" name="1" value="3"/>
        <img class="img-raised" src="http://via.placeholder.com/350x150">
      </label>

      <label>
        <input type="radio" name="1" value="4"/>
        <img class="img-raised" src="http://via.placeholder.com/350x150">
      </label>
    </div>
  </div>


  <div class="row mt-2">
    <div class="offset-10">
      <button class="btn btn-block btn-info" ui-sref="app.newtest4">Next</button>
    </div>
  </div>


  <div class="mt-5 p-5 progress-container progress-primary  ">
    <span class="progress-badge">Test Completed</span>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{p}}"
           aria-valuemin="0"
           aria-valuemax="100" ng-style="{width: width}">
        <span class="progress-value">{{progressLength}}%</span>
      </div>
    </div>
  </div>
</div>
