<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <br>
      <h2><b>Que.1</b>I believe that others have good intentions.</h2>
    </div>
  </div>

  <div class="mt-5 p-5">
    <div class="row ">
      <div class="col-lg-6 ">
        <h5>Please select your response from slider</h5>
      </div>
      <div class="col-lg-6">
        <div id="sliderScale" class="slider slider-info ">
        </div>
      </div>
    </div>

    <div class="row mt-5 p-2">
      <div class="col">
        <button class="btn-success btn" id="write-button" style="float: right">Reset</button>
        <button class="btn-info btn" id="read-button" style="float: right">Read</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-11">
      <button class="btn btn-block btn-info" ui-sref="app.newtest1">Next</button>
    </div>
  </div>
  <div class="progress-container progress-primary mt-2">
    <span class="progress-badge">Test Completed</span>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{p}}"
           aria-valuemin="0"
           aria-valuemax="100" ng-style="{width: width}">
        <span class="progress-value">{{progressLength}}%</span>
      </div>
    </div>
  </div>
</div>
