<div class="container">
    <div class="card">
        <div class="card-footer text-right">
            <input type="text" class="form-control col-md-3" style="float:left;" placeholder="Searching.." ng-model="searchText">
            <!--<label class="col-form-label" style="text-align:center"><b>Tenant Management System</b></label>&nbsp;-->
            <button class="btn btn-rose btn-default btn-sm" ng-click="createNew()">Create New Pilot</button>
        </div>
        <table class="table">
            <thead class="thead">
            <tr>
                <th>PilotName</th>
                <th>PilotStatus</th>
                <th>StartDate</th>
                <th>EndDate</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-default" ng-repeat="pilot in listOfPilots|filter:searchText | pagination: curPage * pageSize | limitTo : pageSize">
                <td>{{pilot.name}}</td>
                <td>{{pilot.status}}</td>
                <td>{{pilot.startDate}}</td>
                <td>{{pilot.endDate}}</td>
            </tr>
            </tbody>
        </table>
        <div class="card-footer">
            <ul class="pagination" ng-show="listOfPilots.length">
                <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
                <li>
                    <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                    </button>
                </li>&nbsp;
                <li>
                    <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>
<script type="text/ng-template" id="createPilot.html">
    <div class="card col-lg-12">
        <div class="card-header">
            <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Pilot Management</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                <tr>
                    <th>PilotName</th>
                    <td><input type="text" class="form-control" placeholder="pilot name" ng-model="pilot.name"></td>
                    <th>PilotStatus</th>
                    <td><div class="checkbox">
                        <input id="active" type="checkbox" ng-model="pilot.active">
                        <label for="active">
                            Active
                        </label>
                    </div></td>
                </tr>
                <!--<tr><td style="height:1em;"></td></tr>-->
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-rose btn-primary btn-sm" ng-click="create(pilot)">Save</button>&nbsp;
            <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>