<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <div class="form-group label-floating">
        <label class="control-label">Select grade:</label>
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedGrade" placeholder="Choose Grade..."/>
          <ul class="dropdown-menu" aria-labelledby={{grade}}>
            <a class="dropdown-item" ng-click="selectItem($index,grades,'grade'); selectedGrade=grade;" ng-repeat="grade in grades">
              <span ng-show="grade.selected">&#10004; &nbsp;</span>
              <span ng-hide="grade.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{grade}}</a>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="form-group label-floating">
        <label class="control-label">Select section:</label>
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedSection" placeholder="Choose Section..."/>
          <ul class="dropdown-menu" aria-labelledby={{grade}}>
            <a class="dropdown-item" ng-click="selectItem($index,sections,'section'); selectedSection=section;" ng-repeat="section in sections">
              <span ng-show="section.selected">&#10004; &nbsp;</span>
              <span ng-hide="section.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{section}}</a>

          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="form-group label-floating">
        <label class="control-label">Select Subject:</label>
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedProduct" placeholder="Choose Test..."/>
          <ul class="dropdown-menu" aria-labelledby={{product.name}}>
            <a class="dropdown-item" ng-click="selectItem($index,products,'product');"
               ng-repeat="product in products">
              <span ng-show="product.selected">&#10004; &nbsp;</span>
              <span ng-hide="product.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{product.name}}</a>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="form-group label-floating">
        <label class="control-label">Select Chapter:</label>
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedConstruct" placeholder="Choose Chapter..."/>
          <ul class="dropdown-menu" aria-labelledby={{item.name}}>
            <a class="dropdown-item" ng-click="selectItem($index,constructs,'construct');" ng-repeat="item in constructs">
              <span ng-show="item.selected">&#10004; &nbsp;</span>
              <span ng-hide="item.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{item.name}}</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group label-floating">
        <label class="control-label">Select Student:</label>
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedStudent" placeholder="Choose Student..."/>
          <ul class="dropdown-menu" aria-labelledby={{grade.value}}>
            <a class="dropdown-item" ng-click="selectItem($index,users,'student');openStudentPerformance(student.id,student.selected);" ng-repeat="student in users">
              <span ng-show="student.selected">&#10004; &nbsp;</span>
              <span ng-hide="student.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              {{student.name}}</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group label-floating">
        <label class="control-label"></label>
        <div>
          <button class="btn btn-lg" ng-click="getResult()">GetResult</button>
        </div>
      </div>
    </div>
    <div class="col-lg-1">
      <div class="form-group label-floating">
        <label class="control-label"></label>
        <div>
          <a href="" ng-click="resetAndGetResult();">Reset</a>
        </div>
      </div>
    </div>
  </div>
</div>


<hr>


<div class="container">
  <!--<div class="text-center"><h3>Class Performance</h3></div>-->
  <div class="row">
    <div class="offset-2 col-8">
      <div class="container-fluid" style="position: relative;">
        <canvas class="chart chart-bar" height="150" width="320" chart-labels="report.labels" chart-series="report.series" chart-data="report.data"
                chart-options="report.options"></canvas>
      </div>
    </div>
  </div>
</div>

<!--<div class="container mt-4">-->
  <!--<div class="card mb-4" ng-repeat="results in resultList">-->
    <!--<table class="table table-hover ">-->
      <!--<thead class="table-inverse ">-->
      <!--<tr>-->
        <!--<th colspan="5" class="text-center">{{results[0].productName}}</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tr>-->
        <!--<th>S. No.</th>-->
        <!--<th>Student's Name</th>-->
        <!--<th>Obt. Marks</th>-->
        <!--<th>Max. Marks</th>-->
        <!--<th>Percent Scored</th>-->
      <!--</tr>-->
      <!--<tbody>-->
      <!--<tr ng-repeat="r in results | orderBy:'-percentScores'" ng-click="openStudentPerformance(r.userId,true);">-->
        <!--<td>{{$index+1}}</td>-->
        <!--<td>{{r.studentName}}</td>-->
        <!--<td>{{r.obtainedMarks}}</td>-->
        <!--<td>{{r.maximumMarks}}</td>-->
        <!--<td>{{r.percentScores}}%</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->
<!--</div>-->

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>


