
<div class="page-header page-header-small mobile-banner" style="min-height:60vh">
  <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/banner 3.jpg'); z-index: 0;">
  <!--<div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/productCover.jpg'); z-index: 0;">-->
  <!--<div class="page-header-image" data-parallax="true" style="background-image: url({{assets_url+product.cover}}); z-index: 0;">-->
  </div>
  <div class="container">
    <div class="content-center mobile-text">
      <h2 class="title" style="color: #ffffff">{{product.description}}</h2>

      <div class="text-center">
        <!--<h3>{{product.procedure}}</h3>-->
        <h3 style="color: #ffffff"><strong>{{product.procedure}}</strong></h3>
        <!--<button class="btn btn-round btn-primary" ng-click="openBuyProductModal()">Buy Now</button>-->
      </div>
    </div>
  </div>
</div>
<!--<div>
  <button class="btn" ng-click="openAskUserExperienceFeedbackModal();">openAskUserExperienceFeedbackModal</button>
</div>-->


<div class="card">
  <div class="card-block">
    <div ng-repeat="item in productCore|orderBy:'sequence'" class="start-test-card-main">
   
          <div class="start-test-left">
       
          
          <div class="card-flip">
            <div class="flip">
              <div class="card-front">
                <!--<div class="card construct borderRadius" style="background-image: url('/assets/img/personality.jpg'); background-position: center;">-->
                <div class="card construct borderRadius" style="background: url({{assets_url+item.image}}) center;">
                  <!--<img class="card-img-top" ng-src="{{assets_url+test.logo}}">-->
                  <!--<img class="card-img-top" src="/assets/img/1111.jpg">-->
                  <!--<div class="card-block">-->
                  <!--<h4 class="card-title text-center">Lets Recall Images</h4>-->
                  <!--<p class="card-subtitle mb-2 text-muted text-center">How much you can remember</p>-->
                  <!--</div>-->
                </div>
              </div>
              <div class="card-back">
                <div class="card construct borderRadius" style="background: url({{assets_url+item.image}}) center;">
                  <!--<div class="card-header">-->
                  <!--<h6 class="card-subtitle text-muted text-center">Intscale</h6>-->
                  <!--</div>-->
                  <!--<img class="card-img-top" src="/assets/img/1111.jpg">-->
                  <!--<div class="card-block">-->
                  <!--<h4 class="card-title text-center mt-4"> Mantra</h4>-->
                  <!--<p class="card-text text-center">How much you can remember</p>-->
                  <!--</div>-->
                  <!--<div class="text-center">-->
                  <!--<button ui-sref="app.testPanel({id: test.id})" class="takeTestButton" ng-show="$index==0 ||!test.testForce">TakeTest</button>-->
                  <!--<button ui-sref="app.testPanel({id: 12})" class="takeTestButton" ng-show="$index==0 ||!test.testForce">TakeTest</button>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
       
        </div>
        <div class="start-test-middle">
      
            
          <div class="text-center">
            <h3 class="">{{item.name}}</h3>
            <h5 class="muted">{{item.description}}</h5>
          </div>
          <br>
          
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="text-center">
                <i class="fa fa-list-ul"></i>
                <p>{{item.disclaimer}}</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="text-center">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p>{{item.participation}}</p>
              </div>
            </div>
            
          </div>
       
      </div>

        <div class="rightt-button">
        <div ng-if="!item.checker" class=" ">
         
     
          <!--<small ng-show="!item.paid"><i>Free. No money required.</i></small>-->

          <button ng-show="$first" class="btn btn-primary" ng-click="startTakingTest(item.id)"><i class="fa fa-play pr-2"></i>Start&nbsp;</button>
          <button ng-hide="$first" data-ng-disabled="true" class="btn btn-warning">Yet to Start</button>
          <!--<button ng-show="!item.start && $first" class="btn btn-lg"  ng-click="startTakingTest(item.id)">Resume Start&nbsp; </button>-->
        </div>
      </div>
        <div ng-if="item.checker" class="">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
         <button class="btn btn-primary" ng-click="startTakingTest(item.id)"><i class="now-ui-icons media-1_button-play"></i>Start&nbsp;</button>
      </div>
     


      </div>

      </div>
     
    </div>


<!--<div>-->
<!--<h3 class="text-center mt-4">Dimensions</h3>-->
<!--<div class="row">-->
<!--<div class="col-4 p-4">-->
<!--<a ui-sref="app.testLeaf">-->
<!--<div class="card" style="background-image: url('../assets/img/construct.jpg');">-->
<!--&lt;!&ndash;<img class="card-img-top" ng-src="{{assets_url+test.logo}}">&ndash;&gt;-->
<!--<div class="card-block">-->
<!--<h4 class="card-title text-center">Working Memory</h4>-->
<!--<p class="card-subtitle mb-2 text-muted text-center"></p>-->
<!--<div class="text-center">-->
<!--&lt;!&ndash;<button class="btn btn-lg btn-primary" ng-click="exploreFirstLevel(test.subParents)">Explore</button>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
