<div class="container">


  <div class="row">
      <div class="resetPassword-div">
          <button class="btn btn-sm btn-warning float-right" ng-click="resetPassword()">Reset Password</button>
      </div>
    <div class="profile-contant-main">
      <div class="profile-left">
        <img class="rounded-circle img-raised profile-frame" data-ng-src="{{userImageURI}}" alt="Profile Picture">
        <input id="userimg" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setFiles(this)"/>
        
       </div>
       <div class="select-button">
          <button class="btn btn-primary btn-simple btn-round mr-3" data-ng-click="browseImage()"><i class="fa fa-file-image-o" aria-hidden="true"></i> &nbsp;Select Image</button>
          <button class="btn btn-default btn-simple btn-round" ng-show="imgfile.size>0" data-ng-click="upload()"><i class="fa fa-cloud-upload" aria-hidden="true"></i> &nbsp;Upload Image</button>
        
      </div>
     
    </div>
    
  </div>

  <br>
  <form ng-submit="updateUserInfo()">
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-12 col-lg-6">
        <div class="input-group form-group-no-border row">
          <div class="col-3 col-form-label">Username</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Username" ng-model="user.username" readonly>
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-3 col-form-label">Email</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email" class="form-control" placeholder="email" ng-model="user.email" ng-disabled="orgName!='assess'">
            </div>
          </div>
        </div>
        <!-- <div class="input-group form-group-no-border row">
          <div class="col-3 col-form-label">Language</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-language"></i></span>
              <select class="form-control"
                      id="language" name="language" ng-model="user.language" autofocus ng-disabled="orgName!='assess'">
                <option value="" selected>Select Language</option>
                <option ng-repeat="language in languages" value="{{language.value}}">
                  {{language.value}}
                </option>
              </select>
            </div>
          </div>
        </div> -->

        <div class="input-group form-group-no-border row">
          <div class="col-3 col-form-label">Mobile</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input type="text" pattern="(7|8|9)\d{9}$" minlength="10" maxlength="10" class="form-control" placeholder="Contact No" ng-model="user.contactNumber" ng-disabled="orgName!='assess'">
            </div>
          </div>
        </div>

        <div class="input-group form-group-no-border row">
          <div class="col-3 col-form-label" ng-if="orgName!='www'&&orgName!='talent'">School</div>
          <div class="col-3 col-form-label" ng-if="orgName=='www'">Institution</div>
          <div class="col-3 col-form-label" ng-if="orgName=='talent'">Organization</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-university"></i></span>
              <input type="text" class="form-control" placeholder="School Name" ng-model="user.school" required autofocus ng-disabled="orgName!='assess'">
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-3 col-form-label">City</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="City" ng-model="user.city" ng-disabled="orgName!='assess'">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="input-group form-group-no-border row">
          <div class="col-3 col-form-label">Name</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
              <input type="text" class="form-control" placeholder="name" ng-model="user.name" ng-disabled="orgName!='assess'">
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-3 col-form-label">Gender</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-universal-access"></i></span>
              <select class="form-control"
                      id="gender" name="gender" ng-model="user.gender" required autofocus ng-disabled="orgName!='assess'">
                <option value="" selected>Select Gender</option>
                <option data-ng-repeat="gender in genders" value="{{gender.value.toLowerCase()}}">
                  {{gender.value.toLowerCase()}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="input-group form-group-no-border row">
          <div class="col-3 col-form-label" ng-if="orgName!='www'&&orgName!='talent'">Grade</div>
          <div class="col-3 col-form-label" ng-if="orgName=='www'">Course</div>
          <div class="col-3 col-form-label" ng-if="orgName=='talent'">Designation</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
              <select class="form-control" id="grade" name="grade" ng-model="user.grade" required autofocus ng-disabled="orgName!='assess'">
                <option value="" selected>Select Grades</option>
                <option data-ng-repeat="grd in grades" value="{{grd.value}}">
                  {{grd.value}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row" ng-show="user.grade=='11' || user.grade=='12' ">
          <div class="col-3 col-form-label" >Stream</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-wpexplorer" aria-hidden="true"></i></span>
              <select class="form-control" id="stream" name="grade" ng-model="user.stream" ng-disabled="orgName!='assess'">
                <option value="" selected>Select Streams</option>
                <option data-ng-repeat="stream in streams" value="{{stream}}">
                  {{stream}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row" ng-if="orgName!='www'&&orgName!='talent'">
          <div class="col-3 col-form-label">Interests</div>
          <div class="col-9">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-heart"></i></span>
              <select class="form-control"
                      id="interest" name="interest" ng-model="multipleInterest" ng-change="addInterest(multipleInterest)" ng-disabled="orgName!='assess'">
                <option value="" selected>Select Interests</option>
                <option data-ng-repeat="int in interests" value="{{int}}">
                  {{int}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row" ng-if="orgName!='www'&&orgName!='talent'">
          <div class="col-md-12">
            <label class="btn btn-default btn-round btn-sm mr-2" ng-repeat="intrs in selectedInterest track by $index">
              {{intrs}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeInterest($index)"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="text-center mb-3">
        <button class="btn btn-default btn-round" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp;Save Changes</button>
        </div>
      </div>
    </div>
  </form>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>