<style>
  .card {
    transition: 0.3s;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);*/
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);

  }

  /*.card:hover {*/
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);*/
  /*width: 101%;*/
  /*}*/

  .btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
    /*width: 101%;*/
  }

  .form-control::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .form-control:-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .form-control::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .form-control:-ms-input-placeholder {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
  }
</style>
<div class="register-page">
  <div class="page-header" filter-color="">
    <div class="page-header-image" style="background-color:#202c54"></div>
    <div class="container">
      <div class="row">
       
        <div class="col-main">
          <br>
          <div class="card card-signup borderRadius" style="background-color: rgba(249, 99, 50, 0);">
            <div class="p-4">
              <a href="https://assess.aim2excel.in" ng-if="orgName=='assess' || orgName =='localhost'">
                <!--<img class="mb-4" ng-src="https://s3.amazonaws.com/intscale-assets/{{logoname}}" alt="">-->
                <img src="/assets/img/a2e.png">
              </a>
              <div class="header header-primary text-center">
                <h6 class="title title-up" style="color: white;">Create Account</h6>
                <div class="social-line">
                  <button fb-login ng-disabled="f" ng-click="f=!f" class="btn btn-neutral btn-round btn-facebook btn-icon">
                    <i class="fa fa-facebook-square"></i>
                  </button>
                  &nbsp;&nbsp;
                  <button g-login ng-disabled="g" ng-click=" g=!g" class="btn btn-neutral btn-round btn-google btn-icon">
                    <i class="fa fa-google-plus"></i>
                  </button>
                </div>
              </div>
              <div class="content">
                <form name="RegisterForm">

                  <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                      <i class="fa fa-user-o" aria-hidden="true" style="color: white;"></i>
                    </span>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" ng-model="user.firstname"
                      required style="color: white;">
                  </div>
                  <!-- <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                      <i class="fa fa-id-badge" aria-hidden="true" style="color: white;"></i>
                    </span>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                      ng-model="user.username" required style="color: white;">
                  </div>
                  <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                      <i class="fa fa-id-badge" aria-hidden="true" style="color: white;"></i>
                    </span>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                      ng-model="user.password" required style="color: white;">
                  </div>
                  <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                      <i class="fa fa-key" aria-hidden="true" style="color: white;"></i>
                    </span>
                    <input type="password" id="repassword" name="password" class="form-control" placeholder="Confirm Password"
                      ng-model="user.repassword" required style="color: white;">
                  </div> -->
                  <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                      <i class="fa fa-at" aria-hidden="true" style="color: white;"></i>
                    </span>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="user.email"
                      required style="color: white;" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,5}$">

                    </div>
                    <span class="error1" ng-if="RegisterForm.email.$touched && RegisterForm.email.$invalid" style="color:white" class="material-input"> *Enter a valid email id</span>

                  <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                      <i class="fa fa-phone" aria-hidden="true" style="color: white;"></i>
                    </span>
                    <input  id="mobileNum" name="mobileNum" pattern="(7|8|9)\d{9}$" class="form-control" placeholder="Mobile Number" ng-model="user.mobileNum"
                      required style="color: white;" minlength="10" maxlength="10">
                  </div>
                  <span class="error1" ng-if="RegisterForm.mobileNum.$touched && RegisterForm.mobileNum.$invalid" style="color:white" class="material-input"> *Enter a valid phone no.</span>

                </form>
              </div>
              <div class="text-center">
                <button class="btn btn-neutral btn-round btn-lg" type="submit" ng-disabled="RegisterForm.$invalid || submitted"
                  ng-click="signUp()">Sign up</button>
                <hr style="background-color: #cccccc;">
                <p style="color: white;">Already have an account? <a ui-sref="login" style="color:#fab400"><strong> Log
                      in</strong></a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">

      </div>
    </footer>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>