<div class="row">
    <div class="col">
        <div class="mt-1">
            <label for="fromDate">From: </label>
            <input id="fromDate" type="date" ng-model="fromDate"/>

        </div>

    </div>
    <div class="col">
        <div class="mt-1">
            <label for="toDate">To:</label>
            <input type="date" id="toDate" ng-model="toDate"/>
        </div>

    </div>
    <div class="col">
        <div class="form-group label-floating">
            <div class="dropdown">
                <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedSchool"
                       placeholder="Choose School..."/>
                <ul class="dropdown-menu" aria-labelledby={{school.name}}>
                    <a class="dropdown-item" ng-click="selectAll(schools,!schools.isAllSelected());">
                        <span ng-show="schools.isAllSelected()">&#10004; &nbsp;</span>
                        <span ng-hide="schools.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        All</a>
                    <a class="dropdown-item" ng-click="school.selected= !school.selected;"
                       ng-repeat="school in schools | filter : {name:selectedSchool}">
                        <span ng-show="school.selected">&#10004; &nbsp;</span>
                        <span ng-hide="school.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {{school.name}}</a>
                </ul>
            </div>
        </div>
        <div>
            <button class="btn btn-sm btn-round m-1" ng-click="school.selected= !school.selected;"
                    ng-repeat="school in schools |filter : {selected:'true'}">
                {{school.name}} &nbsp;<i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="col">
        <div class="form-group label-floating">
            <!--<label class="control-label">Select grade:</label>-->
            <div class="dropdown">
                <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedGrade"
                       placeholder="Choose Grade..."/>
                <ul class="dropdown-menu" aria-labelledby={{grade.value}}>
                    <a class="dropdown-item" ng-click="selectAll(grades,!grades.isAllSelected());">
                        <span ng-show="grades.isAllSelected()">&#10004; &nbsp;</span>
                        <span ng-hide="grades.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        All</a>
                    <a class="dropdown-item" ng-click="grade.selected= !grade.selected;"
                       ng-repeat="grade in grades | filter : {value:selectedGrade}">
                        <span ng-show="grade.selected">&#10004; &nbsp;</span>
                        <span ng-hide="grade.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        {{grade.value}}</a>
                </ul>
            </div>
        </div>
        <div>
            <button class="btn btn-sm btn-round m-1" ng-click="grade.selected= !grade.selected;"
                    ng-repeat="grade in grades | filter : {selected:'true'}">
                {{grade.value}} &nbsp;<i class="fa fa-times"></i>
            </button>
        </div>
    </div>
</div>

<div class="text-right mt-1">
    <button class="btn" ng-click="reset()">Reset Filters</button>
    <button class="btn"  ng-disabled="downloadingAimDataReport" ng-click="downloadAimreportInExcel()"><i class="fa fa-spinner fa-spin fa-fw"

                                                                 ng-show="downloadingAimDataReport"></i>&nbsp; Download
        Aim
        Data
    </button>
</div>
