<form id="EditRoleForm">
  <div class="">
    <h6 class="card-title"> Show Roles </h6>
  </div>
  <div class="">
    <h4 class="">{{workingRole.mode}} Role</h4>
    <div class="form-group label-floating">
      <label class="control-label">*Name</label>
      <input class="form-control" name="name" type="text" required ng-model="workingRole.name">
      <span class="material-input"></span>
    </div>
    <div class="form-group label-floating">

      <div class="form-group label-floating" style="margin-top: 17px;">
        <label class="control-label">*Add Privilege</label>
        <!--<select class="form-control" ng-model="selectedPrivilege" ng-options="privilege as privilege.description for privilege in privileges"-->
                <!--ng-change="addPrivilege(selectedPrivilege)">-->
        <!--</select>-->
        <div class="dropdown">
          <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedPrivilege" placeholder="Choose Privilege..."/>
          <ul class="dropdown-menu" aria-labelledby={{privilege.description}}>
            <a class="dropdown-item" ng-click="addPrivilege(privilege);" ng-repeat="privilege in privileges | filter : {description:selectedPrivilege}">
              {{privilege.description}}</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Privilege(s)</label>
      <br>
      <button class="btn btn-info btn-xs btn-round " ng-repeat="privilege in workingRole.privileges">
        {{privilege.description}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removePrivilege($index)"></i>
      </button>&nbsp;
    </div>
    <div class="form-group label-floating">
      <label class="control-label">*Add Dashboard</label>
      <select class="form-control" ng-model="selectedDashboard" ng-options="dashboard as dashboard.name for dashboard in dashboards"
              ng-change="addDashboard(selectedDashboard)"></select>
    </div>
    <div class="form-group">
      <label class="control-label">Dashboard(s)</label>
      <br>
      <button class="btn btn-info btn-xs btn-round " ng-repeat="dashboard in workingRole.dashboards">
        {{dashboard}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeDashboard($index)"></i>
      </button>&nbsp;
    </div>
    <div class="form-footer text-left">
      <button class="btn btn-rose btn-fill" ng-click="saveRole(workingRole)">Save</button>
      <button class="btn btn-default" ng-click="cancelRole()">Cancel</button>
      <button class="btn btn-default" ng-click="deleteRole(workingRole)" ng-show="workingRole.mode=='Show'">Delete</button>
    </div>
  </div>
</form>
