<div class="row">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Roles and Privileges
          <button class="btn btn-info btn-sm" style="float:right;" ng-click="newRole()">New Role</button>
        </h6>
      </div>
      <div class="card-block">
        <table class="table table-condensed table-striped table-hover">
          <thead class="text-primary">
          <tr>
            <th>Name</th>
            <th>Privileges</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="role in roles" ng-click="showRole(role)">
            <td>{{role.name}}</td>
            <td>
                <span ng-repeat="privilege in role.privileges"><span class="label label-info">{{privilege.description}}&nbsp;</span>&nbsp;&nbsp;<br
                    ng-if="($index+1) % 2 ==0"></span>
            </td>
            <td>
              <i class="fa fa-trash-o fa-lg" aria-hidden="true" ng-click="deleteRole(role)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="" ng-show="showUserPanel || editUserPanel" ng-include=" 'views/rolesview.html' ">
    </div>
  </div>
</div>
