<div class="container">
  <button class="btn btn-sm" ng-click="addSchool()">Add School</button>
  <div class="row mt-2">
    <div class="col-lg-10 offset-1">
      <div class="card" ng-show="showform">
        <div class="card-header">
          <h6 class="card-title">School</h6>
          <button class="btn btn-danger btn-sm offset-7 col-lg-1" ng-click="cancelSchool()" style="float: right">
            <i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <div class="card-block">
          <form name="CreateSchoolForm" novalidate>
            <div class="col-lg-12">
              <div class="row">
                <label class="col-form-label col-lg-3" for="name">Name : </label>
                <div class="form-group-no-border input-group col-lg-9">
                  <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
                  <input type="text" id="name" name="name"
                         class="form-control"
                         placeholder="School's Name" ng-model="school.name" required>
                </div>
              </div>
              <div class="row">
                <label class="col-form-label col-lg-3" for="address">Address : </label>
                <div class="form-group-no-border input-group col-lg-9">
                  <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
                  <input type="text" id="address" name="address"
                         class="form-control"
                         placeholder="school's address" ng-model="school.address" required>
                </div>
              </div>
              <div class="row">
                <label class="col-form-label col-lg-3" for="email">email : </label>
                <div class="form-group-no-border input-group col-lg-9">
                  <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
                  <input type="text" id="email" name="email"
                         class="form-control"
                         placeholder="school's email" ng-model="school.email" required>
                </div>
              </div>
              <div class="row">
                <label class="col-form-label col-lg-3" for="mobile">mobile : </label>
                <div class="form-group-no-border input-group col-lg-9">
                  <span class="input-group-addon"><i class="now-ui-icons education_paper"></i></span>
                  <input type="number" id="mobile" name="mobile"
                         class="form-control"
                         placeholder="school's mobile" ng-model="school.mobile" required>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="checkbox">
                    <input id="fieldEnable" ng-model="school.fieldEnable" type="checkbox">
                    <label for="fieldEnable">
                      isFieldEnable
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-default" ng-click="save()">Save</button>
        </div>
      </div>
    </div>
    <div class="row" ng-show="showCard">
      <div class="col-lg-3 col-md-3 col-sm-3" ng-repeat="schoolOnCard in schoolOnCards">
        <div class="card">
          <div class="card-header">
            <h6 style="float: left;" class="card-subtitle mb-2 text-muted text-center">School</h6>
            <button style="float: right" class="btn btn-primary btn-sm" ng-click="editSchool(schoolOnCard.id)">Edit</button>
            <button style="float: right" class="btn btn-default btn-sm" ng-click="deleteSchool(schoolOnCard.id)">Del</button>
          </div>
          <img class="card-img-top" ng-src="{{schoolOnCard.logo}}" alt="Image">
          <div class="card-block">
            <h4 class="card-title text-center">{{schoolOnCard.name}}</h4>
            <p class="card-subtitle mb-2 text-muted text-center">{{schoolOnCard.address}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>