
<div class="modal-content col-lg-12">
  <div class="modal-body ">
    <div class="row">
      <div class="col-6">

        <div class="card">
        <div class="card-header">
          <input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search" ng-model="searchText">
        </div>

          <div class="card-block">
            <div class="row">
              <div class="col-md-5">
                <select class="form-control" ng-model="selectedTag" ng-options="tag as tag.name for tag in tags" ng-change="tagSelected(selectedTag)"></select>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-sm btn-round" ng-repeat="tag in filterTags">
                      {{tag.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeTag(tag)"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <select name="userType" class="form-control" ng-model="selectedSubtag" ng-options="subTag as subTag.name for subTag in subTags" ng-change="addSubTag(selectedSubtag)"></select>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-sm btn-round" ng-repeat="subTag in filterSubTags">
                      {{subTag.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeSubTag(subTag)"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <button class="btn btn-sm">filter</button>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-condensed table-striped table-hover">
                    <thead class="text-primary">
                    <tr ng-show="questionList.length">
                      <th><div class="checkbox" style="display: inline">
                        <input id="selectAll" ng-model="selectAllQuestionsForTest" ng-change="isSelectAllQuestions(selectAllQuestionsForTest)" type="checkbox">
                        <label for="selectAll">
                          <span>&nbsp;</span>
                        </label>
                      </div></th>
                      <th>Sr N.</th>
                      <th>Question Description</th>
                      <th>Type</th>
                      <th>Category</th>
                      <th>Sub Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="question in questionList |orderBy:'description' |filter:searchText | pagination: curPage * pageSize | limitTo : pageSize">
                      <td>
                        <div class="checkbox">
                          <input id="{{question.id}}" ng-model="question.selected" ng-change="isQuestionSelected(question)" type="checkbox">
                          <label for="{{question.id}}">
                            <span>&nbsp;</span>
                          </label>
                        </div>
                      </td>
                      <td ng-click="getQuestion(question.id)">{{curPage*pageSize +$index+1}}</td>
                      <td ng-click="getQuestion(question.id)" btf-markdown="question.description"></td>
                      <td ng-click="getQuestion(question.id)">{{question.questionType}}</td>
                      <td ng-click="getQuestion(question.id)">{{question.categoryName}}</td>
                      <td ng-click="getQuestion(question.id)">{{question.subCategoryName}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <ul class="pagination" ng-show="questionList.length">
              <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
              <li>
                <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                </button>
              </li>&nbsp;
              <li>
                <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= questionList.length/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                </button>
              </li>&nbsp;&nbsp;
              <li>
                <select class="btn btn-sm" ng-model="goToPage">
                  <option ng-repeat="page in pages" value="{{page}}" ng-selected="page==goToPage">{{page}}</option>
                </select>
              </li>&nbsp;&nbsp;
              <li>
                <button type="button" class="btn btn-info btn-sm" data-ng-click="curPage = goToPage - 1" data-ng-disabled="goToPage == 0">Go To Page</button>
              </li>&nbsp;&nbsp;
              <li class="text-right">
                <button class="btn btn-primary btn-sm" ng-click="closeSelectQuestions()">Save and Close</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-block">
          </div>
            <div class="card-footer">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
