<div class="container">
    <div class="card">
        <div class="card-footer text-right">
            <input type="text" class="form-control col-md-3" style="float:left;" placeholder="Searching.." ng-model="searchText">
            <!--<label class="col-form-label" style="text-align:center"><b>Tenant Management System</b></label>&nbsp;-->
            <button class="btn btn-rose btn-default btn-sm" ng-click="createNew()">Create New Student</button>
        </div>
        <table class="table">
            <thead class="thead">
            <tr>
                <th>Name</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Section</th>
                <th>Grade</th>
                <th>School</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-default" ng-repeat="std in listOfStudents| orderBy:'name' |filter:searchText | pagination: curPage * pageSize | limitTo : pageSize">
                <td>{{std.name}}</td>
                <td>{{std.username}}</td>
                <td>{{std.email}}</td>
                <td>{{std.gender}}</td>
                <td>{{std.section}}</td>
                <td>{{std.grade}}</td>
                <td>{{std.schoolName}}</td>
                <td><i class="fa fa-wrench" aria-hidden="true" ng-click="update(std)"></i></td>
                <td><i class="fa fa-ban" aria-hidden="true" ng-click="deleteRecord(std.id)"></i></td>
            </tr>
            </tbody>
        </table>
        <div class="card-footer">
            <ul class="pagination" ng-show="listOfStudents.length">
                <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
                <li>
                    <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                    </button>
                </li>&nbsp;
                <li>
                    <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>
<script type="text/ng-template" id="createStudent.html">
    <div class="card col-lg-12">
        <div class="card-header">
            <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Student Management</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td><input type="text" class="form-control" ng-model="student.name"></td>
                    <th>UserName</th>
                    <td><input type="text" class="form-control" ng-model="student.username" ng-readonly="updateStudent"></td>
                    <th>Email</th>
                    <td><input type="text" class="form-control" ng-model="student.email"></td>
                </tr>
                <!--<tr><td style="height:1em;"></td></tr>-->
                <tr>
                    <th>Gender</th>
                    <td><!--<input type="text" class="form-control" ng-model="student.gender">-->
                        <select class="form-control" ng-model="student.gender">
                            <option value="" selected>Select Gender</option>
                            <option value="male" selected>Male</option>
                            <option value="female" selected>FeMale</option>
                        </select>
                    </td>
                    <th>Section</th>
                    <td><!--<input type="text" class="form-control" ng-model="student.section">-->
                    <select class="form-control" ng-model="student.section">
                        <option value="" selected>Select Section</option>
                        <option ng-repeat="sec in listSections" value="{{sec.value}}">{{sec.value}}</option>
                    </select>
                    </td>
                    <th>School</th>
                    <td>
                        <!--<input type="text" class="form-control" ng-model="student.school">-->
                    <select class="form-control" ng-model="student.school">
                        <option value="" selected>Select School</option>
                        <option ng-repeat="sch in listSchooles" value="{{sch.id}}">{{sch.name}}</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <th>Grade</th>
                    <td><select class="form-control" ng-model="student.grade">
                        <option value="" selected>Select Grade</option>
                        <option ng-repeat="grd in listGrades" value="{{grd.value}}">{{grd.value}}</option>
                    </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-rose btn-primary btn-sm" ng-click="create(student)">Save</button>&nbsp;
            <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>