<div class="card col-lg-12">
    <div class="card-header">
        <h6 class="card-title">Student_Grade Management<input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search..." ng-model="searchText"></h6></div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                    <div class="col-md-12">
                        <div class="input-group form-group-no-border">
                            <select class="form-control col-lg-3" ng-model="schoolId">
                                <option value="" selected>Select School</option>
                                <option ng-repeat="sch in listSchooles" value="{{sch.id}}">{{sch.name}}</option>
                            </select>&nbsp;&nbsp;
                            <select class="form-control col-lg-3" ng-model="gradeId">
                                <option value="" selected>Select Grade</option>
                                <option ng-repeat="grd in listGrades" value="{{grd.id}}">{{grd.value}}</option>
                            </select>&nbsp;&nbsp;
                            <button type="button" class="btn btn-info btn-sm" ng-click="filterSearch()">Filter Students</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-info btn-sm" ng-click="saveAll()">Assign All</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-info btn-sm" ng-click="removeAll()">Remove All</button>
                        </div>
                    </div>
                </tr>
                <tr>
                    <th><div class="checkbox" style="display: inline">
                        <input id="selectAllStudent" ng-model="selectAllStudent" ng-change="isSelectAllStudent()" type="checkbox">
                        <label for="selectAllStudent">
                            <span>&nbsp;</span>
                        </label>
                    </div></th>
                    <th>Student</th>
                    <th>UserName</th>
                    <th>SchoolName</th>
                    <th>Grade</th>
                    <th>Section</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="student in listOfStudents |orderBy:'name'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
                    <td>
                        <div class="checkbox">
                            <input id="{{student.id}}" ng-model="student.selectStudent" ng-change="isStudentSelected(student)" type="checkbox">
                            <label for="{{student.id}}">
                                <span>&nbsp;</span>
                            </label>
                        </div>
                    </td>
                    <td>{{student.name}}</td>
                    <td>{{student.username}}</td>
                    <td>{{student.schoolName}}</td>
                    <td>{{student.gradeName}}</td>
                    <td>{{student.sectionName}}</td>
                    <td><i class="fa fa-wrench" aria-hidden="true" ng-click="manageGradeAssignment(student)"></i></td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="col-md-12">
                <div class="input-group form-group-no-border row">
                    <div class="col-md-2 col-form-label">Select Grade:</div>
                    <div class="col-md-4">
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                            <select class="form-control" ng-model="grade">
                                <option value="" selected>Select Grade</option>
                                <option ng-repeat="grd in listGrades" value="{{grd.id}}">{{grd.value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-form-label">Select Section:</div>
                    <div class="col-md-4">
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                            <select class="form-control" ng-model="section">
                                <option value="" selected>Select Section</option>
                                <option ng-repeat="sec in listSections" value="{{sec.id}}">{{sec.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <ul class="pagination" ng-show="listOfStudents.length">
            <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
            <li>
                <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                </button>
            </li>&nbsp;
            <li>
                <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                </button>
            </li>
        </ul>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>

<script type="text/ng-template" id="studentGradeView.html">
    <div class="card col-lg-12">
        <div class="card-header">
            <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Student Grade</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                <tr>
                    <td>Student Name</td>
                    <td>{{studentName}}</td>
                </tr>
                <tr>
                    <td>Choose Grade</td>
                    <td><select class="form-control" ng-model="studentGrade">
                        <option value="" selected>Select Grade</option>
                        <option ng-repeat="grad in listGrades" value="{{grad.id}}">{{grad.value}}</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>Choose Section</td>
                    <td><select class="form-control" ng-model="studentSection">
                        <option value="" selected>Select Section</option>
                        <option ng-repeat="sec in listSections" value="{{sec.id}}">{{sec.value}}</option>
                    </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-rose btn-primary btn-sm" ng-click="updateStudentGrade(studentGrade,studentSection)">Save</button>&nbsp;
            <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
