<div class="container">
  <div class="card">
    <div class="card-header text-right">
      <input type="text" class="form-control col-md-3" style="float:left;" placeholder="Searching.." ng-model="searchText">
      <!--<button class="btn btn-rose btn-default btn-sm" ng-click="createNew()">Create New</button>-->
      <br>
    </div>
    <table class="table">
      <thead class="thead">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>School</th>
        <th>Class Teacher Of Grade</th>
        <th>Class Teacher Of Section</th>
        <th>Class Teacher Of Subject</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-default" ng-repeat="teach in listOfTeachers| orderBy:'name' |filter:searchText | pagination: curPage * pageSize | limitTo : pageSize">
        <td>{{teach.name}}</td>
        <td>{{teach.email}}</td>
        <td>{{teach.schoolName}}</td>
        <td>{{teach.grade}}</td>
        <td>{{teach.section}}</td>
        <td>{{teach.subjectName}}</td>

        <td><i class="fa fa-wrench" aria-hidden="true" ng-click="update(teach)"></i></td>
        <td><i class="fa fa-ban" aria-hidden="true" ng-click="deleteRecord(teach.id)"></i></td>
      </tr>
      </tbody>
    </table>
    <div class="card-footer">
      <ul class="pagination" ng-show="listOfTeachers.length">
        <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
        <li>
          <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
          </button>
        </li>&nbsp;
        <li>
          <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
          </button>
        </li>
      </ul>
    </div>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>
<script type="text/ng-template" id="createTeacher.html">
  <div class="p-4">
  <div>
    <div>
      <h6 class="text-muted text-center">Assign subjects to teacher</h6>
    </div>

    <div class="mt-4">
      <!--<select class="form-control col-4" ng-model="subjectTeacher.teacher">-->
        <!--<option value="" selected>Select Teacher</option>-->
        <!--<option ng-repeat="tech in teachers" value="{{tech.id}}" ng-click="update(tech)">{{tech.name}}</option>-->
      <!--</select>-->
      <!--<br>-->

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Grade</th>
            <th>Section</th>
            <th>Subject</th>
          <th>Action</th>
          </tr>

          </thead>
          <tbody>
          <tr>

            <td>
              <select class="form-control" ng-model="newSubjectTeacher.grade" ng-change="subjectByGrade(newSubjectTeacher.grade)">
                <option value="" selected>Select Grade</option>
                <option ng-repeat="grd in grades" value="{{grd.value}}">{{grd.value}}</option>
              </select>
            </td>
            <td>
              <select class="form-control" ng-model="newSubjectTeacher.section">
                <option value="" selected>Select Section</option>
                <option ng-repeat="sec in sections" value="{{sec.value}}">{{sec.value}}</option>
              </select>
            </td>
            <td>
              <select class="form-control" ng-model="newSubjectTeacher.sub">
                <option value="" selected>Select Subject</option>
                <option ng-repeat="sub in subjects" value="{{sub}}">{{sub.name}}</option>
              </select>
            </td>
            <td><button class="btn btn-sm" ng-click="addGradeSectionSubject(newSubjectTeacher)">Add</button> </td>
          </tr>
          <tr ng-repeat="item in subjectTeacher.gradeSectionSubjects">
            <td>{{item.grade}}</td>
            <td>{{item.section}}</td>
            <td>{{item.subjectName}}</td>
            <td><button class="btn btn-danger btn-sm" ng-click="removeGradeSectionSubject($index)">Remove </button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>

      <div class="text-center">

      <button class="btn btn-rose btn-primary btn-sm" ng-click="create(subjectTeacher)">Save</button>&nbsp;
      <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Cancel</button>
      </div></div>
  </div></div>
</script>