<div class="navbar">
<form ng-submit="generateKeys()">
<div class="row">
  <div class="col-md-6">
    <div class="input-group form-group-no-border row">
      <div class="col-md-4 col-form-label">Language</div>
      <div class="col-md-8">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <select class="form-control"
                  id="language" name="language" ng-model="testkey.language" required autofocus>
            <option value="" selected>Select Language</option>
            <option value="English" selected>English</option>
            <option value="Hindi" selected>Hindi</option>
          </select>
          <!--<input type="text" class="form-control" placeholder="Gender" ng-model="user.language" required>-->
        </div>
      </div>
    </div>
    <div class="input-group form-group-no-border row">
      <div class="col-md-4 col-form-label">Grade Type</div>
      <div class="col-md-8">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <select class="form-control "
                  id="gradeType" name="gradeType" ng-model="testkey.gradeType" required autofocus>
            <option value="" selected>Select Grade Type</option>
            <option data-ng-repeat="grade in grades" value="{{grade.name}}">
              {{grade.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="input-group form-group-no-border row">
      <div class="col-md-4 col-form-label">Key Uses Count</div>
      <div class="col-md-8">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <input type="text" class="form-control" placeholder="number of keys" ng-model="testkey.count" required autofocus>
        </div>
      </div>
    </div>
    <div class="input-group form-group-no-border row">
      <div class="col-md-4 col-form-label">Test</div>
      <div class="col-md-8">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <select class="form-control "
                  id="test" name="test" ng-model="multipleTest" ng-change="addTest(multipleTest)">
            <option value="" selected>Select Test</option>
            <option data-ng-repeat="test in testData" value="{{test}}">
              {{test.name}}
            </option>
          </select>
        </div>
        <div class="col-md-15">
          <label class="btn btn-default btn-round" ng-repeat="ts in selectedTest">
            {{ts.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeTest($index)"></i>
          </label>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="input-group form-group-no-border row">
      <div class="col-md-4 col-form-label">Student Type</div>
      <div class="col-md-8">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <select class="form-control"
                  id="studentType" name="studentType" ng-model="testkey.studentType" required autofocus>
            <option value="" selected>Select Student Type</option>
            <option data-ng-repeat="student in studentTypes" value="{{student.name}}">
              {{student.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="input-group form-group-no-border row">
      <div class="col-md-4 col-form-label">UserType</div>
      <div class="col-md-8">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <select class="form-control"
                  id="userType" name="userType" ng-model="testkey.userType" required autofocus>
            <option value="" selected>Select User Type</option>
            <option value="Student" selected>Student</option>
            <option value="Professional" selected>Professional</option>
          </select>
        </div>
      </div>
    </div>
    <div class="input-group form-group-no-border row">
      <div class="col-md-4 col-form-label">Institute Name</div>
      <div class="col-md-8">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <input type="text" class="form-control" placeholder="Institute Name" ng-model="testkey.instituteName" required autofocus>
        </div>
      </div>
    </div>
    <div class="input-group form-group-no-border row">
      <div class="col-md-4 col-form-label">Hobbies</div>
      <div class="col-md-8">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <select class="form-control"
                  id="hobbies" name="hobbies" ng-model="multipleHobbies" ng-change="addHobby(multipleHobbies)">
            <option value="" selected>Select Hobbies</option>
            <option data-ng-repeat="hobby in hobbiesData" value="{{hobby}}">
              {{hobby.name}}
            </option>
          </select>
        </div>
        <div class="col-md-15">
          <label class="btn btn-default btn-round" ng-repeat="hb in selectedHobby">
            {{hb.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeHobby($index)"></i>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-md-12 offset-6">
    <button class="btn btn-default btn-round" type="submit">Generate Keys</button>
  </div>
</form>
  <br>
 <!-- <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="form-group form-group-no-border">
        <div align="center"><h5>Institute Name</h5></div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="form-group form-group-no-border">
        <div align="center"><h5>Test</h5></div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="form-group form-group-no-border">
        <div align="center"><h5>Keys</h5></div>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="k in keysData">
    <div class="col-sm-6 col-lg-4">
      <div class="form-group form-group-no-border">
        <div align="center">Manav Bharti, Dehradun</div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="form-group form-group-no-border">
        <div align="center">Spiritual Wellbeing</div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4">
      <div class="form-group form-group-no-border">
        <div align="center">{{k}}</div>
      </div>
    </div>
  </div>-->
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>