<div class="text-center">
  <ul class="nav nav-tabs justify-content-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="" data-target=".download" role="tab">
        <i class="fa fa-cloud-download" aria-hidden="true"></i> &nbsp; Download</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="" data-target=".upload" role="tab">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp;Upload</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="" data-target=".user_profile" role="tab">
        <i class="fa fa-cloud-download" aria-hidden="true"></i>&nbsp;&nbsp;User Profile &nbsp;&nbsp;<i class="fa fa-cloud-upload" aria-hidden="true"></i> </a>
    </li>
  </ul>
</div>


<div class="tab-content text-center">
  <div class="tab-pane download active" role="tabpanel">
    <div class="container">
      <div class="text-center">
        <h6 class="p-1 text-center">Download User-Test Responses</h6>
        <hr style="width: 300px;">
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="">

            <div class="card-body text-center">
              <div class="row">
                <div class="col-lg-6">
                  <label>From:
                    <input type="date" ng-model="fromDate"/>
                  </label>
                </div>
                <div class="col-lg-6">
                  <label id="toDate">To:
                    <input type="date" ng-model="toDate"/> </label>
                </div>
              </div>
              <br>
              <div class="form-group label-floating">
                <div class="dropdown">
                  <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedSchool" placeholder="Choose School..."/>
                  <ul class="dropdown-menu" aria-labelledby={{school.name}}>
                    <a class="dropdown-item" ng-click="selectAll(schools,!schools.isAllSelected());">
                      <span ng-show="schools.isAllSelected()">&#10004; &nbsp;</span>
                      <span ng-hide="schools.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      All</a>
                    <a class="dropdown-item" ng-click="school.selected= !school.selected;" ng-repeat="school in schools | filter : {name:selectedSchool}">
                      <span ng-show="school.selected">&#10004; &nbsp;</span>
                      <span ng-hide="school.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      {{school.name}}</a>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-sm btn-round" ng-click="school.selected= !school.selected;" ng-repeat="school in schools |filter : {selected:'true'}">
                    {{school.name}} &nbsp;<a><i class="fa fa-times" ng-click="school.selected= !school.selected;"></i></a>
                  </button>
                </div>
              </div>
              <div class="text-right">
                <button class="btn btn-success mt-1" ng-click="download('USER_TEST_RESPONSE')"><i class="fa fa-cloud-download" aria-hidden="true"></i> &nbsp;download</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="tab-pane upload" role="tabpanel">
    <div class="container">
      <div class="text-center">
        <h6 class="p-1 text-center">Upload User-Test Responses</h6>
        <hr style="width: 300px;">
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="">

            <div class="card-body text-center">
              <div class="row">
                <div class="col-3">
                  <div class="checkbox mt-1">
                    <input id="dryrun" ng-model="dryrun" type="checkbox">
                    <label for="dryrun">
                      <span>Dry run ?</span>
                    </label>
                  </div>
                </div>
                <div class="col-8">
                  <input class="mt-1" width="100%" id="testSheet" type="file" accept="xlsx/*" onchange="angular.element(this).scope().setFiles(this)"/>
                </div>
              </div>
              <div class="text-right">
                <button class="btn btn-success mt-1" ng-click="upload('USER_TEST_RESPONSE')"><i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp;upload</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row" ng-show="showDisplayResponse">
      <div class="card" ng-show="res.length>0">
        <div class="card-body">
          <table class="table table-hover">
            <thead class="table-inverse">
            <tr>
              <th>
                <div class="text-center"> #</div>
              </th>
              <th>
                <div class="text-center"> Name</div>
              </th>
              <th>
                <div class="text-center"> Status</div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="result.value=='OK' ? 'table-success' : 'table-danger'" ng-repeat="result in res">
              <td>
                <div class="text-center"> {{$index+1}}</div>
              </td>
              <td>
                <div class="text-center"> {{result.name}}</div>
              </td>
              <td>
                <div class="text-center"> {{result.value}}</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane user_profile" role="tabpanel">
    <div class="container">

      <div class="row">
        <div class="col-lg-3 col-md-3">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="">
            <div class="card-body text-center">
              <div class="text-center">
                <h6 class="p-1 text-center">Download User profiles</h6>
                <hr style="width: 300px;">
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <label>From:
                    <input type="date" ng-model="fromDate"/>
                  </label>
                </div>
                <div class="col-lg-6">
                  <label>To:
                    <input type="date" ng-model="toDate"/> </label>
                </div>
              </div>
              <br>
              <div class="form-group label-floating">
                <div class="dropdown">
                  <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedSchool" placeholder="Choose School..."/>
                  <ul class="dropdown-menu" aria-labelledby={{school.name}}>
                    <a class="dropdown-item" ng-click="selectAll(schools,!schools.isAllSelected());">
                      <span ng-show="schools.isAllSelected()">&#10004; &nbsp;</span>
                      <span ng-hide="schools.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      All</a>
                    <a class="dropdown-item" ng-click="school.selected= !school.selected;" ng-repeat="school in schools | filter : {name:selectedSchool}">
                      <span ng-show="school.selected">&#10004; &nbsp;</span>
                      <span ng-hide="school.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      {{school.name}}</a>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-sm btn-round" ng-click="school.selected= !school.selected;" ng-repeat="school in schools |filter : {selected:'true'}">
                    {{school.name}} &nbsp;<a><i class="fa fa-times" ng-click="school.selected= !school.selected;"></i></a>
                  </button>
                </div>
              </div>
              <div class="text-right">
                <button class="btn btn-success mt-1" ng-click="download('USER_PROFILE')"><i class="fa fa-cloud-download" aria-hidden="true"></i> &nbsp;download</button>
              </div>
            </div>
            <hr>
            <div class="card-body text-center">
              <div class="text-center">
                <h6 class="p-1 text-center">Upload user profiles</h6>
                <hr style="width: 300px;">
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="checkbox mt-1">
                    <input id="dryrun1" ng-model="dryrun" type="checkbox">
                    <label for="dryrun1">
                      <span>Dry run ?</span>
                    </label>
                  </div>
                </div>
                <div class="col-8">
                  <input class="mt-1" width="100%" id="user_profile_Sheet" type="file" accept="xlsx/*" onchange="angular.element(this).scope().setFiles(this)"/>
                </div>
              </div>
              <div class="text-right">
                <button class="btn btn-success mt-1" ng-click="upload('USER_PROFILE')"><i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp;upload</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row" ng-show="showDisplayResponse">
      <div class="card" ng-show="res.length>0">
        <div class="card-body">
          <table class="table table-hover">
            <thead class="table-inverse">
            <tr>
              <th>
                <div class="text-center"> #</div>
              </th>
              <th>
                <div class="text-center"> Name</div>
              </th>
              <th>
                <div class="text-center"> Status</div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="result.value=='OK' ? 'table-success' : 'table-danger'" ng-repeat="result in res">
              <td>
                <div class="text-center"> {{$index+1}}</div>
              </td>
              <td>
                <div class="text-center"> {{result.name}}</div>
              </td>
              <td>
                <div class="text-center"> {{result.value}}</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>