<div class="card col-lg-12">
    <div class="card-header">
        <h6 class="card-title">Teacher_Grade Management<input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search.." ng-model="searchText"></h6></div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                    <div class="col-md-12">
                        <div class="input-group form-group-no-border">
                            <select class="form-control col-lg-3" ng-model="schoolId">
                                <option value="" selected>Select School</option>
                                <option ng-repeat="sch in listSchooles" value="{{sch.id}}">{{sch.name}}</option>
                            </select>&nbsp;&nbsp;
                            <select class="form-control col-lg-3" ng-model="gradeId">
                                <option value="" selected>Select Grade</option>
                                <option ng-repeat="grd in listGrades" value="{{grd.id}}">{{grd.value}}</option>
                            </select>&nbsp;&nbsp;
                            <button type="button" class="btn btn-info btn-sm" ng-click="filterSearch()">Filter Teachers</button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-info btn-sm" ng-click="removeAll()">Remove All</button>
                        </div>
                    </div>
                </tr>
                <tr>
                    <th><div class="checkbox" style="display: inline">
                        <input id="selectAllTeacher" ng-model="selectAllTeacher" ng-change="isSelectAllTeacher()" type="checkbox">
                        <label for="selectAllTeacher">
                            <span>&nbsp;</span>
                        </label>
                    </div></th>
                    <th>Teacher</th>
                    <th>School</th>
                    <th>Grade</th>
                    <th>Students</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="teacher in listOfTeachers |orderBy:'name'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
                    <td>
                        <div class="checkbox">
                            <input id="{{teacher.id}}" ng-model="teacher.selectTeacher" ng-change="isTeacherSelected(teacher)" type="checkbox">
                            <label for="{{teacher.id}}">
                                <span>&nbsp;</span>
                            </label>
                        </div>
                    </td>
                    <td>{{teacher.name}}</td>
                    <td>{{teacher.schoolName}}</td>
                    <td>{{teacher.gradeName}}</td>
                    <td><i class="fa fa-table" aria-hidden="true" ng-click="loadStudentByGrade(teacher.grade)"></i></td>
                    <td><i class="fa fa-wrench" aria-hidden="true" ng-click="manageGradeAssignment(teacher)"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <ul class="pagination" ng-show="listOfTeachers.length">
            <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
            <li>
                <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                </button>
            </li>&nbsp;
            <li>
                <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                </button>
            </li>
        </ul>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>

<script type="text/ng-template" id="teacherGradeView.html">
    <div class="card col-lg-12">
        <div class="card-header">
            <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Teacher Grade</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                <tr>
                    <td>TeacherName</td>
                    <td>{{teacherName}}</td>
                </tr>
                <tr>
                    <td>Choose Grade</td>
                    <td><select class="form-control" ng-model="teacherGrad">
                        <option value="" selected>Select Grade</option>
                        <option ng-repeat="grad in listGrades" value="{{grad.id}}">{{grad.value}}</option>
                    </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-rose btn-primary btn-sm" ng-click="updateTeacherGrade(teacherGrad)">Save</button>&nbsp;
            <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="student.html">
    <div class="card col-lg-12">
        <div class="card-header">
            <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Student List</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Section</th>
                    <th>Grade</th>
                    <th>School</th>
                </tr>
                <tr ng-repeat="std in studentList">
                    <td>{{std.name}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.gender}}</td>
                    <td>{{std.sectionName}}</td>
                    <td>{{std.gradeName}}</td>
                    <td>{{std.schoolName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">close</button>
        </div>
    </div>
</script>
