<div class="container">
  <div class="card">
    <div class="card-header text-right">
      <input type="text" class="form-control col-md-3" style="float:left;" placeholder="Search.." ng-model="searchText">
      <button class="btn btn-rose btn-default btn-sm" ng-click="createNew()">Create New</button>
    </div>
    <table class="table">
      <thead class="thead">
      <tr>
        <th>Name</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Gender</th>
        <th>School</th>
        <!--<th>Speciality</th>-->
        <th>Education</th>
        <th>Principal</th>
        <th>ClassTeacher</th>
        <!--<th>SubTeacher</th>-->
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-default" ng-repeat="teach in listOfTeachers| orderBy:'name' |filter:searchText | pagination: curPage * pageSize | limitTo : pageSize">
        <td>{{teach.name}}</td>
        <td>{{teach.userName}}</td>
        <td>{{teach.email}}</td>
        <td>{{teach.gender}}</td>
        <td>{{teach.schoolName}}</td>
        <!--<td>{{teach.speciality}}</td>-->
        <td>{{teach.education}}</td>
        <td>{{teach.principal}}</td>
        <td>{{teach.classTeacher}}</td>
        <!--<td>{{teach.subjectTeacher}}</td>-->
        <td><i class="fa fa-wrench" aria-hidden="true" ng-click="update(teach)"></i></td>
        <td><i class="fa fa-ban" aria-hidden="true" ng-click="deleteRecord(teach.id)"></i></td>
      </tr>
      </tbody>
    </table>
    <div class="card-footer">
      <ul class="pagination" ng-show="listOfTeachers.length">
        <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
        <li>
          <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
          </button>
        </li>&nbsp;
        <li>
          <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
          </button>
        </li>
      </ul>
    </div>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>
<script type="text/ng-template" id="createTeacher.html">

  <div class="p-4">


    <div class="container">
      <div class="text-center">
        <h5 class="mb-2"><strong>Teacher Management</strong></h5>
      </div>
      <div class="table-responsive mt-4">
        <table class="table table-bordered ">
          <caption>
            <ul>
              <li>Create a profile of teacher here, and assign to a user</li>
              <li>
                If this teacher is a class teacher, you can add his class, section and subject on same screen.
              </li>
              <li>If this teacher is a subject teacher too, then you can add his grade, section, subject in next, <strong>"subject-teacher management"</strong> screen.</li>
            </ul>
          </caption>
          <tbody>
          <tr>
            <th>Teacher as user</th>
            <td>
              <select class="form-control" ng-model="selectedUser" ng-change="selectUserForTeacher(selectedUser)">
                <option value="" disabled selected>Select User</option>
                <option ng-repeat="user in users track by $index" value="{{user}}">{{user.username}}</option>
              </select>
            </td>
            <th colspan="2"><h6 style="text-align: center">{{teacher.name}}</h6></th>
          </tr>
          <tr>
            <th>Education</th>
            <td><input type="text" class="form-control" ng-model="teacher.education"></td>
            <th>Speciality</th>
            <td>
              <input type="text" class="form-control" ng-model="teacher.speciality">
            </td>
          </tr>
          <tr>
            <th>HOD</th>
            <td>
              <div class="checkbox">
                <input id="isHod" type="checkbox" ng-model="teacher.hod" ng-change="teacher.principal = false;teacher.classTeacher = false;">
                <label for="isHod">
                  is HOD
                </label>
              </div>
            </td>
            <th>Principal</th>
            <td>
              <div class="checkbox">
                <input id="isPrincipal" type="checkbox" ng-model="teacher.principal" ng-change="teacher.hod = false;teacher.classTeacher = false;teacher.subjectTeacher = false;">
                <label for="isPrincipal">
                  is Principal
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <th>SubjectTeacher</th>
            <td>
              <div class="checkbox">
                <input id="isSubjectTeacher" type="checkbox" ng-model="teacher.subjectTeacher" ng-change="teacher.principal = false;teacher.hod = false; ">
                <label for="isSubjectTeacher">
                  isSubjectTeacher
                </label>
              </div>
            </td>
            <th>ClassTeacher</th>
            <td>
              <div class="checkbox">
                <input id="isClassTeacher" type="checkbox" ng-model="teacher.classTeacher" ng-change="teacher.principal = false;teacher.hod = false;">
                <label for="isClassTeacher">
                  isClassTeacher
                </label>
              </div>
            </td>
          </tr>


          <tr ng-show="teacher.classTeacher">
            <th>Class Teacher of Grade</th>
            <td><input type="text" class="form-control" ng-model="teacher.grade" ng-change="subjectByGrade(teacher.grade)"></td>
            <th>Class Teacher of Section</th>
            <td><input type="text" class="form-control" ng-model="teacher.section"></td>
          </tr>
          <tr ng-show="teacher.classTeacher">
            <th>Class Teacher teach Subject</th>
            <td><select class="form-control" ng-model="teacher.subject">
              <option value="" disabled selected>Select Subject</option>
              <option ng-repeat="sub in subjects track by $index" value="{{sub.id}}">{{sub.name}}</option>
            </select></td>
          </tr>

          </tbody>
        </table>
        <div class="table-responsive" ng-show="teacher.subjectTeacher || teacher.hod">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Grade</th>
              <th>Section</th>
              <th>Subject</th>
              <th>Action</th>
            </tr>

            </thead>
            <tbody>
            <tr>

              <td>
                <select class="form-control" ng-model="temp.grade" ng-change="subjectByGrade(temp.grade)">
                  <option value="" disabled selected>Select Grade</option>
                  <option ng-repeat="grd in grades track by $index" value="{{grd.value}}">{{grd.value}}</option>
                </select>
              </td>
              <td>
                <select class="form-control" ng-model="temp.section">
                  <option value="" disabled selected>Select Section</option>
                  <option ng-repeat="sec in sections track by $index" value="{{sec.value}}">{{sec.value}}</option>
                </select>
              </td>
              <td>
                <select class="form-control" ng-model="temp.sub">
                  <option value="" disabled selected>Select Subject</option>
                  <option ng-repeat="sub in subjects track by $index" value="{{sub}}">{{sub.name}}</option>
                </select>
              </td>
              <td>
                <button class="btn btn-sm" ng-click="addGradeSectionSubject(temp)">Add</button>
              </td>
            </tr>
            <tr ng-repeat="item in teacher.gradeSectionSubjects track by $index">
              <td>{{item.grade}}</td>
              <td>{{item.section}}</td>
              <td>{{item.subjectName}}</td>
              <td>
                <button class="btn btn-danger btn-sm" ng-click="removeGradeSectionSubject($index)">Remove</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-rose btn-primary btn-sm" ng-click="create(teacher)">Save</button>&nbsp;
        <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</script>