<div class="card col-lg-12">
  <div class="card-header">
    <h6 class="card-title">Test Assign Management({{currentPilotName}})<input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search user" ng-model="searchText"></h6></div>
  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead class="text-primary">
        <tr>
          <div class="col-md-12">
            <div class="input-group form-group-no-border">
              <!--<select class="form-control col-lg-3" ng-model="tenantId">
                <option value="" selected>Select Tenant</option>
                <option ng-repeat="tent in listTenants" value="{{tent.id}}">{{tent.name}}</option>
              </select>
              &nbsp;&nbsp;-->
              <select class="form-control col-lg-3" ng-model="roleName">
                <option value="" selected>Select Assigner Type</option>
                <option value="SchoolAdmin">SchoolAdmin</option>
                <option value="FieldManager">FieldManager</option>
              </select>&nbsp;&nbsp;
              <button type="button" class="btn btn-info btn-sm" ng-click="fetchUserList()">Fetch Assigners</button>
            </div>
          </div>
        </tr>
        <tr ng-show="listUsers.length">
          <th><div class="checkbox" style="display: inline">
            <input id="selectAllUser" ng-model="selectAllUsers" ng-change="isSelectAllUser()" type="checkbox">
            <label for="selectAllUser">
              <span>&nbsp;</span>
            </label>
          </div></th>
          <th>UserName </th>
          <th>User Product</th>
          <th>Count</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in listUsers |orderBy:'userName'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
          <td>
            <div class="checkbox">
              <input id="{{user.userId}}" ng-model="user.selectUser" ng-change="isUserSelected(user)" type="checkbox">
              <label for="{{user.userId}}">
                <span>&nbsp;</span>
              </label>
            </div>
          </td>
          <td>{{user.userName}}</td>
          <td ng-show="!user.products.length"><b>Assignment Not Created</b></td>
          <td ng-show="user.products.length"><span ng-repeat="test in user.products" class="label label-info">{{test.name}}&nbsp;&nbsp;</span></td>
          <td>{{user.testCount}}</td>
          <td><i class="fa fa-wrench" aria-hidden="true" ng-click="manageAssignment(user)"></i></td>
        </tr>
        </tbody>
      </table>
      <tr>
        <span ng-show="listUsers.length">&nbsp;&nbsp;&nbsp;Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span>
        &nbsp;
        <button ng-show="listUsers.length" type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
        </button>&nbsp;
        <button ng-show="listUsers.length" type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
        </button>
        <!--<span ng-show="listUsers.length" style="float:right;">
        <button type="button" class="btn btn-primary btn-sm">Update All</button>&nbsp;
        <button type="button" class="btn btn-primary btn-sm">UnAssign All</button>
        </span>-->
      </tr>
      <table class="table table-condensed table-striped table-hover">
        <thead class="text-primary">
        <tr ng-show="listTests.length">
          <th><div class="checkbox" style="display: inline">
            <input id="selectAllTest" ng-model="selectAllTests" ng-change="isSelectAllTest()" type="checkbox">
            <label for="selectAllTest">
              <span>&nbsp;</span>
            </label>
          </div></th>
          <th>ProductName </th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="test in listTests |orderBy:'name'">
          <td>
            <div class="checkbox">
              <input id="testId-{{test.id}}" ng-model="test.selectTest" ng-change="isTestSelected(test)" type="checkbox">
              <label for="testId-{{test.id}}">
                <span>&nbsp;</span>
              </label>
            </div>
          </td>
          <td>{{test.name}}</td>
          <td>{{test.description}}</td>
        </tr>
        </tbody>
      </table>
      <tr>
        <div class="col-md-12">
          <div class="input-group form-group-no-border row">
            <div class="col-md-2 col-form-label">User Test Count:</div>
            <div class="col-md-4">
              <div class="input-group form-group-no-border">
                <span class="input-group-addon"><i class="fa fa-list-ol" aria-hidden="true"></i></span>
                <input type="number" class="form-control" placeholder="Enter No Of count" ng-model="userTestAssignment.numberOfAttempt">
              </div>
            </div>
          </div>
        </div>
      </tr>
      <!--<tr>
        <div class="col-md-12">
          <div class="input-group form-group-no-border row">
            <div class="col-md-2 col-form-label">Current Pilot:</div>
            <div class="col-md-4">
              <div class="input-group form-group-no-border">
                <span class="input-group-addon"><i class="fa fa-balance-scale" aria-hidden="true"></i></span>
                <select class="form-control" ng-model="userTestAssignment.pilotName">
                  <option value="" selected>Select Current Pilot</option>
                  <option ng-repeat="plt in listPilots" value="{{plt.value}}">{{plt.value}}</option>
                </select>
                &lt;!&ndash;<input type="date" class="form-control" ng-model="userTestAssignment.validTillDate">&ndash;&gt;
              </div>
            </div>
          </div>
        </div>
      </tr>-->
    </div>
  </div>
  <div class="card-footer text-right">
    <!--<button class="btn btn-rose btn-default btn-sm col-lg-1" ng-click="updateQuestion=false">Close</button>&nbsp;-->
    <button class="btn btn-rose btn-primary btn-sm col-lg-1" ng-click="saveUserTestAssignment(userTestAssignment)">Save</button>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>

<script type="text/ng-template" id="adminTestView.html">
  <div class="card col-lg-12">
    <div class="card-header">
      <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">({{realCount}})&nbsp;Assigned Product&nbsp;
        <i class="fa fa-plus-square" aria-hidden="true" ng-click="showTest()"></i></h6>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <tbody>
        <tr>
          <th>Name</th>
          <th><i class="fa fa-trash" aria-hidden="true" ng-click="removeAllUserTest()"></i></th>
        </tr>
        <tr ng-repeat="test in userAvlTests track by $index">
          <td>{{test.name}}</td>
          <td><i class="fa fa-window-close" aria-hidden="true" ng-click="removeUserTest($index)"></i></td>
        </tr>
        <tr>
          <td>TestCount</td>
          <td><input type="number" class="form-control" ng-model="testCount" ng-change="autoUpdate()"></td>
        </tr>
        <tr>
          <td>CurrentPilot</td>
          <td>{{currentPilotName}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-header" ng-show="addTest">
      <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Available Product</h6>
    </div>
    <div class="table-responsive" ng-show="addTest">
      <table class="table table-condensed table-striped table-hover">
        <tbody>
        <tr>
          <th>Name</th>
          <th><i class="fa fa-plus-circle" aria-hidden="true"></i></th>
        </tr>
        <tr ng-repeat="test in availableTest track by $index">
          <td>{{test.name}}</td>
          <td><i class="fa fa-plus-square" aria-hidden="true" ng-click="addUserTest($index)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-rose btn-primary btn-sm" ng-click="updateAssignTest(testCount)">Save</button>&nbsp;
      <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</script>
