<div class="container">
    <div class="card">
        <div class="card-footer text-right">
            <input type="text" class="form-control col-md-3" style="float:left;" placeholder="Searching.." ng-model="searchText">
            <!--<label class="col-form-label" style="text-align:center"><b>Tenant Management System</b></label>&nbsp;-->
            <button class="btn btn-rose btn-default btn-sm" ng-click="createNew()">Create New</button>
        </div>
        <table class="table">
            <thead class="thead">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>DomainName</th>
                <th>Address</th>
                <th>Limit</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-default" ng-repeat="tenant in listOfTenants| orderBy:'name' |filter:searchText | pagination: curPage * pageSize | limitTo : pageSize">
                <td>{{tenant.name}}</td>
                <td>{{tenant.description}}</td>
                <td>{{tenant.domain}}</td>
                <td>{{tenant.address}}</td>
                <td>{{tenant.schoolLimit}}</td>
                <td><i class="fa fa-wrench" aria-hidden="true" ng-click="update(tenant)"></i></td>
                <td><i class="fa fa-ban" aria-hidden="true" ng-click="deleteRecord(tenant.id)"></i></td>
            </tr>
            </tbody>
        </table>
        <div class="card-footer">
            <ul class="pagination" ng-show="listOfTenants.length">
                <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
                <li>
                    <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                    </button>
                </li>&nbsp;
                <li>
                    <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>
<script type="text/ng-template" id="createTenant.html">
    <div class="card col-lg-12">
        <div class="card-header">
            <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Tenant Management</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>DomainName</th>
                    <th>Address</th>
                </tr>
                <tr><div class="col-md-12">
                    <div class="row"></div></div>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" ng-model="tenant.name"></td>
                    <td><input type="text" class="form-control" ng-model="tenant.description"></td>
                    <td><input type="text" class="form-control" ng-model="tenant.domain"></td>
                    <td><input type="text" class="form-control" ng-model="tenant.address"></td>
                </tr>
                <tr><div class="col-md-12">
                    <div class="row"></div></div>
                </tr>
                <tr>
                    <th><img ng-click="browseBackImage()" class="rounded-circle img-raised" ng-src="{{backImage}}" alt="BackImage(940*623)" style="width: 120px; height: 100px">
                        <input id="backImageId" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setBackImage(this)"/>
                    </th>
                    <th>
                        <img ng-click="browseLogoImage()" class="rounded-circle img-raised" ng-src="{{logoImage}}" alt="LogoImage(130*51)" style="width: 120px; height: 100px">
                        <input id="logoImageId" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setLogoImage(this)"/>
                    </th>
                    <th><img ng-click="browseInLogoImage()" class="rounded-circle img-raised" ng-src="{{inLogoImage}}" alt="InLogoImage(130*51)" style="width: 120px; height: 100px">
                        <input id="inLogoImageId" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setInLogoImage(this)"/>
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="school limit" ng-model="tenant.schoolLimit">
                    </th>
                </tr>
                <tr><div class="col-md-12">
                    <div class="row"></div></div>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-rose btn-primary btn-sm" ng-click="create(tenant)">Save</button>&nbsp;
            <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>