<div class="container">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">All Available Offered Test<input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search..." ng-model="searchText"></h6>
        </div>
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Test Name</th>
                <th>Tests Description</th>
                <th>Publish/UnPublish</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="test.published ? 'table-success' : 'table-default'" ng-repeat="test in listOfferTest | orderBy:'testName'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
                <td>{{test.testName}}</td>
                <td>{{test.description}}</td>
                <td>
                    <button
                            ng-class="test.published ? 'btn btn-simple btn-success btn-sm' : 'btn btn-simple btn-primary btn-sm'" ng-click="publishTest(test.id, test.published)">
                        <i ng-class="test.published ? 'now-ui-icons emoticons_satisfied' : 'now-ui-icons ui-1_simple-remove'"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="card-footer">
            <ul class="pagination" ng-show="listOfferTest.length">
                <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
                <li>
                    <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                    </button>
                </li>&nbsp;
                <li>
                    <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>