<div class="card col-lg-12">
    <div class="card-header">
        <h6 class="card-title">Tenant Product Allotment<input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search.." ng-model="searchText"></h6></div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr>
                    <div class="col-md-12">
                        <div class="input-group form-group-no-border">
                            <select class="form-control col-lg-3" ng-model="productAllotment.tenantIds" size="3" multiple>
                                <option value="" selected>Select Tenants</option>
                                <option ng-repeat="tenant in tenants" value="{{tenant.id}}">{{tenant.name}}</option>
                            </select>&nbsp;&nbsp;
                            <select class="form-control col-lg-3" ng-model="productAllotment.productIds" size="3" multiple>
                                <option value="" selected>Select Products</option>
                                <option ng-repeat="prd in products" value="{{prd.id}}">{{prd.name}}</option>
                            </select>&nbsp;&nbsp;
                            <button type="button" class="btn btn-info btn-sm" ng-click="saveTenantProducts(productAllotment)">Save</button>
                        </div>
                    </div>
                </tr>
                <tr>
                    <th>Tenant</th>
                    <th>Product</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="prod in listOfAllotments |orderBy:'name'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
                    <td>{{prod.tenant}}</td>
                    <td>{{prod.product}}</td>
                    <td><i class="fa fa-trash-o fa-lg" aria-hidden="true" ng-click="remove(prod.id,prod.tenantId)"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <ul class="pagination" ng-show="listOfAllotments.length">
            <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
            <li>
                <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                </button>
            </li>&nbsp;
            <li>
                <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                </button>
            </li>
        </ul>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>
