<style>
  .takeTestButton {
    border: none;
    padding: 8px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
    cursor: pointer;
  }

  .takeTestButton {
    background-color: white;
    color: Black;
    /*border: 2px solid #f96332;*/
  }

  .takeTestButton:hover {
    background-color: #f85019;
    color: white;
  }

  .card {
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  }

  .item {
    height: 330px;
  }
</style>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="app.availabletests" href="javascript:void(0)">Our Products</a></li>
    <li class="breadcrumb-item"><a ui-sref="app.availabletests" href="javascript:void(0)">Product</a></li>
    <li class="breadcrumb-item active" aria-current="page">Constructs</li>
  </ol>
</nav>
<div class="container-fluid border-radius" style="background-image: url('../assets/img/construct.jpg'); border-radius: 7px;">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="text-left">
          <h3 class="title" style="color: white">Working Memory</h3>
          <h5 class="description" style="color: white">
            Working memory is a system for temporarily storing and managing the information required to carry out complex cognitive tasks such as learning, reasoning, and
            comprehension.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!--<div class="container" ng-hide="show404page">-->
<div class="container">
  <div class="row">
    <!--<div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="test in thirdLevelTests|orderBy:'sequence'">-->
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card-flip item">
        <div class="flip">
          <div class="card-front">
            <div class="card">
              <!--<img class="card-img-top" ng-src="{{assets_url+test.logo}}">-->
              <img class="card-img-top" src="/assets/img/1111.jpg">
              <div class="card-block">
                <h4 class="card-title text-center">Lets Recall Images</h4>
                <p class="card-subtitle mb-2 text-muted text-center">How much you can remember</p>
              </div>
            </div>
          </div>
          <div class="card-back">
            <div class="card">
              <div class="card-header">
                <h6 class="card-subtitle text-muted text-center">Intscale</h6>
              </div>
              <div class="card-block mt-4">
                <h4 class="card-title text-center mt-4"> Mantra</h4>
                <p class="card-text text-center">How much you can remember</p>
              </div>
              <div class="text-center">
                <!--<button ui-sref="app.testPanel({id: test.id})" class="takeTestButton" ng-show="$index==0 ||!test.testForce">TakeTest</button>-->
                <button ui-sref="app.testPanel({id: 12})" class="takeTestButton" ng-show="$index==0 ||!test.testForce">TakeTest</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card-flip item">
        <div class="flip">
          <div class="card-front">
            <div class="card">
              <!--<img class="card-img-top" ng-src="{{assets_url+test.logo}}">-->
              <img class="card-img-top" src="/assets/img/2222.jpg">
              <div class="card-block">
                <h4 class="card-title text-center">Lets Recall Images</h4>
                <p class="card-subtitle mb-2 text-muted text-center">How much you can remember</p>
              </div>
            </div>
          </div>
          <div class="card-back">
            <div class="card">
              <div class="card-header">
                <h6 class="card-subtitle text-muted text-center">Intscale</h6>
              </div>
              <div class="card-block mt-4">
                <h4 class="card-title text-center mt-4"> Mantra</h4>
                <p class="card-text text-center">How much you can remember</p>
              </div>
              <div class="text-center">
                <button ui-sref="app.testPanel({id: 12})" class="takeTestButton" ng-show="$index==0 ||!test.testForce">TakeTest</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container" ng-show="show404page">-->
<!--<div class="content-center brand">-->
<!--<img class="mt-lg-4 p-2" src="/assets/img/Bravo.jpg">-->
<!--<h2 class="text-center">You have taken all the tests published so far!</h2>-->
<!--<h5 class="description text-center">To view the tests taken by you, click <a ui-sref="app.home">here.</a></h5>-->
<!--</div>-->
<!--</div>-->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>