<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Test Sequencing
                <button class="btn btn-info btn-sm" ng-click="updateSequence=false" style="float:right;">Update Sequence</button>
                </h6>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-condensed table-striped table-hover">
                        <thead class="text-primary">
                        <tr>
                            <select class="form-control" ng-model="testType" ng-change="loadTestByType(testType)">
                                <option value="">Select Test Type</option>
                                <option value="construct">Test Construct</option>
                                <option value="test">Test Child</option>
                            </select>
                        </tr>
                        <tr>
                            <th>TestName</th>
                            <th>Description</th>
                            <th>SequenceNumber</th>
                            <th>Force Sequence</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="test in testList|orderBy:'name'">
                            <td>{{test.name}}{{test.version}}</td>
                            <td>{{test.description}}</td>
                            <td><input type="hidden" ng-model="test.id"><input type="number" style="text-align:center;" class="form-control" ng-model="test.sequence" ng-readonly="updateSequence"></td>
                            <td>
                                <div class="checkbox">
                                <input id="force-{{$index}}" ng-model="test.testForce" type="checkbox" ng-disabled="updateSequence">
                                <label for="force-{{$index}}">
                                    <span>&nbsp;</span>
                                </label>
                            </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-footer text-right">
                    <button class="btn btn-sm" ng-click="saveSequence()" ng-disabled="updateSequence">Save</button>
                    <button class="btn btn-sm" ng-click="updateSequence=true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

