<div class="card col-lg-12">
    <div class="card-header">
        <h6 class="card-title">Test Construct Management&nbsp;<i style="padding: 1px 2px" class="fa fa-plus-circle btn" aria-hidden="true" ng-click="newRecord()">New</i>
            <input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search..." ng-model="searchText"></h6></div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <thead class="text-primary">
                <tr><div class="col-md-12">
                    <div class="row"></div></div>
                </tr>
                <tr>
                    <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-2">
                                <div class="checkbox">
                                    <input id="onlyLeaf" type="checkbox" ng-model="onlyLeaf" ng-click="loadConstructByLeaf(onlyLeaf)">
                                    <label for="onlyLeaf">
                                        FilterOnlyLeafs
                                    </label>
                                </div>
                            </div>
                        <div class="col-md-3">
                            <select class="form-control" ng-model="parentId" ng-change="addParent(parentId)">
                                <option value="" selected>Select Parent</option>
                                <option ng-repeat="ptest in parentList" value="{{ptest}}">{{ptest.name}}</option>
                            </select>
                        </div>
                        <!--<div class="col-md-3">
                            <select class="form-control" ng-model="subParentId">
                                <option value="" selected>Select SubParent</option>
                                <option ng-repeat="sptest in subParentList" value="{{sptest}}">{{sptest.name}}</option>
                            </select>
                            </div><span><i class="fa fa-forward" aria-hidden="true" ng-click="addParent(subParentId)"></i></span>-->
                        <div class="col-md-2">
                            <button type="button" class="btn btn-info btn-sm" ng-click="saveConstruct(constructObject)">Save & Update</button>
                            </div>
                        <div class="col-md-1">
                        <button type="button" class="btn btn-info btn-sm" ng-click="treeListtest()">Test Hierarchy</button>
                        </div>
                        </div>
                    </div>
                </tr>
                <tr>
                <div class="col-md-12">
                <div class="row">&nbsp;</div>
                </div>
                </tr>
                <tr>
                    <div class="col-md-12">
                        <div class="input-group form-group-no-border row">
                            <div class="col-md-1 col-form-label">Name:</div>
                            <div class="col-md-5">
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon"><i class="fa fa-product-hunt" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter construct name" ng-model="constructObject.name">
                                </div>
                            </div>
                            <div class="col-md-1 col-form-label">Parent:</div>
                            <div class="col-md-5">
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon"><i class="fa fa-paragraph" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" placeholder="parent" ng-model="constructObject.parent" readonly>
                                    <i class="fa fa-times" aria-hidden="true" ng-click="remove()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="col-md-12">
                        <div class="input-group form-group-no-border row">
                            <div class="col-md-1 col-form-label">Introduction:</div>
                            <div class="col-md-5">
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon"><i class="fa fa-product-hunt" aria-hidden="true"></i></span>
                                    <textarea class="form-control" placeholder="Enter construct introduction" ng-model="constructObject.introduction"></textarea>
                                </div>
                            </div>
                            <div class="col-md-1 col-form-label">Procedure:</div>
                            <div class="col-md-5">
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon"><i class="fa fa-paragraph" aria-hidden="true"></i></span>
                                    <textarea class="form-control" placeholder="Enter construct procedure" ng-model="constructObject.procedure"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="col-md-12">
                        <div class="input-group form-group-no-border row">
                            <div class="col-md-1 col-form-label">Participation:</div>
                            <div class="col-md-5">
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon"><i class="fa fa-product-hunt" aria-hidden="true"></i></span>
                                    <textarea class="form-control" placeholder="Enter construct introduction" ng-model="constructObject.participation"></textarea>
                                </div>
                            </div>
                            <div class="col-md-1 col-form-label">Disclaimer:</div>
                            <div class="col-md-5">
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon"><i class="fa fa-paragraph" aria-hidden="true"></i></span>
                                    <textarea class="form-control" placeholder="Enter construct procedure" ng-model="constructObject.disclaimer"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="col-md-12">
                        <div class="input-group form-group-no-border row">
                            <div class="col-md-1 col-form-label">Description:</div>
                            <div class="col-md-5">
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon"><i class="fa fa-paragraph" aria-hidden="true"></i></span>
                                    <textarea class="form-control" placeholder="Enter construct description" ng-model="constructObject.description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-1 col-form-label">LeafNode:</div>
                            <div class="col-md-1">
                                <div class="checkbox">
                                    <input id="leafId" type="checkbox" ng-model="constructObject.leafNode">
                                    <label for="leafId">
                                      &nbsp;&nbsp;
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                    <select type="text" class="form-control" ng-model="constructObject.grades" size="3" ng-disabled="isParent||constructObject.parent!=''" multiple autofocus required>
                                        <option value="" selected>Select Construct Grades</option>
                                        <option ng-repeat="grd in grades" value="{{grd.value}}">
                                            {{grd.value}}
                                        </option>
                                    </select>
                                </div>

                                <!--<div class="input-group form-group-no-border">
                                    <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                    <select class="form-control" style="width: 100%;" ng-model="constructObject.teacherId" ng-disabled="!constructObject.leafNode">
                                        <option value="0" selected>Select Subject Teacher</option>
                                        <option ng-repeat="tec in teacherList" value="{{tec.id}}">{{tec.name}}</option>
                                    </select>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </tr>

                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Parent</th>
                    <th>Grades</th>
                    <th>IsLeafNode</th>
                    <th>LeafItem</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cons in constructList |orderBy:'name'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
                    <td>{{cons.name}}</td>
                    <td>{{cons.description}}</td>
                    <td>{{cons.parent}}</td>
                    <td><span ng-repeat="grad in cons.grades" class="label label-info">{{grad}}&nbsp;&nbsp;</span></td>
                    <td ng-show="cons.leafNode"><b>YES</b></td>
                    <td ng-show="!cons.leafNode">&nbsp;&nbsp;&nbsp;</td>
                    <td ng-show="!cons.leafNode"><i class="fa fa-thermometer-empty" aria-hidden="true"></i></td>
                    <td ng-show="cons.leafNode"><i class="fa fa-table" aria-hidden="true" ng-click="loadTestByConstruct(cons.id)"></i></td>
                    <td><i class="fa fa-wrench" aria-hidden="true" ng-click="updateConstruct(cons)"></i></td>
                    <td><i class="fa fa-ban" aria-hidden="true" ng-click="deleteConstruct(cons.id)"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <ul class="pagination" ng-show="constructList.length">
            <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
            <li>
                <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
                </button>
            </li>&nbsp;
            <li>
                <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
                </button>
            </li>
        </ul>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>

<script type="text/ng-template" id="testTree.html">
    <div class="card">
        <div class="card-header">
            <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Test Tree</h6>
        </div>
        <div ui-tree>
            <ol ui-tree-nodes="" ng-model="list">
                <li ng-repeat="item in list" ui-tree-node>
                    <div ui-tree-handle>
                        <div class="checkbox">
                            <input id="{{item.id}}" ng-model="item.selected" type="checkbox">
                            <label for="{{item.id}}">
                                {{item.name}}
                            </label>
                        </div>
                    </div>
                    <ol ui-tree-nodes="" ng-model="item.subParents">
                        <li ng-repeat="subItem in item.subParents" ui-tree-node>
                            <div ui-tree-handle>
                                <div class="checkbox">
                                    <input id="{{subItem.id}}" type="checkbox" ng-model="subItem.selected">
                                    <label for="{{subItem.id}}">
                                        {{subItem.name}}
                                    </label>
                                </div>
                            </div>
                            <ol ui-tree-nodes="" ng-model="subItem.testChild">
                                <li ng-repeat="subChild in subItem.testChild" ui-tree-node>
                                    <div ui-tree-handle>
                                        <div class="checkbox">
                                            <input id="{{subChild.id}}" type="checkbox" ng-model="subChild.selected">
                                            <label for="{{subChild.id}}">
                                                {{subChild.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <ol ui-tree-nodes="" ng-model="subChild.testLeafs">
                                        <li ng-repeat="child in subChild.testLeafs" ui-tree-node>
                                            <div ui-tree-handle>
                                                <div class="checkbox">
                                                    <input id="{{child.id}}" type="checkbox" ng-model="child.selected">
                                                    <label for="{{child.id}}">
                                                        {{child.name}}
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-rose btn-primary btn-sm" ng-click="close()">close</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="constructTest.html">
    <div class="card col-lg-12">
        <div class="card-header">
            <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Test By Construct&nbsp;
                <i class="fa fa-plus-square" aria-hidden="true" ng-click="loadAvailableTest()"></i></h6>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                <tr><th><i class="fa fa-minus-circle" aria-hidden="true"></i></th>
                    <th>Name</th>
                </tr>
                <tr ng-repeat="test in constructAvlTests track by $index">
                    <td><i class="fa fa-backward" aria-hidden="true" ng-click="removeConstructTest($index)"></i></td>
                    <td>{{test.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-header" ng-show="addTest">
            <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Available Test</h6>
        </div>
        <div class="table-responsive" ng-show="addTest">
            <table class="table table-condensed table-striped table-hover">
                <tbody>
                <tr>
                    <th>Name</th>
                    <th><i class="fa fa-plus-circle" aria-hidden="true"></i></th>
                </tr>
                <tr ng-repeat="test in availableTestListForAddInConstruct track by $index">
                    <td>{{test.name}}</td>
                    <td><i class="fa fa-forward" aria-hidden="true" ng-click="moveTestToConstruct($index)"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-rose btn-primary btn-sm" ng-click="updateTestForConstruct()">Save</button>&nbsp;
            <button class="btn btn-rose btn-primary btn-sm" ng-click="close()">Cancel</button>
        </div>
    </div>
</script>