<div class="container">

  <h2>Transactions </h2>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">index</th>
              <th scope="col">PayId</th>
              <th scope="col">Created</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Product</th>
              <th scope="col">Promo Code</th>
              <th scope="col">Percentage Discount</th>
              <th scope="col">Long Amount</th>
              <th scope="col">Description</th>
              <th scope="col">Payment Method</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions;">
              <th scope="row">{{$index}}</th>
              <td>{{transaction.payId}}</td>
              <td>{{transaction.CreatedAt}}</td>
              <td>{{transaction.username}}</td>
              <td>{{transaction.email}}</td>
              <td>{{transaction.product}}</td>
              <td>{{transaction.promoCode}}</td>
              <td>{{transaction.percentageDiscount}}</td>
              <td>{{transaction.amount}}</td>
              <td>{{transaction.description}}</td>
              <td>{{transaction.method}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>