<div class="card" ng-show="showUserPanel || editUserPanel" ng-include=" 'views/usersview.html' "></div>

<div>
    <div class="text-right">
        <label for="fromDate">From:</label>
        <input type="date" id="fromDate" ng-model="fromDate" ng-change="getUserReportStatusCount();"/>
        <label for="toDate">To:</label>
        <input type="date" id="toDate" ng-model="toDate" ng-change="getUserReportStatusCount();"/>
        <div class="btn-group">
            <button class="btn btn-sm  btn-success"
                    ng-click="shiftFromDate('lastWeek');"><i class="fa fa-calendar"
                                                             aria-hidden="true"></i>
                &nbsp; Last Week
            </button>
            <button class="btn btn-sm btn-success"
                    ng-click="shiftFromDate('lastMonth');"><i class="fa fa-calendar"
                                                              aria-hidden="true"></i>
                &nbsp; Last Month
            </button>
        </div>
    </div>
    <div class="input-group form-group-no-border">
        <select ng-show="isEnable" class="form-control" ng-model="tenantId">
            <option value="" selected>Select Tenant</option>
            <option ng-repeat="tent in listTenants" value="{{tent.id}}">{{tent.name}}
            </option>
        </select>
        <select ng-show="isEnable" class="form-control" ng-model="schoolName">
            <option value="" selected>Select school</option>
            <option ng-repeat="school in listSchools" value="{{school.name}}">
                {{school.name}}
            </option>
        </select>
        <select ng-show="isEnable" class="form-control" ng-model="roleId">
            <option value="" selected>Select User Role</option>
            <option ng-repeat="role in roles" value="{{role.id}}">{{role.name}}</option>
        </select>
        <input type="text" class="form-control" placeholder="type keyword" ng-model="query">
        <button type="button" class="btn btn-primary"
                ng-click="userListForTenant(roleId,tenantId,schoolName,false)"><i class="fa fa-search"
                                                                                  aria-hidden="true"></i> &nbsp;Search
            Users
        </button>

        <button type="button" class="btn btn-secondary"
                ng-click="downloadUsersCsv(roleId,tenantId)"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
            &nbsp;Export
        </button>
    </div>
</div>

<div ng-show="totalRecords > 0">
    <hr/>
    <div class="row">
        <div class="col lead">1-{{users.length}} of about {{totalRecords}}</div>
        <div class="col">
            <div class="text-right">
                <div class="btn-group" role="group" aria-label="User management">


                    <button type="button" class="btn btn-primary" ng-show="pageSize*page < totalRecords"
                            ng-click="userListForTenant(roleId,tenantId,schoolName,true)"><i class="fa fa-chevron-right"
                                                                                             aria-hidden="true"></i>&nbsp;Load
                        next
                        {{pageSize}}
                        records
                    </button>
                    <button type="button" class="btn btn-secondary " ng-click="newUser()"><i class="fa fa-plus"
                                                                                             aria-hidden="true"></i>&nbsp;New
                        User
                    </button>
                    <div class="dropdown" ng-show="users.selectedCount() > 0">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            More
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="" ng-click="openSponsorsModal()">Assign Sponsor</a>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<div class="card" ng-show="users.length > 0">
    <div class="card-header">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
                <div ng-show="users.selectedCount() > 0">
                    <div>
                        <span ng-show="selectAllWithSearch">All users in this search are selected.</span>
                        <span ng-hide="selectAllWithSearch">
                            {{filteredItems.isAllSelected() === true ? "All " : ''}} {{users.selectedCount()}} users on this
                        page are selected.
                        </span>
                    </div>

                    <div>
                        <button class="btn btn-success btn-simple btn-sm mb-2" ng-click="toggleSelectAllWithSearch()">
                            Select all
                            users that match this search
                        </button>
                        <button class="btn btn-warning btn-simple btn-sm mb-2"
                                ng-click="selectAll(filteredItems,false);">Clear selection
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="text-right">
                    <input type="text" class="form-control" style="float:right;" placeholder="Search..."
                           ng-model="searchText">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>

            <div>
                <div class="table-responsive">
                    <table class="table table-striped  table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input"
                                               ng-click="selectAll(filteredItems,!(isAllSelected(filteredItems)));"
                                               ng-model="isAllSelected(filteredItems)"
                                               type="checkbox">&nbsp;
                                    </label>
                                </div>
                            </th>
                            <th>UserName</th>
                            <th>Name</th>
                            <th>Contact No.-Email</th>

                            <th>DOB</th>
                            <th>Grade-School-City</th>
                            <th>Signup On</th>
                            <th>Role(s)</th>
                            <th>Deactivate</th>
                            <!--<td>report</td>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in (filteredItems = (users | filter:searchText))">
                            <td>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" ng-model="user.selected"
                                               type="checkbox">
                                        {{$index+1}}
                                    </label>
                                </div>
                            </td>
                            <td>{{user.username}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.contactNumber}}<br/>
                                {{user.email}}
                            </td>
                            <td>{{user.dob}}</td>
                            <td>{{user.grade}}
                                <br/>
                                {{user.school}}
                                <br/>
                                {{user.city}}
                            </td>
                            <td>{{user.signupDate}}</td>
                            <td><span ng-repeat="role in user.roles"
                                      class="badge badge-pill badge-primary m-1">{{role}}</span></td>
                            <td>
                                <button ng-click="updateUser(user)" class="btn btn-sm btn-primary"><i
                                        class="fa fa-pencil"></i>
                                    &nbsp;
                                </button>
                                <button class="btn btn-sm btn-danger" ng-click="removeUser(user)"><i
                                        class="fa fa-ban" aria-hidden="true"
                                ></i></button>
                            </td>
                            <!--<td ng-show="isEnable">
                                &lt;!&ndash;<a href="" ng-click="downloadIndividualReport(user.id, false)"><i class="fa fa-2x fa-download"></i></a>&ndash;&gt;
                                <a ui-sref="app.counsellorReportV2({id: user.id})" class="btn btn-default btn-sm">Counsellor
                                    AimReport</a></td>
                            <td ng-show="isEnable">
                                &lt;!&ndash;<a ng-if="user.enableAimReport" ui-sref="app.reportV2({id: user.id})" class="btn btn-info btn-sm">AimReport</a>&ndash;&gt;
                                <a ui-sref="app.reportV2({id: user.id})" class="btn btn-info btn-sm">AimReport</a>
                            </td>-->
                        </tr>
                        <tr ng-show="pageSize*page < totalRecords">
                            <td colspan="12">
                                <button class="btn btn-info btn-sm btn-block"
                                        ng-click="userListForTenant(roleId,tenantId,schoolName,true)">Load next
                                    {{pageSize}}
                                    records
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
