<form id="EditUserForm">
  <div class="card-header ">
    <h6 class="card-title"> Show User</h6>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{workingUser.mode}} User</h4>
    <div class="row">
      <div class="col-md-4">
        <label class="control-label">*User Type</label>
        <select class="form-control" ng-model="workingUser.userType">
          <option value="" selected>Sign Up As</option>
          <option value="Student">Student</option>
          <option value="Professional">Professional</option>
          <</select>
      </div>
      <div class="col-md-4">
        <div class="form-group label-floating">
          <label class="control-label">*First Name</label>
          <input class="form-control" name="firstname" type="text" ng-model="workingUser.name">
          <span class="material-input"> </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group label-floating">
          <label class="control-label">*User Name</label>
          <input class="form-control" name="username" type="text" ng-model="workingUser.username">
          <span class="material-input"> </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group label-floating">
          <label class="control-label">*Email</label>
          <input class="form-control" name="description" type="text" ng-model="workingUser.email">
          <span class="material-input"></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group label-floating">
          <label class="control-label">*Grade</label>
          <input class="form-control" name="description" type="text" ng-model="workingUser.grade">
          <span class="material-input"></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group label-floating">
          <label class="control-label">Stream</label>
          <select class="form-control" id="stream" name="stream" ng-model="user.stream">
            <option value="" selected>Select Streams</option>
            <option data-ng-repeat="stream in streams" value="{{stream}}">
              {{stream}}
            </option>
          </select>
          <span class="material-input"></span>
        </div>

      </div>
      <div class="col-md-4" ng-hide="showResetPassword">
        <div class="form-group label-floating">
          <label class="control-label">*Password</label>
          <input class="form-control" name="password" type="text" ng-model="workingUser.password">
          <span class="material-input"> </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group label-floating">
          <label class="control-label">*School Name</label>
          <select class="form-control" ng-model="workingUser.school">
            <option value="" selected>Select School</option>
            <option ng-repeat="sch in listSchools" value="{{sch.name}}">{{sch.name}}</option>
          </select>
          <span class="material-input"></span>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group label-floating">
          <label class="control-label">*City</label>
          <input type="text" class="form-control" placeholder="City" ng-model="user.city">
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-show="workingUser.mode!='New'" class="col-md-5">
        <div class="form-group label-floating" ng-show="isEnable">
          <label class="control-label">*Tenant Name</label>
          <select class="form-control" ng-model="workingUser.tenant">
            <option value="" selected>Select Tenant</option>
            <option ng-repeat="tent in listTenants" value="{{tent.id}}" ng-selected="workingUser.tenant==tent.id">{{tent.name}}</option>
          </select>
          <span class="material-input"></span>
        </div>
      </div>
      <div class="col-md-3">
        <label class="control-label">Role(s)</label>
        <select class="form-control" ng-model="selectedRole" ng-options="role as role.name for role in roles" ng-change="addRole(selectedRole)"></select>
        <span class="material-input"></span>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <button class="btn btn-info btn-sm btn-round" ng-repeat="role in workingUser.roles">
            {{role}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeRole($index)"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="form-footer text-right">
      <button class="btn btn-sm" ng-click="saveUser(workingUser)">Save</button>
      <button class="btn btn-sm" ng-click="cancelUser()">Cancel</button>
      <button class="btn btn-sm" ng-show="showResetPassword" ng-click="resetPassword(workingUser)">Reset Password</button>
      <button class="btn btn-sm" ng-click="removeUser(workingUser)">Deactivate</button>
    </div>
  </div>
</form>
