<div class="container">
  <div class="p-4">
    <table class="table table-bordered">
      <thead>
      <tr>
        <!--<th>Name</th>-->
        <th ng-if="orgName!='www'&&orgName!='talent'">Student's Name</th>
        <th ng-if="orgName=='www'||orgName=='talent'">Name</th>
        <th>{{user.name}}</th>
      </tr>
      <tr>
        <th ng-if="orgName!='www'&&orgName!='talent'">Grade</th>
        <th ng-if="orgName=='www'">Course</th>
        <th ng-if="orgName=='talent'">Designation</th>
        <th>{{user.grade}}</th>
      </tr>
      <tr>
        <th>Test's Name</th>
        <th>{{result.testName}}</th>
      </tr>
      <tr>
        <th>Test Taken On</th>
        <th>{{result.testTakenDate}}</th>
      </tr>
      <tr>
        <th>Maximum Marks</th>
        <th>{{result.maxMarks}}</th>
      </tr>
      <tr>
        <th>Obtained Marks</th>
        <th>{{result.obtainedMarks}}</th>
      </tr>
      <tr>
        <th ng-if="orgName!='www'&&orgName!='talent'">Percentage</th>
        <th ng-if="orgName=='www'||orgName=='talent'">Score</th>
        <th>{{result.percentage}}%</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<div class="container">
  <div class="card">
    <table class="table table-hover ">
      <thead class="table-inverse ">
      <tr>
        <th>S. No.</th>
        <th>Question</th>
        <th>Choosen Option</th>
        <th ng-if="orgName!='www'&&orgName!='talent'">Correct Answer</th>
        <th>Obt. Marks</th>
        <th>Max. Marks</th>
      </tr>
      </thead>
      <tbody>
      <!--<tr ng-repeat="userAnswerResponse in result.userAnswerResponses" ng-click="getQuestion(userAnswerResponse.questionId)">-->
      <tr ng-repeat="userAnswerResponse in result.userAnswerResponses">
        <td><strong>{{$index+1}}</strong></td>
        <td>{{userAnswerResponse.questionDescription}}</td>
        <td>{{userAnswerResponse.description}}</td>
        <td ng-if="orgName!='www'&&orgName!='talent'">{{userAnswerResponse.correctAnswerDescription}}</td>
        <td>{{userAnswerResponse.marks}}</td>
        <td>{{userAnswerResponse.maxMarks}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
