<div class="card col-lg-12">
  <div class="card-header">
    <h6 class="card-title">User Test Assign Management<input type="text" class="form-control col-md-4" style="float:right;" placeholder="Search user" ng-model="searchText"></h6></div>
  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead class="text-primary">
        <tr><div class="col-md-12">
          <div class="row"></div></div>
        </tr>
        <tr>
          <div class="col-md-12">
            <div class="input-group form-group-no-border">
              <!--<div class="col-md-2">
                <div class="checkbox">
                  <input id="reAssign" type="checkbox" ng-model="reAssignTest">
                  <label for="reAssign">
                    ReAssign Test
                  </label>
                </div>
              </div>-->
              <select style="cursor: pointer;" class="form-control col-lg-2" ng-model="schoolname">
                <option value="" selected>Select School</option>
                <option ng-repeat="school in listSchooles" value="{{school.name}}">{{school.name}}</option>
              </select>&nbsp;&nbsp;
              <select style="cursor: pointer;" class="form-control col-lg-2" ng-model="grade">
                <option value="" selected>Select Grade</option>
                <option ng-repeat="grd in grades" value="{{grd.value}}">{{grd.value}}</option>
              </select>&nbsp;&nbsp;
              <select style="cursor: pointer;" class="form-control col-lg-2" ng-model="userGender">
                <option value="" selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">FeMale</option>
              </select>&nbsp;&nbsp;
              <select style="cursor: pointer;" class="form-control col-lg-2" ng-model="userStatus">
                <option value="" selected>Select Status</option>
                <option ng-repeat="sts in testStatus track by $index" value="{{sts.value}}">{{sts.name}}</option>
              </select>&nbsp;&nbsp;
              <select style="cursor: pointer;" class="form-control col-lg-2" ng-model="userType">
                <option value="" selected>Select Type</option>
                <option value="assignedUser">AssignedUser</option>
                <option value="unAssignedUser">UnAssignedUser</option>
              </select>&nbsp;&nbsp;
              <button type="button" class="btn btn-info btn-sm" ng-click="fetchStudentList()">Fetch Users<i class="fa fa-spinner fa-pulse fa-fw" ng-show="showLoadingUser"></i></button>

              &nbsp;&nbsp;
              <button type="button" class="btn btn-info btn-sm" ng-click="saveUserTestAssignment()">Assign All<i class="fa fa-spinner fa-pulse fa-fw" ng-show="showLoadingAssign"></i></button>
              &nbsp;&nbsp;
              <button type="button" class="btn btn-info btn-sm" ng-click="dLinkAllTest()">DLink All<i class="fa fa-spinner fa-pulse fa-fw" ng-show="showLoadingDlink"></i></button>
             </div>
          </div>
        </tr>
        <tr>
          <div class="col-md-12">
            <div class="input-group form-group-no-border">
              <!--<button type="button" class="btn btn-info btn-sm">Allowed Test</button>&nbsp;&nbsp;-->
              <div class="col-form-label">UserCount:&nbsp;{{userCount}}</div>&nbsp;&nbsp;
              <div class="col-form-label">AllowedTestCount:&nbsp;{{allowedCount}}</div>&nbsp;&nbsp;
              <div class="col-form-label">UsedCount:&nbsp;{{usedCount}}</div>&nbsp;&nbsp;
              <div class="col-form-label">RemainingCount:&nbsp;{{remainCount}}</div>&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="col-form-label"><i style="cursor: pointer;" class="fa fa-eye" aria-hidden="true" ng-click="viewAssignedTest()"></i></div>
              &nbsp;&nbsp;<i style="cursor: pointer;" class="fa fa-download fa-3x" aria-hidden="true" ng-click="downloadByExcelSheet()"></i>
            </div>
          </div>
        </tr>
        <tr ng-show="listStudents.length">
          <th><div class="checkbox" style="display: inline">
            <input id="selectAllUser" ng-model="selectAllUsers" ng-change="isSelectAllUser()" type="checkbox">
            <label for="selectAllUser">
              <span>&nbsp;</span>
            </label>
          </div></th>
          <th>UserName</th>
          <th>UserAllowedTest</th>
          <th>TestStatus</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in listStudents |orderBy:'userName'|filter:searchText| pagination: curPage * pageSize | limitTo : pageSize">
          <td>
            <div class="checkbox">
              <input id="{{user.userId}}" ng-model="user.selectUser" ng-change="isUserSelected(user)" type="checkbox">
              <label for="{{user.userId}}">
                <span>&nbsp;</span>
              </label>
            </div>
          </td>
          <td>{{user.userName}}</td>
          <td><span ng-repeat="test in user.tests" class="label label-info">{{test}}&nbsp;&nbsp;</span></td>
          <td>{{user.testStatus}}</td>
          <td class="nested"><i class="fa fa-wrench" aria-hidden="true" ng-click="dLinkTest(user)"></i></td>
        </tr>
        </tbody>
      </table>
      <tr>
        <span ng-show="listStudents.length">&nbsp;&nbsp;&nbsp;Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span>
        &nbsp;
        <button ng-show="listStudents.length" type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
        </button>&nbsp;
        <button ng-show="listStudents.length" type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
        </button>
        <!--<span ng-show="listStudents.length" style="float:right;">
        <button type="button" class="btn btn-primary btn-sm">Update All</button>&nbsp;
        <button type="button" class="btn btn-primary btn-sm">UnAssign All</button>
        </span>-->
      </tr>
    </div>

  </div>
  <div class="card-footer text-right">
    <!--<button class="btn btn-rose btn-default btn-sm col-lg-1" ng-click="updateQuestion=false">Close</button>&nbsp;-->
    <!--<button class="btn btn-rose btn-primary btn-sm col-lg-1" ng-click="saveUserTestAssignment()">Save</button>-->
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>
<script type="text/ng-template" id="testView.html">
  <div class="card col-lg-12">
    <div class="card-header">
      <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Assigned Test</h6>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <tbody>
        <tr ng-repeat="test in adminTestList track by $index">
          <td>{{test}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Close</button>
    </div>
  </div>
</script>
<script type="text/ng-template" id="usertestview.html">
  <div class="card col-lg-12">
    <div class="card-header">
      <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Assigned Test&nbsp;
        <i class="fa fa-plus-square" aria-hidden="true" ng-click="showAddTest()"></i></h6>
    </div>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <tbody>
        <tr>
          <th>Name</th>
          <th><i class="fa fa-trash" aria-hidden="true" ng-click="removeAllUserTest()"></i></th>
        </tr>
        <tr ng-repeat="test in userAvlTests track by $index">
          <td>{{test}}</td>
          <td><i class="fa fa-window-close" aria-hidden="true" ng-click="removeUserTest($index)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-header" ng-show="addTest">
      <h6 style="float: center;" class="card-subtitle mb-2 text-muted text-center">Available Test</h6>
    </div>
    <div class="table-responsive" ng-show="addTest">
      <table class="table table-condensed table-striped table-hover">
        <tbody>
        <tr>
          <th>Name</th>
          <th><i class="fa fa-plus-circle" aria-hidden="true"></i></th>
        </tr>
        <tr ng-repeat="test in availableTest track by $index">
          <td>{{test}}</td>
          <td><i class="fa fa-plus-square" aria-hidden="true" ng-click="addUserTest($index)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-rose btn-primary btn-sm" ng-click="updateSingleUser()">Save</button>&nbsp;
      <button class="btn btn-rose btn-primary btn-sm" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</script>
