<div class="">
  <div class="card compose-post">
    <div class="photo-gallery-contant-main">
      <div class="container">

        <div class="row">

          <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="left-sidee">
              <div class="compress-post-a">
                <a href="" ng-click="openAddPostModal()"><i class="fa fa-pencil"></i>&nbsp; Compose post</a>
                &nbsp;&nbsp;
                | &nbsp;&nbsp;<a href="" ng-click="openAddPostModal();browseImage();"> <i class="fa fa-image"></i>
                  &nbsp;Photo/Video </a>
              </div>
              <input id="postImg" type="file" style="display:none" accept=".jpg, .jpeg, .png, .gif, .mp4"
                onchange="angular.element(this).scope().setFiles(this)" />
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="right-sidee">

              <a href="" ng-click="openMyGalleryModal();"><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;My
                Gallery</a>

              <a href="" ng-click="openMyThoughtsModal();"><i class="fa fa-book" aria-hidden="true"></i> My
                Thoughts</a>


            </div>

          </div>



        </div>

      </div>
    </div>
    <div class="whats-contant-main">
      <div class="container">
        <div class="row">
          <div class="What_mind">

            <div class="What_mind_img">
              <div class="What_mind_img_left">
                <img class="img-raised" data-ng-src="{{userImageURI}}">
              </div>
            </div>
            <div class="What_mind_text">

              <a href="" ng-click="openAddPostModal()" data-toggle="tooltip" data-placement="top"
                title="Click to make a post">What's on your mind?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card post-card" ng-repeat="post in posts | orderBy:'-id'  "
  ng-if="user.premium == true ||user.premium ==null">
  <div class="photo-gallery-contant-main">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="text-left">
            <p class="text-muted mb-0">
              <img class="rounded-circle img-raised text-left mr-3" data-ng-src="{{userImageURI}}"
                style="width: 30px; height:30px; vertical-align: middle;">
              {{user.name}}</p>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="text-md-right text-sm-left edit_and_post">
            <p class="text-muted mb-0">
              <a ng-click="askForDelete(post.id);"
                ng-if="post.contentType.toLowerCase()!='test'&&post.contentType.toLowerCase()!='counsellornotes'"><i
                  class="fa fa-trash"></i>&nbsp;&nbsp; |</a>
              <a href=""
                ng-if="post.contentType.toLowerCase()!='test'&&post.contentType.toLowerCase()!='counsellornotes'"
                ng-click="openAddPostModal(post)">&nbsp;&nbsp;<i class="fa fa-edit"></i>&nbsp;&nbsp;|</a>
              &nbsp;&nbsp; {{post.createdDate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" ng-if="post.contentType.toLowerCase()=='thought'">
    <div class="compose-post-details">
      <h5>{{post.heading}}</h5>
      <p class="post-descripction">{{post.description}}</p>
      <div class="email-button">
        <button ng-click="sharePostOnFb(post)"><i class="fa fa-facebook"></i></button>
        <button ng-click="sharePostOnEmail(post)" style="background: #dd1d1d;"><i class="fa fa-envelope-o"></i></button>
      </div>
    </div>
  </div>
  <div class="container" ng-if="post.contentType.toLowerCase()=='homework'">
    <div class="row">
      <div class="col-8">
        <h5>{{post.heading}}</h5>
        <p>{{post.description}}</p>
      </div>
      <div class="col-4">
        <div class="text-right">
          <img class="p-4" src="/assets/img/homework.png">
        </div>
      </div>
    </div>

  </div>

  <div class="container" ng-if="post.contentType.toLowerCase()=='image'">
    <div class="compose-post-details">
      <h5>{{post.heading}}</h5>
      <div class="compose-post-details-contant">
        <div class="compose-post-img">
          <img ng-src={{assets_url+post.imageName}}>
        </div>
        <div class="compose-post-text">
          <p>{{post.description}}</p>
        </div>
      </div>
      <div class="email-button">
        <button ng-click="sharePostOnFb(post)"><i class="fa fa-facebook"></i></button>
        <button ng-click="sharePostOnEmail(post)" style="background: #dd1d1d;"><i class="fa fa-envelope-o"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="container" ng-if="post.contentType.toLowerCase()=='video'">
  <div class="text-center">
    <h5>{{post.heading}}</h5>
    <video class="video-container" width="640" height="320" preload="auto" controls controlsList="nodownload"
      poster="/assets/img/loadingCubes.gif" ng-src={{assets_url+post.videoName}}></video>
    <p class="mt-2">{{post.description}}</p>
  </div>
</div>
<div class="container" ng-if="post.contentType.toLowerCase()=='test'">
  <div class="row">
    <div class="col-3">
      <img ng-src={{assets_url+post.imageName}}>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-10">
          <h5>You took the assessment on {{post.heading}}</h5>
        </div>
      </div>
      <p>{{post.description}}</p>
    </div>
  </div>
</div>
<div class="container" ng-if="post.contentType.toLowerCase()=='aimreport'">
  <div class="row">
    <div class="col-3">
      <img ng-src={{assets_url+post.imageName}}>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-10">
          <h5>{{post.heading}}</h5>
        </div>
      </div>
      <p>{{post.description}}</p>
      <!--<div class="text-left">-->
      <!--<button class="btn btn-primary" disabled ng-if="user.enableAimReport" href="" ng-click="downloadIndividualReport(user.id, false)"><i class="fa fa-2x fa-download"></i>{{userReportStatus.status}} Aim Report-->
      <!--</button>-->
      <!--</div>-->
    </div>
  </div>
</div>

</div>
</div>

<div class="row">
  <div class="col-3" ng-repeat="blog in blogs">
    <div class="card borderRadius">
      <a href={{blog.url}}>
        <img class="card-img-top" ng-src={{blog.imageUrl}}>
      </a>
      <blockquote class="blockquote mb-0 card-body">
        <h6 class="card-title">{{blog.title}}</h6>
        <p class="card-text">{{blog.description}}</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            <img ng-src={{blog.logoUrl}}> <cite title="Source Title">{{blog.author}}</cite>
          </small>
        </footer>
      </blockquote>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <div class="text-left">
              <button ng-class="blog.liked ? 'btn btn-sm btn-info' : 'btn btn-sm btn-info btn-simple'"
                ng-click="like(blog.id)">
                <span ng-show="blog.likes>0">{{blog.likes}}</span> &nbsp;<i class="fa fa-thumbs-up"></i> Like
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="text-right">
              <div class="fb-share-button" data-href={{blog.url}} data-layout="button_count" data-size="large"
                data-mobile-iframe="true"><a target="_blank"
                  href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                  class="fb-xfbml-parse-ignore">Share</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>