<style>

  /******* styling for group type questions*******/
  input[type='radio'].groupQuestions {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px #4158d5 ;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 3px 0px gray inset;
    margin: 4px;
  }

  input[type='radio'].groupQuestions:hover {
    box-shadow: 0 0 5px 0px orange inset;
  }

  input[type='radio'].groupQuestions:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }

  input[type='radio'].groupQuestions:checked:before {
    background: #00bb7e;
  }

  .groupQuestionButton {

  }

  /******* styling for image type questions*******/

  label.imageQuestion > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }

  label.imageQuestion > input + img { /* IMAGE STYLES */
    cursor: pointer;
    border: 1px solid #e2f986;
  }

  label.imageQuestion > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    border: 4px solid #76b900;
    box-shadow: none;
    opacity: 0.5;
    color: #996;
  }

  /******* styling for MCQ type questions*******/
  .custom-btn {
    border-width: 1px;
    font-weight: 500;
    font-size: 1.1111em;
    line-height: 2.35em;
    border: solid #76b900;
    border-radius: 0;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #ffffff;
    color: #76b900;
  }

  .custom-btn-test {
    background-color: #ffffff;
    color: #76b900;
  }

  .custom-btn-test:hover, .custom-btn-test:focus, .custom-btn-test:active, .custom-btn-test.active, .custom-btn-test:active:focus, .custom-btn-test:active:hover, .custom-btn-test.active:focus, .custom-btn-test.active:hover, .open > .custom-btn-test.dropdown-toggle, .open > .custom-btn-test.dropdown-toggle:focus, .open > .custom-btn-test.dropdown-toggle:hover {
    background-color: #76b900;
    /*border: solid #000000;*/
    color: #FFFFFF;
  }

  .custom-btn-test.focus, .custom-btn-test:focus {
    box-shadow: none;
  }

  /******* styling for test intro*******/
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }

  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px
  }

</style>
<div class="modal-content">
  <!--<div class="modal-header">-->
    <!--<button type="button" class="close" ng-click="closeViewQuestion()" aria-hidden="true">&times;</button>-->
  <!--</div> -->
  <!--<div class="card">-->
  <!--<div class="card-header">-->
  <!--<div class="modal-header">-->
  <!--<button type="button" class="close" ng-click="closeViewQuestion()" aria-hidden="true">&times;</button>-->
  <!--<div btf-markdown="question.description"></div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="card-block">-->
  <!--<div class="modal-body">-->
  <!--<div class="row" ng-repeat="answerRequest in question.answerRequests">-->
  <!--<div class="offset-1 col-lg-6">-->
  <!--<p>-->
  <!--{{answerRequest.description}}-->
  <!--</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <div ng-show="question.questionType.toUpperCase()=='GROUP'">
    <div class="card">
      <div class="card-header">
        <div class="modal-header">
          <button type="button" class="close" ng-click="closeViewQuestion()" aria-hidden="true">&times;</button>
          <div btf-markdown="question.description"></div>
        </div>
      </div>
      <div class="card-block">
        <div class="modal-body">
          <div class="row" ng-repeat="answerRequest in question.answerRequests">
            <div class="offset-1 col-lg-6">
              <p>
                {{answerRequest.description}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'views/testPanel/mcq.html'"></div>

  <div ng-include="'views/testPanel/image.html'"></div>

  <div ng-include="'views/testPanel/audio.html'"></div>

  <div ng-include="'views/testPanel/text.html'"></div>

  <div ng-include="'views/testPanel/slider.html'"></div>

</div>