<button class="btn btn-default btn-sm" ui-sref="app.userTimeline"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back to My Page</button>


<div class="card borderRadius mt-2">
  <div class="photo-gallery-contant-main">
  <div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12">
        <div class="text-left">
          <p class="text-muted mb-0">
            <img class="rounded-circle img-raised text-left" data-ng-src="{{userImageURI}}" style="width: 30px; height:30px; vertical-align: middle; margin-right: 10px;">
            {{user.name}}</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="text-md-right text-sm-left edit_and_post">
          <p class="text-muted m-0">
            <a ng-click="askForDelete(post.id);" ng-if="post.contentType.toLowerCase()!='test'"><i class="fa fa-trash"></i>&nbsp;&nbsp; |</a>
            <a href="" ng-if="post.contentType.toLowerCase()!='test'" ng-click="openAddPostModal(post)">&nbsp;&nbsp;<i class="fa fa-edit"></i>&nbsp;&nbsp;|</a>
            &nbsp;&nbsp; {{post.createdDate}}
          </p>
        </div>
      </div>
    </div>

  </div>
  </div>
  <div class="container" ng-if="post.contentType.toLowerCase()=='thought'">
      <h5>{{post.heading}}</h5>
      <p>{{post.description}}</p>
    </div>
</div>

  
  <div class="container" ng-if="post.contentType.toLowerCase()=='image'">
    <div class="text-center">
      <h5 class="text-left">{{post.heading}}</h5>
      <div class="post-img">
      <img ng-src={{assets_url+post.imageName}}>
    </div>
      <p class="mt-2 text-left" style="word-break: break-all">{{post.description}}</p>
    </div>
  </div>
  <div class="container" ng-if="post.contentType.toLowerCase()=='test'">
    <div class="row">
      <div class="col-3">
        <img ng-src={{assets_url+post.imageName}}>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-10">
            <h5>{{post.heading}}</h5>
          </div>
        </div>
        <p>{{post.description}}</p>
      </div>
    </div>
  </div>
  <div class="container" ng-if="post.contentType.toLowerCase()=='video'">
    <div class="text-center">
      <h5>{{post.heading}}</h5>
      <video class="video-container" width="640" height="320" preload="auto" controls controlsList="nodownload" poster="/assets/img/loadingCubes.gif"
             ng-src={{assets_url+post.videoName}}></video>
      <p>{{post.description}}</p>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-3" ng-repeat="blog in blogs">
      <div class="card borderRadius">
        <a href={{blog.url}}>
          <img class="card-img-top" ng-src={{blog.imageUrl}}>
        </a>
        <blockquote class="blockquote mb-0 card-body">
          <h6 class="card-title">{{blog.title}}</h6>
          <p class="card-text">{{blog.description}}</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              <img ng-src={{blog.logoUrl}}> <cite title="Source Title">{{blog.author}}</cite>
            </small>
          </footer>
        </blockquote>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <div class="text-left">
                <button ng-class="blog.liked ? 'btn btn-sm btn-info' : 'btn btn-sm btn-info btn-simple'" ng-click="like(blog.id)">
                  <span ng-show="blog.likes>0">{{blog.likes}}</span> &nbsp;<i class="fa fa-thumbs-up"></i> Like
                </button>
              </div>
            </div>
            <div class="col-6">
              <div class="text-right">
                <div class="fb-share-button" data-href="{{blog.url}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


