<style>
    body {
        background: url(assets/img/background-login.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100% 100%;
        height: 100vh;
    }

    .welcome-banner-main:after {
        content: "";
        display: inline-block;
        position: absolute;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        top: 0;
    }

    .welcome-banner {
        display: inline-block;
        background: #ffffff;
        width: 100%;
        padding-bottom: 30px;
        padding: 20px;
        position: absolute;
        z-index: 2;
        left: 0;
        max-width: 450px;
        right: 0;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 2px;
    }

    .welcome-banner h4 {
        margin: 0 -20px 15px -20px;
        /* color: white; */
        padding-bottom: 14px;
        border-bottom: solid 1px #ddd;
        line-height: normal;
        padding: 0 20px 15px 20px;
    }

    .welcome-banner .btn {
        margin: 0 10px;
        border: none;
        font-size: 14px;
        transition: 0.5s;
        padding: 10px 15px;
    }

    .welcome-banner .btn:hover {
        background: #263cda;
    }

    .welcome-banner i.fa.fa-arrow-left {
        position: absolute;
        top: 18px;
        left: 20px;
    }

    .welcome-banner i.fa.fa-arrow-left {
        position: absolute;
        top: 20px;
        left: 20px;
        background: #263cda;
        padding: 8px;
        border-radius: 5px;
        color: white;
    }

    .welcome-banner i.fa.fa-arrow-left:before {
        margin-right: 10px;
    }

    .set-password-main form .form-group .control-label code {
        background: none;
    }

    .set-password-main form .form-group {
        margin-bottom: 20px;
    }

    .set-password-main form .form-group .error1 {
        color: red;
        margin-top: 5px;
        display: inline-block;
        font-size: 13px;
    }

    .set-password-main form .form-group input.form-control {
        border-radius: 5px;
    }

    .set-password-main form button.btn {
        margin: 0;
    }

    .comeback-main .welcome-banner a {
        font-size: 15px;
        font-weight: bold;
        transition: 0.5s;
        display: block;
    }

    .comeback-main .welcome-banner a:hover {
        color: #4bbb7f !important;
    }

    .btn-blue {
        background-color: #263cda;
    }

    button.btn.mt-2.btn-blue:hover {
        background: #4bbb7f;
    }


    /*.welcome-banner p {
        color: white;
    }
    .welcome-banner strong {
        color: white;
    } */
</style>

<!-- <div class="page-header-image" style="background:url('../assets/img/background-login.png');"></div> -->


<div class="welcome-banner-main">

    <div ng-if="currentSlide ==='welcome'" class="container">
        <div class="welcome-banner">
            <h4>Welcome Aboard!</h4>
            <p>Thank you for choosing Aim2Excel as your guiding light.<br>

                This is a journey where you and your child will be participating hand in
                glove. Let’s begin by allowing your child to lead and cruise through the
                AIM assessments.
                <br>

                We will deliver you his/her AIM Blueprint, viz. a comprehensive report,
                once the assessments are through.
                <br>

                Let’s start by setting up a password for your account, or let your child
                do the same for us.
                <br>

            </p>
            <div class="text-center">
                <button class="btn btn-default mt-2 " ng-click="goTo('password');">
                    Set Password &nbsp;
                </button>
                <!-- <button class="btn  mt-2 btn-blue" ng-click="goTo('comeBack');" style="float: right;">
                    Come Back Later &nbsp;
                </button> -->
            </div>
        </div>
    </div>

    <div ng-if="currentSlide ==='password'" class="container set-password-main">
        <div class="welcome-banner">
            <i ng-click="goTo('welcome');" style="cursor: pointer;" class="fa fa-arrow-left" aria-hidden="true">Back</i>
            <h4 class="text-center">Set Password</h4>
            <h6 ng-if="pswdNotMatch" class="text-center">Password Dosn't match, Please Try Again </h6>
            <form name="myForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">New Password <code>*</code></label>
                            <input class="form-control" ng-blur="focs = true" ng-init="focs=false" name="newpswd"
                                type="password" pattern=".{7,}" required ng-model="password.newpswd">
                            <span class="error1" ng-if="myForm.newpswd.$touched && myForm.newpswd.$invalid"
                                style="color:red" class="material-input"> *Password must contain at least 7
                                characters</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">Confirm password <code>*</code></label>
                            <input class="form-control" name="cnfimPswd" type="password" pattern=".{7,}" required
                                ng-model="password.cnfimPswd">
                            <span class="error1"
                                ng-if="myForm.cnfimPswd.$dirty && (myForm.newpswd.$modelValue !== myForm.cnfimPswd.$modelValue) "
                                style="color:red" class="material-input">Your password and confirmation password do not
                                match</span>

                        </div>

                    </div>

                </div>
                <div class="text-right">
                    <button ng-click="changePassword('Logout');"
                        ng-disabled=" myForm.$invalid  || (myForm.newpswd.$modelValue !== myForm.cnfimPswd.$modelValue) "
                        class="btn btn-warning mt-2" style="float: left;">
                        Save & Visit Later &nbsp;
                    </button>
                    <button ng-click="changePassword('Proceed');"
                        ng-disabled=" myForm.$invalid  || (myForm.newpswd.$modelValue !== myForm.cnfimPswd.$modelValue) "
                        class="btn btn-default mt-2" style="float: right;">
                        Save & Proceed &nbsp;
                    </button>

                </div>
            </form>
        </div>


    </div>

    <div ng-if="currentSlide ==='comeBack'" class="container comeback-main">



        <div class="welcome-banner">
            <!-- <i ng-click="goTo('welcome');" style="cursor: pointer;" class="fa fa-arrow-left" aria-hidden="true">Back</i> -->

            <div class="text-center">
                <h4 class="text-center"> Password Saved Successfully</h4>
                <h5>You can sign in later with your email id and the chosen password.</h5>
                <button ng-click="logOut();" class="btn btn-blue mt-2">
                    OK, Got It! &nbsp;
                </button>
            </div>
        </div>
    </div>

</div>