<div class="row">
  <div class="col-lg-6">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title">Master Data
          <button class="btn btn-info btn-sm" ng-click="newRecord()" style="float:right;">New Record</button>
        </h6>
        <div class="form-group-no-border input-group mt-lg-3">
          <select type="text" id="chooseType" ng-change="getFilteredMasterData(selectedType)" name="chooseType"
                  class="form-control" ng-model="selectedType" autofocus required>
            <option value="" selected>Select Type</option>
            <option ng-repeat="type in types" value="{{type}}">
              {{type}}
            </option>
          </select>
          <span class="input-group-addon">
            <i class="fa fa-times" ng-show="selectedType" ng-click="refresh()" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div class="card-block">
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover">
            <thead class="text-primary">
            <tr>
              <th>Type</th>
              <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="record in records " data-ng-click="updateRecord(record)">
              <td>{{record.type}}</td>
              <td>{{record.value}}</td>
              <td class="nested">
                <i class="fa fa-trash" aria-hidden="true" ng-click="removeRecord(record)"></i></td>
            </tr>
            <tr>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" ng-show="showMasterDataPanel || editMasterDataPanel" ng-include=" 'views/masterData/masterDataView.html' ">
    </div>
  </div>
</div>

