<div class="row">
  <div class="card col-lg-12">

    <div class="card-header">
      <h6 class="card-title">Blogs</h6>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-3 ">
          <div class="form-group label-floating">
            <label class="control-label">*Name</label>
            <input class="form-control" name="name" type="text" required ng-model="workingBlog.name">
            <span class="material-input"> </span>
          </div>
        </div>

        <div class="col-md-3 ">
          <div class="form-group label-floating">
            <label class="control-label">Url</label>
            <input class="form-control" name="url" type="text" required ng-model="workingBlog.url">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Interests</label>
            <select type="number" id="selectIntrests" name="sdcds" class="form-control" ng-model="workingBlog.interestsIds" multiple autofocus required>
              <option ng-repeat="int in interests" value="{{int.id}}">
                {{int.name}}
              </option>
            </select>
            <span ng-repeat="interestName in workingBlog.interestsName">
              <button class="btn btn-info btn-sm btn-round mt-1">
                {{interestName}}
              </button>&nbsp;
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button class="btn btn-rose btn-primary" ng-click="saveBlog(workingBlog)" ng-disabled="dataLoading">
        <i class="fa fa-spinner fa-spin" ng-show="dataLoading"></i>
        <span class="sr-only">Loading...</span>Save
      </button>
      <button class="btn btn-default" ng-click="newBlog()">New Create</button>
    </div>
  </div>

  <div class="card col-lg-12">
    <div class="card-header">
      <h6 class="card-title">Blog</h6>

    </div>
    <div class="card-block">
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
          <thead class="text-primary">
          <tr>
            <th><input name="all" type="checkbox" ng-click="selectAllBlogs(all)" ng-model="all"/></th>
            <th>Name</th>
            <th>Url</th>
            <th>Likes</th>
            <th><i class="fa fa-trash-o fa-lg" aria-hidden="true" ng-click="remove()"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="blg in blogs" ng-click="updateBlog(blg)">
            <td><input type="checkbox" ng-model="blg.checked" ng-click="check()"/></td>
            <td>{{blg.name}}</td>
            <td>{{blg.url }}</td>
            <td>{{blg.likes }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>


