<form id="EditRecordForm">
  <div class="card-header " >
    <h6 class="card-title"> Edit Records </h6>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-4">
        <label class="control-label">Master Data Type</label>
        <select class="form-control" required ng-model="masterRecords.type">
          <option value="" selected>Select Type</option>
          <option ng-repeat="type in types" value="{{type}}">
            {{type}}
          </option>
          <</select>
      </div>
      <div class="col-md-4">
        <div class="form-group label-floating">
          <label class="control-label">Value</label>
          <input class="form-control"  type="text"  required  ng-model="masterRecords.value">
          <span class="material-input"> </span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-rose btn-fill"  ng-click="saveRecord(masterRecords)" >Save</button>
    <button class="btn btn-default"  ng-click="cancelUser()">Cancel</button>
  </div>
</form>
