<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="text-left">
        <div class="form-group label-floating">

          <label class="control-label">Refine Data: </label>
          <div class="dropdown">
            <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
              Click to choose data type
            </a>
            <ul class="dropdown-menu" aria-labelledby={{component}}>
              <a class="dropdown-item" ng-click="getMasterData(component);"
                 ng-repeat="component in components">{{component}}</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">

      <div class="text-right">
        <div class="form-group label-floating" style="float: right;">
          <label class="control-label">Click here for suggestion:</label>
          <div class="dropdown">
            <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="searchText" placeholder="Type for auto-complete"/>
            <ul class="dropdown-menu" aria-labelledby={{refinedRecords}}>
              <a class="dropdown-item" ng-repeat="rr in refinedRecords | unique: rr | filter : searchText track by $index " ng-click="selectRecord(rr,'newName')">{{rr}}</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">


    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card compose-post" style=" cursor: pointer;" ng-repeat="record in records" ng-hide="record==''">
        <div class="card-body" ng-click="selectRecord(record,'oldName');">
          {{record}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6" ng-hide="selectedType==''">
      <h5>Old {{selectedType}}</h5>
      <hr>
      <div class="jumbotron">
        <h3> {{oldName}}</h3></div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1" ng-hide="selectedType==''">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1>
        >>
      </h1>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6" ng-hide="selectedType==''">
      <h5>New {{selectedType}}</h5>
      <hr>
      <div class="jumbotron">
        <h3>{{newName}}</h3>

      </div>

      <div class="textarea-container">
        <textarea placeholder="Enter new word as replacement" class="form-control" ng-model="newName"></textarea>
      </div>

        <div class="text-right">
          <button class="btn btn-success" ng-click="saveRecord(selectedType)" style="float: right;">
            update items
          </button>
        </div>

    </div>
  </div>
</div>