<div>
    <h5>Sponsors</h5>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" ng-show="items.length>0">
            <div class="card ">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>S. No.</th>
                            <th>Name</th>
                            <th>description</th>
                            <th>
                                <button ng-click="new()" class="btn btn-sm btn-secondary"><i class="fa fa-plus"></i>
                                    &nbsp;New
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="getItem(item.id)" ng-repeat="item in items">
                            <td>{{$index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <button ng-click="edit(item)" class="btn btn-sm btn-primary"><i
                                        class="fa fa-pencil"></i>
                                    &nbsp;Edit
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" ng-show="showForm">
            <div class="card">
                <div ng-if="workingSponsor.id">
                    <img class="card-img"
                         data-ng-src="{{mediaFileURI}}">

                    <div>
                        <div class="text-left">
                            <input id="mediaFilePlaceholder" type="file" style="display:none"
                                   accept="image/*"
                                   onchange="angular.element(this).scope().setFiles(this)"/>
                            <!--<div class="row">
                                <div class="col"></div>
                                <div class="col"></div>
                            </div>-->
                            <div class="d-inline-block">
                                <button class="btn btn-warning btn-sm" ng-click="browseImage()"><i
                                        class="fa fa-picture-o"></i> &nbsp;choose
                                </button>
                            </div>
                            <div class="d-inline-block">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-success btn-sm dropdown-toggle"
                                            data-toggle="dropdown">
                                        <i ng-show="loadingUpload" class="fa fa-spinner fa-pulse fa-fw"></i>
                                        <i ng-hide="loadingUpload" class="fa fa-cloud-upload"></i>
                                        &nbsp;upload
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           ng-click="uploadMedia(workingSponsor.id,'logo')">logo</a>
                                        <a class="dropdown-item"
                                           ng-click="uploadMedia(workingSponsor.id,'reportCoverFrontImage')">report
                                            front cover</a>
                                        <a class="dropdown-item"
                                           ng-click="uploadMedia(workingSponsor.id,'reportCoverBackImage')">report back
                                            cover</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-right">
                        <div class="btn-group btn-group-justified ">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" ng-click="viewSponsorImage(workingSponsor.logo)">view
                                    logo
                                </button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-info btn-sm"
                                        ng-click="viewSponsorImage(workingSponsor.reportCoverFrontImage)">view report front
                                    cover
                                </button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-warning btn-sm"
                                        ng-click="viewSponsorImage(workingSponsor.reportCoverBackImage)">view report back
                                    cover
                                </button>
                            </div>
                        </div>
                    </div>

                    <hr/>
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" ng-model="workingSponsor.name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" ng-model="workingSponsor.description" class="form-control"
                                   id="description">
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" ng-model="workingSponsor.active" type="checkbox"> Is
                                Active
                            </label>
                        </div>
                        <div class="text-right">
                            <button ng-click="save();" class="btn btn-success">
                                <i ng-hide="loadingSave" class="fa fa-floppy-o"></i>
                                <i ng-show="loadingSave" class="fa fa-spinner fa-pulse fa-fw"></i>&nbsp;
                                Submit
                            </button>
                            <button ng-click="cancel()" class="btn btn-primary"><i class="fa fa-times"></i>&nbsp;Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>