<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Manage Stakeholder Question</h6>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-sm" ng-click="addQuestion()">new</button>
          </div>
        </div>
        <div class="row" style="margin-top: 25px">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                  <th>Test</th>
                  <th>description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="question in questions">
                  <td ng-click="editQuestion(question)">{{question.test.name}}</td>
                  <td ng-click="editQuestion(question)">{{question.description}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" ng-show="question.mode == 'New' || question.mode == 'Edit' || question.mode == 'Show'">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">{{question.mode}} Stakeholder Question</h6>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group form-group-no-border">
              <div class="col-md-1 col-form-label">Description:</div>
              <div class="col-md-11">
                <div class="input-group form-group-no-border">
                  <span class="input-group-addon"><i class="fa fa-paragraph" aria-hidden="true"></i></span>
                  <textarea placeholder="Enter question description" class="form-control" ng-model="question.description"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Construct:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <select class="form-control" ng-model="selectedConstruct" ng-change="constructChanged(selectedConstruct)"
                          ng-options="construct as construct.name for construct in constructs"></select>
                  <i class="fa fa-forward" aria-hidden="true" ng-click="pushTest(selectedConstruct)"></i>
                </div>
              </div>
            </div>
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Test:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <select class="form-control" ng-model="selectedTest"
                          ng-options="test as test.name for test in tests"></select>
                  <i class="fa fa-forward" aria-hidden="true" ng-click="pushTest(selectedTest)"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Sub Construct:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <select class="form-control" ng-model="selectedSubConstruct"
                          ng-options="subConstruct as subConstruct.name for subConstruct in subConstructs"
                          ng-change="subConstructChanged(selectedSubConstruct)"></select>
                  <i class="fa fa-forward" aria-hidden="true" ng-click="pushTest(selectedSubConstruct)"></i>
                </div>
              </div>
            </div>
            <div class="input-group form-group-no-border row">
              <div class="col-md-3">
                <span class="btn btn-default btn-sm btn-round" ng-show="question.test">{{question.test.name}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">SubTags:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <select class="form-control" ng-model="selectedTag"
                          ng-options="tag as tag.name for tag in subTags" ng-change="pushSubTag(selectedTag)"></select>
                </div>
              </div>
            </div><!--subtag Dropdown-->
          </div>
          <div class="col-md-6">
            <div class="input-group form-group-no-border row">
              <div class="col-md-12">
                <span class="btn btn-default btn-sm btn-round" ng-repeat="tag in question.subTags">
                  {{tag.name}} <i class="now-ui-icons ui-1_simple-remove" ng-click="popSubTag($index)"></i>
                </span>
              </div>
            </div><!--selected subtag list-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Category:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <select class="form-control" ng-model="question.category"
                          ng-options="category as category.name for category in categories track by category.id"></select>
                </div>
              </div>
            </div><!--Category-->
          </div>
          <div class="col-md-6">
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Sub Category:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <select class="form-control" ng-model="question.subCategory"
                          ng-options="subCategory as subCategory.name for subCategory in question.category.subCategories track by subCategory.id"></select>
                </div>
              </div>
            </div><!--Sub Category-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Option Count:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <input class="form-control" ng-model="question.optionCount" ng-change="optionCountChanged(question.optionCount)">
                </div>
              </div>
            </div><!--option count-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="input-group form-group-no-border row" ng-repeat="opt in question.options">
              <div class="col-md-2 col-form-label">Answer {{$index + 1}}:</div>
              <div class="col-md-5">
                <div class="input-group form-group-no-border">
                  <input class="form-control" ng-model="opt.description">
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group form-group-no-border">
                  <input class="form-control" ng-model="opt.marks">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer text-right">
        <button class="btn btn-rose btn-primary btn-sm" ng-click="save(question)" ng-disabled="saveDisable">
          <i class="fa fa-spinner fa-pulse fa-fw" ng-show="saveDisable"></i>
          Save
        </button>
        <button class="btn btn-rose btn-default btn-sm" ng-click="question = {}">cancel</button>
      </div>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>

