<div class="container">
  <div class="row">
    <div class="offset-3 col-lg-6 col-md-6 col-sm-6 ">
      <div class="card">
        <div class="card-header">
          <h6 class="card-subtitle mb-2 text-muted text-center">Stakeholder Excel Report</h6>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-12">
              <table>
                <tbody>
                <tr>
                  <td>School</td>
                  <td><select class="form-control" ng-model="selectedSchool" ng-options="school as school.name for school in schools"></select></td>
                  <td>Grade</td>
                  <td><select class="form-control" ng-model="selectedGrade" ng-options="grade as grade.value for grade in grades"></select></td>
                </tr>
                <tr>
                  <td>From Date</td>
                  <td><input type="date" ng-model="fromDate" required/></td>
                  <td>To Date</td>
                  <td><input type="date" ng-model="toDate" required/></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div align="center">
            <button class="btn btn-default btn-sm btn-block btn-round col-lg-5"
                    ng-click="downloadReport()" ng-disabled="disableDownload">
              <i class="fa fa-spinner fa-pulse fa-fw" ng-show="disableDownload"></i>Download
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
