<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Manage Stakeholders<input type="text" class="form-control col-md-5" style="float:right;" placeholder="Search" ng-model="search"></h6>
      </div>
      <div class="card-block">
        <div class="row" style="margin-top: 25px">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users |
                filter: search |
                startFrom:currentPage*pageSize |
                limitTo:pageSize">
                  <td ng-click="loadStakeholder(user)">{{user.name}}</td>
                  <td ng-click="loadStakeholder(user)">{{user.username}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <ul class="pagination" ng-show="users.length">
          <li><span class="blue">Showing Page {{currentPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
          <li>
            <button type="button" class="btn btn-info btn-sm"
                    ng-disabled="currentPage == 0"
                    ng-click="currentPage=currentPage-1"> &lt; PREV
            </button>
          </li>&nbsp;
          <li>
            <button type="button" class="btn btn-blue btn-sm"
                    ng-disabled="currentPage >= getData().length/pageSize - 1"
                    ng-click="currentPage=currentPage+1">NEXT &gt;
            </button>
          </li>&nbsp;&nbsp;
          <!--<li>-->
          <!--<select class="btn btn-sm" ng-model="goToPage">-->
          <!--<option ng-repeat="page in pages" value="{{page}}" ng-selected="page==goToPage">{{page}}</option>-->
          <!--</select>-->
          <!--</li>&nbsp;-->
          <!--<li>-->
          <!--<button type="button" class="btn btn-info btn-sm" data-ng-click="currentPage = goToPage - 1" data-ng-disabled="goToPage == 0">Go To Page</button>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 10px" ng-show="user.mode == 'add'">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">{{user.mode}} Stakeholder</h6>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-5">
            <div class="input-group form-group-no-border row">
              <div class="col-md-4 col-form-label">Student Name:</div>
              <div class="col-md-8">
                <div class="input-group form-group-no-border">
                  <!--<span class="input-group-addon"><i class="fa fa-list-ol"></i></span>-->
                  <input type="text" class="form-control" ng-model="user.name">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-group form-group-no-border row">
              <div class="col-md-4 col-form-label">Username:</div>
              <div class="col-md-8">
                <div class="input-group form-group-no-border">
                  <!--<span class="input-group-addon"><i class="fa fa-list-ol"></i></span>-->
                  <input type="text" class="form-control" ng-model="user.username">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="checkbox">
              <input type="checkbox" id="threeSixty" ng-model="user.threeSixtyEnabled">
              <label for="threeSixty">Enable 360</label>
            </div>
          </div>
        </div>

        <div class="row" ng-repeat="stk in user.stakeholders" ng-show="user.threeSixtyEnabled">
          <div class="col-md-2">
            <div class="form-group-no-border">
              <input type="text" placeholder="Stakeholder Name" ng-model="stk.name" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group-no-border">
              <input type="text" placeholder="Email" ng-model="stk.email" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group-no-border">
              <input type="text" placeholder="Mobile" ng-model="stk.mobile" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group-no-border">
              <select class="form-control" ng-model="stk.relation"
                      ng-options="relation.value as relation.name for relation in relations"></select>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group-no-border">
              <button class="btn btn-sm btn-round btn-info" ng-if="stk.status">{{stk.status}}</button>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-group-no-border">

              <div ng-if="!stk.verified">
                <button ng-show="stk.status == 'Created'" class="btn btn-sm"
                        ng-disabled="stk.verifyDisabled" ng-click="sendVerification(stk)">Send Verification
                </button>
              </div>
              <div ng-if="stk.verified">
                <button class="btn btn-sm" ng-disabled="stk.sendDisabled" ng-click="send(stk)"
                        ng-show="
                      stk.status == 'Created' ||
                      stk.status == 'InProgress' ||
                      stk.status == 'Sent'">send
                </button>
                <button class="btn btn-sm" ng-disabled="stk.remindDisabled"
                        ng-show="
                      stk.status == 'InProgress' ||
                      stk.status == 'Sent'" ng-click="remind(stk)">remind
                </button>
              </div>




            </div>
          </div>
        </div>
        <div class="row" ng-show="user.threeSixtyEnabled">
          <div class="col-md-2">
            <div class="form-group-no-border">
              <input type="text" placeholder="Stakeholder Name" ng-model="new.name" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group-no-border">
              <input type="text" placeholder="Email" ng-model="new.email" class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group-no-border">
              <input type="text" placeholder="Mobile" ng-model="new.mobile" class="form-control">
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group-no-border">
              <select class="form-control" ng-model="new.relation"
                      ng-options="relation.value as relation.name for relation in relations"></select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group-no-border">
              <button class="btn btn-sm" ng-click="addStakeholder(user,new)">add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-rose btn-primary btn-sm col-lg-1" ng-click="save(user)" ng-disabled="disableSave">
          <i class="fa fa-spinner fa-pulse fa-fw" ng-show="disableSave"></i>
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
