<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Manage Stakeholder Question</h6>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Construct:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <select class="form-control" ng-model="selectedConstruct" ng-change="constructChanged(selectedConstruct)"
                          ng-options="construct as construct.name for construct in constructs"></select>
                  <i class="fa fa-forward" aria-hidden="true" ng-click="pushTest(selectedConstruct)"></i>
                </div>
              </div>
            </div><!--Construct Dropdown-->
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Test:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <select class="form-control" ng-model="selectedTest"
                          ng-options="test as test.name for test in tests"></select>
                  <i class="fa fa-forward" aria-hidden="true" ng-click="pushTest(selectedTest)"></i>
                </div>
              </div>
            </div><!--Test Dropdown-->
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Test:</div>
              <div class="col-md-9">
                <input width="100%" id="360QuestionSheet" type="file" accept="xlsx/*" onchange="angular.element(this).scope().setFiles(this)"/>
              </div>
            </div><!--Select File-->

          </div>
          <div class="col-md-6">
            <div class="input-group form-group-no-border row">
              <div class="col-md-3 col-form-label">Sub Construct:</div>
              <div class="col-md-9">
                <div class="input-group form-group-no-border">
                  <select class="form-control" ng-model="selectedSubConstruct"
                          ng-options="subConstruct as subConstruct.name for subConstruct in subConstructs"
                          ng-change="subConstructChanged(selectedSubConstruct)"></select>
                  <i class="fa fa-forward" aria-hidden="true" ng-click="pushTest(selectedSubConstruct)"></i>
                </div>
              </div>
            </div><!--Sub Construct Dropdown-->
            <div class="input-group form-group-no-border row">
              <div class="col-md-3">
                <span class="btn btn-default btn-sm btn-round" ng-show="selectedTest">{{selectedTest.name}}</span>
              </div>
            </div><!--Test Name-->
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-rose btn-primary btn-sm" ng-click="upload()" ng-disabled="uploadDisable">
          <i class="fa fa-spinner fa-pulse fa-fw" ng-show="uploadDisable"></i>
          Upload
        </button>
        <button class="btn btn-rose btn-default btn-sm" ng-click="cancel()">cancel</button>
      </div>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
