<style>
  .cursorPointer {
    cursor: pointer;
  }
</style>

<nav class="navbar navbar-expand-lg bg-white noPrint no-print " ng-controller="headerController"
  ng-show="showDefaultNavBar">
  <div class="container-fluid">
    <div class="navbar-translate">
      <a class="navbar-brand" rel="tooltip" title="" data-placement="bottom" target="_blank"
        data-original-title="Do what you love">
        <img ng-show="internalLogo == '192intlogo.png'" src="/assets/img/abc.png">
        <img ng-show="internalLogo != '192intlogo.png' "
          ng-src="https://s3.amazonaws.com/intscale-assets/{{internalLogo}}">
        <img ng-repeat="sponsorLogo in sponsorLogoImageUrls" ng-src="{{sponsorLogo}}">
      </a>
      <button class="navbar-toggler navbar-toggler collapsed float-md-right float-sm-right float-xs-right mt-3"
        type="button" data-toggle="collapse" data-target=".navigation" aria-controls="navigation-index"
        aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end navigation">
      <!-- <div class="navbar-nav side-menu-main">

        <span style="display: inline" ng-repeat="item in menu.items | orderBy:['seq','label']">
      <div class="dropdown cursorPointer">
        <a id={{item.label}} class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">{{item.label | translate}}</a>
        <ul class="dropdown-menu" aria-labelledby={{item.label}}>
          <a class="dropdown-item" ui-sref={{submenu.state}} ng-repeat="submenu in item.submenu | orderBy:['seq','label']">{{submenu.label | translate}}</a>
        </ul>
      </div>
    </span>
        <a class="nav-item nav-link" ui-sref="app.userTimeline" translate="My Page"></a>
        <a class="nav-item nav-link" ui-sref="app.mynews" translate="My News"></a>
        <a class="nav-item nav-link" ui-sref="app.profile">
          <img class="rounded-circle" data-ng-src="{{userImageURI}}" style="width: 25px; height:25px; vertical-align: middle;" ng-show="userImageURI.length>0">&nbsp;
          {{user.name}}</a>

        <button class="btn btn-success btn-round mobile-logout" ng-click="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout
        </button>
      </div> -->
      <ul class="navbar-nav side-menu-main">
        <li class="nav-item dropdown" ng-repeat="item in menu.items | orderBy:['seq','label']">
          <a id={{item.label}} class="nav-link dropdown-toggle" data-toggle="dropdown">{{item.label | translate}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item clickable" ui-sref={{submenu.state}}
              ng-repeat="submenu in item.submenu | orderBy:['seq','label']" data-toggle="collapse"
              data-target=".navbar-collapse.show">{{submenu.label | translate}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" ui-sref="app.userTimeline" translate="My Page" data-toggle="collapse"
            data-target=".navbar-collapse.show"></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link clickable" ui-sref="app.mynews" translate="My News" data-toggle="collapse"
            data-target=".navbar-collapse.show"></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link clickable" ui-sref="app.profile" data-toggle="collapse"
            data-target=".navbar-collapse.show">
            <img class="rounded-circle" data-ng-src="{{userImageURI}}"
              style="width: 25px; height:25px; vertical-align: middle;" ng-show="userImageURI.length>0">&nbsp;
            {{user.name}}</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success text-white btn-round nav-link clickable" ng-click="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout
          </a>
        </li>
        <!-- Dropdown -->
      </ul>
    </div>
  </div>
</nav>


<nav class="navbar navbar-expand-lg bg-white" ng-controller="headerController" ng-show="showTestNavBar">
  <div class="container-fluid">

    <div class="navbar-translate">
      <a class="btn btn-neutral mobile-button">
        <img ng-if="internalLogo == '192intlogo.png'" src="/assets/img/abc.png">
        <img class="logo_img" ng-if="internalLogo != '192intlogo.png' "
          ng-src="https://s3.amazonaws.com/intscale-assets/{{internalLogo}}">
        <img ng-repeat="sponsorLogo in sponsorLogoImageUrls" ng-src="{{sponsorLogo}}">
      </a>
      <button class="navbar-toggler navbar-toggler collapsed float-md-right float-sm-right float-xs-right mt-3"
        type="button" data-toggle="collapse" data-target=".navigation" aria-controls="navigation-index"
        aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse justify-content-end navigation">
      <div class="navbar-nav">
        <a class="nav-item nav-link" style="color:#202c54">
          <img class="rounded-circle" data-ng-src="{{userImageURI}}"
            style="width: 25px; height:25px; vertical-align: middle;" ng-show="userImageURI.length>0">
          &nbsp;{{user.name}}
        </a>

        <!--<button class="btn btn-neutral btn-round" ng-disabled="disableSubmitAnswer || submitTestIcon" ng-click="submitAnswer()">-->
        <!--<i class="fa fa-save"></i> &nbsp;Submit Test-->
        <!--<i class="fa fa-spinner fa-pulse fa-fw" ng-show="submitTestIcon"></i>-->
        <!--</button>-->
      </div>
    </div>
  </div>
</nav>