<style>
  .video-container {
    overflow: hidden;
    /*position: absolute;*/
    width: 65%;
    height: auto;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border-radius: 7px
  }
</style>
<div class="container">

  <div class="text-center">
    <video id="testVideo1" class="video-container" width="" height="" preload="auto" autoplay controls controlsList="nodownload" poster="/assets/img/reel.gif"
           src="https://s3.amazonaws.com/intscale-assets/{{videoName}}"></video>
    <!--ng-src="{{assets_url+'IntscaleV2.mp4'}}"></video>-->
  </div><!--Introduction Video-->
</div>
<div class="container">
  <div class="text-center mt-1">
   <h5>Instructions</h5>
    <hr>
   <p class="text-muted strong"> For each statement, choose the option that describes your pupil the best</p>

    <button class="btn btn-info btn-lg" ng-click="begin()" ng-disabled="showLoadingIcon">
      <i class="fa fa-spinner fa-pulse fa-fw" ng-show="showLoadingIcon"></i>
      Begin Test
    </button>
  </div><!--Introduction text-->
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
