<div class="modal-content" style="padding-left: 400px;" ng-show="showLoadingImage">
  <div class="modal-body">
    <img src="/assets/img/imgloading.gif">
  </div>
</div>
<div class="card" ng-hide="showLoadingImage">
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
              <th>Question</th>
              <th ng-repeat="option in pages[currentPage].options">{{option}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="q in pages[currentPage].questions">
              <td>{{q.description}}</td>
              <td ng-repeat="o in q.options">
                <input type="radio" name="{{q.id}}"
                       ng-checked="o.selected"
                       ng-click="optionClicked(q,o)">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm" ng-click="previous()" ng-disabled="currentPage<1">Previous</button>
    <button class="btn btn-sm" ng-click="next()" ng-show="currentPage<pages.length-1">Next</button>
    <button class="btn btn-sm" ng-click="submitTest()" ng-show="currentPage==pages.length-1">Submit</button>

  </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>


