<style>
    .takeTestButton {
        border: none;
        padding: 8px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.6s; /* Safari */
        transition-duration: 0.6s;
        cursor: pointer;
    }

    .takeTestButton {
        background-color: white;
        color: Black;
        /*border: 2px solid #f96332;*/
    }

    .takeTestButton:hover {
        background-color: #f85019;
        color: white;
    }

    .product-card {
        height: 350px;
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
        transition: 0.3s;
    }

    .product-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
        width: 101%;
    }

</style>
<div class="container" ng-hide="show404page">
    <div class="row borderRadius">
        <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="construct in constructs">
            <a ui-sref="stakeholder.intro({t: construct.id,v:construct.video})">
                <div class="card product-card">
                    <img class="card-img-top" ng-src="https://s3.amazonaws.com/intscale-assets/{{construct.image}}">
                    <div class="card-block">
                        <h4 class="card-title text-center">{{construct.name}}</h4>
                        <p class="card-subtitle mb-2 text-muted text-center">{{construct.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container" ng-show="show404page">
    Thank you for participating, your response will be incorporated in your pupil's assessment report.

</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>