<style>
  .cursorPointer {
    cursor: pointer;
  }
</style>
<nav class="navbar navbar-toggleable-md bg-white">
  <div class="container">
    <a class="navbar-brand">
        <img src="/assets/img/logo-int.png">
    </a>

  </div>
</nav>
<div class="container" ui-view>
  <div class="text-center">
    <div ng-show="showPanel == 'verified'">
      Dear Respondent,<br/>
      <p>You have been verified. You will now receive a separate email where you can participate in 360° feedback.</p>
    </div>
    <div ng-show="showPanel=='already_verified'">
      Dear Respondent,<br/>
      <p>You have already been verified.</p>
    </div>

    <div ng-show="showPanel=='error'">
      {{errorMessage}}
    </div>
  </div>
</div>