Dear ${name},
<br/>
<p>Congratulations on completing the AIM assessment. Your report generation is in process. We will
  notify you when it is ready.</p>
<br/>

<br/>
<br/>
<br/>
Warm Regards,<br/>
Team AIM2EXCEL<br/>
<a href="www.aim2excel.in">www.aim2excel.in</a>