Dear Sir/Madam
<br/>
<p>${name}'s Blueprint is ready. You can view the report from attachments.</p>
<br/>



<br/>
<br/>
Warm Regards,<br/>
Team AIM2EXCEL<br/>
<a href="www.aim2excel.in">www.aim2excel.in</a>