<div class="modal-content">
  <div class="modal-header post-header">
      <button type="button" class="close p-2" ng-click="closeAddPostModal();" aria-label="Close">
          <span aria-hidden="true">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
            </button>
  </div>
  <div class="modal-body post-modal-body">
    <div class="">
   
      <div class="container mt-4">
        <div class="row">
          <div class=" col-lg-9 col-md-7 col-sm-12">
            <div class="textearia-main">
            <h5 class="story-heading">Story title</h5>
            <textarea class="form-control story-textarea " placeholder="Write your story title here." ng-model="request.heading"></textarea>
          </div>
          <div class="textearia-main">
            <p class="story-heading">Your story</p>
            <textarea class="form-control story-textarea" placeholder="Write your story here." ng-model="request.description"></textarea>
          </div>
        </div>
          <div class="col-lg-3 col-md-5 col-sm-12">
            <div class="text-center"> 
              <img class="rounded img-raised mt-4" ng-show="postImageURI.length>0" data-ng-src="{{postImageURI}}" style="max-height: 200px; max-width: 100%;">
              <video controls preload controlsList="nodownload" ng-show="videoName.length>0" width="520" height="240" poster="/assets/img/loadingCubes.gif"
                     ng-src="{{assets_url+ request.videoName}}" type="video/mp4"></video>
              <!--<video class="video-container"  width="640" height="320" poster="/assets/img/reel.gif" ></video>-->
              <div class="text-center mt-2">
                <a href="" ng-click="clearImage();"><span class="badge badge-default" ng-show="postImageURI.length>0">clear</span></a>
              </div>
              <h5 ng-click="browseImage()" style="cursor: pointer;" class="description mt-4 p-4" ng-if="!postImageURI.length>0">Click here to upload a photo/video &nbsp;<i
                  class="fa fa-camera" aria-hidden="true"></i></h5>
              <div class="text-center" style="margin-top: 24px;">
                <button class="btn btn-success" ng-click="savePost(request)" ng-disabled="loading">
                  <i class="now-ui-icons loader_refresh spin" ng-show="loading"></i>Post
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>