<div class="card card-signup edit-signup-card" data-background-color="orange">
  <form class="form" name="askEmail">
    <div class="email_header">
      <h4 class="title title-up">Let others know what you have been doing recently.</h4>
      <img src="/assets/img/emailPic.png" style="max-height: 70px;">
    </div>
    <div class="email_content">

      <div class="input-group mb-0 form-group-no-border p-1">
                                        <span class="input-group-addon">
                                          <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </span>
        <input type="email" class="form-control" placeholder="Write their email-id here." ng-model="email" required>

      </div>
      <div class="input-group form-group-no-border p-1 borderRadius">
        <textarea class="form-control" placeholder="Message" ng-model="body" required></textarea>
      </div>
    </div>
    <div class="email_send">
      <button class="btn btn-neutral btn-lg btn-round" ng-disabled="askEmail.$invalid" type="submit" ng-click="closeSharePostOnEmail(email, body)">Send &nbsp;<i
          class="fa fa-paper-plane"></i></button>
    </div>
  </form>
</div>