<div class="card card-signup" data-background-color="green">
  <form class="form" name="askEmail">
    <div class="email_header">
      <h4 class="title title-up">Please, enter your email id</h4>
      <img src="/assets/img/emailPic.png" style="width: 100px;">
    </div>
    <div class="email_content">

      <div class="input-group mb-0 form-group-no-border">
                                        <span class="input-group-addon">
                                          <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </span>
        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,5}$" class="form-control" placeholder="Email..." ng-model="user.email" required>
      </div>
    </div>
    <div class="email_send">
      <button class="btn btn-neutral btn-round btn-lg" ng-disabled="askEmail.$invalid" type="submit" ng-click="closeAskForEmail(user.email, reportType)">Submit</button>
    </div>
  </form>
</div>