<br>
<br>

<div class="container">
  <img src="/assets/img/buyNowOrLoseTheDeal.png" style="height: auto; width: auto">
</div>
<br>
<br>
<br>
<button class="btn" ng-click="closeBuyProductModal()"> close </button>