<style>

    .modal-open .modal {
        background: rgba(0, 0, 0, 0.2);
        padding: 20px;
    }

    .modal-open .modal .modal-dialog {
        height: auto !important;
        position: absolute;
        top: 50%;
        margin: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        max-width: 520px;
        width: 100%;
    }

    .modal-header {
        padding: 15px 10px !important;
        border-bottom: solid 1px #ddd !important;
        line-height: normal;
    }

    .modal-header h3.modal-title {
        font-size: 24px;
        color: #333;
        line-height: normal;
    }

    .modal-body {
        padding-top: 20px !important;
    }

    .modal-content .modal-body p {
        color: #222;
        font-size: 15px;
    }

    .modal-content .modal-body + .modal-footer {

        margin-top: 0;
    }

    .button-main {
        margin: 0 -4px;
    }

    .button-main a.btn {
        font-size: 15px;
        margin: 0 5px;
        display: inline-block;
    }

    .modal-footer {
        border-radius: 5px;
        border-top: solid 1px #ddd !important;
        margin-top: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .modal-footer a {
        padding: 8px;
    }

    @media screen and (max-width: 639px) {

        .modal-open .modal .modal-dialog {
            position: static;
            transform: inherit;
        }

        .button-main a.btn {
            display: block;
            margin-bottom: 10px;
        }

    }

</style>
<div class="modal-header">
    <h3 class="modal-title">EXPLORE OUR PROGRAMS</h3>
</div>

<div class="modal-body">
    <p>
        <strong>We hope the mock assessment enthralled you. We have also mailed you a brief report.</strong>
    </p>
    <p>You should explore our complete program for grades 6-12 by choosing below:</p>

    <div class="button-main">
        <a style="background:#4158d5;color:white;" class="btn btn-info"
           href="https://aim2excel.in/products-class-6-8/#packages">6<sup>th</sup> - 8<sup>th</sup></a>
        <a style="background:#dd9f00;color:white" class="btn btn-info"
           href="https://aim2excel.in/product-class-9-10th/#packages">9<sup>th</sup> - 10<sup>th</sup></a>
        <a style="background:#00bb7e;color:white;" class="btn btn-info"
           href="https://aim2excel.in/class-11-12th/#packages">11<sup>th</sup> - 12 & Beyond<sup>th</sup></a>
    </div>
</div>

<div class="modal-footer">
    <a style="background:#202c54;color: white" class="btn btn-primary pull-right" type="button" ng-click="cancel()">Skip
        for later</a>
    <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
</div>