<div class="modal-content">
  <div class="modal-header">
    <h5 ng-show="displayCorrectOptionMsgForPractice" class="modal-title">Incorrect Answer Selected</h5>
    <h5 ng-hide="displayCorrectOptionMsgForPractice" class="modal-title">Correct Answer is :</h5>
  </div>
  <div class="modal-body">
    <div ng-show="displayCorrectOptionMsgForPractice">
      <blockquote>
        <p class="blockquote blockquote-danger text-center"> You have selected a wrong option again.</p>
      </blockquote>
      <p class="text-right">To see the correct answer click <a ng-click="displayCorrectOptionMsgForPractice=false"><strong class="text-primary"><u>here</u></strong></a>.</p>
    </div>
    <div ng-hide="displayCorrectOptionMsgForPractice">
      <div ng-show="currentQuestion.questionType.toUpperCase()=='MCQ'">
        <button class="btn-block" style="background-color: #76b900; color: #FFFFFF;" btf-markdown="correctOption.description"></button>
      </div>
      <div ng-show="currentQuestion.questionType.toUpperCase()=='IMAGE'">
        <figure class="figure p-1">
          <label class="figure-img imageQuestion">
            <input type="radio" name="1" value="correctOption.optionNumber"/>
            <img class="img-raised rounded" ng-src="{{assets_url+correctOption.imageName}}">
          </label>
          <figcaption class="figure-caption">{{correctOption.description}}</figcaption>
        </figure>
      </div>
      <p class="mt-2">Choose this option from the given options and click next to proceed</p>
      <div class="text-right mt-4">
        <button  ng-hide="displayCorrectOptionMsgForPractice" class="btn btn-primary btn-sm " ng-click="cancelDisplayCorrectOption()">Close <i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>


</div>