<div class="p-2 text-right" style="float: right">
  <a href="" style="float: right"><i class="fa fa-2x fa-window-close" style="cursor: pointer;" aria-hidden="true"
                                     ng-click="closeCounsellingSessionSummary()"></i></a>
</div>
<div class="p-4">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="container">
        <div class="card card-block borderRadius" ng-repeat="note in workingSession.counsellingSessionNotes">
          <div class="p-2">
            <div class="bg-light p-2 borderRadius">
              <h6 ng-hide="request.counsellingSessionType=='FREE_FLOW' && editWorkingSession">{{note.statement}}</h6>
              <div class="textarea-container" ng-show="editWorkingSession" ng-if="note.counsellingSessionType=='FREE_FLOW'">
                <textarea class="form-control" placeholder="write a short heading describing the response about what it is." ng-model="note.statement"></textarea>
              </div>
            </div>
            <div class="textarea-container" ng-show="editWorkingSession">
              <textarea class="form-control" placeholder="write your response here..." ng-model="note.response"></textarea>
            </div>
            <p ng-hide="editWorkingSession">{{note.response}}</p>
          </div>
        </div>

        <div class="text-right mb-4" ng-if="request.counsellingSessionType=='FREE_FLOW'" ng-show="editWorkingSession">
          <button class="btn btn-primary btn-round btn-icon" ng-if="!counsellorIsAdmin" data-toggle="tooltip" title="add response" ng-click="createFreeFlowNote();">
            <i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
        <div class="card card-block borderRadius">
          <div class="p-2">
            <div class="bg-light p-2 borderRadius">
              <div ng-show="editWorkingSession">
                <h5><strong>Any Achievement?</strong></h5>
                <div class="textarea-container">
                  <textarea class="form-control" placeholder="write here..." ng-model="tempLead"></textarea>
                </div>
                <div class="text-right">
                  <button class="btn btn-info btn-link btn-sm" ng-click="addTempLeadToWorkingSessionLead(tempLead);">Submit</button>
                </div>
              </div>

              <div>
                <h5 ng-hide="editWorkingSession"><strong>session's lead :</strong></h5>
                <ul>
                  <li ng-repeat="lead in workingSession.leads">{{lead}}</li>
                </ul>
                <p ng-show="workingSession.leads.length==0">There is no lead in this session.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card card-block borderRadius">
          <div class="p-2">
            <div class="bg-light p-2 borderRadius">
              <h5><strong>Any Tags?</strong></h5>
              <p ng-hide="filterSubTags.length>0">No subtags are selected</p>
              <div class="row">
                <div class="col-md-4">
                  <label ng-show="editWorkingSession">Select tags :</label>

                  <div class="input-group" ng-show="editWorkingSession">

                    <select name="selectTag" class="form-control" ng-model="selectedTag" ng-options="tag as tag.name for tag in tags"
                            ng-change="tagSelected(selectedTag)">
                      <option value="" disabled selected>Choose Tag</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <button class="btn btn-sm btn-round" ng-repeat="tag in filterTags">
                        {{tag.name}}&nbsp;<i class="fa fa-times" ng-click="removeTag(tag)" ng-show="editWorkingSession"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <label ng-show="editWorkingSession">Select subtags :</label>
                  <div class="input-group" ng-show="editWorkingSession">

                    <select name="selectSubtag" class="form-control" ng-model="selectedSubtag" ng-options="subTag as subTag.name for subTag in subTags"
                            ng-change="addSubTag(selectedSubtag)">
                      <option value="" disabled selected>Choose subtag</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
               <span>
                 <button class="btn btn-sm btn-round" ng-repeat="subTag in filterSubTags">
                   {{subTag.name}}&nbsp;<i class="fa fa-times" ng-click="removeSubTag(subTag)" ng-show="editWorkingSession"></i>
                 </button>
               </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <button class="btn btn-success" ng-hide="editWorkingSession" ng-click="closeCounsellingSessionSummary();">close</button>
    <div ng-show="editWorkingSession">
      <button class="btn btn-simple btn-success" ng-click="saveSession(workingSession,'DRAFTED');"><i class="fa fa-sticky-note" aria-hidden="true"></i> &nbsp;Draft</button>
      &nbsp;&nbsp;&nbsp;<button class="btn btn-success" ng-click="saveSession(workingSession,'COMPLETED');"><i class="fa fa-floppy-o" aria-hidden="true"></i> &nbsp;Save</button>
    </div>
  </div>
</div>

