<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" ng-show="!emailSent">Enter your username or email</h5>
    <h5 class="modal-title" ng-show="emailSent">A code has been sent to your registered email.</h5>
  </div>
  <div class="modal-body">
    <div class="content">
      <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                  <i class="fa fa-id-badge" aria-hidden="true"></i>
                                </span>
        <input type="text" class="form-control forgotPassword" title="enter your username or email and click on send email button to reset your password."
               placeholder="Enter username or email" ng-model="username" autofocus>
        <button class="btn btn-sm btn-success" title="click here to get reset password code on your email" ng-click="displayForgotPassword()">
          <i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; {{emailSent ? 'resend email':'send email'}}
        </button>
      </div>
      <div class="input-group form-group-no-border input-lg" ng-show="emailSent">
                                <span class="input-group-addon">
                                  <i class="fa fa-id-badge" aria-hidden="true"></i>
                                </span>
        <input type="text" class="form-control forgotPassword" placeholder="Type in the code you received" ng-model="tokenString" autofocus>
      </div>
      <div class="input-group form-group-no-border input-lg" ng-show="emailSent">
                                <span class="input-group-addon">
                                   <i class="fa fa-key" aria-hidden="true"></i>
                                </span>
        <input type="password" class="form-control forgotPassword" placeholder="Set New Password" ng-model="newPassword" autofocus>
      </div>
      <div class="input-group form-group-no-border input-lg" ng-show="emailSent">
                                <span class="input-group-addon">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </span>
        <input type="password" class="form-control forgotPassword" placeholder="Confirm Password" ng-model="reNewPassword" autofocus>
      </div>
    </div>
  </div>

  <div class="text-center" ng-show="emailSent">
    <button class="btn btn-warning" ng-click="cancelDisplayForgotPasswordModal()">Cancel</button>
    <button class="btn btn-default" ng-click="resetPassword()">Submit</button>
  </div>
  <div class="modal-footer">
  </div>
</div>