<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Hint:</h5>
  </div>
  <div class="modal-body">
    <blockquote>
      <p class="blockquote blockquote-primary text-center" style="border-color:#76b900; color: #76b900;" btf-markdown="currentQuestion.hint"></p>
    </blockquote>
    <div class="text-right mt-4">
      <button class="btn btn-primary btn-sm" ng-click="cancelDisplayHintCorrectOption()">Close
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>

</div>