<div class="modal-content">
  <div class="modal-body">
    <img style="height: 50%; width: 50%" src="/assets/img/rotating_windmil.gif">
    <h4>Your test is going to submit in 3 seconds</h4>
  </div>

</div>