

    <div class="modal-content">
        <div class="modal-header post-header">
            <h4>My Gallery</h4>
            <button type="button" class="close p-2" ng-click="closeMyGalleryModal();" aria-label="Close">
              <span aria-hidden="true">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="modal-body post-modal-body"></div>
<div class="container">
  <div class="gallery-view">
<div class="row" ng-if="galleryColumn1Items.length>0">
  <div class="col-md-4 col-lg-4 col-sm-12 column" ng-if="galleryColumn1Items.length>0">
    <a href="" data-toggle="tooltip" data-placement="top" title="Click to view post" ui-sref="app.viewPost({id: galleryColumn1Item.id})" ng-repeat="galleryColumn1Item in galleryColumn1Items | orderBy:'-id' ">
      <div class="card borderRadius">
        <div class="text-center">
          <img class="p-2 zoom" style="width: 100%;" ng-src="{{assets_url + galleryColumn1Item.imageName}}">
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 column" ng-if="galleryColumn2Items.length>0">
    <a href="" data-toggle="tooltip" data-placement="top" title="Click to view post" ui-sref="app.viewPost({id: galleryColumn2Item.id})"  ng-repeat="galleryColumn2Item in galleryColumn2Items | orderBy:'-id' ">
      <div class="card borderRadius">
        <div class="text-center">
          <img class="p-2 zoom" style="width: 100%;" ng-src="{{assets_url + galleryColumn2Item.imageName}}">
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12 column" ng-if="galleryColumn3Items.length>0">
    <a href="" data-toggle="tooltip" data-placement="top" title="Click to view post" ui-sref="app.viewPost({id: galleryColumn3Item.id})" ng-repeat="galleryColumn3Item in galleryColumn3Items | orderBy:'-id'">
      <div class="card borderRadius">
        <div class="text-center">
          <img class="p-2 zoom" style="width: 100%;" ng-src="{{assets_url + galleryColumn3Item.imageName}}">
        </div>
      </div>
    </a>
  </div>
</div>
</div>
</div>
<div class="text-center" ng-if="!galleryColumn1Items.length>0">
  <img class="p-2" src="/assets/img/no_image.jpg">
<h3 class="description"> Please post images first to see here.</h3>
</div>
</div>
</div>