



<div class="modal-content">
  <div class="modal-header post-header">
    <h4>My Thoughts</h4>
    <button type="button" class="close p-2" ng-click="closeMyThoughtsModal();" aria-label="Close">
      <span aria-hidden="true">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="modal-body post-modal-body">
      <div class="container" ng-if="thoughts.length>0">
        <a ui-sref="app.viewPost({id: thought.id})" ng-repeat="thought in thoughts | orderBy:'-id' ">
          <div class="card thought-card mythought-card">
            <div class="container">
              <div class="row">
                  <div class="mythought-tittle-main">
                <div class="mythought-tittle">
                 
                    <h5 style="color: black;">{{thought.heading}} </h5>
                    <p ng-if="!thought.heading.length>0" style="color: black;">{{thought.description}}</p>
                  </div>
                
      
                <div class="mythought-date">
                  
                    <p class="text-muted">
                      {{thought.createdDate}}</p>
                  </div>
                </div>
                </div>
              </div>
              </div>
            </div>
          </div>
       
        </a>
      </div>
      <div class="container mt-4" ng-if="!thoughts.length>0">
        <div class="row">
          <div class="offset-2 col-2">
            <img src="/assets/img/no-post.png">
          </div>
          <div class="col-8">
            <br>
            <br>
            <h5 class="text-muted">You have not posted yet.</h5>
          </div>
        </div>
      </div>
  </div>
</div>