<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" ng-show="!otpVerifiacation">Enter One Time Password</h5>
        <h5 class="modal-title" ng-show="otpVerifiacation">A code has been sent to your registered mobile.</h5>
    </div>
    <div class="modal-body">
        <div class="content">
            <div class="input-group form-group-no-border input-lg">
                <span class="input-group-addon">
                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                </span>
                <input type="password" class="form-control forgotPassword" title="enter one Time Password and click on verify button to Confirm your mobile Number."
                    placeholder="Enter Ont Time Password" ng-model="otp" autofocus>
                <button class="btn btn-sm btn-success" title="click here to verify your mobile number" ng-click="otpVerify()">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> &nbsp; {{otpVerifiacation ? 'reverify
                    otp':'verify otp'}}
                </button>
                <button class="btn btn-link" ng-if="gettingOtp" ng-disabled="resendOtp" ng-click="resendOTP()">Resend otp</button>
            </div>
        </div>
    </div>
</div>