<style>
  @keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0)
    }

    40% {
      -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      transform: translateY(-30px)
    }

    60% {
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px)
    }
  }

  .gender {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    height: 195px;
  }

  .gender:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

  < !-- .checkbox label,

  -->.radio label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    line-height: 26px;
    margin-bottom: 0;
  }

  < !-- input[type=checkbox].with-font {
    -->< !-- border: 0;
    -->< !-- clip: rect(0 0 0 0);
    -->< !-- height: 1 vh;
    -->< !-- margin: - 1 px;
    -->< !-- overflow: hidden;
    -->< !-- padding: 0;
    -->< !-- position: absolute;
    -->< !-- width: 1 vh;
    -->< !--
  }

  -->< !-- input[type=checkbox].with-font~label:before {
    -->< !-- font-family: FontAwesome;
    -->< !-- content: "\f1db";
    -->< !-- letter-spacing: 10 px;
    -->< !-- & lt;
     ! & ndash;
    font-size: 1.2em;
    & ndash;
    & gt;
    -->< !-- color: black;
    -->< !--
  }

  -->< !-- input[type=checkbox].with-font:checked~label:before {
    -->< !-- content: "\f00c";
    -->< !-- & lt;
     ! & ndash;
    font-size: 1.3em;
    & ndash;
    & gt;
    -->< !-- color: green;
    -->< !-- letter-spacing: 5 px;
    -->< !--
  }

  -->< !-- input[type=checkbox].with-font~label:before,

  -->< !-- input[type=checkbox].with-font~label {
    -->< !-- color: black;
    -->< !--
  }

  -->.selected {
    background-color: #6351de;
  }

  .statement-childInterest {
    padding: 2px;
    border-radius: 7px;
    cursor: pointer;
  }

  .statement-childInterest>label {
    cursor: inherit;
  }

  .statement-childInterest {
    background-color: #EEEEEE;

  }

  .statement-text {
    color: black;
    font-weight: bold;
    padding: 10px;
  }

  .addMoreBtn {
    background-color: #b8b21d !important;
    border-radius: 6px;
    margin-left: 4px;
  }

  .highlighted_radio label::before,
  .highlighted_radio label::after {
    border: 2px solid #ffcb3c;
  }


  .card-intr {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    /*height: 28vh;*/
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  }


  .card-flip,
  .card-front,
  .card-back {
    width: 100%;
    height: 38vh;

    margin-bottom: 1vh;
  }

  .flip {
    /* -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; */
    position: relative;
  }

  .card-front,
  .card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 38vh;
  }

  .card-front {
    z-index: 2;
    /* -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); */
    background-color: #5a6476;
    font-size: 4vh;
  }

  .card-back {
    /* -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); */
    background-color: #7aeec3;
    font-size: 2vh;
  }

  .parent-head {
    margin-top: 26vh;
    text-align: center;
    color: #202c54;
    opacity: 0.5;
    background-color: #ffffff;
  }


  .checkbox input {
    opacity: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-appearance: none !important;
    z-index: 11111 !important;
    cursor: pointer;
    visibility: visible !important;
  }

  .checkbox label::after {
    font-family: FontAwesome;
    content: "\f00c";
    top: 0px;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    color: #333;
    border: 0;
    background-color: inherit;
  }

  .headinggg {
    font-size: 39px;
    font-weight: 700;
    margin-top: 0;

  }

  .peragraph {
    font-size: 18px;
    letter-spacing: 0.6px;
    color: #000;
  }

  .bonvoyage {
    float: left;
    color: #4bbb7f;
    font-size: 20px;
    font-weight: 700;
  }

  .backButtonOfModel {
    background: #263cda;
    padding: 8px;
    border-radius: 5px;
    color: white;
  }
</style>

<div class="modal-content ">
  <div class="modal-header">
  </div>
  <div class="modal-body padding-manage">
    <div class="content">
      <div ng-show="showStep0">
        <h4 class="text-center name_tittle ">Child’s Name</h4>

        <div class="contactnoform">
          <div class="input-group form-group input-lg child-name">
            <input class="form-control input-lg  custom-input-border" name="name" title="click here to enter your name" type="text" ng-model="user.name"
              placeholder="Enter  name " style="margin: auto; display: block;">
          </div>
        </div>
        <div class="p-1 text-center">
          <button class="btn btn-primary btn-lg" ng-click="step01();">Continue</button>
        </div>
      </div>
      <!-- for contact no -->
      <div ng-show="showStep01" ng-form name="myForm">
        <div class="back-button">
          <i ng-click="backToPreviousOption('showStep0');" style="cursor: pointer; " class="fa fa-arrow-left backButtonOfModel" aria-hidden="true">Back</i>
        </div>
        <h3 class="text-center name_tittle">Contact No</h3>

        <div class="contactnoform">
          <div class="input-group form-group input-lg">
            <input class="form-control input-lg custom-input-border" name="contactno" title="click here to enter your Contact No" pattern="(7|8|9)\d{9}$"
              minlength="10" maxlength="10" type="text" ng-model="user.contactNumber" placeholder="Enter your Contact No here"
              style="margin: auto; display: block;">
          </div>
        </div>
        <div class="contactnoform-btn">
          <button class="btn btn-primary btn-lg" ng-disabled=" user.contactNumber == '' || myForm.contactno.$invalid" ng-click="step1();">Continue</button>
        </div>
      </div>
      <div ng-show="showStep1">

        <div class="back-button">
          <i ng-click="backToPreviousOption('showStep01');" style="cursor: pointer; " class="fa fa-arrow-left backButtonOfModel" aria-hidden="true">Back</i>
        </div>
        <div class="bateof">
          <h3 class="text-center name_tittle">Gender</h3>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1">

          </div>
          <div class="col-lg-5 col-md-5 col-sm-5" style="background-color: #00bb7e">
            <div class="text-center">
              <figure class="figure mt-2">
                <a href="" ng-click="user.gender='Male';step2();" title="click here if you are a boy">
                  <img class="figure-img gender" src="/assets/img/boy-7.png">
                </a>
                <!--<figcaption class="figure-caption text-center" style="color: white">Boy</figcaption>-->
              </figure>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5" style="background-color: #4158d5">
            <div class="text-center">
              <figure class="figure mt-2">
                <a href="" ng-click="user.gender='Female';step2();" title="click here if you are a girl">
                  <img class="figure-img gender" src="/assets/img/girl-22.png">
                </a>
                <!--<figcaption class="figure-caption text-center" style="color: white">Girl</figcaption>-->
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="showStep2">
        <div class="back-button">
          <i ng-click="backToPreviousOption('showStep1');" style="cursor: pointer; " class="fa fa-arrow-left backButtonOfModel" aria-hidden="true">Back</i>
        </div>
        <div class="bateof">
          <h3 class="text-center name_tittle">Date of Birth</h3>
        </div>
        <div class="row">
          <div class="dob-main">
            <div class="dob-img">

              <img src="/assets/img/cake3.gif" style="height: auto;width: 160px">

            </div>
            <div class="dob-opction">
              <div class="row">
                <div class="col-4 text-center">

                  <div class="form-group label-floating mt-4" title="choose day of your date of birth">
                    <label class="control-label" style="color: #202c54">Day</label>
                    <select class="form-control custom-input-border" style="color:black;" id="day" name="designation" ng-model="selectedDay"
                      autofocus>

                      <option value="" disabled selected>Select day</option>
                      <option data-ng-repeat="day in days" value="{{day}}">
                        {{day}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-4 text-center">

                  <div class="form-group label-floating mt-4" title="choose month of your date of birth">
                    <label class="control-label" style="color: #202c54">Month</label>
                    <select class="form-control custom-input-border" style="color:black;" id="month" name="month" ng-model="selectedMonth">
                      <option value="" disabled selected>Select month</option>
                      <option data-ng-repeat="month in months" value="{{month}}">
                        {{month}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-4 text-center">

                  <div class="form-group label-floating mt-4" title="choose year of your date of birth">
                    <label class="control-label" style="color: #202c54">Year</label>
                    <select class="form-control custom-input-border" style="color:black;" id="year" name="year" ng-model="selectedYear">
                      <option value="" disabled selected>Select year</option>
                      <option data-ng-repeat="year in years" value="{{year}}">
                        {{year}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="continue-btn">
          <button class="btn btn-lg btn-primary" ng-click="setDate(selectedDay,selectedMonth,selectedYear);">
            Continue
          </button>
        </div>
      </div>
      <div ng-show="showStep3">
        <div class="back-button">
          <i ng-click="backToPreviousOption('showStep2');" style="cursor: pointer; " class="fa fa-arrow-left backButtonOfModel" aria-hidden="true">Back</i>
        </div>
        <div class="bateof">
          <h3 class="text-center name_tittle">Grade</h3>
        </div>

        <div class="text-center round-bt">
          <span>
            <button title="click here if you are in class 6" class="btn btn-lg btn-primary btn-icon btn-round" type="button" ng-click="user.grade=6;step4();">6</button>&nbsp;&nbsp;
            <button title="click here if you are in class 7" class="btn btn-lg btn-primary btn-icon btn-round" type="button" ng-click="user.grade=7;step4();">7</button>&nbsp;&nbsp;
            <button title="click here if you are in class 8" class="btn btn-lg btn-primary btn-icon btn-round" type="button" ng-click="user.grade=8;step4();">8</button>&nbsp;&nbsp;
            <button title="click here if you are in class 9" class="btn btn-lg btn-warning btn-icon btn-round" type="button" ng-click="user.grade=9;step4();">9</button>&nbsp;&nbsp;
            <button title="click here if you are in class 10" class="btn btn-lg btn-warning btn-icon btn-round" type="button" ng-click="user.grade=10;step4();">10</button>&nbsp;&nbsp;
            <button title="click here if you are in class 11" class="btn btn-lg btn-default btn-icon btn-round" type="button" ng-click="user.grade=11;">11</button>&nbsp;&nbsp;
            <button title="click here if you are in class 12" class="btn btn-lg btn-default btn-icon btn-round" type="button" ng-click="user.grade=12;">12</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="heigher-education">
              <button title="click here if you are doing higher education" class="btn btn-success btn-round" type="button" ng-click="user.grade=12;user.higherEducation='Higher Education';">Higher Education
              </button>
            </div>
            &nbsp;&nbsp;
          </span>
          <br>

        </div>


        <div ng-show="user.grade==11 || user.grade==12" class="text-center other-education">

          <div class="bateof">
            <h3 class="text-center name_tittle">Stream</h3>
          </div>

          <button ng-show="user.grade==11 || user.grade==12" title="click here if you have PCM Stream" class="btn btn-primary" type="button"
            ng-click="user.stream='PCM';step4();">PCM
          </button>&nbsp;&nbsp;
          <button ng-show="user.grade==11 || user.grade==12" title="click here if you have PCB Stream" class="btn btn-primary" type="button"
            ng-click="user.stream='PCB';step4();">PCB
          </button>&nbsp;&nbsp;
          <button ng-show="user.grade==11 || user.grade==12" title="click here if you have Commerce with Mathematics Stream" class="btn btn-warning"
            type="button" ng-click="user.stream='Commerce with Mathematics';step4();">Commerce with Mathematics
          </button>&nbsp;&nbsp;
          <button ng-show="user.grade==11 || user.grade==12" title="click here if you have Commerce without Mathematics Stream" class="btn btn-warning"
            type="button" ng-click="user.stream='Commerce without Mathematics';step4();">Commerce without Mathematics
          </button>&nbsp;&nbsp;
          <button ng-show="user.grade==11 || user.grade==12" title="click here if you have Humanities Stream" class="btn btn-default"
            type="button" ng-click="user.stream='Humanities';step4();">Humanities
          </button>&nbsp;&nbsp;

        </div>
      </div>
      <div ng-show="showStep4">
        <!-- <h3 class="text-center">You study in</h3> -->
        <div class="back-button">
          <i ng-click="backToPreviousOption('showStep3');" style="cursor: pointer; " class="fa fa-arrow-left backButtonOfModel" aria-hidden="true">Back</i>
        </div>

        <div class="school-form-main">
          <div class="school-left">
            <img class="text-right" src="/assets/img/school-sm.png" alt="" />
          </div>
          <div class="school-right">
            <div class="form-group label-floating mt-4">
              <!--<h4 class="text-left">I study in</h4>-->
              <div class="row mb-1">
                <div class="col-md-3 col-3">
                  <h5 class="text-left">School</h5>
                </div>
                <div class="col-md-9 col-9">
                  <input class="form-control custom-input-border" style="color:black;" name="school" type="text" ng-model="user.school" placeholder="Enter school name here">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-3">
                  <h5 class="text-left">City</h5>
                </div>
                <div class="col-md-9 col-9">
                  <input class="form-control custom-input-border" style="color:black;" name="city" type="text" ng-model="user.city" placeholder="Enter your city here">
                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- <div class="row">
          <div class="col-md-3">
            
          </div>
          <div class="col-md-8">
           

          </div>
        </div> -->
        <div class="continue-popup-button">
          <button class="btn btn-primary  btn-lg" ng-click="step5()">Continue</button>
        </div>
      </div>
      <div ng-show="showStep5">
        <div class="back-button">
          <i ng-click="backToPreviousOption('showStep4');" style="cursor: pointer; " class="fa fa-arrow-left backButtonOfModel" aria-hidden="true">Back</i>
        </div>
        <div class="text-center" ng-show="user.grade!='9' && user.grade!='10'">
          <h3 class="text-center name_tittle"> Academic Score</h3>
          <h5 class="peragrap">What was the overall percentage in latest examination taken?</h5>
          <div class="row input_chek_main">
            <div class="chekbox-inpu">
              <div class="radio highlighted_radio">
                <input type="radio" name="radio1" id="radio1" value="0% - 40%" ng-model="user.academicScore" ng-click="step6('0% - 40%')">
                <label for="radio1">
                  0% - 40%
                </label>
              </div>
            </div>
            <div class="chekbox-inpu">
              <div class="radio highlighted_radio">
                <input type="radio" name="radio1" id="radio2" value="41% - 60%" ng-model="user.academicScore" ng-click="step6('41% - 60%')">
                <label for="radio2">
                  41% - 60%
                </label>
              </div>
            </div>
            <div class="chekbox-inpu">
              <div class="radio highlighted_radio">
                <input type="radio" name="radio1" id="radio3" value="61% - 75%" ng-model="user.academicScore" ng-click="step6('61% - 75%')">
                <label for="radio3">
                  61% - 75%
                </label>
              </div>
            </div>
            <div class="chekbox-inpu">
              <div class="radio highlighted_radio">
                <input type="radio" name="radio1" id="radio4" value="76% - 90%" ng-model="user.academicScore" ng-click="step6('76% - 90%')">
                <label for="radio4">
                  76% - 90%
                </label>
              </div>
            </div>
            <div class="chekbox-inpu">
              <div class="radio highlighted_radio">
                <input type="radio" name="radio1" id="radio5" value="91% - 100%" ng-model="user.academicScore" ng-click="step6('91% - 100%')">
                <label for="radio5">
                  91% - 100%
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center" ng-hide="user.grade!='9' && user.grade!='10'">
          <h3 class="text-center">Academic Score</h3>
          <p>Enter the percentage obtained in the latest examination.</p>
          <p>
            <strong>Respond honestly, as this will affect the report recommendations.</strong>
          </p>
          <div class="container mt-1">
            <div class="row">
              <div class="score_main">
                <div class="score_text">
                  <div class="text-left">
                    <label class="control-label" style="color: #202c54">
                      <strong>Aggregate(all subjects)</strong>
                    </label>
                  </div>
                </div>
                <div class="score_select">
                  <input type="number" class="form-control custom-input-border d-inline-block col-6" name="name" title="overall percentage"
                    ng-model="user.academicScore" placeholder="marks">
                  <p class="d-inline-block">&nbsp;%</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="score_main">
                <div class="score_text">
                  <div class="text-left">
                    <label class="control-label" style="color: #202c54">
                      <strong>{{user.academicPerformances[0].name.charAt(0) + user.academicPerformances[0].name.slice(1).toLowerCase()}}</strong>
                    </label>
                  </div>
                </div>
                <div class="score_select">
                  <input type="number" class="form-control custom-input-border d-inline-block col-6" name="name" title="Obtained Marks in Science"
                    type="number" ng-model="user.academicPerformances[0].value" placeholder="marks">
                  <p class="d-inline-block">&nbsp;%</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="score_main">
                <div class="score_text">
                  <div class="text-left">
                    <label class="control-label" style="color: #202c54">
                      <strong>{{user.academicPerformances[1].name.charAt(0) + user.academicPerformances[1].name.slice(1).toLowerCase()}}</strong>
                    </label>
                  </div>
                </div>
                <div class="score_select">
                  <input type="number" class="form-control custom-input-border d-inline-block col-6" name="name" title="Mathematics" type="number"
                    ng-model="user.academicPerformances[1].value" placeholder="marks">
                  <p class="d-inline-block">&nbsp;%</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="text-center">
            <button class="btn btn-primary  btn-lg" ng-click="step6(user.academicScore)">Continue</button>
          </div>
        </div>
      </div>
      <div ng-show="showStep7">
        <h3 class="text-center">
          <img class="img-raised" src="/assets/img/lang/choose-language.png"> &nbsp; Choose your language
        </h3>
        <p class="text-center">Choose the language in which you want to take the assessment. You will also get the report in the same language.</p>
        <p class="text-center">You can change your preferred language from the Profile menu</p>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-2">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8">
            <button class="btn btn-block mt-2 text-center" ng-class="language.class" ng-repeat="language in languages" ng-click="step09(language.value);">{{language.value}}</button>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-2">

          </div>
        </div>
      </div>
      <div ng-show="showStep8">

        <h4 class="text-center"> Lastly, we would like you to choose your interests</h4>
        <div>
          <div class="text-left">
            <button class="btn btn-progress btn-round m-2" ng-repeat="int in selectedInterests">{{int.name}}&nbsp;
              <i class="fa fa-times" aria-hidden="true" ng-click="selectInterest(int);"></i>
            </button>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" ng-repeat="parentInterest in parentInterests" style="">



              <div class="card-flip" title="click here">
                <div class="flip-box">
                  <div class="card-front" style="background: url({{assets_url+parentInterest.image}});background-repeat: no-repeat;background-position: center;     position: absolute;
                  background-size: 100% 100%;
                  height: 100% !important; ">
                    <div class="card-intr parent-head">
                      <label style="color: #202c54; font-size:13px;"> {{parentInterest.name}}</label>
                    </div>
                  </div>
                  <div class="borderRadius card-back-hover">
                    <div class="">
                      <div class="p-2">
                        <div ng-repeat="childInterest in parentInterest.childInterests">


                          <div class="checkbox">

                            <!--  <input type="checkbox" id={{childInterest.name}} ng-model="childInterest.selected"
                                   ng-click="selectInterest(childInterest);"> -->

                            <input ng-change="selectInterest(childInterest);" ng-model="childInterest.selected" id={{childInterest.name}} type="checkbox">
                            <label for={{childInterest.name}} style="color: #202c54">
                              <strong>{{childInterest.name}}</strong>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="addintest-input-section">
            <div class="row mt-2">
              <div class="input-areia">
                <div class="input-group input-lg">
                  <input type="text" class="form-control custom-input-border" placeholder="Type some other interest here" ng-model="customInterestName">
                </div>
              </div>
              <div class="addbutton">
                <button class="btn btn-primary btn-round" type="button" ng-click="selectCustomInterest(customInterestName);customInterestName=''">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; &nbsp;Add
                </button>
              </div>
            </div>

          </div>
          <div class="finesh-button">
            <button class="btn btn-danger btn-lg" ng-disabled="disableFinishButton && selectedInterests.length<2" ng-click="step9()">Finish</button>
          </div>

        </div>

      </div>
      <div ng-show="showStep9">
        <h4 class="text-center headinggg">AIM Assessments</h4>

        <div class="text-center">
          <p class="peragraph">
            Bravo! It is now time to begin.
            <br> There are three missions to be accomplished. Each mission comprises 5 assessments.
            <br> Kindly go through the instructions before each assessment to get clarity on what it is all about.
            <br> The AIM blueprint will be ready once you are through.
          </p>
        </div>
        <div class=" p-1 text-center">
          <p class="bonvoyage">
            Bon Voyage! &nbsp;
          </p>
          <button class="btn btn-primary btn-lg" ng-click="step10();" style="float: right">
            Lets Begin &nbsp;
          </button>
        </div>

      </div>
    </div>

  </div>
  <div class="modal-footer">

  </div>
</div>


<!--<div>-->


<!--orignal navbar code-->
<!--<nav class="navbar navbar-toggleable-md bg-primary" style="border-radius:6px;">-->
<!--<div class="container">-->
<!--<div class="row">-->

<!--<ul class="navbar-nav">-->
<!--<li class="nav-item  active p-1" ng-repeat="parentInterest in parentInterests" title="click here">-->
<!--<a class="nav-link " href="" ng-click="getChildIntrestsByParent(parentInterest.id)">{{parentInterest.name}}</a>-->
<!--</li>-->
<!--<li class="nav-item p-1 active addMoreBtn">-->
<!--<a class="nav-link" href="" ng-click="addMoreInterest()"><i class="fa fa-plus" aria-hidden="true"></i></a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->
<!--<div class="row">-->
<!--<div class="col-md-4" ng-repeat="childInterest in childInterests">-->
<!--<div class="statement-childInterest" ng-class="childInterest.selected?'selected':''" style="margin: 4px" ng-click="selectInterest(childInterest);" title="click here to select">-->
<!--<input id="{{childInterest.name}}" name="childInterest.name" type="checkbox" ng-click="selectInterest(childInterest);" class="with-font"-->
<!--ng-checked="childInterest.selected"/>-->
<!--<img ng-src="{{assets_url+childInterest.image}}" style="height: 50px; width: 50px">-->
<!--<label for="{{childInterest.name}}" style="display: inline-flex">{{childInterest.name}}</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div ng-show="childInterests.length==0 &&  !showAddMore" class="text-center">-->
<!--<h5 class="description ">Please click above on interests</h5>-->
<!--</div>-->
<!--<div ng-show="showAddMore">-->
<!--<div class="row">-->
<!--<div class="col-md-4" ng-repeat="selectedInt in selectedInterests">-->
<!--<div class=" statement-childInterest" ng-class="selectedInt.selected?'selected':''" style="margin: 4px" ng-click="selectInterest(selectedInt);">-->
<!--<input id="{{selectedInt.name}}" name="childInterest.name" type="checkbox" class="with-font"-->
<!--ng-checked="selectedInt.selected"/>-->
<!--<img ng-src="{{assets_url+selectedInt.image}}" style="height: 50px; width: 50px">-->
<!--<label for="{{selectedInt.name}}" style="display: inline-flex">{{selectedInt.name}}</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--orginal navbar code ends here-->
<!--<hr>-->
<!--<div class="text-center">-->
<!--<h5>Couldn't find your interest, you can add yours below</h5>-->
<!--</div>-->
<!--<div class="row mt-2">-->
<!--<div class="offset-3 col-5">-->
<!--<div class="input-group form-group-no-border">-->
<!--<input type="text" class="form-control" placeholder="Enter your interest here" ng-model="customInterestName">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-1">-->
<!--<button style="float:left;" class="btn btn-primary btn-round" type="button" ng-click="selectCustomInterest(customInterestName);customInterestName=''">-->
<!--<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Add-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="text-center mt-2">-->
<!--<button class="btn btn-primary  btn-lg" ng-click="step8()">Finish</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->