<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{selectedItemsCount}} User's reports selected
            <small>&nbsp;-each selected report will be sent individually</small>
        </h5>

    </div>
    <div class="modal-body">
        <form>
            <div class="form-group" ng-show="!isSendToTestTaker">
                <label for="to">To*</label>

                <input type="email" class="form-control" id="to" ng-model="$scope.toEmail" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="cc">Bcc</label>
                <input type="email" class="form-control" id="cc" ng-model="ccEmail" placeholder="Enter email">
            </div>


        </form>
    </div>
    <div class="modal-footer text-right">
        <div>
            <button type="submit" class="btn btn-primary" ng-disabled="shareMultipleReportsLoading"
                    ng-click="closeShareMultipleReportsByEmail(reportType,$scope.toEmail)"><i class="fa fa-spinner fa-spin fa-fw"

                                                                     ng-show="shareMultipleReportsLoading"></i>&nbsp;{{
                shareMultipleReportsLoading ? 'sharing ' :'share '
                +selectedItemsCount + ' reports' }}
            </button>
        </div>
    </div>
</div>