<div class="container">
  <br>
  <br>

  <button class="btn btn-success btn-block">{{currentSubjectName.slice(0, currentSubjectName.indexOf(" "))}}</button>
  <div class="text-right mt-3 mb-2">
    <h6>Total students: {{studentCountByGrade[currentGrade]['all']}}</h6>
    <br>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4" ng-repeat="(key, value) in resultBySections" ng-if="value.length>0">
        <div ng-repeat="subject in value" ng-if="subject.labels.length>0">
          <div class="text-center">
            <!--<p><strong>{{subject.name.slice(0, subject.name.indexOf(" "))}}</strong></p>-->
            <canvas id="pie" class="chart chart-pie"
                    chart-data="subject.data" chart-labels="subject.labels" chart-options="pieOptions" chart-colors="colors">
            </canvas>
            <button class="btn btn-sm btn-success" ui-sref="app.leapDashboardTeacher({grade: currentGrade, section: key, fromDate: fromDate, toDate: toDate})">{{currentGrade}} {{key}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>