<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">select sponsor</h5>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       ng-click="selectAll(sponsors,!(isAllSelected(sponsors)));"
                                       ng-model="isAllSelected(sponsors)"
                                       type="checkbox">
                            </label>
                        </div>
                    </th>
                    <th>Name</th>
                    <th>description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="getItem(item.id)" ng-repeat="sponsor in sponsors">
                    <td><div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" ng-model="sponsor.selected"
                                   type="checkbox">
                            {{$index+1}}
                        </label>
                    </div></td>
                    <td>{{sponsor.name}}</td>
                    <td>{{sponsor.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="text-right">
            <button ng-click="assignSponsorsToUsers();" class="btn btn-secondary">
                <i ng-hide="loadingAssignSponsors" class="fa fa-floppy-o"></i>
                <i ng-show="loadingAssignSponsors" class="fa fa-spinner fa-pulse fa-fw"></i>&nbsp;
                Submit
            </button>
            <button ng-click="closeSponsorsModal()" class="btn btn-primary"><i class="fa fa-times"></i>&nbsp;Cancel
            </button>
        </div>
    </div>
    <div class="modal-footer">

    </div>

</div>