<div class="content-center brand"
     style="margin: 20px"
     ng-show="threeSixtyEligible">
  <div class="row" ng-repeat="stk in stakeholders">
    <div class="col-md-2">
      <div class="form-group-no-border">
        <input type="text" placeholder="Stakeholder Name" readonly ng-model="stk.name" class="form-control">
      </div>
    </div><!--Stakeholder Name-->
    <div class="col-md-3">
      <div class="form-group-no-border">
        <input type="text" placeholder="Email" readonly ng-model="stk.email" class="form-control">
      </div>
    </div><!--Stakeholder Email-->
    <div class="col-md-2">
      <div class="form-group-no-border">
        <input type="text" placeholder="Mobile" readonly ng-model="stk.mobile" class="form-control">
      </div>
    </div><!--Stakeholder Mobile-->
    <div class="col-md-2">
      <div class="form-group-no-border">
        <input type="text" placeholder="Mobile" readonly ng-model="stk.relation" class="form-control">
      </div>
    </div><!--Stakeholder Relation-->
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group-no-border">
        <input type="text" placeholder="Stakeholder Name" ng-model="new.name" class="form-control">
      </div>
    </div><!--Stakeholder Name-->
    <div class="col-md-3">
      <div class="form-group-no-border">
        <input type="text" placeholder="Email" ng-model="new.email" class="form-control">
      </div>
    </div><!--Stakeholder Email-->
    <div class="col-md-2">
      <div class="form-group-no-border">
        <input type="text" placeholder="Mobile" ng-model="new.mobile" class="form-control">
      </div>
    </div><!--Stakeholder Mobile-->
    <div class="col-md-2">
      <div class="form-group-no-border">
        <select class="form-control" ng-model="new.relation"
                ng-options="relation.value as relation.name for relation in stakeholderRelations"></select>
      </div>
    </div><!--Stakeholder Relaion-->
    <div class="col-md-2">
      <div class="form-group-no-border">
        <button class="btn btn-sm" ng-click="addStakeholder(new)">add</button>
      </div>
    </div><!--Add Button-->
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <button class="btn btn-sm btn-primary"
              ng-click="saveStakeholders(stakeholders)" ng-disabled="saveStakeholdersBtn">
        <i class="fa fa-spinner fa-spin" ng-show="saveStakeholdersBtn"></i>Save
      </button>
      <button class="btn btn-sm"
              ng-click="closeStakeholderModal()">Cancel
      </button>
    </div>
  </div>

</div>
