<div class="p-4">
  <div class="container">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <br>
        <img class="rounded-circle img-raised" data-ng-src="{{studentImageURI}}" alt="Profile Picture" style="width: 150px; height: 150px">
      </div>
      <div class="col-md-6">
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Student's name</th>
              <th>{{student.name}}</th>
            </tr>
            <tr>
              <th>Grade</th>
              <th>{{student.grade}}&nbsp;{{student.section}}</th>
            </tr>
            <tr>
              <th>Subject</th>
              <th>{{currentConstruct.slice(0, currentConstruct.indexOf(" "))}}</th>
            </tr>
            <tr>
              <th>Syllabus completed</th>
              <th>{{syllabusCompleted}}%</th>
            </tr>
            </thead>
          </table>
        </div>
      </div>

    </div>

    <div>
      <canvas height="100" class="chart chart-bar"
              chart-data="subjectGraph.data" chart-labels="subjectGraph.labels" chart-options="barOptions" chart-colors="colors">
      </canvas>

    </div>

  </div>
</div>