

<div class="container">
  <!--<div class="text-center"><h3>Class Performance</h3></div>-->
  <div class="row">
    <div class="offset-1 col-10">
      <div class="container-fluid" style="position: relative;">
        <canvas class="chart chart-bar" height="150" width="320" chart-labels="report1.labels" chart-series="report1.series" chart-data="report1.data"
                chart-options="report1.options"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="card mb-4">
    <table class="table table-hover ">
      <thead class="table-inverse">
      </thead>
      <tr>
        <th>Test Name</th>
        <th>Obt. Marks</th>
        <th>Max. Marks</th>
        <th>Percent Scored</th>
      </tr>
      <tbody ng-repeat="student in studentResults">
      <tr ng-repeat="sr in student | orderBy:'-percentScores'" >
        <td>{{sr.productName}}</td>
        <td>{{sr.obtainedMarks}}</td>
        <td>{{sr.maximumMarks}}</td>
        <td>{{sr.percentScores}}%</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
