<style>
  .feedback-emogie {
    transition: 0.3s;
  }

  .feedback-emogie:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  }

  label.imageQuestion>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
  }

  label.imageQuestion>input+img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 1px solid #e2f986;
  }

  label.imageQuestion>input:checked+img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 4px solid #76b900;
    box-shadow: none;
    opacity: 0.5;
    color: #996;
  }
</style>
<div class="feedback-popup-main">
  <div class="container-fluid">
    <h3> Thank you for taking the assessment</h3>
    <p>We will notify you once your report gets ready. Meanwhile, how would you rate the intscale experience?</p>

    <div class="row">
      <div class="feedback-call-main">
        <div class="feedback-col text-center ">
          <label class="figure-img imageQuestion">
            <input type="radio" name="1" value="1" ng-model="request.rating" ng-click="updateFeedbackStatements(1)" />
            <img class="img-raised rounded feedback-emogie" src="/assets/img/vb.jpg">
          </label>
          <!--<a href="" class="feedback-emogie" ng-click=""><img src="/assets/img/vb.png"></a>-->
        </div>
        <div class="feedback-col text-center ">
          <label class="figure-img imageQuestion">
            <input type="radio" value="2" ng-model="request.rating" ng-click="updateFeedbackStatements(2)" />
            <img class="img-raised rounded feedback-emogie" src="/assets/img/b.jpg">
          </label>
          <!--<a href="" class="feedback-emogie" ng-click=""><img src="/assets/img/b.png"></a>-->
        </div>
        <div class="feedback-col text-center ">
          <label class="figure-img imageQuestion">
            <input type="radio" value="3" ng-model="request.rating" ng-click="updateFeedbackStatements(3)" />
            <img class="img-raised rounded feedback-emogie" src="/assets/img/a.jpg">
          </label>
          <!--<a href="" class="feedback-emogie" ng-click=""><img src="/assets/img/a.png"></a>-->
        </div>
        <div class="feedback-col text-center ">
          <label class="figure-img imageQuestion">
            <input type="radio" value="4" ng-model="request.rating" ng-click="updateFeedbackStatements(4)" />
            <img class="img-raised rounded feedback-emogie" src="/assets/img/h.jpg">
          </label>
          <!--<a href="" class="feedback-emogie" ng-click=""><img src="/assets/img/h.png"></a>-->
        </div>
        <div class="feedback-col text-center ">
          <label class="figure-img imageQuestion">
            <input type="radio" value="5" ng-model="request.rating" ng-click="updateFeedbackStatements(5)" />
            <img class="img-raised rounded feedback-emogie" src="/assets/img/vh.jpg">
          </label>
          <!--<a href="" class="feedback-emogie" ng-click=""><img src="/assets/img/vh.png"></a>-->
        </div>
      </div>
    </div>







  </div>


  <div class="like_resion_main">
    <div class="status_heading">
      <h6 ng-show="request.rating==1 || request.rating==2">What went wrong?</h6>
      <h6 ng-show="request.rating==3 || request.rating==4">What can be improved?</h6>
      <h6 ng-show="request.rating==5">What did you like the most?</h6>

    </div>
    <div ng-repeat="feedbackStatement in feedbackStatements">
      <div class="checkbox">
        <input id={{$index}} ng-model="feedbackStatement.selected" type="checkbox">
        <label for={{$index}}>
          <span>&nbsp;</span>{{feedbackStatement.statement}}
        </label>
      </div>
      <!--<div>-->
      <!--<textarea class="form-control" placeholder="Do you have any other comments, questions or concerns? If you have just write down there." ng-model="request.experienceDescription"></textarea>-->
      <!--</div>-->
    </div>
    <div class="feedback_button">
      <button class="btn btn-primary" ng-click="saveUserExperienceFeedback(request)">Save</button>
    </div>
  </div>

</div>
</div>