user profile modal

<div class="container">
  <h3>Profile</h3>
  <hr>

  <div class="bg-faded borderRadius">
    <div class="row p-4">
      <div class="col-5">
        <div class="text-left">
          <h6 ng-show="user.name.length>0">Name</h6>
          <h6 ng-show="user.gender.length>0">Gender</h6>
          <h6 ng-show="user.grade.length>0">Grade</h6>
          <h6 ng-show="user.academicScore.length>0">Academic Score</h6>
          <h6 ng-show="user.school.length>0">School Name</h6>
          <h6 ng-show="user.dob.length>0">Dob </h6>
          <h6 ng-show="user.supw.length>0">SUPW(Socially Useful Productive Work)</h6>
          <h6 ng-show="user.interest.length>0">Interests</h6>
        </div>
      </div>
      <div class="col-7">
        <div class="text-left">
          <h6>:&nbsp;&nbsp;&nbsp;{{user.name}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.gender}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.grade}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.academicScore}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.school}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.dob}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;{{user.supw}}</h6>
          <h6>:&nbsp;&nbsp;&nbsp;<label class="badge badge-default"
                                        ng-repeat="intrs in user.interest track by $index">
            {{intrs}}
          </label></h6>
        </div>
      </div>
    </div>
  </div>
</div>