<!--section 2 Build your self concept-->
<div ng-include="'/report/views/aimReport/section2_part1.html'"></div>

<!--section 1 cover-->
<!--<div ng-include="'/report/views/aimReportMini/cover_section1.html'"></div>-->

<!--section 1 career choices-->
<div ng-include="'/report/views/aimReportMini/section1.html'"></div>

<!--section 2 Learning Styles And Strategies-->
<div ng-include="'/report/views/aimReport/section2_part2.html'"></div>
