.report-center {
    text-align: center;
}

.borderRadius {
    border-radius: 7px
}

.post-card {
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /*background-color: #f96332;*/
}

.post-card:hover {
    box-shadow: 0 4px 8px 0 rgba(69, 210, 153, 1);
}

.thought-card {
    transition: 0.3s;
    box-shadow: 0 0 4px #ddd;
}

.thought-card:hover {
    box-shadow: 1px 1px 3px 2px rgba(21, 20, 20, 0.36);
}

.post-card {
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /*background-color: #f96332;*/
}

.post-card:hover {
    box-shadow: 0 4px 8px 0 rgba(69, 210, 153, 1);
}

.compose-post {
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.compose-post:hover {
    box-shadow: 0 4px 8px 0 rgba(250, 180, 0, 1);
}

.bgcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.bgcard:hover {
    box-shadow: 0 8px 14px 0 rgba(249, 99, 50, 1);
}

.construct {
    height: 300px;
}

.dashboard-card {
    cursor: pointer;
    height: 150px;
    min-height: 100px;
    background-color: #dae3eb;
    border-radius: 7px;
    transition: transform .3s; /* Animation */
    margin: 0 auto;
}

.dashboard-card1 {
    background-color: #fab400;
    color: white;
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dashboard-card1:hover {
    background-color: #ffe882;
    color: white;
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dashboard-card2 {
    background-color: #00bb7e;
    color: white;
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dashboard-card2:hover {
    background-color: #7aeec3;
    color: white;
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dashboard-card3 {
    background-color: #4158d5;
    color: white;
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dashboard-card3:hover {
    background-color: #749bff;
    color: white;
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.video-container {
    overflow: hidden;
    /*position: absolute;*/
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border-radius: 7px
}

.post-video-container {
    overflow: hidden;
    /*position: absolute;*/
    width: auto;
    height: auto;
    max-height: 600px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    border-radius: 7px
}

.highlighted_radio label::before, .highlighted_radio label::after {
    border: 2px solid #f96332;
}

.modal-dialog {
    height: 0;
}


.table-inverse td, .table-inverse th, .table-inverse thead th {
    border-color: #00bb7e;
}

.table-inverse {
    background-color: #00bb7e;
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar {
    /* 		float: right; */
    margin: 0 auto;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
}

.custom-input-border{
    box-shadow: 0 1px 1px rgba(255, 232, 130, 1) inset, 0 0 5px rgba(250, 180, 0, 1);
    border: 1px solid rgba(250, 180, 0, 1);
}

/*custom-input-border:focus{*/
    /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
    /*padding: 3px 0px 3px 3px;*/
    /*margin: 5px 1px 3px 0px;*/
    /*border: 1px solid rgba(81, 203, 238, 1);*/
/*}*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/assets/img/aim2excel_white_background_video.gif) center no-repeat #fff;
}




/* news section css start */

.owl .item{
    margin: 3px;
  }
  .owl .item img{
    display: block;
    width: 100%;
    height: auto;
  }
  
  .news-title {
    font-size: 15px;
    margin: 10px 0;
    color: #1e1e1e;
    
  }
  .news-img {
    width: 100%;
    overflow: hidden;
    height: 160px;
    border-radius: 4px;
  }
  .news-img img{
    width: 100%;
    min-height: 160px;
    height: 100%;
    
  
  }
  .news-cart {
    width: 100%;
    display: inline-block;
    max-width: 300px;
    background: #f6efef;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px;
  }
  .social-icon ul {
    margin: 0;
    padding: 0;
  }
  .social-icon ul li {
    list-style: none;
    display: inline-block;
    margin-right: 14px;
  }
  .social-icon ul li a {
    color: #918e92;
    font-size: 16px;
    text-decoration: none;
  }
  .owl .item{
    margin: 3px;
  }
  .owl .item img{
    display: block;
    width: 100%;
    height: auto;
  }
  .news-main{
    margin: 20px 0px;
  }
  /* news section css end */

  /* Rahul start css 26/7/19*/

  .container.login-contant {
    margin-top: 70px;
}
.col-main{
    display: inline-block;
    margin: auto;
}
.profile-frame{
   width: 160px;
   height: 160px;
   display: inline-block;
   line-height: 160px;
   text-align: center;
}
.resetPassword-div {
    width: 100%;
    display: inline-block;
    float: right;
}
.profile-contant-main {
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
}
.select-button {
    width: auto;
    text-align: center;
    padding-left: 40px;
    padding-top: 60px;
    display: inline-block;
}
.profile-left {
    width: auto;
    display: inline-block;
    margin: auto;
}
.compose-main {
    width: 100%;
    display: inline-block;
}
.right-sidee  {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.What_mind_img {
    width: auto;
    display: inline-block;
}
.left-sidee {
    text-align: left;
    display: inline-block;
}
.What_mind_text {
    width: auto;
    float: right;
}
.What_mind {
    width: 100%;
    display: inline-block;
    padding: 0px 15px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.What_mind_img_left {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin-right: 20px;
    overflow: hidden;
}
.view-postt {
    margin: 15px 0px;
}
.post-img img {
    width: 100%;
    height: auto;
}

.modal-header.post-header {
    margin: 0 !important;
    padding: 5px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.modal-header.post-header button {
    position: sticky;
    cursor: pointer;
}
.modal-body.post-modal-body {
    padding: 0 0 15px 0;
}
.story-heading {
    font-size: 22px;
    margin: 0;
}
.textearia-main {
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
}
.gallery-view {
    padding: 20px 0 10px 0;
}
.continue-btn {
    text-align: center;
}

.back-button{
    width: 100%;
    display: inline-block;
}
.bateof {
    margin-top: 12px;
    width: 100%;
    display: inline-block;
}
.dob-main {
    width: 100%;
    display: inline-block;
   
}
.dob-img {
    width: 25%;
    display: inline-block;
}
.dob-opction {
    display: inline-block;
    width: 75%;
    float: right;
    padding-right: 15px;
}
.heigher-education {
    display: inline-block;
    width: auto;
}
.school-right {
    display: inline-block;
    width: 80%;
    padding-left: 30px;
}
.school-left {
    width: 20%;
    display: inline-block;
    float: left;
}
.school-form-main {
    width: 70%;
    margin: auto;
    text-align: center;
}

.start-test-card-main {
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    min-height: 250px;  
}
.start-test-left {
    width: 34%;
    float: left;
}
.start-test-left .construct {
    height: 220px;
}
.start-test-middle {
    display: inline-block;
    width: 55%;
    padding: 20px;
   
}
.rightt-button {
    width: 11%;
    float: right;
    padding-top: 70px;
}
.start-test-middle h3 {
    margin-bottom: 5px;
    font-weight: 500;
}

.ntroduction-main {
    max-width: 900px;
    margin: auto;
    display: inline-block;
    padding: 30px 0 10px 0;
}

.ntroduction-main h5 {
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}   

.ntroduction-main p {
    /* text-align: center; */
    font-size: 16px;
    /* margin: 0; */
}
.ntroduction-main p:nth-child(1) {
    margin-top: 30px;
}
.ntroduction-main h5 {
    font-size: 25px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.being-button {
    margin: 30px 0px;
}

h4.test-question-p p {
    font-size: 18px;
}
.img-raised {
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.59);
}
.question_images {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    padding: 0 15px;
}
.get-img {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 30px 0px;
    max-height: 250px;
}
.question_images p {
    text-align: center;
}
.answer {
    display: inline-block;
    margin: 0px 20px;
}
.nxt-btn-div {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nxt-btn-div button {
    width: auto;
    margin: auto;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 8px 15px;
    display: inline-block;
    min-width: 125px;
}
.audio-question {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}
.audio-question p {
    text-align: center;
    padding: 0px 20px;
}
.textarea-main {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.textareia {
    max-width: 45%;
    width: 100%;
    display: inline-table;
}
.nxt-button {
    display: inline-block;
    min-width: 125px;
    text-align: right;
}
.nxt-button button {
    width: 100%;
    letter-spacing: 2px;
    font-size: 18px;
    /* text-align: center; */
    margin-left: 10px;
}

.textareia textarea {
    height: 61px;
    line-height: 39px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
}
.optional-question-main {
    display: inline-block;
    width: 70%;
    margin: auto;
    padding: 20px 20px;
}
.opction-nxt {
    margin-top: 20px;
    max-width: 170px;
    display: inline-block;
    width: 100%;
}
.opction-nxt button {
    width: 100%;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
}
.optional-question-main button p{
  font-weight: 900;
  margin: 0;
}
.text-with-img {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}

.modal-content {
    border: none;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}
.continue-popup-button button {
    padding: 8px 22px;
    font-size: 18px;
    margin-right: 15%;
}
.continue-popup-button {
    width: 100%;
    display: inline-block;
    float: right;
    text-align: right;
}
.continue-btn button{
    padding: 8px 22px;
    font-size: 18px;
}
.right-sidee a {
    text-decoration: none;
    margin: 0 7px;
}
.right-sidee i {
    padding-right: 3px;
    font-size: 15px;
}
.right-sidee a:nth-child(2) {
    margin-right: 0px;
}
.What_mind_text a {
    text-decoration: none;
}
.contactnoform {
    max-width: 450px;
    margin: auto;
}
.contactnoform-btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.contactnoform-btn button{
    padding: 8px 22px;
    font-size: 18px;
}
.photo-gallery-contant-main {
    width: 100%;
    display: inline-block;
    padding: 12px 0px;
    border-bottom: 1px solid #ddd;
}
.whats-contant-main {
    padding: 12px 0px;
    display: inline-block;
}
.compress-post-a a {
    text-decoration: none;
    font-size: 15px;
}
.edit_and_post {
    padding-top: 5px;
}

.compose-post-details {
    width: 100%;
    padding: 20px 0;
}
.compose-post-img img {
    width: auto;
    height: auto;
}
.compose-post-details h5 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    text-align: left;
}
.compose-post-img {
   float: left;
  width: 25%;
   
}
.compose-post-details-contant {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
}
.compose-post-text {
    width: 75%;
    display: inline-block;
    padding: 0px 20px;
    
}
.compose-post-details p {
    text-align: left;
    margin: 0;
}
.email-button {
    display: inline-block;
    width: 100%;
    padding: 10px 20px 0;
    text-align: right;
}
.email-button button {
    background: #3b5998;
    border: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: white;
    font-size: 17px;
    margin-left: 10px;
    cursor: pointer;
}
.modal-header.post-header h4 {
    font-size: 25px;
    width: auto;
    text-align: left;
    margin: 0;
    display: inline-block;
    padding-left: 10px;
}
.mythought-tittle-main {
    width: 100%;
    display: inline-block;
    padding: 8px 10px;
}
.mythought-date p {
    margin: 0;
    text-align: right;
    padding-top: 3px;
}
.mythought-tittle h5 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.mythought-tittle {
    width: 60%;
    display: inline-block;
}
.mythought-date {
    display: inline-block;
    width: 39%;
    float: right;
}
.card.thought-card.mythought-card {
    margin: 15px 0px -5px 0px;
}
.card.construct.borderRadius {
    box-shadow: 2px 2px 5px #00000078;
}
.first-test-nxt {
    width: 100%;
    display: inline-block;
    float: right;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 20px;
}
.first-test-nxt button {
    width: auto;
    font-size: 16px;
    letter-spacing: 1px;
}
.addintest-input-section {
    max-width: 560px;
    margin: auto;
    width: 100%;
    padding: 40px 15px 20px 15px;
}
.addintest-input-section .input-areia {
    width: 75%;
    display: inline-block;
}
.addintest-input-section .addbutton {
    width: 25%;
    float: right;
    text-align: right;
}
.addbutton button {
    width: 85%;
    font-size: 18px;
    padding: 10px 0;
    /* border-radius: 48px !important; */
}
.finesh-button {
    width: 100%;
    text-align: center;
}
.finesh-button button {
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 30px;
}
.email_header {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}
.email_header h4 {
    font-size: 15px;
    /* letter-spacing: 0px; */
    /* text-transform: capitalize !important; */
}
.email_header img {
    width: 60px;
    height: auto;
}
.email_content {
    padding: 10px;
}
.email_send {
    text-align: center;
    margin-bottom: 15px;
}

.get-img img {
    min-width: auto;
    height: 100%;
}

.feedback-popup-main {
    width: 100%;
    display: inline-block;
    margin: 20px 0px;
}
.feedback-popup-main h3 {
    font-size: 25px;
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.feedback-popup-main p {
    text-align: center;
    font-size: 21px;
}
.like_resion_main {
    /* max-width: 500px; */
    width: auto;
    margin: 39px 0 10px 10%;
}
.status_heading h6 {
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: #fab53b;
    text-decoration-style: double;
}
.feedback_button button{
    font-size: 18px;
    letter-spacing: 3px;
    padding: 8px 40px;

}    
.feedback_button {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
h2.already-assessment {
    font-size: 30px;
    text-align: center;
    margin-top: 35px;
}
.question_text p {
    font-size: 20px;
    margin-top: 10px;
}
.chekbox-inpu {
    width: 20%;
    text-align: center;
}
.input_chek_main{
    margin: auto;
    text-align: center;
}

.first-test-nxt button {
    min-width: 125px;
}
.feedback-call-main{
    width: 100%;
    display: inline-block;
}
.feedback-col {
    width: 17%;
    margin: 1.5%;
    float: left;
}
.chek-text:first-child {
    margin-left: 10px;
}
.chek-text:last-child {
    margin-right: 10px;
}
.chek-text {
    border: 1px solid gray;
    margin: 3px;
    padding-top: 5px !important;
}
.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar-brand{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.mobile-button{
    padding-left: 0px;
}
.question_text ul {
    margin: 19px 10px 6px;
    padding: 0;
    font-size: 21px;
}
.like_resion_main .checkbox input[type="checkbox"]:checked+label::after {
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 22222;
    background: rgb(61, 125, 194);
    content: "\f00c";
    font-family: FontAwesome;
    color: #fff;
}
.like_resion_main .checkbox label::before, .like_resion_main .checkbox label::after{
    transition: inherit;
}
.score_main {
    max-width: 50%;
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}
.score_text {
    width: 40%;
    float: left;
    display: inline-block;
}
.score_select {
    width: 60%;
    float: right;
    text-align: right;
}

.login-page {
    width: 100%;
    display: inline-block;
   
  }




@media screen and (max-width: 320px){
.swal2-actions button {
    padding: 5px 7px !important;
}

.question_text p {
    font-size: 15px !important;
    padding-left: 10px !important;
}
img.logo_img {
    max-width: 200px !important;
}
}
@media screen and (max-width: 375px){
   
    .label-font{
        font-size: 11px;
    }
    }
@media screen and (max-width:436px){
    .score_text {
        width: 50%;
    }
    .score_main {
        max-width: 90%;
    }
    .score_select {
        width: 50%;
    }
    .question_text ul {
        margin: 19px 10px 6px;
        padding: 0;
        font-size: 17px;
    }
    .img-raised {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.59);
    }
    .feedback-col {
        width: 30%;
        margin: 1.6%;
    }

    .email-button button {
        height: 30px;
        width: 30px;
        font-size: 15px;

    }
    .question_text p {
        font-size: 18px;
        margin-top: 20px;
        padding-left: 18px;
        text-indent: -22px;
        margin-bottom: 5px;
    }
    
    h5.peragrap {
        font-size: 18px;
    }
    .feedback-popup-main p {
        text-align: center;
        font-size: 18px;
    }
    .chekbox-inpu {
        width: 50%;
    }

    .feedback-popup-main h3 {
        font-size: 20px;
    }
    .align-col{
        display: flex;
        flex-wrap: nowrap;
    }
    .optional-question-main h5 {
        font-size: 17px;
    }
    img.logo_img {
        max-width: 230px;
    }
    .mobile-logout button{
        width: 100%;
    }

    h2.already-assessment {
        font-size: 25px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 15px;
    }
  
    .input-areia input {
        padding: 10px !important;
        width: 100%;
    }
    .finesh-button button {
        width: 100%;
    }
    .addintest-input-section {
        padding: 5px 17px 10px 15px;
    }
    .addbutton button {
        width: 100%;
        border-radius: 0.2em !important;
        font-size: 17px;
        padding: 5px 20px;
        letter-spacing: 2px;
    }
    .addintest-input-section .addbutton {
        width: 100%;
        float: none;
        text-align: center;
        padding-top: 5px;
    }
    .addintest-input-section .input-areia {
        width: 100%;
        display: inline-block;
    }

    a.navbar-brand img {
        width: 230px;
    }
    .get-img img {
        width: auto !important;
        display: inline-block;
        height: auto;
        min-width: inherit;
    }
    .first-test-nxt button {
        width: 100%;
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: 5px;
    }
    .text-with-img {
        max-width: 180px;
        margin: auto;
        padding: 10px 0;
        height: 190px;
    }   
    .text-with-img img {
        width: 100%;
        height: 100%;
    }
    .get-img {
        padding: 0 15px;
        max-height: inherit;
        overflow: hidden;
        height: auto;
    }
    .login-video {
        display: none;
    }
    .nxt-btn-div button {
        width: 97%;
        margin: auto;
    }
    .opction-nxt {
        max-width: 100%;
        width: 100%;
      
    }
    .swal2-popup .swal2-input {
        height: 35px;
        padding: 16px;
        margin: 0;
        font-size: 16px;
    }
    .continue-popup-button button {
        margin-right: 6%;
    }
    .answer {
        display: inline-block;
        margin: 0 0px !important;
        width: 25%;
    }
    .nxt-button {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .nxt-button button{
        width: 90%;
        font-size: 19px;
        padding: 8px;
    }
    .btn-lg {
        padding: 5px 20px !important;
        font-size: 17px !important;
    }

    .textarea-main {
        margin-top: 5px;
    }
    
    .textareia {
        max-width: 90%;
    }
    .textareia textarea {
        height: 50px;
        line-height: 26px;
        padding: 10px;
        font-size: 15px;
    }
    .audio-question {
        margin-top: 15px !important;
    }
    .audio-question p {
        font-size: 17px;
    }
    .question_images p {
        font-size: 17px;
    }

    .content-center.mobile-text h3 {
        font-size: 20px;
        margin-bottom: 0;
        color: white !important;
    }
    
    .content-center.mobile-text h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    }
  @media screen and (max-width:767px){
      .input_center{
          text-align: center;
      }
    .navbar .navbar-toggler {
        float: right;
        padding-top: 10px;
    }

    .compose-post-text {
        width: 100%;
        padding: 10px 0px 0 0;
    }
    .compose-post-img {
        float: left;
        width: 100%;
    }

    .login-section {
        display: inline-block;
        margin: 30px 0px;
    }
    .answer {
        display: inline-block;
        margin: 0px 0 !important;
        width: 100% !important;
    }
    .optional-question-main {
        width: 100%;
    }
    .get-img img {
        width: 100%;
    }
    .question_images{
        margin-top: 0;
    }
    .get-img{
        margin: 20px 0;
    }
    .table_width{
        width: 700px;
    }
    .ntroduction-main {
        padding: 10px 0 10px 0;
    }
    .test-question-p p {
        font-size: 16px;
    }
    h4.test-question-p {
        margin: 0;
    }
    .padd {
        padding: 0;
    }
    .gallery-view .card {
        margin-bottom: 5px;
    }
     .right-sidee  {
       
        text-align: center;
    }
    .modal-body.padding-manage {
        padding: 0 15px;
    }
    .left-sidee {
        text-align: center;
        width: 100%;
        padding-bottom: 6px;
    }
    
    .container.login-contant {
        margin-top: 20px;
    }
    .select-button {
        width: 100%;
        text-align: center;
        margin-top: 0px;
        padding-top:20px;
        padding-left: 0px; 
    }
    .profile-frame {
        width: 120px;
        height: 120px;
        display: inline-block;
        line-height: 120px;
        text-align: center;
    
    }
    .profile-left {
        width: 100%;
        text-align: center;
    }
    .story-textarea {
        padding: 0 5px !important;
        border: 1px solid #ddd !important;
    }
    .modal-body.padding-manage {
        padding: 0 15px;
    }
    .name_tittle {
        margin: 0 0 10px 0;
    }
    .btn-lg{
        padding: 10px 20px;
    }
    .dob-img{
        display: none;
    }
    .dob-opction {
        width: 100%;
        display: inline-block;
        padding-left:15px;
    }
    .continue-btn {
       
        margin-top: 10px;
    }
    .text-center.round-bt button {
        margin-bottom: 11px;}
        
        .school-left{
            display: none;
        }

        .school-form-main {
            width: 90%;
            padding-top: 0px !important;
           
        }
        .school-right {
            width: 100%;
             padding-left: 0px; 
        }
        .page-header.page-header-small.mobile-banner {
            height: 250px !important;
            min-height: 270px !important;
        }
        .content-center.mobile-text h2 {
            font-size: 25px;
        }
        .content-center.mobile-text h3 {
            font-size: 21px;
        }

        .start-test-left {
            width: 100%;
            float: left;
            min-height: 240px;
        }
        .start-test-middle h5 {
            font-size: 18px !important;
            margin: 0;
        }
        .start-test-middle h3 {
            font-size: 23px !important;
            margin-bottom: 5px;
        }

        .start-test-middle {
            width: 100% !important;
            padding: 0;
        }
        .start-test-card-main{
            border-bottom: 1px solid #ddd;
            margin: 10px 0;
        }
        .rightt-button {
            text-align: center !important;
        }
        .ntroduction-main p:nth-child(1) {
            margin-top: 15px;
        }
        .ntroduction-main p {
            font-size: 15px;
            margin-bottom: 10px;
        }
        .being-button {
            margin: 20px 0px;
        }
        .ntroduction-main .card-header {
            padding: 5px;
        }
        h2#swal2-title {
            font-size: 19px;
            line-height: 30px;
        }
        .swal2-actions button {
            padding: 7px 25px !important;
        }
        .get-img {
            padding: 0 15px;
        }
        .continue-popup-button button {
            padding: 8px 22px;
            font-size: 18px;
            margin-right: 5%;
        }
    
  } 

@media screen and (max-width:992px){

    .heigher-education {
        
        padding-top: 25px;
    }
    .optional-question-main {
        width: 100%;
    }
    .text-center.other-education button {
        padding: 10p;
        margin-bottom: 10px;
    }
    .school-form-main {
        width: 90%;
        margin: auto;
        text-align: center;
        padding-top: 30px;
    }
    .rightt-button {
        width: 100%;
        float: right;
        text-align: right;
        padding-top: 0px;
    }
    .start-test-middle {
        width: 65%;
    }
    .start-test-middle h3 {
        font-size: 25px;
        margin-bottom: 5px;
    }

.start-test-middle h5 {
    font-size: 20px;
}
.answer {
    display: inline-block;
    margin: 0px 2px !important;
    width: 24%;
}
.navbar .navbar-nav {
    margin-top: 16px;
}
.navbar-nav.side-menu-main a {
    font-size: 15px !important;
}

}

@media screen and (max-width:1199px){
    .answer {
        display: inline-block;
        margin: 0px 11px;
    }
}




/* start menu css */
.dropdown .dropdown-menu {
    visibility: inherit;
    display: none;
    opacity: inherit;
    transition: 0.6s !important;
}
.dropdown.show .dropdown-menu, .dropdown-menu.open {
    opacity: inherit;
    visibility: inherit;
    display: block;
    transition: 0.6s;
    transition: 0.6s !important;
    

}