@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,200") print;
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css") print;
@import url("/bower_components/angular-xeditable/dist/css/xeditable.min.css") print;
@import url("/assets/css/rotating-card.css") print;
@import url("/assets/css/bootstrap.min.css") print;
@import url("/bower_components/jquery-minicolors/jquery.minicolors.css") print;

@page {

}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        font-size: 9pt;
        margin-right: 0cm;
        margin-left: 0cm;
        font-color: #202c54;

    }

    .pageNumber {

        bottom: 1cm;
    }

    .forewordPrint {
        box-shadow: -8px 8px 0 #00bb7e !important;
    }

    p {
        margin-left: 0cm;
        margin-right: 0cm;
        margin-bottom: 0cm;

    }

    h5 {
        font-size: 12pt;

    }

    p-3 {
        padding: 0.2cm;
    }

    .linebreak {
        margin-top: 0cm;

    }

    .hrCareer {
        margin-top: 0cm;
        margin-bottom: 0.1cm;

    }

    .cat-head {
        height: 1.5cm;

    }

    .imagemain {
        height: 15cm;
        padding-bottom: 1cm;
        padding-top: 1cm;

    }

    .cathead {
        height: 1.5cm;
    }

    .catdesc {
        padding-bottom: 2cm;
        height: 7cm;
        padding-top: 0.5cm;
    }

    .graphPersonality {
        height: 9cm;

    }

    .catexplain {

        padding-top: 0.5cm;
        height: 8.5cm;
    }

    .categoryPersonality {

        padding-bottom: 1cm;
        padding-top: 1.5cm;
        height: 9cm;
    }

    .catsecexplain {
        padding-top: 0.5cm;
        padding-bottom: 1cm;
        height: 9cm;
    }

    .catinterest {

        margin-top: 1cm;
        height: 8cm;
    }

    .graphsection {
        height: 8cm;

    }

    .graphsecondary {
        height: 7cm;

        margin-bottom: 0.5cm;
    }

    .descriptionStrength {
        height: 3cm;

        margin-bottom: 0.5cm;

    }

    .descriptionconcept {
        height: 4cm;
        margin-top: 1cm;
        margin-bottom: 0.5cm;

    }

    .careerchoice {
        height: 5cm;
    }

    /*section-4 css*/
    .devplan1 {
        height: 16cm;
        margin-top: 2cm;

    }

    .devplan2 {
        height: 24cm;
        margin-top: 2cm;

    }

    .careerPath {
        height: 18cm;
        margin-top: 1cm;

    }

    .verticalPath {
        height: 18cm;
        width: 2px;
        background-color: #4158d5;
    }

    .bestFitsmall {

        height: 24.5cm;
    }

    .section3Front {

        height: 24cm;
    }

    .section3printFront {
        height: 24.5cm;

    }

    .motivationFrontpage {
        height: 24cm;

    }

    .learningFront {

        height: 24cm;
    }

    .section3Category {

        height: 28cm;
    }

    .noPrint, .noPrint * {
        display: none !important;
    }

    @Page {
        margin: 0
    }

    footer {
        page-break-after: always;
        /*position: fixed;*/
        /*bottom: 0;*/
    }

    aside#sidebar, header[role="banner"], #comments, #respond {
        display: none;
    }

    p.bodyText {
        font-size: 2pt;
        margin-right: 0cm;
        margin-left: 0cm;
        margin-bottom: 0;

    }

    #container #content #main {
        width: auto;
        height: auto;

        padding: 0;
        float: none !important;
    }

    * {
        /*color: #000;*/
        /*background-color: #fff;*/
    @include box-shadow(none);
    @include text-shadow(none);
    }

    a:after {
        content: "( " attr(href) " )";
    }

    .print {
        display: block;
    }

    .finished {

    }
}
