.card-flip:hover .flip, .card-flip.hover .flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-flip,
.card-front,
.card-back {
    width: 100%;
    height:auto !important;
    margin-bottom: 15px !important;
}

.flip {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.card-front,
.card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.card-front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-back-hover{
    position: absolute;
    top: 0;
    z-index: 111;
    background: #38e0a9;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0px !important;
    display: none;
}
.card-flip:hover .card-back-hover{
    display: block;
    transition: 0.6s;
}

.flip-box {
    position: relative;
    height: 250px;
}

.card-front .parent-head {
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 18px;
    padding: 0;
    line-height: normal;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
}
.card-front .parent-head label {
    margin: 0;
    padding: 10px 5px;
    color: white !important;
}


