<div class="mt-3 mb-3 ml-5 mr-5" style="position:relative;">

    <div class="text-right">

        <!--<img src="https://s3.amazonaws.com/intscale-assets/assessintlogo.png">-->
        <img src="https://s3.amazonaws.com/intscale-assets/aim2excel-logo-riseandshine.png">
    </div>
    <div class="text-left mt-2">
        <h3 style="font-weight: bold;"><span style="color: #202c54;">AIM2EXCEL </span> <span
                style="color: #00bb7e;">Career Interest Finder</span>
        </h3>
    </div>


    <div class="text-left mt-4">
        <h5>Name : {{user.name}}</h5>
        <h5>Email : {{user.email}}</h5>
    </div>

    <div>
        <div class="text-center" style="padding-left: 3%;padding-right: 3%; padding-top: 3%; padding-bottom: 3%">


            <!--graph starts-->

            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
<style type="text/css">
	.st0 {
        fill: #202c54;
        stroke: #000000;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }

    .st1 {
        fill: #FFFFFF;
        stroke: #000000;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }

    .st2 {
        fill: #4158d5;
        stroke: #000000;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st3 {
        fill: none;
        stroke: #000000;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }

    .st4 {
        fill: #FFFFFF;
        stroke: #000000;
        stroke-miterlimit: 10;
    }

    .st5 {
        font-family: 'MyriadPro-Regular';
    }

    .st6 {
        font-size: 13px;
    }

    .st7 {
        fill: #FCFCFC;
        stroke: #000000;
        stroke-miterlimit: 10;
    }

    .st8 {
        display: none;
        enable-background: new;
    }

    .st9 {
        font-size: 36px;
    }

    .st10 {
        font-size: 32.1759px;
    }

    .st11 {
        fill: #FFFFFF;
        font-size: 20px !important;
    }

    .st12 {
        font-size: 22.4453px;
    }

    .st13 {
        font-family: 'MyriadPro-Bold';
    }

    .st14 {
        font-size: 28.7299px;
    }

    .st15 {
        font-size: 22px;
    }

    .st16 {
        font-size: 28px;
    }

    .st17 {
        fill: none;
    }

    .st18 {
        font-family: 'ArialMT';
    }

    .st19 {
        font-size: 12px;
    }

    .st20 {
        fill: none;
        stroke: #FCFCFC;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }
</style>
<circle class="st0" cx="502" cy="498" r="492"/>
<circle class="st1" cx="502" cy="498" r="411.1"/>
<polygon class="st2" points="545,423.5 459,423.5 415.9,498 459,572.5 545,572.5 588.1,498 "/>
<path class="st3 section-1" id="section-1" d="M145.1,293.9l291.5,168.4L415.9,498H91.1C91.1,498,82.5,398.6,145.1,293.9z"/>
<path class="st3 section-2" id="section-2" d="M459,423.5L291.6,144.8c0,0-82.7,44.8-146.5,149.1l291.5,168.4L459,423.5z"/>
<path class="st3 section-3" id="section-3" d="M504.7,423.5V86.9c0,0-109.8-2.7-213.1,57.9L459,423.5H504.7z"/>
<path class="st3 section-4" id="section-4" d="M545,423.5l157-284.7c0,0-101.2-56.8-197.3-51.9v336.5H545V423.5z"/>
<path class="st3 section-5" id="section-5" d="M567.4,462.2l266.3-207.1c0,0-50.3-73.1-131.7-116.3L545,423.5L567.4,462.2z"/>
<path class="st3 section-7" id="section-7" d="M564.5,534.2l292.9,170.5c0,0,55.7-91,55.7-206.8h-325L564.5,534.2z"/>
<path class="st3 section-6" id="section-6" d="M567.4,462.2l266.3-207.1c0,0,83.1,109.3,79.4,242.8h-325L567.4,462.2z"/>
<path class="st3 section-9" id="section-9" d="M545,572.5l146.9,290.1c0,0-80.4,48.5-189.9,46.4V572.5H545z"/>
<path class="st3 section-8" id="section-8" d="M567.4,533.8l290,170.9c0,0-54,102.3-165.5,158L545,572.5L567.4,533.8z"/>
<path class="st3 section-10" id="section-10" d="M459,572.5L312.1,862.7c0,0,79.1,46.9,189.9,46.4V572.5H459z"/>
<path class="st3 section-11" id="section-11" d="M433,527.5L142.9,698.2c0,0,53.2,102.3,169.2,164.4L459,572.5L433,527.5z"/>
<path class="st3 section-12" id="section-12" d="M91.1,498h324.8l17.1,29.5L142.9,698.2C142.9,698.2,92.8,622.1,91.1,498z"/>
<polygon class="st4" points="362.2,311.4 277.5,311.4 261.1,348.2 244.6,311.4 139.2,311.4 139.2,281.1 362.2,281.1 "/>
<text transform="matrix(1 0 0 1 146.2803 302.8228)" class="st5 st6">Business Development &amp; Sales</text>
<polygon class="st4" points="248.2,386.1 218.6,386.1 208.5,413.7 197.4,386.1 128.1,386.1 128.1,355.3 248.2,355.3 "/>
<text transform="matrix(1 0 0 1 142.8228 376.9336)" class="st5 st6">Civil Services</text>
<polygon class="st4" points="383.3,365.3 365.9,365.3 356.9,392.9 348.4,365.3 308.8,365.3 308.8,336.2 383.3,336.2 "/>
<text transform="matrix(1 0 0 1 320.4888 357.0605)" class="st5 st6">Lawyer</text>
<polygon class="st4" points="428.6,171.8 390.1,171.8 377.7,190.2 367.1,171.8 357.9,171.8 305.7,171.8 305.7,142.9 428.6,142.9 "/>
<text transform="matrix(1 0 0 1 316.8076 163.085)" class="st5 st6">Event Planning</text>
<polygon class="st4" points="396.8,225.9 355.8,225.9 339.2,262.7 325.6,225.9 265.8,225.9 265.8,197.6 396.8,197.6 "/>
<text transform="matrix(1 0 0 1 273.1392 217.3311)" class="st5 st6">Financial Advisor</text>
<polygon class="st7" points="624.4,135.5 505,135.5 484.2,163.1 483.6,135.5 477.3,135.5 477.3,106.7 624.4,106.7 "/>
<text transform="matrix(1 0 0 1 485.9565 126.0806)" class="st5 st6">Human Resources</text>
<polygon class="st4" points="589.8,239.8 468.9,239.8 448.6,258.1 445.9,239.8 437.5,239.8 437.5,213 589.8,213 "/>
<text transform="matrix(1 0 0 1 445.8818 232.4023)" class="st5 st6">IT Product Manager</text>
<polygon class="st4" points="541.3,294.9 392.6,294.9 392.6,267.3 418.3,267.3 421.9,235.1 442.2,267.3 541.3,267.3 "/>
<text transform="matrix(1 0 0 1 402.6738 286.6416)" class="st5 st6">Investment Banker</text>
<polygon class="st4" points="578.4,344.3 383.7,344.3 383.7,316 402.6,316 421.4,304.1 421.1,316 578.4,316 "/>
<text transform="matrix(1 0 0 1 387.9658 334.4463)" class="st5 st6">Supply Chain Management</text>
<polygon class="st4" points="518.2,375.8 466.9,375.8 453.8,394.2 444.5,375.8 389.3,375.8 389.3,349.2 518.2,349.2 "/>
<text transform="matrix(1 0 0 1 395.3198 368.4604)" class="st5 st6">Financial Analyst</text>
<polygon class="st4" points="549.6,410.7 481,410.7 470.7,421.8 471.3,410.7 465.5,410.7 465.5,382.9 549.6,382.9 "/>
<text transform="matrix(1 0 0 1 471.3159 402.1689)" class="st5 st6">Marketing </text>
<polygon class="st4" points="752,194.3 621,194.3 605.4,212.7 607.7,194.3 594.8,194.3 594.8,166.1 752,166.1 "/>
<text transform="matrix(1 0 0 1 601.2451 186.4272)" class="st5 st6">Chartered Accountant</text>
<polygon class="st4" points="688.3,332.6 649,332.6 631.9,351 633.5,332.6 620.2,332.6 620.2,302.4 688.3,302.4 "/>
<text transform="matrix(1 0 0 1 628.4375 323.0488)" class="st5 st6">Actuary</text>
<polygon class="st4" points="829.7,330.8 757.5,330.8 728.1,358.3 734.3,330.8 704.9,330.8 704.9,303.8 829.7,303.8 "/>
<text transform="matrix(1 0 0 1 709.7246 324.334)" class="st5 st6">Defense Services</text>
<polygon class="st4" points="766.3,385.3 710.4,385.3 716.2,412.9 683.1,385.3 553.1,385.3 553.1,356.1 766.3,356.1 "/>
<text transform="matrix(1 0 0 1 558.0381 376.7344)" class="st5 st6">Information Security Analysts</text>
<polygon class="st4" points="782,490.7 753.9,490.7 726.3,518.3 732.7,490.7 697.1,490.7 697.1,463 782,463 "/>
<text transform="matrix(1 0 0 1 704.208 482.4551)" class="st5 st6">Economist</text>
<polygon class="st4" points="688.3,485.2 597.6,485.2 582.2,512.8 586.4,485.2 575.2,485.2 575.2,456.7 688.3,456.7 "/>
<text transform="matrix(1 0 0 1 582.8594 476.9395)" class="st5 st6">Biotechnology</text>
<polygon class="st4" points="885.7,449.7 818.7,449.7 782,514 799.2,449.7 674.8,449.7 674.8,421.5 885.7,421.5 "/>
<text transform="matrix(1 0 0 1 681.8389 441.3926)" class="st5 st6">Physical Sciences Researcher</text>
<polygon class="st4" points="902.6,549 691.3,549 691.3,521.1 752,521.1 748.9,505.4 764.9,521.1 902.6,521.1 "/>
<text transform="matrix(1 0 0 1 696.8535 541.291)" class="st5 st6">Software & App Developer </text>
<polygon class="st4" points="912.6,487.9 842.7,487.9 809,515.5 829.7,487.9 821.9,487.9 821.9,460.2 912.6,460.2 "/>
<text transform="matrix(1 0 0 1 827.3955 479.3906)" class="st5 st6">AI Engineer</text>
<polygon class="st4" points="669.3,563 650.6,563 652.7,581.4 634,563 564.5,563 564.5,534.2 669.3,534.2 "/>
<text transform="matrix(1 0 0 1 569.376 554.7744)" class="st5 st6">Data Scientist </text>
<polygon class="st4" points="888.6,600.1 804.7,600.1 815.4,618.5 790.2,600.1 748.3,600.1 748.3,572.5 888.6,572.5 "/>
<text transform="matrix(1 0 0 1 756.6094 591.8535)" class="st5 st6">Robotics Engineer</text>
<polygon class="st4" points="646.1,519.5 639.7,519.5 652.7,530.6 629.7,519.5 605.8,519.5 605.8,491.6 646.1,491.6 "/>
<text transform="matrix(1 0 0 1 610.1328 511.5664)" class="st5 st6">Pilot </text>
<polygon class="st4" points="794.3,650.4 685.6,650.4 685.6,623.7 704.2,623.7 728.1,586.9 716.5,623.7 794.3,623.7 "/>
<text transform="matrix(1 0 0 1 692.5635 641.8018)" class="st5 st6">Core Engineer</text>
<polygon class="st4" points="621.2,651.6 603.7,651.6 604.9,670 588.4,651.6 538.5,651.6 538.5,622.5 621.2,622.5 "/>
<text transform="matrix(1 0 0 1 545.707 643.415)" class="st5 st6">Pharmacy</text>
<polygon class="st4" points="668.9,621.3 661.7,621.3 668.4,633.2 650.6,621.3 646.3,621.3 595.1,621.3 595.1,594.6 668.9,594.6 "/>
<text transform="matrix(1 0 0 1 603.6973 613.6104)" class="st5 st6">Surgeon </text>
<polygon class="st4" points="816.4,682.4 613.7,682.4 613.7,654.8 652.3,654.8 642.4,645.6 668.8,654.8 816.4,654.8 "/>
<text transform="matrix(1 0 0 1 618.7129 673.2119)" class="st5 st6">Management Consulting</text>
<polygon class="st4" points="812.7,762.9 711.6,762.9 676.6,790.5 692.9,762.9 628.5,762.9 628.5,734.6 665.6,734.6 672.8,734.6
	680.8,734.6 812.7,734.6 "/>
<text transform="matrix(1 0 0 1 636.7119 754.1836)" class="st5 st6">Market Research Analyst</text>
<polygon class="st4" points="701.3,823.2 503.3,823.2 503.3,796.6 536.7,796.6 553.4,769 553.4,796.6 701.3,796.6 "/>
<text transform="matrix(1 0 0 1 510.7764 815.7812)" class="st5 st6">Social Sciences Researcher</text>
<polygon class="st4" points="686.4,718.7 541.5,718.7 527.5,746.3 530.9,718.7 507.9,718.7 507.9,690.2 686.4,690.2 "/>
<text transform="matrix(1 0 0 1 513.9111 710.4443)" class="st5 st6">Life Sciences Researcher</text>
<polygon class="st4" points="583.6,614.5 536.7,614.5 518.5,642 522.2,614.5 508,614.5 508,586.6 583.6,586.6 "/>
<text transform="matrix(1 0 0 1 514.4531 606.1797)" class="st5 st6">Architect</text>
<polygon class="st4" points="525.8,789.5 447.2,789.5 430,817 431.4,789.5 357.1,789.5 357.1,761 525.8,761 "/>
<text transform="matrix(1 0 0 1 363.8022 781.1943)" class="st5 st6">Dietitian &amp; Nutritionist</text>
<polygon class="st4" points="465.2,730.9 369.6,730.9 353.5,758.5 354.4,730.9 338.9,730.9 331.4,730.9 315.7,730.9 315.7,703.1
	465.2,703.1 "/>
<text transform="matrix(1 0 0 1 322.6943 722.3955)" class="st5 st6">Behavioral Genetics</text>
<polygon class="st4" points="495.8,643.9 364.1,643.9 371.4,657.7 350.7,643.9 302.8,643.9 302.8,616.4 495.8,616.4 "/>
<text transform="matrix(1 0 0 1 308.2915 636.2861)" class="st5 st6">Mental Health Professional</text>
<polygon class="st4" points="438.5,560.3 405.4,560.3 415.9,575.9 395.3,560.3 367,560.3 367,532.1 438.5,532.1 "/>
<text transform="matrix(1 0 0 1 370.4985 551.8633)" class="st5 st6">Physician</text>
<polygon class="st4" points="494.3,608.5 442.3,608.5 424.3,620.5 432.6,608.5 410.9,608.5 410.9,581.4 494.3,581.4 "/>
<text transform="matrix(1 0 0 1 414.6255 599.207)" class="st5 st6">Languages</text>
<polygon class="st4" points="458.1,699.9 334.4,699.9 334.4,670.9 344.5,670.9 339.2,652.5 354,670.9 458.1,670.9 "/>
<text transform="matrix(1 0 0 1 336.9438 691.5977)" class="st5 st6">Fashion Designer</text>
<polygon class="st4" points="251.3,647 219.9,647 223,665.4 206.1,647 176.3,647 176.3,618.6 251.3,618.6 "/>
<text transform="matrix(1 0 0 1 181.1675 638.4805)" class="st5 st6">Journalist</text>
<polygon class="st4" points="289.9,703.4 152,703.4 152,675.8 251.4,675.8 271.2,658.3 262,675.8 289.9,675.8 "/>
<text transform="matrix(1 0 0 1 158.1377 695.1221)" class="st5 st6">Graphic Designer</text>
<polygon class="st4" points="300.7,738.9 277.2,738.9 282.4,757.3 266.6,738.9 171.6,738.9 171.6,711.4 300.7,711.4 "/>
<text transform="matrix(1 0 0 1 176.2173 730.3633)" class="st5 st6">Product Designer</text>
<polygon class="st4" points="343.4,790.9 228.3,790.9 228.3,763.3 305.8,763.3 332.5,744.9 320.5,763.3 343.4,763.3 "/>
<text transform="matrix(1 0 0 1 232.6016 782.6104)" class="st5 st6">UI/UX Designer</text>
<polygon class="st4" points="249.5,572.4 221,572.4 221.6,609.2 202,572.4 96.6,572.4 96.6,543.3 249.5,543.3 "/>
<text transform="matrix(1 0 0 1 102.0596 563.8555)" class="st5 st6">Curriculum Desginer</text>
<polygon class="st4" points="376.9,530.3 283.7,530.3 293.7,557.8 266.6,530.3 90.4,530.3 90.4,501.8 376.9,501.8 "/>
<text transform="matrix(1 0 0 1 95.624 521.6797)" class="st5 st6">Physiotherapist / Occupational therapist </text>
<polygon class="st4" points="421.2,489.4 411.8,489.4 417.4,518.8 395.3,489.4 388,489.4 280.7,489.4 280.7,461.3 421.2,461.3 "/>
<text transform="matrix(1 0 0 1 284.1768 480.6997)" class="st5 st6">Academic Educator</text>
<text transform="matrix(1 0 0 1 460.0222 510.5662)" class="st8 st5 st9">DATA</text>
<circle cx="500.1" cy="498.1" r="8"/>
<line class="st3" x1="500.1" y1="444.8" x2="500.1" y2="483.4"/>
<line class="st3" x1="500.1" y1="513.7" x2="500.1" y2="552.3"/>
<line class="st3" x1="554.4" y1="498.1" x2="515.7" y2="498.1"/>
<line class="st3" x1="484.5" y1="498.1" x2="445.9" y2="498.1"/>
<path d="M558.7,497.8l-8.3-5.7c-0.1-0.1-0.2-0.1-0.3,0c-0.1,0-0.2,0.1-0.2,0.3v11.4c0,0.1,0.1,0.2,0.2,0.3h0.1c0.1,0,0.1,0,0.2-0.1
	l8.3-5.7c0.1-0.1,0.1-0.1,0.1-0.2C558.8,498,558.7,497.9,558.7,497.8z"/>
<path d="M441.6,498.3l8.3,5.7c0.1,0.1,0.2,0.1,0.3,0c0.1,0,0.2-0.1,0.2-0.3v-11.4c0-0.1-0.1-0.2-0.2-0.3h-0.1c-0.1,0-0.1,0-0.2,0.1
	l-8.3,5.7c-0.1,0.1-0.1,0.1-0.1,0.2S441.5,498.3,441.6,498.3z"/>
<path d="M499.9,440.5l-5.7,8.3c-0.1,0.1-0.1,0.2,0,0.3c0,0.1,0.1,0.2,0.3,0.2h11.4c0.1,0,0.2-0.1,0.3-0.2V449c0-0.1,0-0.1-0.1-0.2
	l-5.7-8.3c-0.1-0.1-0.1-0.1-0.2-0.1S499.9,440.4,499.9,440.5z"/>
<path d="M500.4,556.6l5.7-8.3c0.1-0.1,0.1-0.2,0-0.3c0-0.1-0.1-0.2-0.3-0.2h-11.4c-0.1,0-0.2,0.1-0.3,0.2v0.1c0,0.1,0,0.1,0.1,0.2
	l5.7,8.3c0.1,0.1,0.1,0.1,0.2,0.1S500.3,556.7,500.4,556.6z"/>
<text transform="matrix(1 0 0 1 123.5171 436.2314)" class="st5 st10">1</text>
<circle class="st3" cx="132.8" cy="423.3" r="20.2"/>
<text transform="matrix(1 0 0 1 224.3379 246.1274)" class="st5 st10">2</text>
<circle class="st3" cx="232.2" cy="235" r="20.2"/>
<text transform="matrix(1 0 0 1 443.9756 135.0981)" class="st5 st10">3</text>
<circle class="st3" cx="451.8" cy="124" r="20.2"/>
<text transform="matrix(1 0 0 1 550.8896 183.4209)" class="st5 st10">4</text>
<circle class="st3" cx="558.8" cy="172.3" r="20.2"/>
<text transform="matrix(1 0 0 1 746.0283 247.0781)" class="st5 st10">5</text>
<circle class="st3" cx="753.9" cy="236" r="20.2"/>
<text transform="matrix(1 0 0 1 837.04 381.0728)" class="st5 st10">6</text>
<circle class="st3" cx="844.9" cy="370" r="20.2"/>
<text transform="matrix(1 0 0 1 833.5117 644.8857)" class="st5 st10">7</text>
<circle class="st3" cx="841.4" cy="633.8" r="20.2"/>
<text transform="matrix(1 0 0 1 741.6562 720.1865)" class="st5 st10">8</text>
<circle class="st3" cx="749.5" cy="709.1" r="20.2"/>
<text transform="matrix(1 0 0 1 578.3564 868.9092)" class="st5 st10">9</text>
<circle class="st3" cx="586.2" cy="857.8" r="20.2"/>
<text transform="matrix(1 0 0 1 392.6553 865.7949)" class="st5 st10">10</text>
<circle class="st3" cx="409.7" cy="855.6" r="20.2"/>
<polygon class="st4" points="399.3,596.4 390.5,596.4 401.4,614.7 376.9,596.4 239.8,596.4 239.8,568 399.3,568 "/>
<text transform="matrix(1 0 0 1 245.3032 587.1543)" class="st5 st6">Creative Professionals</text>
<text transform="matrix(1 0 0 1 296.1279 677.8975)" class="st5 st10">11</text>
<circle class="st3" cx="311.4" cy="667.7" r="20.2"/>
<text transform="matrix(1 0 0 1 129.2627 617.917)" class="st5 st10">12</text>
<circle class="st3" cx="146.3" cy="607.7" r="20.2"/>
<text transform="matrix(1 0 0 1 434.9009 36.4585)" class="st11 st5 st12">Working with </text>
<text transform="matrix(1 0 0 1 469.8009 68.7585)" class="st11 st13 st14">Data</text>
<text transform="matrix(1 0 0 1 434.6968 943.4958)" class="st11 st5 st12">Working with </text>
<text transform="matrix(1 0 0 1 465.8968 975.7958)" class="st11 st13 st14">Ideas</text>
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 39.7402 561.6758)" class="st11 st5 st15">Working with</text>
<text transform="matrix(4.489659e-11 -1 1 4.489659e-11 75.7402 543.1758)" class="st11 st13 st16">People</text>
<text transform="matrix(-1.346898e-10 1 -1 -1.346898e-10 962.7402 438.3235)" class="st11 st5 st15">Working with</text>
<text transform="matrix(-1.346898e-10 1 -1 -1.346898e-10 926.7402 456.8235)" class="st11 st13 st16">Things</text>
<path id="SVGID_x5F_1_x5F_" class="st17" d="M71.5,604.5c-57.7-236.7,87.3-475.3,324-533s475.3,87.3,533,324s-87.3,475.3-324,533
	S129.2,841.2,71.5,604.5z"/>
<text class="st18 st19"> </text>
<text class="st18 st19"> </text>
<path class="st20" d="M126.1,258.1"/>
<path class="st20" d="M114.4,277.1"/>
<path class="st20" d="M73.9,374.2c11.6-38,26.7-74.6,44.7-109.4"/>
<path class="st11" d="M73.4,378.1l7.4-6.8c0.1-0.1,0.1-0.2,0.1-0.3c0-0.1-0.1-0.2-0.2-0.3l-11.1-2.6c-0.1,0-0.2,0.1-0.3,0.1v0.1
	c0,0.1,0,0.1,0.1,0.2l3.7,9.4c0.1,0.1,0.1,0.1,0.2,0.1C73.2,378.2,73.4,378.2,73.4,378.1z"/>
<path class="st20" d="M230.1,143.2c31-25,63.9-46.8,98.4-65.4"/>
<path class="st11" d="M336.3,75.6l-9.4-3.6c-0.1-0.1-0.2,0-0.3,0.1c-0.1,0-0.2,0.1-0.1,0.3l2.7,11.1c0,0.1,0.1,0.2,0.3,0.2h0.1
	c0.1,0,0.1,0,0.2-0.1l6.7-7.5c0.1-0.1,0.1-0.1,0-0.2C336.5,75.7,336.4,75.5,336.3,75.6z"/>
<path class="st20" d="M634.7,69.7c34.6,13.1,67.6,29.4,98.8,48.5"/>
<path class="st11" d="M630,68.6l5.9,8.2c0.1,0.1,0.2,0.2,0.3,0.1c0.1,0,0.2,0,0.3-0.2l3.9-10.7c0-0.1,0-0.2-0.1-0.4h-0.1
	c-0.1,0-0.1,0-0.2,0l-9.7,2.5c-0.1,0.1-0.1,0.1-0.2,0.2S629.9,68.6,630,68.6z"/>
<path class="st11" d="M921.4,337.6l1.3-10c0-0.1,0-0.2-0.1-0.3c0-0.1-0.2-0.1-0.4,0l-10.2,5.2c-0.1,0-0.1,0.2-0.2,0.3v0.1
	c0,0.1,0,0.1,0.2,0.1l8.8,4.8c0.1,0,0.1,0,0.2,0C921.2,337.8,921.4,337.7,921.4,337.6z"/>
<path class="st20" d="M863,237.6c21.8,29.9,40.5,61.6,56.2,94.7"/>
<path class="st20" d="M926.4,659.7c-14.3,30.6-31.3,59.5-50.8,86.6"/>
<path class="st11" d="M928.4,653l-8.4,5.6c-0.1,0.1-0.2,0.1-0.2,0.3c-0.1,0.1,0.1,0.2,0.3,0.3l10.6,4.3c0.1,0.1,0.2-0.1,0.4,0
	l0.1-0.1c0.1-0.1,0.1-0.1-0.1-0.2l-2.1-9.8c-0.1-0.1-0.1-0.1-0.1-0.2C928.7,653.1,928.4,653,928.4,653z"/>
<path class="st11" d="M656,924.6l9.9,1.5c0.1,0,0.2,0,0.3-0.1c0.1,0,0.1-0.2,0-0.4l-4.9-10.2c0-0.1-0.2-0.1-0.3-0.2l-0.1,0
	c-0.1,0-0.1,0-0.1,0.2l-5,8.6c0,0.1,0,0.1,0,0.2C655.8,924.4,655.9,924.6,656,924.6z"/>
<path class="st20" d="M748.3,872.9c-27.1,18.9-55.8,35.1-85.8,48.7"/>
<path class="st20" d="M337.7,929.7c-29.3-13.3-57.2-29.3-83.5-47.7"/>
<path class="st11" d="M340.6,929.9l-5.3-8.5c-0.1-0.1-0.1-0.2-0.3-0.2c-0.1-0.1-0.2,0-0.3,0.2l-4.6,10.4c-0.1,0.1,0,0.2,0,0.4
	l0.1,0.1c0.1,0.1,0.1,0.1,0.2,0l9.8-1.8c0.1-0.1,0.1-0.1,0.2-0.1C340.5,930.2,340.6,930,340.6,929.9z"/>
<path class="st11" d="M86,679.6l-1.2,9.9c0,0.1,0,0.2,0.1,0.3c0,0.1,0.2,0.1,0.4,0l10-5.3c0.1,0,0.1-0.2,0.2-0.3l0-0.1
	c0-0.1,0-0.1-0.2-0.1l-8.8-4.7c-0.1,0-0.1,0-0.2,0C86.2,679.4,86,679.5,86,679.6z"/>
<path class="st20" d="M140.5,766.9c-20-26-37.6-53.8-52.6-83"/>
<path id="SVGID_x5F_1_x5F__1_" class="st17" d="M941.2,500c0,243.6-197.5,441.2-441.2,441.2S58.8,743.6,58.8,500
	S256.4,58.8,500,58.8S941.2,256.4,941.2,500z"/>
<text><textPath  xlink:href="#SVGID_x5F_1_x5F__1_" startOffset="59.5%">
<tspan  class="st11 st5" style="font-size:21.613px;">People &amp; Data</tspan></textPath>
</text>
<path id="SVGID_x5F_2_x5F_" class="st17" d="M500,58.8c243.6,0,441.2,197.5,441.2,441.2S743.6,941.2,500,941.2S58.8,743.6,58.8,500
	S256.4,58.8,500,58.8z"/>
<text><textPath  xlink:href="#SVGID_x5F_2_x5F_" startOffset="59.5%">
<tspan  class="st11 st5" style="font-size:21.613px;">People &amp; Ideas</tspan></textPath>
</text>
<path id="SVGID_x5F_3_x5F_" class="st17" d="M500,941.2C256.4,941.2,58.8,743.6,58.8,500S256.4,58.8,500,58.8S941.2,256.4,941.2,500
	S743.6,941.2,500,941.2z"/>
<text><textPath  xlink:href="#SVGID_x5F_3_x5F_" startOffset="59.5%">
<tspan  class="st11 st5" style="font-size:21.613px;">Data &amp; Things</tspan></textPath>
</text>
<path id="SVGID_x5F_4_x5F_" class="st17" d="M58.8,500C58.8,256.4,256.4,58.8,500,58.8S941.2,256.4,941.2,500S743.6,941.2,500,941.2
	S58.8,743.6,58.8,500z"/>
<text><textPath  xlink:href="#SVGID_x5F_4_x5F_" startOffset="59.5%">
<tspan  class="st11 st5" style="font-size:21.613px;">Ideas &amp; Things</tspan></textPath>
</text>
</svg>


            <!--graph ends-->


            <ul class="legend">
                <li><span class="lowFitLegend"></span> Low Fit</li>
                <li><span class="moderatefitLegend"></span> Moderate Fit</li>
                <li><span class="bestfitLegend"></span> Best Fit</li>
            </ul>

        </div>
    </div>
    <div>
        <p style="text-align: justify;">Based on your score, best-fit careers for you lie in the group highlighted in green
            above. Careers in the
            adjacent groups are moderate match.
        </p>
        <p style="text-align: justify;">
            Below you can find this information in tabular information. We’ve also the subject compulsorily
            required to pursue that career.</p>
    </div>

</div>
<footer></footer>
