<div class="mt-3 mb-3 ml-5 mr-5" style="position:relative;">

    <div class="text-right">
        <!--<img src="https://s3.amazonaws.com/intscale-assets/assessintlogo.png">-->
        <img src="https://s3.amazonaws.com/intscale-assets/aim2excel-logo-riseandshine.png">
    </div>
    <div class="text-left mt-5">
        <h4><span
                style="color: #202c54;">Career Recommendations based on Interest of </span> <span
                style="color: #00bb7e;">{{user.firstName}}</span>
        </h4>
    </div>

    <div style="padding-top: 3%">
        <div class="row">
            <div class="col-6">
                <h5>Best Fit Careers
                    <small style="border-left: solid 2px #b2c0ca;"> &nbsp;Subjects</small>
                </h5>
                <hr/>
                <ul style="border-left: solid 6px #00bb7e;">
                    <li ng-repeat="career in bestFit.careers"><strong>{{career.careerName}}</strong>
                        <span style="border-left: solid 2px #b2c0ca;"
                              ng-if="career.subjects.length > 0">
                            <span> &nbsp;{{career.subjects}}</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <h5>Moderate Fit Careers
                    <small style="border-left: solid 2px #b2c0ca;"> &nbsp;Subjects</small>
                </h5>

                <hr/>
                <ul style="border-left: solid 6px #fab400;">
                    <li ng-repeat="career in moderateFit.careers"><strong>{{career.careerName}}</strong>
                        <span style="border-left: solid 2px #b2c0ca;"
                              ng-if="career.subjects.length > 0">
                            <span> &nbsp;{{career.subjects}}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mt-2">
            <h5>Low Fit Careers
                <small style="border-left: solid 2px #b2c0ca;"> &nbsp;Subjects</small>

            </h5>
            <hr/>
            <div class="row">
                <div class="col-4" ng-repeat="careers in worstFit.careersBuckets">
                    <ul style="border-left: solid 6px #4158d5;">
                        <li ng-repeat="career in careers"><strong>{{career.careerName}} </strong>
                            <span style="border-left: solid 2px #b2c0ca;"
                                  ng-if="career.subjects.length > 0">
                           <span> &nbsp;{{career.subjects}}</span>
                    </span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-top: 3%">
        <h5>
            Did you find the career recommendations on the basis of your interest profile relevant?
        </h5>
        <h5>
            <small>
                Discover your perfect career based on 23 dimensions covering:
            </small>
        </h5>
        <ul>
            <li>Emotional Intelligence</li>
            <li>Social Intelligence</li>
            <li>Cognitive Intelligence</li>
            <li>Interest</li>
            <li>Personality</li>
            <li>Motivation</li>
        </ul>
        <p>Speak with a counsellor- Call Career helpline 1800 5725 911</p>
        <h5>Buy the full program by clicking <a href="https://aim2excel.in/#our-programs">here.</a></h5>
    </div>


</div>