<style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" type="text/css">

    body {
        color: #202c54;
        font-size: 12px;
        font-family: "Raleway", Arial, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

    @media print {
        a[href]:after {
            content: none !important;
        }
    }

    /* basic positioning */
    .legend {
        list-style: none;
    }

    .legend li {
        float: right;
        margin-right: 10px;
    }

    .legend span {
        border: 1px solid #000000;
        float: left;
        width: 12px;
        height: 12px;
        margin: 2px;
    }

    /* your colors */
    .legend .bestfitLegend {
        background-color: #00bb7e;
    }

    .legend .moderatefitLegend {
        background-color: #fab400;
    }

    .legend .lowFitLegend {
        background-color: #ffffff;
    }
</style>


<!--page1-->
<div ng-include="'views/aimReports/aimReportDemo/page1.html'"></div>


<!--page2-->
<div ng-include="'views/aimReports/aimReportDemo/page2.html'"></div>