<nav class="navbar navbar-toggleable-md bg-primary fixed-top navbar-transparent " color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
      <a class="navbar-brand" href="https://www.aim2excel.in" rel="tooltip" title="Unleash your true potential with us" data-placement="bottom" target="_blank">
        <i class="now-ui-icons education_hat"></i>
        <p>INTSCALE</p>
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-placement="bottom" ui-sref="register" target="_self">
            <i class="fa fa-user-o"></i>&nbsp;&nbsp;<span>LOG IN</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/intscale" target="_blank">
            <i class="fa fa-twitter"></i>
            <p class="hidden-lg-up">Twitter</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/intscale" target="_blank">
            <i class="fa fa-facebook-square"></i>
            <p class="hidden-lg-up">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/intscale" target="_blank">
            <i class="fa fa-instagram"></i>
            <p class="hidden-lg-up">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image" data-parallax="true" style="background-image: url('./assets/img/compresed landing image.jpg');">
    </div>
    <div class="container" style="top:5px">
      <div class="content-center brand" style="top: 45%;">
        <div class="col-sm-12" style="color: #22A5B2;font-weight: bolder; font-size: 25px">
          <h1 class="title"> FIND YOUR PATH </h1>
        </div>
        <h3>What if... <span id="typed" class="typed"></span></h3>
        <div class="content-center">
          <a ui-sref="login" class="btn btn-neutral btn-round btn-lg">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="wrapper">-->
<!--<video style="right: 0;-->
<!--bottom: 0;-->
<!--top: 50%;-->
<!--left: 50%;-->
<!--min-width: 100%;-->
<!--min-height: 100%;-->
<!--width: -webkit-fill-available;-->
<!--height: auto;-->
<!--background-size: cover;-->
<!--border: 0;-->
<!--vertical-align: baseline;-->
<!--margin: 0;-->
<!--padding: 0;-->
<!--background-position: center;-->
<!--backface-visibility: hidden;-->
<!--box-sizing: inherit;-->
<!--display: block;-->
<!--z-index: -100;" preload="auto" poster="assets/media/bg-video.jpg" autoplay loop muted plays-inline ng-src="/assets/media/Intscale_Video_v04.mp4"-->
<!--type="video/mp4">-->
<!--</video>-->
<!--</div>-->

<div class="section"
     style="background:linear-gradient(60deg, #D99121, #F15A24);
	     max-width: 100%; color: white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class=" text-center">
          <img class="img-fluid text-center" style="height: auto;width: auto" alt="Assess" src="assets/img/assess small.png">
        </div>
        <div class="text-center" style="margin-top: 15px;">
          <h2 style="font-weight: 500;">ASSESS</h2>
        </div>
        <p class="description" style="color: white">In this module there are psychometric assessments measuring cognitive, emotional, entrepreneurial, social, creative
          intelligence, personality and interest profiles.
          <span ng-show="readMore3" class="description" style="color: white"> The individual is assessed on both cognitive and non cognitive areas in order to draw a holistic picture of the child’s true self. The findings are then used to provide a detailed, in depth and personalized road map explaining the scores and results, indicating the most rewarding academic streams, probable careers, passions, activities etc for the child</span>
        </p>
        <button class="btn btn-simple btn-round btn-sm" style="float: right" ng-click="readMore3 = !readMore3">{{readMore3 ? 'Show Less' : 'Learn More'}}</button>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="content-center">
            <div class=" text-center" style="margin-top: 25px;">
              <img class="img-fluid text-center" style="height: auto;width: auto" alt="Assist" src="assets/img/assist small.png">
            </div>
          </div>
          <div class="text-center" style="margin-top: 15px;">
            <h2 style="font-weight: 500;">ASSIST</h2>
          </div>
          <p class="description" style="color: white;">In this module we closely monitor the progress of an individual over a long duration and ensure that the appropriate paths as indicated by the assessments are necessary for their growth and success are followed.
            <span ng-show="readMore1" class="description" style="color: white"> We set milestones and measure the outcomes along the way. It is a collaborative module involving our team of child psychology and behavioral experts, parents, teachers and the children and includes counseling sessions, learning enhancement activities, coaching, training and mentoring.</span>
          </p>
          <button class="btn btn-simple btn-round btn-sm" style="float: right" ng-click="readMore1 = !readMore1">{{readMore1 ? 'Show Less' : 'Learn More'}}</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class=" text-center">
          <img class="img-fluid text-center" style="height: auto;width: auto" alt="Answers" src="assets/img/answers small.png">
        </div>
        <div class="text-center" style="margin-top: 15px;">
          <h2 style="font-weight: 500;">ANSWERS</h2>
        </div>
        <p class="description" style="color: white">“Voices” is the place to go to get the answers you need and to ask the questions you want. Our content is developed
          collaboratively by experts, parents and neo adults and is focused on the well being of the child.
          <span class="description" style="color: white" ng-show="readMore2">They range from developing emotional literacy and effective communication and to get a clear understanding on career choices, interests and hobbies.</span>
        </p>
        <button class="btn btn-simple btn-round btn-sm" style="float: right" ng-click="readMore2 = !readMore2">{{readMore2 ? 'Show Less' : 'Learn More'}}</button>
      </div>
    </div>
  </div>
</div>

<div class="section" id="carousel1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <div id="mycarousel" class="carousel slide data-pause">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block" src="assets/img/bg1.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>Nature, United States</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block" src="assets/img/bg3.jpg" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>Somewhere Beyond, United States</h5>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="" data-target="#mycarousel" role="button" data-slide="prev">
            <i class="now-ui-icons arrows-1_minimal-left"></i>
          </a>
          <a class="carousel-control-next" href="" data-target="#mycarousel" role="button" data-slide="next">
            <i class="now-ui-icons arrows-1_minimal-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer" style="background:linear-gradient(60deg, #D99121, #F15A24);
	     max-width: 100%; color: white">
  <div class="container">
    <div class="row">
      <div class="col-md-2 offset-1">
        <a ui-sref="#">About Us</a>
      </div>
      <div class="col-md-2">
        <a ui-sref="#">Products</a>
      </div>
      <div class="col-md-2">
        <a ui-sref="#">Disclaimer</a>
      </div>
      <div class="col-md-2">
        <a ui-sref="#">Privacy</a>
      </div>
      <div class="col-md-2">
        <a ui-sref="#">Terms and Conditions</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container text-center">
    Copyright Intscale &copy;2017 All rights reserved
  </div>
</footer>


