<div class="card col-lg-12">
    <div class="card-header">
        <h6 style="float: left;" class="card-subtitle mb-2 text-muted text-center">Add Question Video</h6>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="input-group form-group-no-border row">
                <div class="col-md-3 col-form-label">Question Video:</div>
                <div class="col-md-6">
                    <video controls width="520" height="240" ng-src="{{quesVideoURI}}" type="video/mp4"></video>
                    <input id="questionVideo" type="file" style="display:none" accept="video/mp4" onchange="angular.element(this).scope().setQuestionVideo(this)"/>
                    <button class="btn btn-round" ng-click="browseQuestionVideo()">Choose Video</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-rose btn-default btn-sm" ng-click="cancelVideo('close')">Save</button>&nbsp;
        <button class="btn btn-rose btn-default btn-sm" ng-show="!showVideoButton" ng-click="cancelVideo('cancel')">Cancel</button>
        <button class="btn btn-rose btn-default btn-sm" ng-show="showVideoButton" ng-click="cancelVideo('close')">Close</button>
    </div>
</div>