<div class="card col-lg-12">
  <div class="card-header">
    <h6 class="card-title">Question Records<input type="text" class="form-control col-md-5" style="float:right;" placeholder="Search your question" ng-model="searchText"></h6></div>
   <div class="card-block">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-hover">
        <thead class="text-primary">
        <tr>
          <div class="col-md-12">
            <div class="input-group form-group-no-border">
              <select class="form-control col-lg-3" name="quesType" ng-model="quesType">
                <option value="" selected>Select QuestionType</option>
                <option ng-repeat="qty in questionTypes track by $index" value="{{qty}}">{{qty}}</option>
              </select>
              &nbsp;&nbsp;
              <select class="form-control col-lg-3" name="quesTag" ng-model="quesTag">
                <option value="" selected>Select QuestionSubTag</option>
                <option ng-repeat="qtag in questionTags" value="{{qtag.id}}">{{qtag.name}}</option>
              </select>
              &nbsp;&nbsp;
              <button type="button" class="btn btn-info btn-sm" ng-click="fetchQuestionListByFilter()">Fetch Questions</button>
            </div>
          </div>
        </tr>
        <tr ng-show="tableOfQuestions.length">
          <th><div class="checkbox" style="display: inline">
            <input id="selectAll" ng-model="selectAllQuestions" ng-change="isSelectAllQuestions()" type="checkbox">
            <label for="selectAll">
              <span>&nbsp;</span>
            </label>
          </div></th>
          <th>Sr N.</th>
          <th>Question Description</th>
          <th>Question Type</th>
          <th>Group Name</th>
          <th>No Of Answers</th>
          <th class="nested"><i class="fa fa-trash-o" aria-hidden="true" ng-click="removeAllQuestion()"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in tableOfQuestions |orderBy:'description' |filter:searchText | pagination: curPage * pageSize | limitTo : pageSize">
          <td>
            <div class="checkbox">
              <input id="{{record.id}}" ng-model="record.selected" ng-change="isQuestionSelected(record)" type="checkbox">
              <label for="{{record.id}}">
                <span>&nbsp;</span>
              </label>
            </div>
          </td>
          <td>{{curPage*pageSize +$index+1}}</td>
          <td btf-markdown="record.description"></td>
          <td>{{record.questionType}}</td>
          <td>{{record.groupName}}</td>
          <td>{{record.numberOfAnswers}}</td>
          <td class="nested">
            <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="updateAndManageQuestions(record)"></i></td>
          <td class="nested">
            <i class="fa fa-eraser" aria-hidden="true" ng-click="removeQuestion(record.id)"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <!--TotalRecordCount > pageSize-->
      <ul class="pagination" ng-show="tableOfQuestions.length">
        <li><span class="blue">Showing Page {{curPage + 1}} of {{ numberOfPages() }}</span></li>&nbsp;
        <li>
          <button type="button" class="btn btn-info btn-sm" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; goToPage=curPage+1"> &lt; PREV
          </button>
        </li>&nbsp;
        <li>
          <button type="button" class="btn btn-blue btn-sm" ng-disabled="curPage >= TotalRecordCount/pageSize - 1" ng-click="curPage = curPage+1; goToPage = curPage+1">NEXT &gt;
          </button>
        </li>&nbsp;&nbsp;
        <li>
          <select class="btn btn-sm" ng-model="goToPage">
            <option ng-repeat="page in pages" value="{{page}}" ng-selected="page==goToPage">{{page}}</option>
          </select>
        </li>&nbsp;
        <li>
          <button type="button" class="btn btn-info btn-sm" data-ng-click="curPage = goToPage - 1" data-ng-disabled="goToPage == 0">Go To Page</button>
        </li>
      </ul>

    </div>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>

<div class="card col-lg-12" ng-show="updateQuestion">
  <div class="card-header">
    <h6 class="card-title">Update Question</h6>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group form-group-no-border row">
          <div class="col-md-1 col-form-label">Question Description:</div>
          <div class="col-md-11">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-paragraph" aria-hidden="true"></i></span>
              <textarea placeholder="Enter question description" class="form-control" ng-model="questionData.description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Practice:</div>
          <div class="col-md-7">
            <div class="checkbox">
              <input id="dummy" type="checkbox" ng-model="questionData.hasDummy" ng-checked="questionData.hasDummy">
              <label for="dummy">
                Is Practice Question?
              </label>
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Timer:</div>
          <div class="col-md-3">
            <div class="checkbox">
              <input id="timer" type="checkbox" ng-model="questionData.hasTimer" ng-click="clearData('questionTime',questionData.hasTimer)" ng-checked="questionData.hasTimer">
              <label for="timer">
                HasTimer
              </label>
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
              <input type="number" class="form-control" placeholder="Time in Seconds" ng-model="questionData.timeInSeconds" ng-disabled="!questionData.hasTimer">
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Paragraph:</div>
          <div class="col-md-3">
            <div class="checkbox">
              <input id="hasPara" type="checkbox" ng-model="questionData.hasParagraph" ng-disabled="questionData.hasAudio||questionData.hasImage"
                     ng-click="clearData('questionPara',questionData.hasParagraph)" ng-checked="questionData.hasParagraph">
              <label for="hasPara">
                HasPara
              </label>
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-file-word-o" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Paragraph Word" ng-model="questionData.paraWord" ng-disabled="questionData.hasAudio||questionData.hasImage||!questionData.hasParagraph">
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">No. Of Answers:</div>
          <div class="col-md-8">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-list-ol" aria-hidden="true"></i></span>
              <input type="number" class="form-control" placeholder="Enter No Of Answers" ng-model="questionData.numberOfAnswers" ng-change="buildDynamicArray(questionData.numberOfAnswers)">
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Ignore question:</div>
          <div class="col-md-7">
            <div class="checkbox">
              <input id="ignoreQuestion" type="checkbox" ng-model="questionData.ignoreQuestion" ng-checked="questionData.ignoreQuestion">
              <label for="ignoreQuestion">
                at time of saving result
              </label>
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Select tags :</div>
          <div class="col-md-8">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>
              <select class="form-control" ng-model="selectedSubTag" ng-options="subtag as subtag.name for subtag in subtags" ng-change="addSubTag(selectedSubTag.id)"></select>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Hint:</div>
          <div class="col-md-8">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-hand-o-right" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Enter question hint" ng-model="questionData.hint">
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Video:</div>
          <div class="col-md-3">
            <div class="checkbox">
              <input id="animatedGif" type="checkbox" ng-model="questionData.hasAnimatedGif" ng-click="clearData('questionVideo',questionData.hasAnimatedGif)" ng-checked="questionData.hasAnimatedGif" ng-disabled="questionData.hasAudio||questionData.hasParagraph||questionData.hasImage">
              <label for="animatedGif">
                HasVideo
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <i class="fa fa-video-camera" aria-hidden="true" ng-click="openVideoModal(questionData.hasAnimatedGif,'update')"></i>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Hide Answer Options:</div>
          <div class="col-md-7">
            <div class="checkbox">
              <input id="hideOptionsUntilVideoEnded" type="checkbox" ng-model="questionData.hideOptionsUntilVideoEnded" ng-checked="questionData.hideOptionsUntilVideoEnded" ng-disabled="!questionData.hasAnimatedGif">
              <label for="hideOptionsUntilVideoEnded">
                until the video gets ended
              </label>
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Image:</div>
          <div class="col-md-2">
            <div class="checkbox">
              <input id="image" type="checkbox" ng-model="questionData.hasImage" ng-disabled="questionData.hasAudio||questionData.hasParagraph||questionData.hasAnimatedGif"
                     ng-click="clearData('questionImage',questionData.hasImage)" ng-checked="questionData.hasImage">
              <label for="image">
                Image
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <img class="rounded-circle img-raised" ng-src="{{quesImageURI}}" alt="" style="width: 55px; height: 55px">
            <input id="quesImg" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setFiles(this)"/>
          </div>
          <div class="col-md-2"><button class="btn  btn-round" ng-click="browseQuestionImage()" ng-disabled="questionData.hasAudio||questionData.hasParagraph||!questionData.hasImage">Choose Image</button></div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Audio:</div>
          <div class="col-md-2">
            <div class="checkbox">
              <input id="audio" type="checkbox" ng-model="questionData.hasAudio" ng-disabled="questionData.hasImage||questionData.hasParagraph||questionData.hasAnimatedGif"
                     ng-click="clearData('questionAudio',questionData.hasAudio)" ng-checked="questionData.hasAudio">
              <label for="audio">
                Audio
              </label>
            </div>
          </div><!--<source ng-src="{{questions.questionFile}}" type="audio/mpeg">-->

          <audio controls class="col-md-2" ng-src="{{quesAudio}}" type="audio/mpeg" ng-disabled="questionData.hasImage||questionData.hasAnimatedGif"> </audio>
          <input id="quesAudio" type="file" style="display:none" accept="audio/mpeg" onchange="angular.element(this).scope().setAudio(this)"/>
          <!--<button class="btn btn-success btn-round">Play</button></div>-->
          <div class="col-md-1"><button class="btn  btn-round" ng-model="questionData.audioName" ng-click="browseQuestionAudio()"
                                        ng-disabled="questionData.hasImage||questionData.hasParagraph||!questionData.hasAudio||questionData.hasAnimatedGif">Choose Audio</button></div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Question Type:</div>
          <div class="col-md-8">
            <div class="input-group form-group-no-border">
              <span class="input-group-addon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>
              <select class="form-control" ng-disabled="questionData.numberOfAnswers<=0||!questionData.numberOfAnswers"
                      id="questionType" name="questionType" ng-model="questionType" ng-change="selectTab(questionType)" required autofocus>
                <option value="" selected>Select Question Type</option>
                <option ng-repeat="type in questionTypes" value="{{$index}}" ng-selected="$index==questionType">
                  {{type}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="input-group form-group-no-border row">
          <div class="col-md-12">

            <button class="btn btn-sm btn-round" ng-repeat="tag in selectedSubtags">
              {{tag.name}}<i class="now-ui-icons ui-1_simple-remove" ng-click="removeSubTag(tag)"></i>
            </button>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table border="1">
          <uib-tabset active="active">
            <uib-tab ng-show="!index0" index="0" heading="MCQ" ng-click="selectAnswerType(0)">
            </uib-tab>
            <uib-tab ng-show="index0" index="0" heading="MCQ" class="tabStyle">
              <div class="card col-sm-12" ng-include=" 'views/questions/questionComponents/mcqQuestion.html' " ></div>
            </uib-tab>

            <uib-tab ng-show="!index1" index="1" heading="Group" ng-click="selectAnswerType(1)">
            </uib-tab>
            <uib-tab ng-show="index1" index="1" heading="Group" class="tabStyle">
              <div class="card col-sm-12" ng-include=" 'views/questions/questionComponents/groupQuestion.html' " ></div>
            </uib-tab>

            <uib-tab ng-show="!index2" index="2" heading="Paragraph" ng-click="selectAnswerType(2)">
            </uib-tab>
            <uib-tab ng-show="index2" index="2" heading="Paragraph" class="tabStyle">
              <div class="card col-sm-12" ng-include=" 'views/questions/questionComponents/paraQuestion.html' " ></div>
            </uib-tab>

            <uib-tab ng-show="!index3" index="3" heading="Audio" ng-click="selectAnswerType(3)">
            </uib-tab>
            <uib-tab ng-show="index3" index="3" heading="Audio" class="tabStyle">
              <div class="card col-sm-12" ng-include=" 'views/questions/questionComponents/audioQuestion.html' " ></div>
            </uib-tab>

            <uib-tab ng-show="!index4" index="4" heading="Image" ng-click="selectAnswerType(4)">
            </uib-tab>
            <uib-tab ng-show="index4" index="4" heading="Image" class="tabStyle">
              <div class="card col-sm-12" ng-include=" 'views/questions/questionComponents/imageQuestion.html' " ></div>
            </uib-tab>

            <uib-tab ng-show="!index5" index="5" heading="Text" ng-click="selectAnswerType(5)">
            </uib-tab>
            <uib-tab ng-show="index5" index="5" heading="Text" class="tabStyle">
              <div class="card col-sm-12" ng-include=" 'views/questions/questionComponents/textQuestion.html' " ></div>
            </uib-tab>

            <uib-tab ng-show="!index6" index="6" heading="Slider" ng-click="selectAnswerType(6)">
            </uib-tab>
            <uib-tab ng-show="index6" index="6" heading="Slider" class="tabStyle">
              <div class="card col-sm-12" ng-include=" 'views/questions/questionComponents/sliderQuestion.html' " ></div>
            </uib-tab>
          </uib-tabset></table>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <button class="btn btn-rose btn-default btn-sm col-lg-1" ng-click="updateQuestion=false">Close</button>&nbsp;
    <button class="btn btn-rose btn-primary btn-sm col-lg-1" ng-click="save(questionData)" ng-disabled="showLoadingIcon">
      <i class="fa fa-spinner fa-pulse fa-fw" ng-show="showLoadingIcon"></i>
      Save
    </button>
  </div>
  <style>.tabStyle{background-color:#2d91bc;font-weight: 700; border-radius: 1.5rem;padding: 0.1px 13px;}</style>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>

<script type="text/ng-template" id="processing.html">
  <div class="modal-content">
    <div class="modal-body">
      <img src="/assets/img/processing.gif">
    </div>
  </div>
</script>