<ul class="nav nav-tabs justify-content-center" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="" data-target=".career" role="tab" ng-click="getAimExpertInventory('career','NA')"><i
        class="now-ui-icons business_chart-bar-32"></i>Career</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="" data-target=".subject" role="tab" ng-click="getAimExpertInventory('subject','NA')"><i
        class="now-ui-icons ui-2_settings-90"></i>Subject</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="" data-target=".leisure" role="tab" ng-click="getAimExpertInventory('leisure','NA')"><i
        class="now-ui-icons ui-2_settings-90"></i>Leisure</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="" data-target=".streams" role="tab" ng-click="getAimExpertInventory('stream','NA')"><i
        class="now-ui-icons ui-2_settings-90"></i>Streams</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="" data-target=".careerSubjectMatrix" role="tab" ng-click="getAimExpertInventory('career','subject')"><i
        class="now-ui-icons ui-2_settings-90"></i>Career-Subject Matrix</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="" data-target=".careerLeisureMatrix" role="tab" ng-click="getAimExpertInventory('career','leisure')"><i
        class="now-ui-icons ui-2_settings-90"></i>Career-Leisure Matrix</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="" data-target=".subjectStreamMatrix" role="tab" ng-click="getAimExpertInventory('stream','subject')"><i
        class="now-ui-icons ui-2_settings-90"></i>Stream-Subject Matrix</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="" data-target=".importCareerLibrary" role="tab"><i
        class="now-ui-icons ui-2_settings-90"></i>Import Career Library</a>
  </li>
</ul>


<div class="tab-content text-center">
  <div class="tab-pane career active" role="tabpanel">
    <div class="card">

      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td><h6>Career's name</h6></td>
            <td><h6>Description</h6></td>
            <td><h6>Lesiure 1st</h6></td>
            <td><h6>Lesiure 2nd</h6></td>
            <td><h6>Lesiure 3rd</h6></td>
            <td ng-repeat="category in reportSections[0].categories">
              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[1].categories">
              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[2].categories">

              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[3].categories">

              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[4].categories">

              <h6>{{category.reportSectionName}}</h6>
            <td><h6>Action</h6></td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td ng-repeat="category in reportSections[0].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[1].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[2].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[3].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[4].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>
            </td>
          </tr>
          <tr>
            <td><textArea class="form-control" placeholder="name"
                          ng-model="new.name"></textArea></td>
            <td><textArea class="form-control" placeholder="description"
                          ng-model="new.description"></textArea></td>
            <td><textArea class="form-control" placeholder="leisure 1st"
                          ng-model="new.leisures[0]"></textArea></td>
            <td><textArea class="form-control" placeholder="leisure 2nd"
                          ng-model="new.leisures[1]"></textArea></td>
            <td><textArea class="form-control" placeholder="leisure 3rd"
                          ng-model="new.leisures[2]"></textArea></td>
            <td ng-repeat="category in reportSections[0].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[1].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[2].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[3].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[4].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td>
              <button class="btn btn-sm btn-primary btn-round" ng-click="create('career');">Save</button>
            </td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>

    <div class="card" ng-repeat="aimExpertInventory in aimExpertInventories">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td><h6>Career's name</h6>
              <hr>
              <textArea class="form-control" placeholder="name"
                        ng-model="aimExpertInventory.name"></textArea>
            </td>
            <td><h6>Description</h6>
              <hr>
              <textArea class="form-control" placeholder="description"
                        ng-model="aimExpertInventory.description"></textArea>

            </td>
            <td><h6>Lesiure 1st</h6>
              <hr>
              <textArea class="form-control" placeholder="leisure 1st"
                        ng-model="aimExpertInventory.leisures[0]"></textArea></td>
            <td><h6>Lesiure 2nd</h6>
              <hr>
              <textArea class="form-control" placeholder="leisure 2nd"
                        ng-model="aimExpertInventory.leisures[1]"></textArea></td>
            <td><h6>Lesiure 3rd</h6>
              <hr>
              <textArea class="form-control" placeholder="leisure 3rd"
                        ng-model="aimExpertInventory.leisures[2]"></textArea></td>
            <td ng-repeat="aimExpertItem in aimExpertInventory.aimExpertItems">
              <h6>{{aimExpertItem.reportSection}}</h6>
              <hr>
              <p><strong>{{aimExpertItem.category}}</strong></p>
              <input class="form-control" name="goalStandard" ng-model="aimExpertItem.goalStandard" placeholder="goalStandard">
            </td>
            <td>
              <button class="btn btn-primary" ng-click="save(aimExpertInventory);"> update</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane subject" role="tabpanel">

    <div class="card">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td><h6>Subject's name</h6></td>
            <td><h6>Description</h6></td>
            <td ng-repeat="category in reportSections[0].categories">
              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[1].categories">
              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[2].categories">

              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[3].categories">

              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[4].categories">

              <h6>{{category.reportSectionName}}</h6>
            <td><h6>Action</h6></td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td ng-repeat="category in reportSections[0].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[1].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[2].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[3].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[4].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
          </tr>
          <tr>
            <td><textArea class="form-control" placeholder="name"
                          ng-model="new.name"></textArea></td>
            <td><textArea class="form-control" placeholder="description"
                          ng-model="new.description"></textArea></td>
            <td ng-repeat="category in reportSections[0].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[1].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[2].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[3].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[4].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td>
              <button class="btn btn-sm btn-primary btn-round" ng-click="create('subject');">Save</button>
            </td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>

    <div class="card" ng-repeat="aimExpertInventory in aimExpertInventories">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td><h6>Subject's name</h6>
              <hr>
              <textArea class="form-control" placeholder="name"
                        ng-model="aimExpertInventory.name"></textArea>
            </td>
            <td><h6>Description</h6>
              <hr>
              <textArea class="form-control" placeholder="description"
                        ng-model="aimExpertInventory.description"></textArea>

            </td>
            <td ng-repeat="aimExpertItem in aimExpertInventory.aimExpertItems">
              <h6>{{aimExpertItem.reportSection}}</h6>
              <hr>
              <p><strong>{{aimExpertItem.category}}</strong></p>
              <input class="form-control" name="goalStandard" ng-model="aimExpertItem.goalStandard" placeholder="goalStandard">
            </td>
            <td>
              <button class="btn btn-primary" ng-click="save(aimExpertInventory);"> update</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
  <div class="tab-pane leisure" role="tabpanel">

    <div class="card">

      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td><h6>Leisure's name</h6></td>
            <td><h6>Description</h6></td>
            <td ng-repeat="category in reportSections[0].categories">
              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[1].categories">
              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[2].categories">

              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[3].categories">

              <h6>{{category.reportSectionName}}</h6>
            </td>
            <td ng-repeat="category in reportSections[4].categories">

              <h6>{{category.reportSectionName}}</h6>
            <td><h6>Action</h6></td>
          </tr>
          <tr>
            <td>-</td>
            <td>-</td>
            <td ng-repeat="category in reportSections[0].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[1].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[2].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[3].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
            <td ng-repeat="category in reportSections[4].categories">
              <p>{{category.displayName}}</p>
              <p><strong>{{category.name}}</strong></p>

            </td>
          </tr>
          <tr>
            <td><textArea class="form-control" placeholder="name"
                          ng-model="new.name"></textArea></td>
            <td><textArea class="form-control" placeholder="description"
                          ng-model="new.description"></textArea></td>
            <td ng-repeat="category in reportSections[0].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[1].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[2].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[3].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td ng-repeat="category in reportSections[4].categories">
              <input class="form-control" name="goalStandard" ng-model="category.goalStandard" placeholder="goalStandard">
            </td>
            <td>
              <button class="btn btn-sm btn-primary btn-round" ng-click="create('leisure');">Save</button>
            </td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>

    <div class="card" ng-repeat="aimExpertInventory in aimExpertInventories">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td><h6>Leisure's name</h6>
              <hr>
              <textArea class="form-control" placeholder="name"
                        ng-model="aimExpertInventory.name"></textArea>
            </td>
            <td><h6>Description</h6>
              <hr>
              <textArea class="form-control" placeholder="description"
                        ng-model="aimExpertInventory.description"></textArea>

            </td>
            <td ng-repeat="aimExpertItem in aimExpertInventory.aimExpertItems">
              <h6>{{aimExpertItem.reportSection}}</h6>
              <hr>
              <p><strong>{{aimExpertItem.category}}</strong></p>
              <input class="form-control" name="goalStandard" ng-model="aimExpertItem.goalStandard" placeholder="goalStandard">
            </td>
            <td>
              <button class="btn btn-primary" ng-click="save(aimExpertInventory);"> update</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
  <div class="tab-pane careerSubjectMatrix" role="tabpanel">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>

          </th>
          <th ng-repeat="subjectName in subjects">
            <div class="text-center">{{subjectName}}</div>
          </th>
          <th>
            <div class="text-center">Action</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="aimExpertInventory in aimExpertInventories">
          <td>{{aimExpertInventory.name}}</td>
          <td ng-repeat="s in aimExpertInventory.subjects">{{s.name}}
            <input class="form-control" name="weight" ng-model="s.weight" placeholder="weight"></td>
          <td>
            <button class="btn btn-primary" ng-click="saveCareerSubjectMarixItem(aimExpertInventory, 'subject');">Save</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane careerLeisureMatrix" role="tabpanel">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>

          </th>
          <th ng-repeat="subjectName in subjects">
            <div class="text-center">{{subjectName}}</div>
          </th>
          <th>
            <div class="text-center">Action</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="aimExpertInventory in aimExpertInventories">
          <td>{{aimExpertInventory.name}}</td>
          <td ng-repeat="s in aimExpertInventory.subjects">{{s.name}}
            <input class="form-control" name="weight" ng-model="s.weight" placeholder="weight"></td>
          <td>
            <button class="btn btn-primary" ng-click="saveCareerSubjectMarixItem(aimExpertInventory,'leisure');">Save</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane importCareerLibrary" role="tabpanel">
    Import Career Library
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 ">
        <div class="card">
          <div class="card-header">
            <h6 class="card-subtitle mb-2 text-muted text-center">Import Career Library</h6>
          </div>
          <div class="card-block text-center">
            <input class="mt-1" width="100%" id="careerSheet" type="file" accept="xlsx/*" onchange="angular.element(this).scope().setFiles(this)"/>
            <div class="checkbox mt-1">
              <input id="dryrun" ng-model="dryrun" type="checkbox">
              <label for="dryrun">
                <span>Dryrun</span>
              </label>
              <button class="btn btn-default btn-round btn-sm btn-block mt-1" style="display: block" ng-click="upload()">upload</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12" ng-show="res.length>0">
        <div class="card">
          <div class="card-block">
            <table class="table table-hover">
              <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-class="result.value=='OK' ? 'table-success' : 'table-danger'" ng-repeat="result in res">
                <td>{{$index+1}}</td>
                <td>{{result.name}}</td>
                <td>{{result.value}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane career streams" role="tabpanel">
    <div class="card">

      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <td><h6>Stream's name</h6></td>
            <td><h6>Description</h6></td>
            <td><h6>Action</h6></td>
          </tr>
          <tr>
            <td><textArea class="form-control" placeholder="name"
                          ng-model="new.name"></textArea></td>
            <td><textArea class="form-control" placeholder="description"
                          ng-model="new.description"></textArea></td>
            <td>
              <button class="btn btn-sm btn-primary btn-round" ng-click="create('stream');">Save</button>
            </td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>

    <div class="card" ng-repeat="aimExpertInventory in aimExpertInventories">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td><h6>Career's name</h6>
              <hr>
              <textArea class="form-control" placeholder="name"
                        ng-model="aimExpertInventory.name"></textArea>
            </td>
            <td><h6>Description</h6>
              <hr>
              <textArea class="form-control" placeholder="description"
                        ng-model="aimExpertInventory.description"></textArea>

            </td>
            <td>
              <button class="btn btn-primary" ng-click="save(aimExpertInventory);"> update</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane subjectStreamMatrix" role="tabpanel">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>

          </th>
          <th ng-repeat="subjectName in subjects">
            <div class="text-center">{{subjectName}}</div>
          </th>
          <th>
            <div class="text-center">Action</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="aimExpertInventory in aimExpertInventories">
          <td>{{aimExpertInventory.name}}</td>
          <td ng-repeat="s in aimExpertInventory.subjects">{{s.name}}
            <input class="form-control" name="weight" ng-model="s.weight" placeholder="weight"></td>
          <td>
            <button class="btn btn-primary" ng-click="saveCareerSubjectMarixItem(aimExpertInventory, 'subject');">Save</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>




