<div class="text-center">
    <h6 class="p-1 text-center">Career Interest Inventory</h6>
    <hr style="width: 300px;">
</div>

<div class="text-center">
    <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="" data-target=".view" role="tab"
               ng-click="getCareerInterestInventory()">
                <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="" data-target=".upload" role="tab">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp;Upload</a>
        </li>
    </ul>
</div>


<div class="tab-content text-center">
    <div class="tab-pane view active" role="tabpanel">
        <div class="container">

            <div class="card" ng-show="careerInterestRecords.length>0">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="table-inverse">
                        <tr>
                            <th>
                                <div class="text-left"> Career</div>
                            </th>
                            <th>
                                <div class="text-center"> Subjects</div>
                            </th>
                            <th>
                                <div class="text-center"> R</div>
                            </th>
                            <th>
                                <div class="text-center"> I</div>
                            </th>
                            <th>
                                <div class="text-center"> A</div>
                            </th>
                            <th>
                                <div class="text-center"> S</div>
                            </th>
                            <th>
                                <div class="text-center"> E</div>
                            </th>
                            <th>
                                <div class="text-center"> C</div>
                            </th>
                            <th>
                                <div class="text-center"> Region</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="record in careerInterestRecords">
                            <td>
                                <div class="text-left"> {{record.careerName}}</div>
                            </td>
                            <td>
                                <div class="text-center"> {{record.subjects}}</div>
                            </td>
                            <td>
                                <div class="text-center"> {{record.r}}</div>
                            </td>
                            <td>
                                <div class="text-center"> {{record.i}}</div>
                            </td>
                            <td>
                                <div class="text-center"> {{record.a}}</div>
                            </td>
                            <td>
                                <div class="text-center"> {{record.s}}</div>
                            </td>
                            <td>
                                <div class="text-center"> {{record.e}}</div>
                            </td>
                            <td>
                                <div class="text-center"> {{record.c}}</div>
                            </td>
                            <td>
                                <div class="text-center"> {{record.region}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane upload" role="tabpanel">
        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-3">

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="">

                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-3">
                                    <div class="checkbox mt-1">
                                        <input id="dryrun" ng-model="dryrun" type="checkbox">
                                        <label for="dryrun">
                                            <span>Dry run ?</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <input class="mt-1" width="100%" id="testSheet" type="file" accept="xlsx/*"
                                           onchange="angular.element(this).scope().setFiles(this)"/>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-success mt-1" ng-click="uploadCareerInterestInventoryFile()"><i
                                        class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;&nbsp;upload
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" ng-show="showDisplayResponse">
            <div class="card" ng-show="res.length>0">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="table-inverse">
                        <tr>
                            <th>
                                <div class="text-center">Row Number</div>
                            </th>
                            <th>
                                <div class="text-center"> Status</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-class="result.value=='OK' ? 'table-success' : 'table-danger'" ng-repeat="result in res">
                            <td>
                                <div class="text-center"> {{result.name}}</div>
                            </td>
                            <td>
                                <div class="text-center"> {{result.value}}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>