<div class="row">
  <div class="col-lg-4">
    <div class="form-group label-floating">

      <label class="control-label">Select Test:</label>
      <div class="dropdown">
        <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="selectedTest"
               placeholder="Choose Test..."/>
        <ul class="dropdown-menu" aria-labelledby={{test.name}}>
          <a class="dropdown-item" ng-click="getCatgoriesByTest(test)"
             ng-repeat="test in allTests | filter : {name:selectedTest}">{{test.name}} v-{{test.version}}</a>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="text-center">
      <button class=" btn btn-primary btn-lg" ng-click="getAllCategories()">All Categories</button>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="form-group label-floating">

      <label class="control-label">Select Parent Category:</label>
      <div class="dropdown">
        <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown"
               ng-model="selectedCategory" placeholder="Choose Categories..."/>
        <ul class="dropdown-menu" aria-labelledby={{category.name}}>
          <a class="dropdown-item" ng-click="filterChildCategoryByParent(category)"
             ng-repeat="category in parentCategories | filter : {name:selectedCategory}">{{category.name}}</a>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="card" ng-show="workingCategories.length>0">
  <ul class="nav nav-tabs justify-content-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="" data-target=".addRange" role="tab"><i
          class="now-ui-icons business_chart-bar-32"></i>Add Ranges</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="" data-target=".configureTScore" role="tab"><i
          class="now-ui-icons ui-2_settings-90"></i>Configure (T)Score</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="" data-target=".scoringFormula" role="tab"><i
          class="now-ui-icons ui-1_settings-gear-63"></i>Scoring Formula</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="" data-target=".interestInventory" role="tab"><i
          class="now-ui-icons ui-1_settings-gear-63"></i>Interest Inventory</a>
    </li>
  </ul>
  <div class="card-block">
    <!-- Tab panes -->
    <div class="tab-content text-center">
      <div class="tab-pane addRange active" role="tabpanel">
        <div class="row">
          <table class="table table-hover table-responsive">
            <thead>
            <tr>
              <th class="text-center">Category</th>
              <th class="text-center">Very High</th>
              <th class="text-center">< High</th>
              <th class="text-center">< Average</th>
              <th class="text-center">< Low <</th>
              <th class="text-center">Very Low < 0</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
            </thead>
            <tbody ng-repeat="category in workingCategories">
            <tr>
              <td colspan="7"><h6>{{category.name}}</h6></td>
            </tr>
            <tr>
              <td><strong>{{category.name}}</strong>
                <div class="form-group label-floating mt-4" title="For Juniors or Seniors">
                  <label class="control-label">Select:</label>
                  <select class="form-control " id="applicableFor" name="applicableFor"
                          ng-change="formatScoreRangesForDisplay(category,category.score.applicableFor);"
                          ng-model="category.score.applicableFor" autofocus>
                    <option value="" selected>Please select</option>
                    <option value="junior">Juniors</option>
                    <option value="senior">Seniors</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="VeryHigh" type="number"
                         ng-model="category.score.VeryHigh" placeholder="Very High">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighText" type="text"
                                              ng-model="category.score.VeryHighText"
                                              placeholder="Enter your text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighInnateTalent" type="text"
                                              ng-model="category.score.VeryHighInnateTalent"
                                              placeholder="Enter innate talent text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighStrength" type="text"
                                              ng-model="category.score.VeryHighStrength"
                                              placeholder="Enter strength text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighWeakness" type="text"
                                              ng-model="category.score.VeryHighWeakness"
                                              placeholder="Enter weakness text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighLearningStyle" type="text"
                                              ng-model="category.score.VeryHighLearningStyle"
                                              placeholder="Enter learning style text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighLearningStyleInference" type="text"
                                              ng-model="category.score.VeryHighLearningStyleInference"
                                              placeholder="Learning style inference"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighLearningStyleRecommendation" type="text"
                                              ng-model="category.score.VeryHighLearningStyleRecommendation"
                                              placeholder="Learning style recommendation"></textarea>
                </div>

                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighDevelopmentPlanForStrength" type="text"
                                              ng-model="category.score.VeryHighDevelopmentPlanForStrength"
                                              placeholder="Strength Development Plan text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighDevelopmentPlanForWeakness" type="text"
                                              ng-model="category.score.VeryHighDevelopmentPlanForWeakness"
                                              placeholder="Weakness Development Plan text here"></textarea>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="High" type="number" ng-model="category.score.High"
                         placeholder="High">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighText" type="text"
                                              ng-model="category.score.HighText"
                                              placeholder="Enter your text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighInnateTalent" type="text"
                                              ng-model="category.score.HighInnateTalent"
                                              placeholder="Enter innate talent text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighStrength" type="text"
                                              ng-model="category.score.HighStrength"
                                              placeholder="Enter strength text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighWeakness" type="text"
                                              ng-model="category.score.HighWeakness"
                                              placeholder="Enter weakness text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighLearningStyle" type="text"
                                              ng-model="category.score.HighLearningStyle"
                                              placeholder="Enter learning style text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighLearningStyleInference" type="text"
                                              ng-model="category.score.HighLearningStyleInference"
                                              placeholder="Learning style inference"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighLearningStyleRecommendation" type="text"
                                              ng-model="category.score.HighLearningStyleRecommendation"
                                              placeholder="Learning style recommendation"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighDevelopmentPlanForStrength" type="text"
                                              ng-model="category.score.HighDevelopmentPlanForStrength"
                                              placeholder="Strength Development Plan text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighDevelopmentPlanForWeakness" type="text"
                                              ng-model="category.score.HighDevelopmentPlanForWeakness"
                                              placeholder="Weakness Development Plan text here"></textarea>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="Average" type="number"
                         ng-model="category.score.Average" placeholder="Average">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageText" type="text"
                                              ng-model="category.score.AverageText"
                                              placeholder="Enter your text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageInnateTalent" type="text"
                                              ng-model="category.score.AverageInnateTalent"
                                              placeholder="Enter innate talent text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageStrength" type="text"
                                              ng-model="category.score.AverageStrength"
                                              placeholder="Enter strength text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageWeakness" type="text"
                                              ng-model="category.score.AverageWeakness"
                                              placeholder="Enter weakness text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageLearningStyle" type="text"
                                              ng-model="category.score.AverageLearningStyle"
                                              placeholder="Enter learning style text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageLearningStyleInference" type="text"
                                              ng-model="category.score.AverageLearningStyleInference"
                                              placeholder="Learning style inference"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageLearningStyleRecommendation" type="text"
                                              ng-model="category.score.AverageLearningStyleRecommendation"
                                              placeholder="Learning style recommendation"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageDevelopmentPlanForStrength" type="text"
                                              ng-model="category.score.AverageDevelopmentPlanForStrength"
                                              placeholder="Strength Development Plan text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageDevelopmentPlanForWeakness" type="text"
                                              ng-model="category.score.AverageDevelopmentPlanForWeakness"
                                              placeholder="Weakness Development Plan text here"></textarea>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="Low" type="number" ng-model="category.score.Low"
                         placeholder="Low">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowText" type="text"
                                              ng-model="category.score.LowText"
                                              placeholder="Enter your text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowInnateTalent" type="text"
                                              ng-model="category.score.LowInnateTalent"
                                              placeholder="Enter innate talent text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowStrength" type="text"
                                              ng-model="category.score.LowStrength"
                                              placeholder="Enter strength text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowWeakness" type="text"
                                              ng-model="category.score.LowWeakness"
                                              placeholder="Enter weakness style text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowWeakness" type="text"
                                              ng-model="category.score.LowLearningStyle"
                                              placeholder="Enter learning style text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowLearningStyleInference" type="text"
                                              ng-model="category.score.LowLearningStyleInference"
                                              placeholder="Learning style inference"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowLearningStyleRecommendation" type="text"
                                              ng-model="category.score.LowLearningStyleRecommendation"
                                              placeholder="Learning style recommendation"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowDevelopmentPlanForStrength" type="text"
                                              ng-model="category.score.LowDevelopmentPlanForStrength"
                                              placeholder="Strength Development Plan text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowDevelopmentPlanForWeakness" type="text"
                                              ng-model="category.score.LowDevelopmentPlanForWeakness"
                                              placeholder="Weakness Development Plan text here"></textarea>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="VeryLow" type="number"
                         ng-model="category.score.VeryLow" placeholder="Very Low">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowText" type="text"
                                              ng-model="category.score.VeryLowText"
                                              placeholder="Enter your text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowInnateTalent" type="text"
                                              ng-model="category.score.VeryLowInnateTalent"
                                              placeholder="Enter innate talent text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowStrength" type="text"
                                              ng-model="category.score.VeryLowStrength"
                                              placeholder="Enter strength text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowWeakness" type="text"
                                              ng-model="category.score.VeryLowWeakness"
                                              placeholder="Enter weakness text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowLearningStyle" type="text"
                                              ng-model="category.score.VeryLowLearningStyle"
                                              placeholder="Enter learning style text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowLearningStyleInference" type="text"
                                              ng-model="category.score.VeryLowLearningStyleInference"
                                              placeholder="Learning style inference"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowLearningStyleRecommendation" type="text"
                                              ng-model="category.score.VeryLowLearningStyleRecommendation"
                                              placeholder="Learning style recommendation"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowDevelopmentPlanForStrength" type="text"
                                              ng-model="category.score.VeryLowDevelopmentPlanForStrength"
                                              placeholder="Strength Development Plan text here"></textarea>
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowDevelopmentPlanForWeakness" type="text"
                                              ng-model="category.score.VeryLowDevelopmentPlanForWeakness"
                                              placeholder="Weakness Development Plan text here"></textarea>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <br>
                  <a class="mt-2" ng-click="category.score={}"><i class="fa fa-times-circle fa-lg"
                                                                  aria-hidden="true"></i></a>
                </div>
              </td>
              <td>
                <div class="text-center">
                  <br>
                  <button class="btn btn-primary btn-icon" ng-click="saveCategoryRange(category)">
                    <span ng-hide="loading"><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
                    <span ng-show="loading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr ng-repeat="subCategory in category.subcategories" ng-class="category.color">
              <td>{{subCategory.name}}
                <div class="form-group label-floating mt-4" title="For Juniors or Seniors">
                  <label class="control-label">Select:</label>
                  <select class="form-control " id="applicableForSubcat" name="applicableForSubcat"
                          ng-change="formatScoreRangesForDisplay(subCategory,subCategory.score.applicableFor);"
                          ng-model="subCategory.score.applicableFor" autofocus>
                    <option value="" selected>Please select</option>
                    <option value="junior">Juniors</option>
                    <option value="senior">Seniors</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="VeryHigh" type="number"
                         ng-model="subCategory.score.VeryHigh" placeholder="Very High">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryHighText" type="text"
                                              ng-model="subCategory.score.VeryHighText"
                                              placeholder="Enter your text here"></textarea>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="High" type="number"
                         ng-model="subCategory.score.High" placeholder="High">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="HighText" type="text"
                                              ng-model="subCategory.score.HighText"
                                              placeholder="Enter your text here"></textarea>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="Average" type="number"
                         ng-model="subCategory.score.Average" placeholder="Average">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="AverageText" type="text"
                                              ng-model="subCategory.score.AverageText"
                                              placeholder="Enter your text here"></textarea>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="Low" type="number"
                         ng-model="subCategory.score.Low" placeholder="Low">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="LowText" type="text"
                                              ng-model="subCategory.score.LowText"
                                              placeholder="Enter your text here"></textarea>
                </div>
              </td>
              <td>
                <div class="form-group mt-2">
                  <input class="form-control" name="VeryLow" type="number"
                         ng-model="subCategory.score.VeryLow" placeholder="Very Low">
                </div>
                <div class="textarea-container mt-2">
                                    <textarea class="form-control" name="VeryLowText" type="text"
                                              ng-model="subCategory.score.VeryLowText"
                                              placeholder="Enter your text here"></textarea>
                </div>
              </td>
              <td>
                <div class="text-center mt-4">
                  <a ng-click="subCategory.score={}"><i class="fa fa-times-circle fa-lg"
                                                        aria-hidden="true"></i></a>
                </div>
              </td>
              <td>
                <div class="text-center mt-4">
                  <button class="btn btn-primary btn-icon" ng-click="saveCategoryRange(subCategory)">
                    <span ng-hide="loading"><i class="fa fa-floppy-o" aria-hidden="true"></i></span>
                    <span ng-show="loading"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane configureTScore" role="tabpanel">
        <div class="row">
          <div class="col-12">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="text-center">

                    <label class="control-label"> Choose Language:</label>
                    <select class="form-control " id="selectedLanguage" name="selectedLanguage"
                            ng-change="copyLanguageNormToTempNorm(selectedLanguage);"
                            ng-model="selectedLanguage" autofocus>
                  <option value="" selected>Please select</option>
                  <option value={{lang.value}} ng-repeat="lang in languages">{{lang.value}}</option>
                  </select>
                </th>
                <th class="text-center">Junior Mean</th>
                <th class="text-center">Junior Standard Deviation</th>
                <th class="text-center">Senior Mean</th>
                <th class="text-center">Senior Standard Deviation</th>
                <th class="text-center">Secondary Mean</th>
                <th class="text-center">Secondary Standard Deviation</th>
                <th class="text-center">Sequence</th>
                <th class="text-center"></th>
              </tr>
              </thead>
              <tbody ng-repeat="category in workingCategories">
              <tr>
                <td><h6>{{category.name}}</h6></td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="juniorMeanScore" type="number"
                           ng-model="category.juniorMeanScore" placeholder="Mean Score">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="juniorStandardDeviation" type="number"
                           ng-model="category.juniorStandardDeviation"
                           placeholder="Standard Deviation">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="juniorMeanScore" type="number"
                           ng-model="category.seniorMeanScore" placeholder="Mean Score">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="juniorStandardDeviation" type="number"
                           ng-model="category.seniorStandardDeviation"
                           placeholder="Standard Deviation">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="secondaryMeanScore" type="number"
                           ng-model="category.secondaryMeanScore" placeholder="Mean Score">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="secondaryStandardDeviation" type="number"
                           ng-model="category.secondaryStandardDeviation"
                           placeholder="Standard Deviation">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="sequence" type="number"
                           ng-model="category.sequence" placeholder="Sequence">
                  </div>
                </td>
                <td class="text-center">
                  <div class="text-center">
                    <a class="mt-2"
                       ng-click="category.juniorMeanScore='';category.juniorStandardDeviation='';category.seniorMeanScore='';category.seniorStandardDeviation='';category.sequence='';"><i
                        class="fa fa-times-circle fa-lg" aria-hidden="true"></i></a>
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    <br>
                    <button class="btn btn-primary btn-icon"
                            ng-click="saveCategoryStandardScore(category)">
                                                    <span ng-hide="loading"><i class="fa fa-floppy-o"
                                                                               aria-hidden="true"></i></span>
                      <span ng-show="loading"><i class="fa fa-spinner fa-spin"
                                                 aria-hidden="true"></i></span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr ng-repeat="subCategory in category.subcategories" ng-class="category.color">
                <td>{{subCategory.name}}</td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="juniorMeanScore" type="number"
                           ng-model="subCategory.juniorMeanScore" placeholder="Junior Mean Score">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="juniorStandardDeviation" type="number"
                           ng-model="subCategory.juniorStandardDeviation"
                           placeholder="Junior Standard Deviation">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="seniorMeanScore" type="number"
                           ng-model="subCategory.seniorMeanScore" placeholder="Senior Mean Score">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="seniorStandardDeviation" type="number"
                           ng-model="subCategory.seniorStandardDeviation"
                           placeholder="Senior Standard Deviation">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="secondaryMeanScore" type="number"
                           ng-model="subCategory.secondaryMeanScore" placeholder="Secondary Mean Score">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="secondaryStandardDeviation" type="number"
                           ng-model="subCategory.secondaryStandardDeviation"
                           placeholder="Secondary Standard Deviation">
                  </div>
                </td>
                <td>
                  <div class="form-group label-floating mt-2">
                    <input class="form-control" name="sequence" type="number"
                           ng-model="subCategory.sequence" placeholder="Sequence">
                  </div>
                </td>
                <td class="text-center">
                  <div class="text-center">
                    <br>
                    <a class="mt-2"
                       ng-click="subCategory.juniorMeanScore='';subCategory.juniorStandardDeviation='';subCategory.sequence='';"><i
                        class="fa fa-times-circle fa-lg"
                        aria-hidden="true"></i></a>
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    <button class="btn btn-primary btn-icon"
                            ng-click="saveCategoryStandardScore(subCategory)">
                                                    <span ng-hide="loading"><i class="fa fa-floppy-o"
                                                                               aria-hidden="true"></i></span>
                      <span ng-show="loading"><i class="fa fa-spinner fa-spin"
                                                 aria-hidden="true"></i></span>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane scoringFormula" role="tabpanel">
        <h5>Please enter a scoring formula for the test <strong>{{test.name}}</strong>.</h5>
        <div class="textarea-container">
                    <textArea class="form-control" id="formula" placeholder="enter your scoring formula"
                              ng-model="test.scoringFormula"></textArea>
        </div>

        <button class="text-center btn btn-primary mt-4" ng-click="saveScoringFormula(test.scoringFormula);">
          Save scoring formula
        </button>
      </div>
      <div class="tab-pane interestInventory" role="tabpanel">
        <div class="text-left">
          <button class="btn btn-sm" ng-click="newInterestInventory = !newInterestInventory">New+</button>
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Interest Combination</th>
            <th>Region</th>
            <th>Short Description</th>
            <th>Description</th>
            <th>Learning Style</th>
            <th>Learning Style Inference</th>
            <th>Learning Style Recommendation</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-show="newInterestInventory">
            <th>#</th>
            <td>
              <div class="form-group label-floating mt-2">
                <input class="form-control" name="interestCombination" type="text"
                       ng-model="newItem.interestCombination"
                       placeholder="Interest Combination">
              </div>
            </td>
            <td>
              <div class="form-group label-floating mt-2">
                <input class="form-control" name="region" type="number"
                       ng-model="newItem.region"
                       placeholder="Region">
              </div>
            </td>
            <td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="shortDescription" type="text"
                                              ng-model="newItem.shortDescription"
                                              placeholder="Description"></textarea>
              </div>
            </td>
            <td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="description" type="text"
                                              ng-model="newItem.description"
                                              placeholder="Description"></textarea>
              </div>
            </td>
            <td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="learningStyle" type="text"
                                              ng-model="newItem.learningStyle"
                                              placeholder="Learning Style"></textarea>
              </div>
            </td><td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="learningStyleInference" type="text"
                                              ng-model="newItem.learningStyleInference"
                                              placeholder="Learning Style Inference"></textarea>
              </div>
            </td><td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="learningStyleRecommendation" type="text"
                                              ng-model="newItem.learningStyleRecommendation"
                                              placeholder="Learning Style Recommendation"></textarea>
              </div>
            </td>
            <td>
              <div class="text-center">
                <button class="btn btn-primary btn-icon"
                        ng-click="saveInterestInventory(newItem)">
                                            <span ng-hide="loading"><i class="fa fa-floppy-o"
                                                                       aria-hidden="true"></i></span>
                  <span ng-show="loading"><i class="fa fa-spinner fa-spin"
                                             aria-hidden="true"></i></span>
                </button>
              </div>
            </td>
          </tr>
          <tr ng-repeat="item in items">
            <th>{{$index+1}}</th>
            <td>
              <div class="form-group label-floating mt-2">
                <input class="form-control" name="interestCombination" type="text"
                       ng-model="item.interestCombination"
                       placeholder="interestCombination">
              </div>
            </td>
            <td>
              <div class="form-group label-floating mt-2">
                <input class="form-control" name="region" type="number"
                       ng-model="item.region"
                       placeholder="region">
              </div>
            </td>
            <td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="shortDescription" type="text"
                                              ng-model="item.shortDescription"
                                              placeholder="short description"></textarea>
              </div>
            </td>
            <td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="description" type="text"
                                              ng-model="item.description"
                                              placeholder="description"></textarea>
              </div>
            </td>
            <td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="learningStyle" type="text"
                                              ng-model="item.learningStyle"
                                              placeholder="Learning Style"></textarea>
              </div>
            </td><td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="learningStyle" type="text"
                                              ng-model="item.learningStyleInference"
                                              placeholder="Learning Style Inference"></textarea>
              </div>
            </td><td>
              <div class="textarea-container">
                                    <textarea class="form-control" name="learningStyle" type="text"
                                              ng-model="item.learningStyleRecommendation"
                                              placeholder="Learning Style Recommendation"></textarea>
              </div>
            </td>
            <td>
              <div class="text-center">
                <button class="btn btn-primary btn-icon"
                        ng-click="saveInterestInventory(item)">
                                            <span ng-hide="loading"><i class="fa fa-floppy-o"
                                                                       aria-hidden="true"></i></span>
                  <span ng-show="loading"><i class="fa fa-spinner fa-spin"
                                             aria-hidden="true"></i></span>
                </button>
              </div>
            </td>
          </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
