<h2>Hi Counsellor !!</h2>
<div class="container">
  <div class="mt-4 mb-4">
    <h3>Student Profile</h3>
    <hr>
    <div class="bg-faded borderRadius">
      <div class="row p-4">
        <div class="col-4">
          <div class="text-left">
            <h6>Name:</h6>
            <h6>Gender:</h6>
            <h6>Grade:</h6>
            <h6>School:</h6>
            <h6>Dob: </h6>
            <h6>Test Name: </h6>
            <h6>Test Taken Date: </h6>
          </div>
        </div>
        <div class="col-8">
          <div class="text-left">
            <h6>{{user.name}}</h6>
            <h6>{{user.gender}}</h6>
            <h6>{{user.grade}}</h6>
            <h6>{{user.school}}</h6>
            <h6>{{user.dob}}</h6>
            <h6>{{testDetails.testName}}</h6>
            <h6>{{testDetails.testTakenDate}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-4">
    <h3>Validity Indices</h3>
    <hr>
    <div class="bg-faded borderRadius">
      <h5>These indices have been calculated from in-test behaviour data</h5>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center">Component</th>
          <th class="text-center">Description</th>
          <th class="text-center">Raw Score</th>
          <th class="text-center">Percentile</th>
          <th class="text-center">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">Infrequency</td>
          <td class="text-center">Infrequency description</td>
          <td class="text-center">{{testDetails.infrequencyRawScore}}</td>
          <td class="text-center">{{testDetails.infrequency}}%</td>
          <td class="text-center">Normal</td>
        </tr>
        <tr>
          <td class="text-center">Acquiescence</td>
          <td class="text-center">Acquiescence description</td>
          <td class="text-center">{{testDetails.acquiescenceRawScore}}</td>
          <td class="text-center">{{testDetails.acquiescence}}%</td>
          <td class="text-center">Normal</td>
        </tr>
        <tr>
          <td colspan="5">
            <p>{{testDetails.validityIndicesText}}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mt-4 mb-4">
    <div class="row">
      <div class="col-12">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th class="text-center">Category</th>
            <th class="text-center">Scaled Score</th>
            <th class="text-center">Percentile</th>
          </tr>
          </thead>
          <tbody ng-repeat="category in categories">
          <tr>
            <td class="text-center"><h6>{{category.name}}</h6></td>
            <td class="text-center">{{category.rawScore}}</td>

            <td class="text-center">{{category.percentile}}</td>
          </tr>
          <tr ng-repeat="subCategory in category.subCategories">
            <td class="text-center">{{subCategory.name}}</td>
            <td class="text-center">{{subCategory.rawScore}}</td>
            <td class="text-center">{{subCategory.percentile}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer text-center" ng-show="userId>0">
    <button class="btn btn-rose btn-primary btn-sm" ng-click="close()">Close</button>
  </div>
</div>

