individual Report under progress
<style>
  #radarChart {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  #radarChartDiv {
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
  }


</style>
<div class="card">
  <div class="card-block">
    <!-------------------------header Page1------------------------>
    <div class="row">
      <div class="offset-10 col-2">
        <img src="/assets/img/logo-int.png" style="float: right">
      </div>
    </div>
    <!-------------------------header Page1------------------------>
    <br>
    <div class="container">
      <div class="text-left">
        <h5>AIM v1.0</h5>
        <h5>2.12.2017</h5>
      </div>
      <br>
      <div class="row">
        <div class="col-1">
          <div class="text-left">
            <h6>Name:</h6>
            <h6>Dob: </h6>
            <h6>Id: </h6>
          </div>
        </div>
        <div class="col-3">
          <div class="text-left">
            <h6>{{user.name}}</h6>
            <h6>{{user.dob}}</h6>
            <h6>{{user.username}}</h6>
          </div>
        </div>
        <div class="col-3">
          <img src="/assets/img/dummyProfile.jpg" class="float-left">
        </div>
      </div>
    </div>
  </div>
  <!----------------------------footer Page1----------------------------->

  <div>
    <p>---------------------------------------------------------------------------------------------------------------------------</p>
  </div>
  <!----------------------------footer Page1----------------------------->


  <!-------------------------header Page2------------------------>
  <div class="row">
    <div class="offset-10 col-2">
      <img src="/assets/img/logo-int.png" style="float: right">
    </div>
  </div>
  <!-------------------------header Page2------------------------>
  <div class="container">
    <h3>
      <strong>Disclaimer :</strong>
    </h3>
    <p>
      This test should be taken for educational purposes only. It is not a substitute for any type of professional service, medical or otherwise. You answers on this test will be
      stored and used for research, and possibly shared in a way that preserves your anonymity.
    </p>
  </div>


  <!----------------------------footer Page2----------------------------->

  <div>
    <p>---------------------------------------------------------------------------------------------------------------------------</p>
  </div>
  <!----------------------------footer Page2----------------------------->


  <!-------------------------header Page3------------------------>
  <div class="row">
    <div class="offset-10 col-2">
      <img src="/assets/img/logo-int.png" style="float: right">
    </div>
  </div>
  <!-------------------------header Page3------------------------>
  <br>
  <br>
  <div class="container-fluid">
    <div class="alert alert-warning" role="alert">
      <strong>Cognitive Intelligence</strong>.
    </div>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <div ng-repeat="category in categories" class="mt-3">
            <h6>{{category.name}} </h6>
            <p style="text-align: justify;">{{category.description}} </p>
          </div>
        </div>
        <div class="col-6">
          <div class="col-12">
            <div id="radarChartDiv">
              <div id="radarChart"></div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div>
        <div class="alert alert-info" role="alert">
          <strong>Interpretion</strong>.
        </div>
        <div class="row">
          <div class="col-6">
            <p style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and
              scrambled it to make a type specimen book.</p>
            <p> It has survived not only five centuries, but also the
              leap
              into electronic typesetting, remaining essentially unchanged. </p>
            <p>It was popularised in the 1960s
              with the
              release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing
              software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          </div>

          <div class="col-6">

            <div id="chartContainer"></div>


          </div>
        </div>

      </div>
    </div>
    <br>
  </div>
</div>
