<div>
  <h3>Profile</h3>
  <hr>
  <div class="bg-faded borderRadius">
    <div class="row p-4">
      <div class="col-4">
        <div class="text-left">
          <h6 ng-show="user.name.length>0">Name:</h6>
          <h6 ng-show="user.gender.length>0">Gender:</h6>
          <h6 ng-show="user.grade.length>0">Designation:</h6>
          <h6 ng-show="user.school.length>0">Organisation Name:</h6>
          <h6 ng-show="user.dob.length>0">Dob: </h6>
          <h6 ng-show="testDetails.testName.length>0">Test Name: </h6>
          <h6 ng-show="testDetails.testTakenDate.length>0">Test Taken Date: </h6>
        </div>
      </div>
      <div class="col-8">
        <div class="text-left">
          <h6>{{user.name}}</h6>
          <h6>{{user.gender}}</h6>
          <h6>{{user.grade}}</h6>
          <h6>{{user.school}}</h6>
          <h6>{{user.dob}}</h6>
          <h6>{{testDetails.testName}}</h6>
          <h6>{{testDetails.testTakenDate}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="mt-4">
  <h3>What is {{testDetails.testName}} ?</h3>
  <hr>
  <div class="bg-faded borderRadius p-4 mt-4 mb-4">
    <p btf-markdown="testDetails.primaryReportText" style="text-align: justify"></p>
  </div>
</div>

<div>
  <h3>How this report is going to help you?</h3>
  <hr>
  <div class="bg-faded borderRadius p-4 mt-4 mb-4">
    <p btf-markdown="testDetails.secondaryReportText" style="text-align: justify"></p>
  </div>
</div>
<br>

<div class="mt-4">
  <div class="text-center">
    <h3>{{testDetails.testName}}</h3>
  </div>
  <div class="row">
    <div class="col-11">
      <div class="container-fluid" style="position: relative;">
        <canvas class="chart chart-horizontalBar" height="200" width="500" chart-options="report.options" chart-data="report.data" chart-labels="report.labels"></canvas>
      </div>
    </div>
  </div>
</div>
<br>
<footer></footer>
<div class="mt-4">
  <h3>Obtained Scores</h3>
  <hr>
  <div class="bg-faded borderRadius p-2 mt-4 mb-4" ng-show="categories[0].testScore>0">
    <h5>Motivating Potential Score: &nbsp;{{categories[0].testScore}}</h5>

  </div>
  <div class="bg-faded borderRadius p-2 mt-4 mb-4">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center" ng-repeat="category in categories">{{category.name}}</th>
        <!--<th class="text-center" ng-repeat="category in categories">{{category.name}}</th>-->
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center" ng-repeat="category in categories">{{category.rawScore}}</td>
      </tr>
      <tr>
        <td ng-repeat="category in categories">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="text-center" ng-repeat="subCategory in category.subCategories">{{subCategory.name}}</th>
              <!--<th class="text-center" ng-repeat="category in categories">{{category.name}}</th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-center" ng-repeat="subCategory in category.subCategories">{{subCategory.rawScore}}</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>

<div>
  <h3>Description</h3>
  <hr>
  <div ng-repeat="category in categories">
    <div class="bg-faded borderRadius p-2 mt-4 mb-4">
      <h5>{{category.name}}</h5>
      <hr>
      <p>{{category.description}}</p>
    </div>
  </div>
</div>



