<div class="container">
  <div class="row">
    <div class="offset-2 col-lg-6 col-md-6 col-sm-6 ">
      <div class="card">
        <div class="card-header">
          <h6 class="card-subtitle mb-2 text-muted text-center">Test Reports</h6>
        </div>
        <div class="card-body">
          <div class="input-group form-group-no-border row">
            <div class="col-md-4">
              <div class="checkbox">
                <input id="scoreEngine" type="checkbox" ng-model="scoringEngine" ng-disabled="testPerUser||customized||interestperuser||scoreperuser" ng-click="processReportType('ScoreEngine')">
                <label for="scoreEngine">
                  ScoringEngine
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="checkbox" ng-disabled="testPerUser">
                <input id="customized" type="checkbox" ng-model="customized" ng-disabled="testPerUser||scoringEngine||interestperuser||scoreperuser" ng-click="processReportType('newFormat')">
                <label for="customized">
                  Customized
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="checkbox" ng-disabled="customized">
                <input id="testPerUser" type="checkbox" ng-model="testPerUser" ng-disabled="customized||scoringEngine||interestperuser||scoreperuser" ng-click="processReportType('testCount')">
                <label for="testPerUser">
                  TestCount
                </label>
              </div>
            </div>
          </div>
          <div class="input-group form-group-no-border row">
            <div class="col-md-6">
              <div class="checkbox" ng-disabled="customized">
                <input id="interestperuser" type="checkbox" ng-model="interestperuser" ng-disabled="customized||scoringEngine||testPerUser||scoreperuser">
                <label for="interestperuser">
                  UserInterestAndRating
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkbox" ng-disabled="customized">
                <input id="scoreperuser" type="checkbox" ng-model="scoreperuser" ng-disabled="customized||scoringEngine||testPerUser||interestperuser" ng-click="processReportType('ScoreByCategory')">
                <label for="scoreperuser">
                  UserScoreCategoryWise
                </label>
              </div>
            </div>
          </div>
          <div ng-hide="interestperuser" class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-flag-checkered" aria-hidden="true"></i></span>
            <select class="form-control" ng-model="id" ng-change="loadCategoryByTest(id)">
              <option value="" selected>Select Test For Generating Report</option>
              <option ng-repeat="test in testList" value="{{test.id}}">
                {{test.name}}&nbsp;v-{{test.version}}
              </option>
            </select>
          </div>

          <table>
              <tr>
              <td>
                <b><center> From Date</center></b>
              </td>
              <td> &nbsp;</td>
              <td>
                <input type="date" ng-model="fromDate" required/>
              </td>
              <td> &nbsp;</td>
              <td>
                <b><center> To Date</center></b>
              </td>
              <td> &nbsp;</td>
              <td>
                <input type="date" ng-model="toDate" required/>
              </td>
              <td> &nbsp;&nbsp;&nbsp; </td>
            </tr>
            <tr>
              <td>
                <b><center>School Name</center></b>
              </td>
              <td> &nbsp;</td>
              <td>
                <select class="col-lg-10" ng-model="school" ng-change="loadUsersBySchool(interestperuser,school)">
                  <option value="" selected>Select School</option>
                  <option ng-show="interestperuser" value="alluser" selected>Select All</option>
                  <option ng-repeat="sch in listSchooles" value="{{sch.name}}">{{sch.name}}</option>
                </select>
                <i class="fa fa-spinner fa-pulse fa-fw" ng-show="showLoadingIcon"></i>
              </td>
              <td> &nbsp;</td>
              <td>
                <b><center>Grade</center></b>
              </td>
              <td> &nbsp;</td>
              <td>
                <select class="col-lg-12" ng-model="grade" ng-change="loadUsersBySchoolAndGrade(interestperuser,school,grade)">
                  <option value="" selected>Select Grade</option>
                  <option ng-repeat="grd in listGrades" value="{{grd.value}}">{{grd.value}}</option>
                </select>
              </td>
              <td> &nbsp;&nbsp;&nbsp; </td>
            </tr>
            <tr ng-hide="interestperuser">
              <td>
                <b><center>Category</center></b>
              </td>
              <td> &nbsp;</td>
              <td>
                <select class="col-lg-10" ng-model="category" ng-change="loadSubCategoryByCategory(category)">
                  <option value="" selected>Select Category</option>
                  <option ng-repeat="cat in listCategories" value="{{cat.id}}">{{cat.name}}</option>
                </select>
              </td>
              <td> &nbsp;</td>
              <td>
                <b><center>SubCat</center></b>
              </td>
              <td> &nbsp;</td>
              <td>
                <select class="col-lg-12" ng-model="subCategory">
                  <option value="" selected>Select SubCategory</option>
                  <option ng-repeat="sct in listSubCategories" value="{{sct.id}}">{{sct.name}}</option>
                </select>
              </td>
              <td> &nbsp;&nbsp;&nbsp; </td>
            </tr>
          </table>
          <div ng-show="interestperuser" class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-flag-checkered" aria-hidden="true"></i></span>
            <select class="form-control" ng-model="userIds" multiple size="3">
              <option value="" selected>Select Users For Generating Report</option>
              <option ng-repeat="user in users" value="{{user.id}}">
                {{user.username}}
              </option>
            </select>
          </div>
          <br>
          <div align="center">
          <button ng-hide="interestperuser" class="btn btn-default btn-sm btn-block btn-round col-lg-5"  ng-click="downloadReports(id)">Download</button>
          <button ng-show="interestperuser" class="btn btn-default btn-sm btn-block btn-round col-lg-5"  ng-click="downloadInterestReports(userIds)">Download</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group label-floating">
        <label class="control-label">Extract data : </label>
        <div class="dropdown">
          <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1">
            Click to choose what you want to download: &nbsp;<i class="fa fa-spinner fa-pulse fa-fw" ng-show="isDownloading"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby={{component}}>
            <a class="dropdown-item" ng-click="getComponent(component);"
               ng-repeat="component in components">{{component}}</a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header text-right">
      <input type="text" class="form-control col-md-3" style="float:left;" placeholder="Search by username.." ng-model="username" ng-keypress="$event.keyCode == 13 ? fetchUserDetails(username) : return">
      <button class="btn btn-rose btn-default btn-sm" ng-click="fetchUserDetails(username)">Search</button>
    </div>
    <table class="table">
      <thead class="thead">
      <tr>
        <th>UserName</th>
        <th>FullName</th>
        <th>Gender</th>
        <th>School</th>
        <th>Grade</th>
        <th>Interests</th>
        <th>Academic</th>
        <th>Rating</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table-default" ng-repeat="userinfo in usersdetails">
        <td>{{userinfo.username}}</td>
        <td>{{userinfo.name}}</td>
        <td>{{userinfo.gender}}</td>
        <td>{{userinfo.school}}</td>
        <td>{{userinfo.grade}}</td>
        <td>{{userinfo.interest}}</td>
        <td>{{userinfo.academic}}</td>
        <td>{{userinfo.rating}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
</div>