<div class="card borderRadius" ng-repeat="trigger in triggers">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                <h6 style="margin-top: 12px;" ng-class="trigger.state=='PAUSED'?'text-success':'text-warning'">Scheduler
                    is currently {{trigger.state}}. You can {{trigger.state=='PAUSED'?'resume':'pause'}} it by clicking
                    here.</h6>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                <button title="Click here" class="btn btn-block"
                        ng-class="trigger.state=='PAUSED'?'btn-default':'btn-warning'"
                        ng-click="changeTriggerState(trigger.state)">{{trigger.state=='PAUSED'?'Resume':'Pause'}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card borderRadius">
    <div class="card-header" style="background-color: #202c54">
        <p class="card-title" style="color: white">To search users, you can write their full name or username and then
            click on Search Users button.</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                <div class="textarea-container">
                <textarea class="form-control" ng-init="fullName" ng-model="fullName"
                          placeholder="Write User's Full Name or Username here">
                </textarea>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                <button title="Click here" class="btn btn-block btn-success" data-ng-disabled="!fullName"
                        ng-click="getUserReportStatusByUserFullName(fullName)">Search
                    Users
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card borderRadius">
    <div class="card-header" style="background-color: #4158d5">
        <p class="card-title" style="color: white">To process report of users, you can write their usernames
            comma-separatedly and then click
            on procces reports button.</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                <div class="textarea-container">
                <textarea class="form-control" ng-init="usernames" ng-model="usernames"
                          placeholder="Write comma seprated usernames here.">
                </textarea>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12">
                <button class="btn btn-info btn btn-block" data-ng-disabled="!usernames"
                        ng-click="processUserNameReports(usernames)">Update Reports
                </button>
            </div>
        </div>
    </div>
</div>
<!--<div class="card borderRadius">-->
<!--<div class="card-body">-->
<div class="row">
    <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
        <div class="text-center">

            <table class="table table-sm">
                <caption>
                    <div class="text-right">
                        <button class="btn btn-sm btn-warning btn-simple" ng-click="init()">Reset</button>
                    </div>
                </caption>
                <tbody class="table-bordered">

                <tr>
                    <td>
                        <label for="fromDate">From:</label>
                        <input type="date" id="fromDate" ng-model="fromDate" ng-change="getUserReportStatusCount();"/>
                        <button style="float: right" class="btn btn-sm btn-success"
                                ng-click="shiftFromDate('lastWeek');"><i class="fa fa-calendar"
                                                                         aria-hidden="true"></i>
                            &nbsp; Last Week
                        </button>
                    </td>
                    <td>
                        <label for="toDate">To:</label>
                        <input type="date" id="toDate" ng-model="toDate" ng-change="getUserReportStatusCount();"/>
                        <button style="float: left" class="btn btn-sm btn-success"
                                ng-click="shiftFromDate('lastMonth');"><i class="fa fa-calendar"
                                                                          aria-hidden="true"></i>
                            &nbsp; Last Month
                        </button>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group label-floating" style="margin-top: 17px;">
                            <!--<label class="control-label">Select School:</label>-->
                            <div class="dropdown">
                                <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown"
                                       ng-model="selectedSchool" placeholder="Choose School..."/>
                                <ul class="dropdown-menu" aria-labelledby={{school.name}}>
                                    <a class="dropdown-item"
                                       ng-click="selectAll(schools,!schools.isAllSelected());">
                                        <span ng-show="schools.isAllSelected()">&#10004; &nbsp;</span>
                                        <span ng-hide="schools.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        All</a>
                                    <a class="dropdown-item"
                                       ng-click="school.selected= !school.selected; getUserReportStatusCount();"
                                       ng-repeat="school in schools | filter : {name:selectedSchool}">
                                        <span ng-show="school.selected">&#10004; &nbsp;</span>
                                        <span ng-hide="school.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        {{school.name}}</a>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-sm btn-round"
                                        ng-click="school.selected= !school.selected; getUserReportStatusCount();"
                                        ng-repeat="school in schools |filter : {selected:'true'}">
                                    {{school.name}} &nbsp;<a><i class="fa fa-times"
                                                                ng-click="school.selected= !school.selected;"></i></a>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group label-floating" style="margin-top: 17px;">
                            <!--<label class="control-label">Select grade:</label>-->
                            <div class="dropdown">
                                <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown"
                                       ng-model="selectedGrade" placeholder="Choose Grade..."/>
                                <ul class="dropdown-menu" aria-labelledby={{grade.value}}>
                                    <a class="dropdown-item"
                                       ng-click="selectAll(grades,!grades.isAllSelected());">
                                        <span ng-show="grades.isAllSelected()">&#10004; &nbsp;</span>
                                        <span ng-hide="grades.isAllSelected()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        All</a>
                                    <a class="dropdown-item"
                                       ng-click="grade.selected= !grade.selected; getUserReportStatusCount();"
                                       ng-repeat="grade in grades | filter : {value:selectedGrade}">
                                        <span ng-show="grade.selected">&#10004; &nbsp;</span>
                                        <span ng-hide="grade.selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        {{grade.value}}</a>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-sm btn-round"
                                        ng-click="grade.selected= !grade.selected; getUserReportStatusCount();"
                                        ng-repeat="grade in grades | filter : {selected:'true'}">
                                    {{grade.value}} &nbsp;<a><i class="fa fa-times"
                                                                ng-click="grade.selected= !grade.selected;"></i></a>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
        <div class="card borderRadius" ng-show="statusCountChart.labels.length > 0">
            <div class="card-body">

                <canvas id="pie" class="chart chart-doughnut"
                        chart-data="statusCountChart.data" chart-labels="statusCountChart.labels"
                        chart-options="pieOptions"
                        chart-colors="colors">
                </canvas>
            </div>
        </div>
        <div class="card borderRadius" ng-hide="statusCountChart.labels.length > 0">
            <div class="card-body">
                <p class="lead">No data found...</p>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
<!--</div>-->
<br>
<div class="table-responsive" style="min-height: 500px">
    <table class="table" id="userReportStatusTable" ng-show="statusCountChart.labels.length > 0">
        <thead>
        <tr>
            <th>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"
                               ng-click="selectAll(filteredItems,!(filteredItems.isAllSelected()));"
                               ng-model="filteredItems.isAllSelected()"> <span class="form-check-sign"></span>
                        S.No


                    </label></div>

            </th>
            <th colspan="3">Username <input type="text" class="form-control col-md-5" style="float:right;"
                                            placeholder="Search..." ng-model="searchText"></th>

            <th>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                    <div class="dropdown" title="Click here to choose status">
                        <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                           id="navbarDropdownMenuLink1">
                            Choose Status: {{status}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby={{rs}}>
                            <a class="dropdown-item" ng-click="getUserReportStatus(rs);"
                               ng-repeat="rs in reportStatus">{{rs}}</a>
                        </ul>
                    </div>
                </div>
            </th>
            <th>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="dropdown" title="Click here to choose action">
                        <a href="" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                           id="navbarDropdownMenuLink2">
                            Aim Report Action
                        </a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" ng-click="downloadSelectedReports('MAIN');"
                               title="Click here to download reports now">Download All</a>
                            <a class="dropdown-item" ng-click="processSelectedReports('MAIN');"
                               title="Click here to process reports, files will be saved to s3 Bucket">Update All</a>
                            <a class="dropdown-item" ng-click="openShareMultipleReportForm('MAIN',false);"
                               title="Click here to share selected reports, email will be required">Share(email-id
                                required*)</a>
                            <a class="dropdown-item" ng-click="openShareMultipleReportForm('MAIN', true);"
                               title="Click here to share selected reports, with corresponding test-taker">Share with
                                test-taker</a>
                        </ul>
                    </div>
                </div>
            </th>
            <th>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                    <div class="dropdown" title="Click here to choose Action">
                        <a href="" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                           id="navbarDropdownMenuLink3">
                            Aim Report Mini Action
                        </a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" ng-click="downloadSelectedReports('MINI');"
                               title="Click here to download reports now">Download All</a>
                            <a class="dropdown-item" ng-click="processSelectedReports('MINI');"
                               title="Click here to process reports, files will be saved to s3 Bucket">Update All</a>
                            <a class="dropdown-item" ng-click="openShareMultipleReportForm('MINI', false);"
                               title="Click here to share selected reports, email will be required">Share(email-id
                                required*)</a>
                            <a class="dropdown-item" ng-click="openShareMultipleReportForm('MINI', true);"
                               title="Click here to share selected reports, with corresponding test-taker">Share with
                                test-taker</a>
                        </ul>
                    </div>
                </div>
            </th>

            <th> Demo report</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in (filteredItems = (items | filter:searchText))">
            <th>


                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" ng-model="item.selected">
                        <span class="form-check-sign"></span>
                        {{$index+1}}
                    </label>
                </div>


            </th>
            <td>{{item.username}}</td>
            <td>{{item.name}}</td>
            <td>{{item.school}}</td>
            <td><span ng-class="item.statusClass">{{item.status}}</span></td>
            <td>
                <div class="dropdown">
                    <a href="" class="btn btn-sm btn-success btn-simple dropdown-toggle" data-toggle="dropdown">
                        download
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="download">

                        <a class="dropdown-item" ui-sref="app.reportV2({id: item.userId})">view</a>
                        <a class="dropdown-item" href="{{assets_url+item.username+'_'+item.name+'.pdf'}}"
                           target="_blank"
                           ng-if="item.status=='Generated'">download</a>
                        <a class="dropdown-item" ng-click="downloadIndividualReport(item.userId,true, 'MAIN')">update
                            and
                            download</a>
                        <a class="dropdown-item" ng-if="item.status=='Generated'"
                           ng-click="askForEmail(item.userId, 'MAIN')">share(email-id required*)</a>
                        <a class="dropdown-item" ng-if="item.status=='Generated'"
                           ng-click="shareWithTestTaker(item.userId, item.email, 'MAIN')">share with test-taker</a>
                    </ul>
                </div>
            </td>
            <td>
                <div class="dropdown">
                    <a href="" class="btn btn-sm btn-success btn-simple dropdown-toggle" data-toggle="dropdown">
                        download
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <a class="dropdown-item" ui-sref="app.aimReportMini({id: item.userId})">view</a>
                        <a class="dropdown-item" href="{{assets_url+item.username+'_'+item.name+'MINI.pdf'}}"
                           target="_blank"
                           ng-if="item.status=='Generated'">download</a>
                        <a class="dropdown-item" ng-click="downloadIndividualReport(item.userId,true,'MINI')">update and
                            download</a>
                        <a class="dropdown-item" ng-if="item.status=='Generated'"
                           ng-click="askForEmail(item.userId, 'MINI')">share(email-id required*)</a>
                        <a class="dropdown-item" ng-if="item.status=='Generated'"
                           ng-click="shareWithTestTaker(item.userId, item.email, 'MINI')">share with test-taker</a>
                    </ul>
                </div>
            </td>
            <td>
                <a href="" target="_blank" ui-sref="app.aimReportDemo({id: item.userId})">Click here</a>
            </td>
        </tr>

        </tbody>

    </table>
</div>

<br><br><br><br><br><br><br><br><br><br>


