voscale report

<!--<div class="card">-->
<!--<div class="card-block">-->
<div>
  <div>
    <div>
      <h3>Profile</h3>
      <hr>
      <div class="bg-faded borderRadius">
        <div class="row p-4">
          <div class="col-4">
            <div class="text-left">
              <h6>Name:</h6>
              <h6>Gender:</h6>
              <h6>Grade:</h6>
              <h6>School:</h6>
              <h6>Dob: </h6>
              <h6>Test Name: </h6>
              <h6>Test Taken Date: </h6>
            </div>
          </div>
          <div class="col-8">
            <div class="text-left">
              <h6>{{user.name}}</h6>
              <h6>{{user.gender}}</h6>
              <h6>{{user.grade}}</h6>
              <h6>{{user.school}}</h6>
              <h6>{{user.dob}}</h6>
              <h6>{{testDetails.testName}}</h6>
              <h6>{{testDetails.testTakenDate}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>

    <div class="mt-4">
      <h3>What is Personality ?</h3>
      <hr>
      <div class="bg-faded borderRadius p-4 mt-4 mb-4">
        <p btf-markdown="testDetails.primaryReportText" style="text-align: justify"></p>
      </div>
    </div>

    <div>
      <h3>How the report is going to help you?</h3>
      <hr>
      <div class="bg-faded borderRadius p-4 mt-4 mb-4">
        <p btf-markdown="testDetails.secondaryReportText" style="text-align: justify"></p>
      </div>
    </div>
    <footer></footer>

    <div class="mt-4">
      <div class="bg-faded borderRadius p-2 mt-4 mb-4">
        <h5>Validity Indices(These indices have been calculated from in-test behaviour data)</h5>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="text-center">Component</th>
            <th class="text-center">Description</th>
            <th class="text-center">Raw Score</th>
            <th class="text-center">Percentile</th>
            <th class="text-center">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">Infrequency</td>
            <td class="text-center">Infrequency description</td>
            <td class="text-center">{{testDetails.infrequencyRawScore}}</td>
            <td class="text-center">{{testDetails.infrequency}}%</td>
            <td class="text-center">Normal</td>
          </tr>
          <tr>
            <td class="text-center">Acquiescence</td>
            <td class="text-center">Acquiescence description</td>
            <td class="text-center">{{testDetails.acquiescenceRawScore}}</td>
            <td class="text-center">{{testDetails.acquiescence}}%</td>
            <td class="text-center">Normal</td>
          </tr>
          <tr>
            <td colspan="5">
              <p>{{testDetails.validityIndicesText}}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mt-4">
      <h3>Domain Scores</h3>
      <hr>
      <div class="bg-faded borderRadius p-2 mt-4 mb-4">
        <h5>High Score Traits</h5>
        <table class="table table-bordered">
          <thead>
          <tr>
            <!--<th class="text-center" ng-repeat="category in categories">{{category.displayName}}</th>-->
            <th class="text-center" ng-repeat="category in categories">{{category.name}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center" ng-repeat="category in categories">{{category.highText}}</td>
          </tr>
          <tr>
            <td colspan="{{categories.length}}"><h5>Obtained Scores</h5></td>
          </tr>
          <tr>
            <td class="text-center" ng-repeat="category in categories">{{category.percentile}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="row">
      <div class="col-11">
        <div class="container-fluid" style="position: relative;">
          <canvas class="chart chart-horizontalBar" height="200" width="500" chart-options="report.options" chart-data="report.data" chart-labels="report.labels"
                  chart-colors="['#8e5ea2']"></canvas>
        </div>
      </div>
    </div>

    <div class="bg-faded borderRadius p-2 mt-4 mb-4">
      <h5>Low Score Traits</h5>
      <table class="table table-bordered">
        <thead>
        <tr>
          <!--<th class="text-center" ng-repeat="category in categories">{{category.displayName}}</th>-->
          <th class="text-center" ng-repeat="category in categories">{{category.name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center" ng-repeat="category in categories">{{category.lowText}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <footer></footer>

    <!--<div class="row">-->
    <!--<div class="col-7">-->
    <!--<div class="text-center">-->
    <!--<canvas class="chart chart-line" height="30" width="70" chart-options="neoGraphs.options" chart-data="neoGraphs.data" chart-labels="neoGraphs.labels"-->
    <!--chart-colors="['#8e5ea2']"></canvas>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div>
      <h3>Interpretition</h3>
      <div ng-repeat="category in categories">
        <div class="bg-faded borderRadius p-2 mt-4 mb-4">
          <div class="row">
            <div class="col-7"><h5>{{category.displayName}}</h5></div>
            <div class="col-5"><p class="text-right">You scored higher than {{category.percentile}}% of students</p></div>
          </div>
          <p>{{category.summary}}</p>
          <hr>
          <div class="row">
            <div class="col-6" ng-show="category.strengths.length > 0">
              <h6>Strength :</h6>
              <ul>
                <li ng-repeat="strength in category.strengths track by $index"><strong>{{category.displayName}}</strong>&nbsp;{{strength.text}}</li>
              </ul>
            </div>
            <div class="col-6" ng-show="category.weaknesses.length > 0">
              <h6>Weakness :</h6>
              <ul>
                <li ng-repeat="weakness in category.weaknesses track by $index"><strong>{{category.displayName}}</strong>&nbsp;{{weakness.text}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>

    <div class="mt-4">
      <h3>Summary</h3>
      <hr>
      <div class="bg-faded borderRadius p-1 mb-4 mt-4">
        <table class="table table-striped">
          <thead>
          <tr>
            <th colspan="2">Compared with the responses of other people, your responses suggest that you can be described as:</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="category in categories">
            <td><span ng-repeat="strength in category.strengths track by $index"><strong>{{category.displayName}}</strong>&nbsp;{{strength.highText}}<span ng-if="!$last">, </span></span>
            </td>
            <td><span ng-repeat="weakness in category.weaknesses track by $index"><strong>{{category.displayName}}</strong>&nbsp;{{weakness.lowText}}<span ng-if="!$last">, </span></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <footer></footer>

    <div class="mt-4">
      <h3>Disclaimer</h3>
      <hr>
      <div class="bg-faded borderRadius p-4 mt-4 mb-4">
        <div>
          <p>This report represents a consensus interpretation of the meaning and poosible implication of this person's scores on the Personality Inventory. This report was
            developed
            by a team of psychologists. Its sole purpose is to provide you with information about your child so you may perceive him more accurately</p>
          <br>
          <p>This report doen not pretend to be 100% accurate, nor should it be taken as an absolute; all measurements contain some error. Furthermore, people can and do change.
            Occasionally, youn may see statements in this report tha do not appear to be totally consistent with each other. This is likely to occur when the person has usual or
            unexpected combinations of scores.</p>
          <br>
          <p>This report is designed as a tool to use in helping your child be successful in school and life. Reflect on it and use it only for his benefit. This report should not
            be
            used as the sole determinant of study-related decisions.</p>
        </div>
      </div>
    </div>
    <div class="card-footer text-center" ng-show="userId>0">
      <button class="btn btn-rose btn-primary btn-sm" ng-click="close()">Close</button>
    </div>
  </div>
</div>

