
<div>
  <div style="padding-top:8%">
    <label class="headingall">
      <strong>{{"AIM_REPORT.foreword.heading" | translate}}</strong></label>
  </div>
  <!--<div  style="padding-left: 5%;padding-right: 5%;padding-top: 3%;">-->

  <div class="p-5">
    <div class="row">
      <div class="col-4">
        <div class="forewordImage forewordPrint">
          <!--<img ng-src={{forewordImage}}>-->
          <img translate translate-attr-src="AIM_REPORT.foreword.url.forewordImage"></img>
        </div>
        <br>
        <p style="font-style: italic; color:#202c54">{{"AIM_REPORT.foreword.profile" | translate}}</p>
      </div>
      <div class="col-8">
        <p style="text-align:justify;color:#202c54">
          {{"AIM_REPORT.foreword.para1" | translate}}
          <br>
          <br>
          {{"AIM_REPORT.foreword.para2" | translate}}
          <br>
          <br>
          {{"AIM_REPORT.foreword.para3" | translate}}
          <br>
          <br>
          {{"AIM_REPORT.foreword.para4" | translate}}
          <br>
          <br>
          {{"AIM_REPORT.foreword.para5" | translate}}
          <br>
          <br>
          {{"AIM_REPORT.foreword.para6" | translate}}
        </p>

        <img ng-src={{assets_url+"signature.png"}}>

        <p style="font-weight:bold;color:#202c54">
          {{"AIM_REPORT.foreword.para7" | translate}}
          <br>
          {{"AIM_REPORT.foreword.para8" | translate}}
          <br>
          {{"AIM_REPORT.foreword.para9" | translate}}
        </p>
      </div>
    </div>
  </div>
  <div>
    <footer></footer>
  </div>
</div>