<div style="position:relative;">
  <div class="p-5">
    <div class="devplan2 plan">
      <div style="background-color:#e9f0f6;height:100%;width:86%;margin-left:13.5%;position:relative;">
        <div class="row headingplan3" style="background-color:#d13b22">
          <div class="col-2">
            <div style="height:80px;width:81px;background-color: transparent;margin-top: 40%;">
              <img ng-src={{assets_url+"limitation-logo.png"}}>
            </div>
          </div>
          <div class="col-9">
            <label class="head-talent1">{{'AIM_REPORT.section4.section4_part3.LIMITATIONS' | translate: translationData : 'messageformat'}}</label>
          </div>
        </div>

        <div class="planText">
          <!--explanation of limitations-->
          <div ng-repeat="w in weaknesses" style="margin-bottom:5%">
            <div class="p-1 cathead">
              <div>
                <div style="display: inline-block">
                  <img ng-src={{assets_url+w.color}} style="height:39px;margin-bottom:60%;">
                </div>
                <div style="display:inline-block; margin-left:1%">
                  <h5 btf-markdown="'AIM_REPORT.section4.section4_part3.'+w.displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px;"></h5>
                  <p style="color:#b2c0ca;margin-top: -17px;">
                    <label ng-class="{'low-tag':w.scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                    <label ng-class="{'med-tag':w.scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                    <label ng-class="{'high-tag':w.scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                  </p>
                </div>
                <div style="display:inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                <div style="display:inline-block;"> <p btf-markdown="'AIM_REPORT.oneLiners.'+w.displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p></div>
              </div>
            </div>
            <hr class="talentbreak">
            <div class="row">
              <!--<p>{{category.description}}</p>-->
              <div>
                <p style="text-align:justify;font-size:14px;"
                   btf-markdown="'AIM_REPORT.section4.section4_part3.'+w.developmentPlanForWeakness | translate: translationData : 'messageformat'">
                  <!--{{w.developmentPlanForWeakness}}-->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="position:absolute;bottom:-4%;width:100%;height:48px;">
    <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
      <p style="color:#5a6476;font-size:16px;">7</p>
    </div>
  </div>
  <footer></footer>
</div>