<div>
  <div style="position:relative">
    <label class="headingall" style="margin-top:10%;">
      <strong>{{'AIM_REPORT.section2.section2_part2.heading' | translate}}</strong></label>
    <div class="p-5 learningFront">
      <div style="margin-top:6%;margin-bottom:7%;">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2033 674.5">
          <title>Asset 1</title>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <rect class="clsp-1" x="2.5" y="162" width="2028" height="171" fill="#ffffff"/>
              <rect class="clsp-1" x="2.5" y="331" width="2028" height="171" fill="#ffffff"/>
              <rect class="clsp-1" x="2.5" y="501" width="2028" height="171" fill="#ffffff"/>
              <polyline class="clsp-2" points="393 162 393 331 393 333 393 501 393 502 393 672"/>
              <polyline class="clsp-3"
                        points="1708 672 1708 502 1708 501 1708 333 1708 331 1708 162 1708 84.5 1708 10"/>
              <polyline class="clsp-3"
                        points="709 672 709 502 709 501 709 333 709 331 709 162 709 84.5 709 2.5 709 2"/>
              <polyline class="clsp-3" points="911 672 911 502 911 501 911 333 911 331 911 162 911 86"/>
              <polyline class="clsp-3"
                        points="1110 672 1110 502 1110 501 1110 333 1110 331 1110 162 1110 86"/>
              <polyline class="clsp-3"
                        points="1310 672 1310 502 1310 501 1310 333 1310 331 1310 162 1310 86"/>
              <polyline class="clsp-3"
                        points="1510 672 1510 502 1510 501 1510 333 1510 331 1510 162 1510 86"/>
              <rect class="clsp-4" x="709" y="3" width="1000" height="81"/>
              <path d="M1708.5,3.5v80h-999V3.5h999m1-1H708.5v82h1001V2.5Z"/>

              <text class="clsp-5" transform="translate(108.94 243.32)">
                <tspan class="clsp-6">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningMode.Learning' | translate: translationData : 'messageformat'}}</tspan>
                <tspan x="17.09" y="50.4">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningMode.Mode' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-5" transform="translate(63.31 436.32)">
                <tspan class="">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.ThinkingStyle.Thinking Style' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-5" transform="translate(114.65 576.32)">
                <tspan class="">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningEnvironment.Learning' | translate: translationData : 'messageformat'}}</tspan>
                <tspan x="-37.93" y="50.4">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningEnvironment.Environment' | translate: translationData : 'messageformat'}}</tspan>
                <tspan x="189.21" y="50.4"></tspan>
              </text>
              <text class="clsp-20" transform="translate(500.85 258.48)">
                <tspan class="">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningMode.Verbal' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-20" transform="translate(1786.5 256.48)">
                <!--<tspan class="clsp-21">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningMode.Visual' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan class="">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningMode.Visual' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-20" transform="translate(410.23 426.48)">
                <tspan class="">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.ThinkingStyle.Converging' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-20" transform="translate(1794.34 424.48)">
                <!--<tspan class="clsp-23">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.ThinkingStyle.Diverging' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan class="">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.ThinkingStyle.Diverging' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-20" transform="translate(435.81 591.48)">
                <!--<tspan class="clsp-27">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningEnvironment.Academic' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan class="">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningEnvironment.Academic' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-20" transform="translate(1794.34 589.48)">
                <!--<tspan class="clsp-27">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningEnvironment.Practical' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan class="">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningEnvironment.Practical' | translate: translationData : 'messageformat'}}</tspan>
              </text>

              <text class="clsp-29" transform="translate(1088.5 57.29)">
                <!--<tspan class="clsp-30">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.Preferences.Preference' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan class="">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.Preferences.Preference' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-35" transform="translate(775.5 133.28)">
                <tspan class="clsp-36">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.Preferences.Clear' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-35" transform="translate(926.5 130.28)">
                <tspan class="clsp-37">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.Preferences.Moderate' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-35" transform="translate(1171.5 136.28)">
                <tspan class="clsp-36">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.Preferences.None' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-35" transform="translate(1330.5 133.28)">
                <tspan class="clsp-37">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.Preferences.Moderate' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clsp-35" transform="translate(1573.5 130.28)">
                <tspan class="clsp-36">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.Preferences.Clear' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <rect class="clsp-41" x="709.5" y="85.5" width="999" height="586"/>
              <rect class="clsp-42" id="verbal-box" x={{learningStyles.first.graphScore}} y="185.5" width="120" height="120"/>
              <rect class="clsp-42" id="converging-box" x={{learningStyles.third.graphScore}} y="360.5" width="120" height="120"/>
              <rect class="clsp-42" id="academic-box" x={{learningStyles.second.graphScore}} y="523.5" width="120" height="120"/>
              <line class="clsp-43" x1="673.22" y1="244.44" x2="693.35" y2="277.56"/>
              <line class="clsp-43" x1="673.22" y1="250.12" x2="693.35" y2="217"/>
              <line class="clsp-43" x1="1751.5" y1="251.06" x2="1731.37" y2="217.95"/>
              <line class="clsp-43" x1="1751.5" y1="245.39" x2="1731.37" y2="278.5"/>
              <line class="clsp-43" x1="679.61" y1="247" x2="1751.5" y2="247"/>
              <line class="clsp-43" x1="671.22" y1="415.44" x2="691.35" y2="448.56"/>
              <line class="clsp-43" x1="671.22" y1="421.12" x2="691.35" y2="388"/>
              <line class="clsp-43" x1="1749.5" y1="422.06" x2="1729.37" y2="388.95"/>
              <line class="clsp-43" x1="1749.5" y1="416.39" x2="1729.37" y2="449.5"/>
              <line class="clsp-43" x1="677.61" y1="418" x2="1749.5" y2="418"/>
              <line class="clsp-43" x1="671.22" y1="580.44" x2="691.35" y2="613.56"/>
              <line class="clsp-43" x1="671.22" y1="586.12" x2="691.35" y2="553"/>
              <line class="clsp-43" x1="1749.5" y1="587.06" x2="1729.37" y2="553.95"/>
              <line class="clsp-43" x1="1749.5" y1="581.39" x2="1729.37" y2="614.5"/>
              <line class="clsp-43" x1="677.61" y1="583" x2="1749.5" y2="583"/>
            </g>
          </g>
        </svg>
      </div>

      <div class="row" style="margin-top:3%;margin-bottom:3%;">
        <p style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.commonText.part1' | translate: translationData : 'messageformat'"></p>
        <p style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.commonText.part2' | translate: translationData : 'messageformat'"></p>
        <p style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.commonText.part3' | translate: translationData : 'messageformat'"></p>
      </div>

      <div ng-if="learningStyles.first">
        <div class="p-1 cathead">
          <div class="row">

            <div class="col-12">
              <div style="display: inline-block;"><img ng-src={{"https://s3.amazonaws.com/intscale-assets/inputInformation.png"}} style="height:39px;margin-bottom:60%;"></div>
              <div style="display: inline-block;">
                <h5 class="headfont">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningMode.Learning Mode' | translate: translationData : 'messageformat'}}</h5>
                <p style="color:#00bb7e" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.styles.'+learningStyles.first.learningStyle | translate: translationData : 'messageformat'"></p>
              </div>
              <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -25px; margin-left: 5px;font-size: 1.2em;">-</p></div>
              <div style="display: inline-block;"><p btf-markdown="'AIM_REPORT.oneLiners.Learning Mode' | translate: translationData : 'messageformat'" style="margin-bottom:16px; margin-top: 10px; position: relative; top: -25px; margin-left: 5px;font-size: 1.2em;"></p></div>
            </div>
          </div>
        </div>
        <hr class="linebreak">
        <div class="row">

          <div class="col-6">

            <h6 class="headfont">{{'AIM_REPORT.section2.section2_part2.learningStyles.Inference' | translate: translationData : 'messageformat'}}</h6>
            <p style="text-align:justify" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.inferences.'+learningStyles.first.learningStyleInference | translate: translationData : 'messageformat'">
            </p>
          </div>
          <div class="col-6">

            <h6 class="headfont">{{'AIM_REPORT.section2.section2_part2.learningStyles.Recommendations' | translate: translationData : 'messageformat'}}</h6>
            <p style="text-align:justify" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.recommendations.'+learningStyles.first.learningStyleRecommendation | translate: translationData : 'messageformat'"></p>
          </div>
        </div>
      </div>
    </div>

    <div style="position:absolute;bottom:-5.75%;;width:100%;height:48px;">

      <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">3</p>
      </div>
    </div>
  </div>
  <footer></footer>
  <div style="position:relative">
    <div class="p-5">
      <div class="categoryPersonality" ng-if="learningStyles.third">
        <div class="p-1 cathead ">
          <div class="row">
            <div class="col-12">
              <div style="display: inline-block;"><img ng-src={{assets_url+"thinkingStyle.png"}} style="height:39px;margin-bottom:60%;"></div>
              <div style="display: inline-block;">
                <h5 class="headfont">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.ThinkingStyle.Thinking Style'| translate: translationData : 'messageformat'}}</h5>
                <p style="color:#00bb7e" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.styles.'+learningStyles.third.learningStyle | translate: translationData : 'messageformat'"></p>
              </div>
              <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -25px; margin-left: 5px;font-size: 1.2em;">-</p></div>
              <div style="display: inline-block;">
                <p btf-markdown="'AIM_REPORT.oneLiners.Thinking Style' | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -25px; margin-left: 5px;font-size: 1.2em;"></p>
              </div>
            </div>
          </div>
        </div>
        <hr class="linebreak">
        <div class="row">
          <div class="col-6 ">
            <h6 class="headfont">{{'AIM_REPORT.section2.section2_part2.learningStyles.Inference' | translate: translationData : 'messageformat'}}</h6>
            <p style="text-align:justify" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.inferences.'+learningStyles.third.learningStyleInference | translate: translationData : 'messageformat'"></p>
          </div>

          <div class="col-6">
            <h6 class="headfont">{{'AIM_REPORT.section2.section2_part2.learningStyles.Recommendations' | translate: translationData : 'messageformat'}}</h6>
            <p style="text-align:justify" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.recommendations.'+learningStyles.third.learningStyleRecommendation | translate: translationData : 'messageformat'"></p>
          </div>
        </div>
      </div>

      <div class="categoryPersonality" ng-if="learningStyles.second">
        <div class="p-1 cathead">
          <div class="row">
            <div class="col-12">
              <div style="display: inline-block;"><img ng-src={{assets_url+"learningEnviromnent.png"}} style="height:39px;margin-bottom:60%;"></div>
              <div style="display: inline-block;">
                <h5 class="headfont">{{'AIM_REPORT.section2.section2_part2.learningStyles.graph.LearningEnvironment.Learning Environment'| translate: translationData : 'messageformat'}}</h5>
                <p style="color:#00bb7e" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.styles.'+learningStyles.second.learningStyle | translate: translationData : 'messageformat'"></p>
              </div>
              <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -25px; margin-left: 5px;font-size: 1.2em;">-</p></div>
              <div style="display: inline-block;">
                <p btf-markdown="'AIM_REPORT.oneLiners.Learning Environment' | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -25px; margin-left: 5px;font-size: 1.2em;"></p>
              </div>
            </div>


          </div>
        </div>
        <hr class="linebreak">
        <div class="row">

          <div class="col-6 ">

            <h6 class="headfont">{{'AIM_REPORT.section2.section2_part2.learningStyles.Inference' | translate: translationData : 'messageformat'}}</h6>
            <p style="text-align:justify" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.inferences.'+learningStyles.second.learningStyleInference | translate: translationData : 'messageformat'"></p>
          </div>
          <div class="col-6 ">
            <h6 class="headfont">{{'AIM_REPORT.section2.section2_part2.learningStyles.Recommendations' | translate: translationData : 'messageformat'}}</h6>
            <p style="text-align:justify" btf-markdown="'AIM_REPORT.section2.section2_part2.learningStyles.recommendations.'+learningStyles.second.learningStyleRecommendation | translate: translationData : 'messageformat'"></p>
          </div>
        </div>
      </div>
    </div>

    <div style="position:absolute;bottom:-44.25%;;width:100%;height:48px;">
      <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">4</p>
      </div>
    </div>
  </div>
  <footer></footer>
</div>