<div ng-repeat="expert1 in aimExpertCareerInventory">
  <div style="position:relative">
    <label class="headingall" style="margin-top:6%;">
      <strong> {{'AIM_REPORT.section4.section4_part4.Career Path' | translate}}</strong></label>
    <div class="p-5">
      <div class="careerchoice">
        <div class="row career1 " ng-class="{career1:{{$index}}==0,career2:{{$index}}==1,career3:{{$index}}==2}">
          <div class="col-4 cariconpath1" ng-class="{caricon1:{{$index}}==0,caricon2:{{$index}}==1,caricon3:{{$index}}==2}">
            <img ng-src={{assets_url+aimExpertCareerInventory[$index].imageName}}></img>
          </div>
          <div class="col-8" style="background-color:white;">
            <h5 class="heading-career" btf-markdown="'AIM_REPORT.careers.name.'+expert1.name | translate" style="margin-bottom:-12px;padding:1%;">
            </h5>
            <hr>
            <div>
              <p btf-markdown="'AIM_REPORT.careers.'+expert1.name+'.summary' | translate">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="height:500px; background-colour:#fab400;padding-left:2%">
        <div class="col-8 careerPath" style="background-color:#e9f0f6;">
          <p class="pathHead"><strong>{{'AIM_REPORT.section4.section4_part4.Knowledge&Skills' | translate}}</strong></p>
          <br>
          <!--<p style="margin-top:3%"><label btf-markdown="expert1.tasks"></label></p>-->
          <p style="margin-top:3%"><label btf-markdown="'AIM_REPORT.careers.'+expert1.name+'.knowledge&skills' | translate"></label></p>
          <p class="pathHead"><strong>{{'AIM_REPORT.section4.section4_part4.Pros&Cons' | translate}}</strong></p>
          <br>
          <p btf-markdown="'AIM_REPORT.careers.'+expert1.name+'.pros&cons' | translate" style="margin-top:3%"></p>
          <p class="pathHead"><strong>{{'AIM_REPORT.section4.section4_part4.Education' | translate}}</strong></p>
          <br>
          <p btf-markdown="'AIM_REPORT.careers.'+expert1.name+'.education' | translate" style="padding-left:3%;margin-top:3%"></p>
        </div>
        <div class="vertical-divider careerPath"
             style="background-color: #4158d5;width:2px;margin-left:4%;"></div>
        <div class="col-3 careerPath" style="padding-left:0;">
          <div>
            <label class="pathhead2">{{'AIM_REPORT.section4.section4_part4.Top Recruiters' | translate}}</label>
            <div style="padding-left:6%;">
              <label btf-markdown="'AIM_REPORT.careers.'+expert1.name+'.topRecruiters' | translate" style="margin-bottom:0;"></label>
            </div>
          </div>


          <div>
            <label class="pathhead2">{{'AIM_REPORT.section4.section4_part4.Top Colleges' | translate}}</label>
            <br>
            <p style="color:#4158d5;font-size: 14px;margin-left: 13%;margin-bottom:0;"><strong>{{'AIM_REPORT.section4.section4_part4.INDIA' | translate}}</strong></p>
            <label btf-markdown="'AIM_REPORT.careers.'+expert1.name+'.topCollegesOfIndia' | translate" style="margin-bottom:0; ">
            </label>
            <p style="color:#4158d5;font-size: 14px;margin-left: 13%;margin-bottom:0; "><strong>{{'AIM_REPORT.section4.section4_part4.ABROAD' | translate}}</strong></p>
            <label btf-markdown="'AIM_REPORT.careers.'+expert1.name+'.topCollegesOfAbroad' | translate">
            </label>
          </div>
        </div>
      </div>
    </div>

    <div style="position:absolute;bottom:-24%;;width:100%;height:48px;">
      <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">{{26+$index}}</p>
      </div>
    </div>
    <footer></footer>
  </div>
</div>