<div style="position:relative;">
  <div style="padding-top:8%">
    <label class="headingall">
      <strong>{{'AIM_REPORT.section2.section2_part1.heading' | translate: translationData : 'messageformat'}}</strong>
    </label>
  </div>

  <div class="p-5" style="height:100%">
    <div class="concept-desc descriptionStrength">
      <p style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section2.section2_part1.commonText.part1' | translate: translationData : 'messageformat'"></p>
      <p style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section2.section2_part1.commonText.part2' | translate: translationData : 'messageformat'"></p>
      <p style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section2.section2_part1.commonText.part3' | translate: translationData : 'messageformat'"></p>
    </div>

    <div class="row">
      <div class="col-6 concept-category" style="padding:5%;padding-left:5%;">
        <div style="background-color: #e9f0f6;;height:100%;width:100%;position:relative;">
          <h5 class="heading-category headfont"  style="text-transform: none;">{{'AIM_REPORT.section2.section2_part1.subHeading1' | translate: translationData : 'messageformat'}}</h5>
          <p style="margin-left: 85px; position: absolute; top: -32px;">{{'AIM_REPORT.section2.section2_part1.Details in pages' | translate: translationData : 'messageformat'}}8-11.</p>
          <div class="icon-sec2">
            <img ng-src={{assets_url+"talents.png"}}></img>
          </div>
          <div class="list-cat" ng-if="innateTalents.length>0">
            <p ng-repeat="innateTalent in innateTalents" btf-markdown="'AIM_REPORT.section2.section2_part1.innateTalents.'+innateTalent.innateTalentText | translate: translationData : 'messageformat'"></p>
          </div>
          <div class="list-cat" ng-if="innateTalents.length==0" style="margin-left:10%;">
            <p btf-markdown="'AIM_REPORT.section2.section2_part1.innateTalents.specialTalentText' | translate: translationData : 'messageformat'"></p>
          </div>
        </div>
      </div>

      <div class="col-6 concept-category" style="padding:5%;padding-left:5%;">
        <div style="background-color: #e9f0f6;;height:100%;width:100%;position:relative;">
          <h5 class="heading-category headfont"  style="text-transform: none;">{{'AIM_REPORT.section2.section2_part1.subHeading2' | translate: translationData : 'messageformat'}}</h5>
          <p style="margin-left: 85px; position: absolute; top: -32px;">{{'AIM_REPORT.section2.section2_part1.Details in pages' | translate: translationData : 'messageformat'}}12-14.</p>
          <div class="icon-sec2">
            <img ng-src={{assets_url+"traits.png"}}></img>
          </div>
          <div class="list-cat">
            <p ng-repeat="innateTrait in innateTraits" btf-markdown="'AIM_REPORT.section2.section2_part1.innateTraits.'+innateTrait.innateTalentText | translate: translationData : 'messageformat'"></p>
          </div>
        </div>
      </div>

      <div class="col-6 concept-category" style="padding:5%;padding-left:5%;">
        <div style="background-color: #e9f0f6;;height:100%;width:100%;position:relative;">
          <h5 class="heading-category headfont"  style="text-transform: none;">{{'AIM_REPORT.section2.section2_part1.subHeading3' | translate: translationData : 'messageformat'}}</h5>
          <p style="margin-left: 85px; position: absolute; top: -32px;">{{'AIM_REPORT.section2.section2_part1.Details in pages' | translate: translationData : 'messageformat'}}15-23.</p>
          <div class="icon-sec2" style="background-image:url({{assets_url+strength.png}})">
            <img ng-src={{assets_url+"strength.png"}}></img>
          </div>
          <div class="list-cat" ng-if="strengths.length>0">
            <p ng-repeat="s in strengths track by $index" btf-markdown="'AIM_REPORT.section2.section2_part1.strengths.'+s.strength | translate: translationData : 'messageformat'"></p>
          </div>
          <div class="list-cat" ng-if="strengths.length==0" ng-show="specialTextFlagForStrength">
            <p>{{'AIM_REPORT.section2.section2_part1.strengths.specialTextForStrength' | translate: translationData : 'messageformat'}}</p>
          </div>
        </div>
      </div>

      <div class="col-6 concept-category" style="padding:5%;padding-left:5%;">
        <div style="background-color: #e9f0f6;;height:100%;width:100%;position:relative;">
          <h5 class="heading-category headfont"  style="text-transform: none;">{{'AIM_REPORT.section2.section2_part1.subHeading4' | translate: translationData : 'messageformat'}}</h5>
          <p style="margin-left: 85px; position: absolute; top: -32px;">{{'AIM_REPORT.section2.section2_part1.Details in pages' | translate: translationData : 'messageformat'}}15-23.</p>
          <div class="icon-sec2">
            <img ng-src={{assets_url+"weak.png"}}></img>
          </div>
          <div class="list-cat">
            <p ng-repeat="w in weaknesses track by $index" btf-markdown="'AIM_REPORT.section2.section2_part1.weaknesses.'+w.weakness | translate: translationData : 'messageformat'"></p>
          </div>
          <div class="list-cat" ng-if="weaknesses.length==0" ng-show="specialTextFlagForWeakness">
            <p>{{'AIM_REPORT.section2.section2_part1.weaknesses.specialTextForWeakness' | translate: translationData : 'messageformat'}}</p>
          </div>
        </div>
      </div>
    </div>

    <div style="height:150px;">
      <div style="border: 1px dashed #dae3eb;padding-left:2%;">
        <label style="font-size: 16px;letter-spacing: 0px;color: rgb(32,44,84);font-weight: 800;margin-bottom:0;">{{'AIM_REPORT.section2.section2_part1.subHeading5' | translate: translationData : 'messageformat'}}</label>
        <div btf-markdown="'AIM_REPORT.section3.section3_part6.'+learningStyles.second.shortDescription | translate: translationData : 'messageformat'">
        </div>
      </div>
      <div ng-if="specialTextFlagNeurotism" class="row" style="margin-top:1%;padding-left:3%;">
        <div class="col-2" style="padding-right:0;"><img style="height:80%" ng-src={{assets_url+"emotionaldistress.png"}}></div>
        <div class="col-10">
          <p style="font-size: 16px;letter-spacing: 0px;color:#d13b22;font-weight: 800;margin-bottom: 1%; padding-left:0;">{{'AIM_REPORT.section2.section2_part1.interests.heading' | translate: translationData : 'messageformat'}}</p>
          <p btf-markdown="'AIM_REPORT.section2.section2_part1.interests.'+specialTextForNeurotism | translate: translationData : 'messageformat'"></p>
        </div>
      </div>
    </div>
  </div>

  <div style="position:absolute;bottom:-36px;width:100%;height:48px;">

    <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
      <p style="color:#5a6476;font-size:16px;">1</p>
    </div>
  </div>
  <footer></footer>
</div>
