<div ng-if="reportSections[1].name =='Personality'">

  <!--first page-->
  <div style="position:relative">
    <!--heading-->
    <div style="padding-top:8%">
      <label class="headingall">
        <strong>{{'AIM_REPORT.section3.section3_part2.Personality' | translate: translationData : 'messageformat'}}</strong>
      </label>
    </div>


    <!--image and description-->
    <div class="p-5 section3Front">
      <div class="imagemain text-center">
        <img ng-src={{assets_url+"personality-main.png"}}>
      </div>
      <div>
        <div>
          <div class="p-3 catdesc">
            <div class="row">
              <div class="col-11">
                <h5 class="headfont" style="margin-bottom:16px;">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h5>

                <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].description | translate: translationData : 'messageformat'">
                  <!--{{reportSection.description}}-->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--footer for page no-->
    <div style="position:absolute;bottom:-7.25%;width:100%;height:48px;">
      <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">12</p>
      </div>
    </div>
    <footer></footer>
  </div>


  <!--primary type data page 2 of personality -->


  <div style="position:relative">
    <div class="p-5">

      <div class="container-fluid graphPersonality" ng-show="reportSections[1].name=='Personality'"
           style="position: relative;">

        <?xml version="1.0" encoding="UTF-8"?>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1999.22 1112">
          <defs>
          </defs>
          <title>Asset 1</title>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <rect class="clss-1" x="234.72" y="0.5" width="1528" height="77.5" fill="#202c54"/>
              <path class="clss-2" d="M1762.22,1V77.5h-1527V1h1527m1-1h-1529V78.5h1529Z"/>
              <path class="clss-2"
                    d="M538.72,80.81V249.49H235.22V80.81h303.5m1-2.31H234.22V251.8h305.5Z"/>
              <path class="clss-2"
                    d="M538.72,252.89v858H235.22v-858h303.5m1-1.09H234.22V1112h305.5Z"/>
              <path class="clss-2" d="M844.72,252.89v858h-304v-858h304m1-1.09h-306V1112h306Z"/>
              <path class="clss-2" d="M1150.72,252.89v858h-304v-858h304m1-1.09h-306V1112h306Z"/>
              <path class="clss-2" d="M1456.72,252.89v858h-304v-858h304m1-1.09h-306V1112h306Z"/>
              <path class="clss-3"
                    d="M1762.22,80.81V249.49h-303.5V80.81h303.5m1-2.31h-305.5V251.8h305.5Z"/>
              <path class="clss-2"
                    d="M1762.22,252.89v858h-303.5v-858h303.5m1-1.09h-305.5V1112h305.5Z"/>
              <g class="clss-4">
                <rect class="clss-5" x="67.72" y="467.5" width="1871" height="502"/>
                <polyline class="clss-6" points="1938.72 963.5 1938.72 969.5 1932.72 969.5"/>
                <line class="clss-7" x1="1920.72" y1="969.5" x2="79.71" y2="969.5"/>
                <polyline class="clss-6" points="73.72 969.5 67.72 969.5 67.72 963.5"/>
                <line class="clss-8" x1="67.72" y1="951.55" x2="67.72" y2="479.48"/>
                <polyline class="clss-6" points="67.72 473.5 67.72 467.5 73.72 467.5"/>
                <line class="clss-7" x1="85.71" y1="467.5" x2="1926.72" y2="467.5"/>
                <polyline class="clss-6" points="1932.72 467.5 1938.72 467.5 1938.72 473.5"/>
                <line class="clss-8" x1="1938.72" y1="485.45" x2="1938.72" y2="957.52"/>
              </g>
              <line class="clss-9" x1="67.22" y1="639" x2="73.22" y2="639"/>
              <line class="clss-10" x1="85.21" y1="639" x2="1926.22" y2="639"/>
              <line class="clss-9" x1="1932.22" y1="639" x2="1938.22" y2="639"/>
              <line class="clss-9" x1="68.22" y1="802" x2="74.22" y2="802"/>
              <line class="clss-10" x1="86.21" y1="802" x2="1927.22" y2="802"/>
              <line class="clss-9" x1="1933.22" y1="802" x2="1939.22" y2="802"/>
              <rect class="clss-11" x="539.72" y="78.5" width="306" height="173.3"/>
              <rect class="clss-11" x="845.72" y="78.5" width="306" height="173.3"/>
              <rect class="clss-11" x="1151.72" y="78.5" width="306" height="173.3"/>
              <line class="clss-12" x1="385.78" y1="403.5" x2="352.66" y2="443.44"/>
              <line class="clss-12" x1="380.1" y1="403.5" x2="413.22" y2="443.44"/>
              <line class="clss-12" x1="379.16" y1="1035" x2="412.27" y2="995.06"/>
              <line class="clss-12" x1="384.83" y1="1035" x2="351.72" y2="995.06"/>
              <line class="clss-12" x1="383.22" y1="416.17" x2="383.22" y2="1027.71"/>
              <text class="clss-13" transform="translate(326.61 1084)">
                <!--<tspan class="clss-14">{{'AIM_REPORT.section3.section3_part2.Introvert' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan class="">{{'AIM_REPORT.section3.section3_part2.Introvert' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <line class="clss-12" x1="688.78" y1="403.5" x2="655.66" y2="443.44"/>
              <line class="clss-12" x1="683.1" y1="403.5" x2="716.22" y2="443.44"/>
              <line class="clss-12" x1="682.16" y1="1035" x2="715.27" y2="995.06"/>
              <line class="clss-12" x1="687.83" y1="1035" x2="654.72" y2="995.06"/>
              <line class="clss-12" x1="686.22" y1="416.17" x2="686.22" y2="1027.71"/>
              <text class="clss-13" transform="translate(600.61 1084)">
                <tspan class="">{{'AIM_REPORT.section3.section3_part2.Competitive' | translate: translationData : 'messageformat'}}</tspan>
                <!--<tspan class="clss-21">{{'AIM_REPORT.section3.section3_part2.Competitive' | translate: translationData : 'messageformat'}}</tspan>-->
                <!-- <tspan class="clss-16" x="98.35" y="0">Minded</tspan> -->

              </text>
              <line class="clss-12" x1="989.78" y1="403.5" x2="956.66" y2="443.44"/>
              <line class="clss-12" x1="984.1" y1="403.5" x2="1017.22" y2="443.44"/>
              <line class="clss-12" x1="983.16" y1="1035" x2="1016.27" y2="995.06"/>
              <line class="clss-12" x1="988.83" y1="1035" x2="955.72" y2="995.06"/>
              <line class="clss-12" x1="987.22" y1="416.17" x2="987.22" y2="1027.71"/>

              <text class="clss-13" transform="translate(910.61 1084)">
                {{'AIM_REPORT.section3.section3_part2.Unrestrained' | translate: translationData : 'messageformat'}}
              </text>
              <line class="clss-12" x1="1300.78" y1="403.5" x2="1267.66" y2="443.44"/>
              <line class="clss-12" x1="1295.1" y1="403.5" x2="1328.22" y2="443.44"/>
              <line class="clss-12" x1="1294.16" y1="1035" x2="1327.27" y2="995.06"/>
              <line class="clss-12" x1="1299.83" y1="1035" x2="1266.72" y2="995.06"/>
              <line class="clss-12" x1="1298.22" y1="416.17" x2="1298.22" y2="1027.71"/>
              <text class="clss-13" transform="translate(1200.61 1084)">
                {{'AIM_REPORT.section3.section3_part2.Tough Minded' | translate: translationData : 'messageformat'}}
              </text>
              <line class="clss-12" x1="1300.78" y1="403.5" x2="1267.66" y2="443.44"/>
              <line class="clss-12" x1="1295.1" y1="403.5" x2="1328.22" y2="443.44"/>
              <line class="clss-12" x1="1294.16" y1="1035" x2="1327.27" y2="995.06"/>
              <line class="clss-12" x1="1299.83" y1="1035" x2="1266.72" y2="995.06"/>
              <line class="clss-12" x1="1298.22" y1="416.17" x2="1298.22" y2="1027.71"/>

              <line class="clss-12" x1="1610.78" y1="403.5" x2="1577.66" y2="443.44"/>
              <line class="clss-12" x1="1605.1" y1="403.5" x2="1638.22" y2="443.44"/>
              <line class="clss-12" x1="1604.16" y1="1035" x2="1637.27" y2="995.06"/>
              <line class="clss-12" x1="1609.83" y1="1035" x2="1576.72" y2="995.06"/>
              <line class="clss-12" x1="1608.22" y1="416.17" x2="1608.22" y2="1027.71"/>
              <text class="clss-13" transform="translate(1575 1084)">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</text>
              <text class="clss-28" transform="translate(80.72 538)">
                <tspan class="clss-29">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-30" transform="translate(70 729)">
                <tspan class="clss-31">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-32" transform="translate(90.01 899)">
                <!--<tspan class="clss-33" x="39.9" y="0"> {{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan style="letter-spacing: 0.00em;" x="39.9" y="0"> {{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-28" transform="translate(1809.72 538)">
                <tspan class="clss-29">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-30" transform="translate(1780 729)">
                <tspan class="clss-31">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-32" style="letter-spacing: 0.00em;" transform="translate(1810.01 899)">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</text>

              <rect id="col-1" class="clss-40" x="364.72" y={{report[1].slider[0]}} width="37" height="37"/>
              <text class="clss-41" transform="translate(275.44 180.18)">
                {{'AIM_REPORT.section3.section3_part2.Extroversion' | translate: translationData : 'messageformat'}}
              </text>
              <text class="clss-41" transform="translate(580 180.18)">
                <tspan class="clss-46">{{'AIM_REPORT.section3.section3_part2.Agreeableness' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-54" transform="translate(900.56 180.18)">{{'AIM_REPORT.section3.section3_part2.Work Ethic' | translate: translationData : 'messageformat'}}</text>
              <!-- <text class="clss-41" transform="translate(600.22 140.18)">openness to experience y value -->
              <text class="clss-41" transform="translate(1190.48 150.18)">
                {{'AIM_REPORT.section3.section3_part2.Openness to' | translate: translationData : 'messageformat'}}
              </text>
              <text class="clss-41" transform="translate(1190.48 190.18)">
                {{'AIM_REPORT.section3.section3_part2.Experience' | translate: translationData : 'messageformat'}}
              </text>

              <text class="clss-41" transform="translate(1515.59 150.18)">
                <!--<tspan class="clss-57">{{'AIM_REPORT.section3.section3_part2.Emotional Distress' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan class="">{{'AIM_REPORT.section3.section3_part2.Emotional' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-41" transform="translate(1515.59 190.18)">
                <!--<tspan class="clss-57">{{'AIM_REPORT.section3.section3_part2.Emotional Distress' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan class="">{{'AIM_REPORT.section3.section3_part2.Distress' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-59">
                <tspan x="324.14" y="344.56">{{'AIM_REPORT.section3.section3_part2.Extrovert' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-59">
                <tspan class="clss-65" x="880.1" y="344.74"> {{'AIM_REPORT.section3.section3_part2.Self Controlled' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-59">
                <!--<tspan class="clss-21" x="605.43" y="346.4">{{'AIM_REPORT.section3.section3_part2.Cooperative' | translate: translationData : 'messageformat'}}</tspan>-->
                <tspan class="" x="605.43" y="346.4">{{'AIM_REPORT.section3.section3_part2.Cooperative' | translate: translationData : 'messageformat'}}</tspan>
              </text>

              <text class="clss-59">
                <tspan x="1230.15" y="344.74">{{'AIM_REPORT.section3.section3_part2.Receptive' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <text class="clss-59">
                <tspan class="clss-71" x="1570.05" y="344.74">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</tspan>
              </text>
              <rect id="col-2" data-name="col-1" class="clss-40" x="667.72" y={{report[1].slider[1]}}
                    width="37" height="37"/>
              <rect id="col-3" data-name="col-1" class="clss-40" x="969.72" y={{report[1].slider[2]}}
                    width="37" height="37"/>
              <rect id="col-4" data-name="col-1" class="clss-40" x="1280.72"
                    y={{report[1].slider[3]}} width="37" height="37"/>
              <rect id="col-5" data-name="col-1" class="clss-40" x="1590.72"
                    y={{report[1].slider[4]}} width="37" height="37"/>
            </g>
          </g>
        </svg>

      </div>
      <br>

      <div ng-if="reportSections[1].categories[0].type!='secondary'">
        <div class="catexplain">
          <div class="p-1 cathead">
              <div class="row">
                <div class="col-12">
                  <div style="display: inline-block"><img ng-src={{assets_url+reportSections[1].categories[0].color}} style="height:39px;margin-bottom:60%;"></div>
                  <div style="display: inline-block">
                    <h5 class="headfont" style="margin-bottom:16px;" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[0].displayName | translate: translationData : 'messageformat'"></h5>
                    <p style="color:#b2c0ca; margin-top:-17px;">
                      <label ng-class="{'low-tag':reportSections[1].categories[0].scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'med-tag':reportSections[1].categories[0].scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'high-tag':reportSections[1].categories[0].scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                    </p>
                  </div>
                  <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                  <div style="display:inline-block;">
                    <p btf-markdown="'AIM_REPORT.oneLiners.'+reportSections[1].categories[0].displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p>
                  </div>
                </div>
              </div>
          </div>
          <hr class="linebreak">
          <div class="row">
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify"
                 btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[0].description | translate: translationData : 'messageformat'">
              </p>
            </div>
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Inference' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[0].summary | translate: translationData : 'messageformat'">
                <!--{{category.summary}}-->
              </p>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="reportSections[1].categories[1].type!='secondary'">
        <div class="catexplain">
          <div class="p-1 cathead">
              <div class="row">
                <div class="col-12">
                  <div style="display: inline-block;"><img ng-src={{assets_url+reportSections[1].categories[1].color}} style="height:39px;margin-bottom:60%;"></div>
                  <div style="display: inline-block;">
                    <h5 class="headfont" style="margin-bottom:16px;" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[1].displayName | translate: translationData : 'messageformat'"></h5>
                    <p style="color:#b2c0ca; margin-top:-17px;">
                      <label ng-class="{'low-tag':reportSections[1].categories[1].scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'med-tag':reportSections[1].categories[1].scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'high-tag':reportSections[1].categories[1].scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                    </p>
                  </div>
                  <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                  <div style="display:inline-block;">
                    <p btf-markdown="'AIM_REPORT.oneLiners.'+reportSections[1].categories[1].displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p>
                  </div>
                </div>
              </div>
          </div>
          <hr class="linebreak">
          <div class="row">
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify"
                 btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[1].description | translate: translationData : 'messageformat'">
              </p>
            </div>

            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Inference' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[1].summary | translate: translationData : 'messageformat'">
                <!--{{category.summary}}-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div style="position:absolute;bottom:-26px;;width:100%;height:48px;">
      <div style="float:right;height:100%;width:6%;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">13</p>
      </div>
    </div>
    <footer></footer>

  </div>


  <div style="position:relative;">
    <div class="p-5">
      <div ng-if="reportSections[1].categories[2].type!='secondary'">
        <div class="catexplain">
          <div class="p-1 cathead">
            <div class="row">
              <div class="col-12">
                <div style="display: inline-block;"><img ng-src={{assets_url+reportSections[1].categories[2].color}} style="height:39px;margin-bottom:60%;"></div>
                <div style="display: inline-block;">
                  <h5 class="headfont" style="margin-bottom:16px;" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[2].displayName | translate: translationData : 'messageformat'"></h5>
                  <p style="color:#b2c0ca; margin-top:-17px;">
                    <label ng-class="{'low-tag':reportSections[1].categories[2].scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                    <label ng-class="{'med-tag':reportSections[1].categories[2].scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                    <label ng-class="{'high-tag':reportSections[1].categories[2].scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                  </p>
                </div>
                <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                <div style="display:inline-block;">
                  <p btf-markdown="'AIM_REPORT.oneLiners.'+reportSections[1].categories[2].displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p>
                </div>
              </div>
            </div>
          </div>
          <hr class="linebreak">
          <div class="row">
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify"
                 btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[2].description | translate: translationData : 'messageformat'">
              </p>
            </div>

            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Inference' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[2].summary | translate: translationData : 'messageformat'">
                <!--{{category.summary}}-->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="reportSections[1].categories[3].type!='secondary'">
        <div class="catexplain">
          <div class="p-1 cathead">
            <div class="row">
              <div class="col-12">
                <div style="display: inline-block"><img ng-src={{assets_url+reportSections[1].categories[3].color}} style="height:39px;margin-bottom:60%;"></div>
                <div style="display: inline-block">
                  <h5 class="headfont" style="margin-bottom:16px;" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[3].displayName | translate: translationData : 'messageformat'"></h5>
                  <p style="color:#b2c0ca; margin-top:-17px;">
                    <label ng-class="{'low-tag':reportSections[1].categories[3].scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                    <label ng-class="{'med-tag':reportSections[1].categories[3].scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                    <label ng-class="{'high-tag':reportSections[1].categories[3].scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                  </p>
                </div>
                <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                <div style="display:inline-block;">
                  <p btf-markdown="'AIM_REPORT.oneLiners.'+reportSections[1].categories[3].displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p>
                </div>
              </div>
            </div>
          </div>
          <hr class="linebreak">
          <div class="row">
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>

              <p style="text-align:justify"
                 btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[3].description | translate: translationData : 'messageformat'">
              </p>
            </div>
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Inference' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[3].summary | translate: translationData : 'messageformat'">
                <!--{{category.summary}}-->
              </p>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="reportSections[1].categories[4].type!='secondary'">
        <div class="catexplain">
          <div class="p-1 cathead">
            <div class="row">
              <div class="col-12">
                <div style="display: inline-block"><img ng-src={{assets_url+reportSections[1].categories[4].color}} style="height:39px;margin-bottom:60%;"></div>
                <div style="display: inline-block">
                  <h5 class="headfont" style="margin-bottom:16px;" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[4].displayName | translate: translationData : 'messageformat'"></h5>
                  <p style="color:#b2c0ca; margin-top:-17px;">
                    <label ng-class="{'low-tag':reportSections[1].categories[4].scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                    <label ng-class="{'med-tag':reportSections[1].categories[4].scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                    <label ng-class="{'high-tag':reportSections[1].categories[4].scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                  </p>
                </div>
                <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                <div style="display:inline-block;">
                  <p btf-markdown="'AIM_REPORT.oneLiners.'+reportSections[1].categories[4].displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p>
                </div>
              </div>
            </div>
          </div>
          <hr class="linebreak">
          <div class="row">
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify"
                 btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[4].description | translate: translationData : 'messageformat'">
              </p>
            </div>
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Inference' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part2.'+reportSections[1].categories[4].summary | translate: translationData : 'messageformat'">
                <!--{{category.summary}}-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="position:absolute;bottom:-63px;;width:100%;height:48px;">
      <div style="float:right;height:100%;width:6%;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">14</p>
      </div>
    </div>
    <footer></footer>
  </div>
</div>