<div style="position:relative">

  <label class="headingall" style="margin-top:10%">
    <strong>{{'AIM_REPORT.section4.Development Plan' | translate: translationData : 'messageformat'}}</strong></label>

  <div class="p-5 bestFitsmall">
    <div class="row concept-desc description-concept">
      <p class="col-11" style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section4.section4_part1.While we tend to remember our limitations more, we act on our strengths!-Mihaly Csikszentmihalyi' | translate: translationData : 'messageformat'"></p>
      <p class="col-11" style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section4.section4_part1.commonTextForDevelopmentPlan' | translate: translationData : 'messageformat'"></p>
    </div>

    <div class="devplan1 plan">
      <div style="background-color:#e9f0f6;height:100%;width:86%;margin-left:13.5%;position:relative;">
        <div class="row headingplan1" style="background-color:#00bb7e">
          <div class="col-2">
            <div style="height:90px;width:91px;background-color: transparent;margin-top: 14%;">
              <img ng-src={{assets_url+"talent-logo.png"}} style="padding-top:14%;">
            </div>
          </div>
          <div class="col-9"><label class="head-talent1"> {{'AIM_REPORT.section4.section4_part1.TALENTS' | translate: translationData : 'messageformat'}}</label></div>
        </div>

        <div class="planText">
          <!--explanation of talents-->
          <div ng-repeat="innateTalent in innateTalents" style="margin-top: 5%;margin-bottom:5%;" ng-if="innateTalents.length>0">
            <div class="p-1 cathead">
              <div>

                <div style="display:inline-block;margin-left:1%">
                  <div style="display: inline-block">
                    <img ng-src={{assets_url+innateTalent.color}} style="height:39px;margin-bottom:60%;">
                  </div>
                  <div style="display: inline-block">
                    <h5 btf-markdown="'AIM_REPORT.section4.section4_part1.'+innateTalent.displayName | translate: translationData : 'messageformat' " style="margin-bottom:16px;">
                      <!--{{innateTalent.name}}-->
                    </h5>
                    <p style="color:#b2c0ca;margin-top: -17px;">
                      <label ng-class="{'low-tag':innateTalent.scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'med-tag':innateTalent.scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'high-tag':innateTalent.scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                    </p>
                  </div>
                  <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                  <div style="display: inline-block"> <p btf-markdown="'AIM_REPORT.oneLiners.'+innateTalent.displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p></div>

                </div>
              </div>
            </div>
            <hr class="talentbreak">
            <div>
              <div>
                <p style="text-align:justify;font-size:14px;"
                   btf-markdown="'AIM_REPORT.section4.section4_part1.'+innateTalent.developmentPlanForStrength | translate: translationData : 'messageformat' ">
                  <!--{{innateTalent.developmentPlanForStrength}}-->
                </p>
              </div>
            </div>
          </div>
          <div style="margin-top:5%; margin-bottom:5%;" ng-if="innateTalents.length==0">
            <div class="p-1 cathead">
              <p style="text-align:justify;font-size:14px;"
                 btf-markdown="'AIM_REPORT.section4.section4_part1.'+specialTalentTextForDevelopmentPlan | translate: translationData : 'messageformat'">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="position:absolute;bottom:-4%;width:100%;height:48px;">
    <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
      <p style="color:#5a6476;font-size:16px;">5</p>
    </div>
  </div>
  <footer></footer>
</div>