<div style="position:relative">
    <div class="coverPage" style="width:100%;height:80%">
        <!--<img translate translate-attr-src="AIM_REPORT.cover.cover_front.url.reportcoverfront"/>-->
        <img ng-src="{{urls.reportcoverfront}}"/>

        <div class="row frontCover">
            <div class="col-4">
                <p style="color:#202c54; font-size:18px;">{{'AIM_REPORT.cover.cover_front.NAME' | translate}}</p>
                <p style="color: white;">{{user.name}}</p>

                <p style="color:#202c54; font-size:18px;">{{'AIM_REPORT.cover.cover_front.GRADE' | translate}}</p>
                <p style="color: white;">{{'AIM_REPORT.cover.cover_front.grades.'+user.education | translate}}</p>

                <p style="color:#202c54; font-size:18px;">{{'AIM_REPORT.cover.cover_front.GENDER' | translate}}</p>
                <p style="color: white;">{{'AIM_REPORT.cover.cover_front.genders.'+user.gender | translate}}</p>

                <p style="color:#202c54;font-size:18px;">{{'AIM_REPORT.cover.cover_front.DOB' | translate}}</p>
                <p style="color: white;">{{user.dob}}</p>

                <p style="color:#202c54;font-size:18px;">{{'AIM_REPORT.cover.cover_front.SCHOOL' | translate}}</p>
                <p style="color: white;">{{user.school}}</p>
            </div>
        </div>
    </div>

    <footer></footer>
</div>