<div style="position:relative">
  <label class="headingall" style="margin-top:6%;">
    <strong>{{'AIM_REPORT.disclaimer.Disclaimer' | translate}}</strong></label>
  <div class="p-5" style="padding-left:5%;padding-right:5%">
    <p style="text-align:justify;color:#202c54;white-space:pre-line;">{{'AIM_REPORT.disclaimer.disclaimerText' | translate: translationData : "messageformat" }}</p>
    <div style="margin-top:10%">
      <img translate translate-attr-src="AIM_REPORT.disclaimer.url.disclaimerQuote"></img>
    </div>
  </div>
  <footer></footer>
</div>