<div>
  <div style="padding-top:8%">
    <label class="headingall">
      <strong>{{"AIM_REPORT.methodology.heading" | translate}}</strong></label>
  </div>

  <div style="padding-left:10%;padding-right:10%;">
    <div class="row descriptionconcept text-center">
      <p style="text-align:justify;color:#202c54">{{"AIM_REPORT.methodology.para1" | translate}}</p>
    </div>
    <div class="row">
      <div>
        <img translate translate-attr-src="AIM_REPORT.methodology.url.methodologyImage"></img>
      </div>
    </div>
  </div>
</div>