<div ng-if="reportSections[0].name =='Cognitive Intelligence'">
  <!--first page-->
  <div style="position:relative">
    <!--heading-->

    <div style="padding-top:8%">
      <label class="headingall">
        <strong>{{'AIM_REPORT.section3.section3_part1.Cognitive Intelligence' | translate: translationData : 'messageformat'}}</strong>
      </label>
    </div>

    <!--low medium high-->
    <div>
      <p style="margin-left:9%">
        <label ng-class="{'low-tag':reportSections[0].scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
        <label ng-class="{'med-tag':reportSections[0].scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
        <label ng-class="{'high-tag':reportSections[0].scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
      </p>
    </div>
    <!--image and descriptipom-->
    <div class="p-5 section3printFront">
      <div class="imagemain text-center">
        <img ng-src={{assets_url+"cibrain.png"}}>
      </div>
      <div>
        <div>
          <div class="p-3 catdesc">
            <div class="row">
              <div class="col-6">
                <h5 class="headfont" style="margin-bottom:16px;">{{'AIM_REPORT.section3.DESCRIPTION' | translate: translationData : 'messageformat'}}</h5>
                <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].description | translate: translationData : 'messageformat'">
                  <!--{{reportSection.description}}-->
                </p>
              </div>

              <div class="col-6">
                <div ng-if="reportSection.name!='Motivation'">
                  <h5 class="headfont" style="margin-bottom:16px;">{{'AIM_REPORT.section3.INFERENCE' | translate: translationData : 'messageformat'}}</h5>

                  <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].summary | translate: translationData : 'messageformat'">
                    <!--{{reportSection.summary}}-->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--footer for page no-->
    <div style="position:absolute;bottom:-3%;width:100%;height:48px;">
      <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">8</p>
      </div>
    </div>
    <footer></footer>
  </div>
  <!--secondary type data 2nd page of CI-->

  <div>
    <div style="position:relative">
      <div class="p-5 section3Category" ng-if="reportSecondaryType[0].data.length>0">
        <div class="p-2 graphsecondary" style="background-color:#dae3eb;">
          <div class="row">
            <div class="col-11">

              <!--report secondary -->
              <div class="container-fluid" style="position: relative;">


                <svg viewBox="0 0 884.5 377">
                  <title>Intscale Graph2</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <line class="line" x1="139.5" x2="139.5" y2="334"/>
                      <line class="line" x1="138.5" y1="333" x2="884.5" y2="333"/>
                      <rect class="low-box" x="140.5" y="14" width="300" height="318"/>
                      <rect class="medium-box" x="440.5" y="14" width="150" height="318"/>
                      <rect class="high-box" x="590.5" y="14" width="300" height="318"/>
                      <text class="low-label" transform="translate(240 372.5)">
                        <tspan class="">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</tspan>
                        <!--<tspan class="cls-6">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</tspan>-->
                        <!--<tspan x="19.26" y="0">w</tspan>-->
                      </text>
                      <text class="medium-label" transform="translate(474 372.5)">
                        <tspan class="cls-8">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</tspan>
                      </text>
                      <text class="high-label" transform="translate(699 372.5)">
                        <tspan class="cls-8">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</tspan>

                      </text>
                      <line class="cls-10" x1="571" y1="14" x2="571" y2="4.5"/>
                      <polyline class="cls-10" points="571 332 571 333 571 347.5"/>


                      <rect data-ng-repeat="d in reportSecondaryType[0].data"
                            class="graph-bar fluid-reasoning"
                            id={{label}}
                            y={{reportSecondaryType[0].barmargin[$index]}}
                            height={{(2*(reportSecondaryType[0].pad))-20}} width={{d}} x="140"/>


                      <foreignObject class="cls-12"
                                     data-ng-repeat="label in reportSecondaryType[0].labels"
                                     text-anchor="start" x="5"
                                     y={{((reportSecondaryType[0].textpos[$index]))-20}}>
                        <!--<p x="10">{{label}}</p>-->
                        <p x="10" btf-markdown="'AIM_REPORT.section3.section3_part1.'+label | translate: translationData : 'messageformat'"></p>
                      </foreignObject>
                    </g>
                  </g>
                </svg>

              </div>
            </div>
          </div>
        </div>
        <br>

        <div ng-repeat="category in reportSections[0].categories" ng-if="category.type=='secondary'">
          <div class="catsecexplain">
            <div class="p-1 cathead">
              <div>
                <div>
                  <div class="row">
                    <div class="col-12">
                      <div style="display: inline-block"><img ng-src={{assets_url+"learningstyles-verbalvisual.png"}} style="height:39px;margin-bottom:60%;"></div>
                      <div style="display: inline-block">
                        <h5 class="headfont" btf-markdown="'AIM_REPORT.section3.section3_part1.'+category.displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px;"></h5>
                        <p style="margin-top:-17px;">
                          <label ng-class="{'low-tag':category.scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                          <label ng-class="{'med-tag':category.scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                          <label ng-class="{'high-tag':category.scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                        </p>
                      </div>
                      <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                      <div style="display: inline-block"> <p btf-markdown="'AIM_REPORT.oneLiners.'+category.displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="linebreak">
            <div class="row">

              <!--<p>{{category.description}}</p>-->
              <div class="col-6">
                <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
                <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part1.'+category.description | translate: translationData : 'messageformat'">
                  <!--{{category.description}}-->
                </p>
              </div>


              <div class="col-6">
                <h6 class="headfont">{{'AIM_REPORT.section3.Inference' | translate: translationData : 'messageformat'}}</h6>
                <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part1.'+category.summary | translate: translationData : 'messageformat'">
                  <!--{{category.summary}}-->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="position:absolute;bottom:-6%;width:100%;height:48px;">
        <div style="float:right;height:100%;width:6%;background:#e9f0f6;padding-top:1%;text-align:center;">
          <p style="color:#5a6476;font-size:16px;">9</p>
        </div>
      </div>
      <footer></footer>
    </div>
  </div>


  <!--primary type data page 3 of ci -->


  <div style="position:relative">
    <div class="p-5 section3Category" ng-if="report[0].data.length>0">
      <div class="p-2 graphsection" style="background-color:#dae3eb;">
        <div class="row">
          <div class="col-12">
            <!--graph for ei si ci and motivation-->
            <div class="container-fluid " style="position: relative;">
              <svg viewBox="0 0 884.5 377">
                <title>Intscale Graph2</title>
                <g id="Layer_2" data-name="Layer 2">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <line class="line" x1="139.5" x2="139.5" y2="334"/>
                    <line class="line" x1="138.5" y1="333" x2="884.5" y2="333"/>
                    <rect class="low-box" x="140.5" y="14" width="300" height="318"/>
                    <rect class="medium-box" x="440.5" y="14" width="150" height="318"/>
                    <rect class="high-box" x="590.5" y="14" width="300" height="318"/>
                    <text class="low-label" transform="translate(240 372.5)">
                      <!--<tspan class="cls-6">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</tspan>-->
                      <tspan class="">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</tspan>
                      <!--<tspan x="19.26" y="0">w</tspan>-->
                    </text>
                    <text class="medium-label" transform="translate(474 372.5)">
                      <tspan class="cls-8">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</tspan>
                    </text>
                    <text class="high-label" transform="translate(699 372.5)">
                      <tspan class="cls-8">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</tspan>

                    </text>
                    <line class="cls-10" x1="571" y1="14" x2="571" y2="4.5"/>
                    <polyline class="cls-10" points="571 332 571 333 571 347.5"/>


                    <rect ng-repeat="d in report[0].data"
                          class="graph-bar fluid-reasoning"
                          id={{label}}
                          y={{report[0].barmargin[$index]}}
                          height={{2*(report[0].pad)}} width={{d}} x="140"/>


                    <foreignObject class="cls-12"
                                   ng-repeat="label in report[0].labels"
                                   text-anchor="start" x="5"
                                   y={{(report[0].textpos[$index])}}>
                      <!--<p x="10">{{label}}</p>-->
                      <p x="10" btf-markdown="'AIM_REPORT.section3.section3_part1.'+label | translate: translationData : 'messageformat'"></p>
                    </foreignObject>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div ng-if="reportSections[0].categories[2].type!='secondary'">
        <div class="catexplain">
          <div class="p-1 cathead">
            <div>
              <div class="row">
                <div class="col-12">
                  <div style="display: inline-block">
                    <img ng-src={{assets_url+reportSections[0].categories[2].color}} style="height:39px;margin-bottom:60%;">
                  </div>
                  <div style="display:inline-block;">
                    <h5 class="headfont" style="margin-bottom:16px;" btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].categories[2].displayName | translate: translationData : 'messageformat'"></h5>
                    <p style="color:#b2c0ca; margin-top:-17px;">
                      <label ng-class="{'low-tag':reportSections[0].categories[2].scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'med-tag':reportSections[0].categories[2].scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'high-tag':reportSections[0].categories[2].scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                    </p>
                  </div>
                  <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                  <div style="display: inline-block">
                    <p btf-markdown="'AIM_REPORT.oneLiners.'+reportSections[0].categories[2].displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="linebreak">
          <div class="row">
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify"
                 btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].categories[2].description | translate: translationData : 'messageformat'">
              </p>
            </div>

            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Inference' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].categories[2].summary | translate: translationData : 'messageformat'">
                <!--{{category.summary}}-->
              </p>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="reportSections[0].categories[3].type!='secondary'">
        <div class="catexplain">
          <div class="p-1 cathead">
            <div>
              <div>
                <div class="row">
                  <div class="col-12">
                    <div style="display: inline-block">
                      <img ng-src={{assets_url+reportSections[0].categories[2].color}} style="height:39px;margin-bottom:60%;">
                    </div>
                    <div style="display: inline-block">
                      <h5 class="headfont" style="margin-bottom:16px;"
                          btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].categories[3].displayName | translate: translationData : 'messageformat'"></h5>
                      <p style="color:#b2c0ca; margin-top:-17px;">
                        <label ng-class="{'low-tag':reportSections[0].categories[3].scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                        <label ng-class="{'med-tag':reportSections[0].categories[3].scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                        <label ng-class="{'high-tag':reportSections[0].categories[3].scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                      </p>
                    </div>
                    <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                    <div style="display: inline-block">
                      <p btf-markdown="'AIM_REPORT.oneLiners.'+reportSections[0].categories[3].displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="linebreak">
          <div class="row">

            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify"
                 btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].categories[3].description | translate: translationData : 'messageformat'">
              </p>
            </div>

            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Inference' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].categories[3].summary | translate: translationData : 'messageformat'"><!--{{category.summary}}--></p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div style="position:absolute;bottom:-6%;width:100%;height:48px;">

      <div style="float:right;height:100%;width:6%;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">10</p>
      </div>
    </div>

    <footer></footer>

  </div>


  <div style="position:relative;">
    <div class="p-5">
      <div ng-if="reportSections[0].categories[4].type!='secondary'">
        <div class="catexplain">
          <div class="p-1 cathead">
              <div class="row">
                <div class="col-12">
                  <div style="display: inline-block">
                    <img ng-src={{assets_url+reportSections[0].categories[4].color}} style="height:39px;margin-bottom:60%;">
                  </div>
                  <div style="display: inline-block">
                    <h5 class="headfont" style="margin-bottom:16px;"
                        btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].categories[4].displayName | translate: translationData : 'messageformat'"></h5>
                    <p style="color:#b2c0ca; margin-top:-17px;">
                      <label ng-class="{'low-tag':reportSections[0].categories[4].scoreLabel==='Low'}">{{'AIM_REPORT.section3.Low' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'med-tag':reportSections[0].categories[4].scoreLabel==='Moderate'}">{{'AIM_REPORT.section3.Medium' | translate: translationData : 'messageformat'}}</label>
                      <label ng-class="{'high-tag':reportSections[0].categories[4].scoreLabel==='High'}">{{'AIM_REPORT.section3.High' | translate: translationData : 'messageformat'}}</label>
                    </p>
                  </div>
                  <div style="display: inline-block;"><p style="margin-bottom:16px; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;">-</p></div>
                  <div style="display: inline-block">
                    <p btf-markdown="'AIM_REPORT.oneLiners.'+reportSections[0].categories[4].displayName | translate: translationData : 'messageformat'" style="margin-bottom:16px; text-align: right; margin-top: 10px; position: relative; top: -20px; margin-left: 5px;font-size: 1.2em;"></p>
                  </div>
                </div>
              </div>
          </div>
          <hr class="linebreak">
          <div class="row">
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify"
                 btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].categories[4].description | translate: translationData : 'messageformat'">
              </p>
            </div>
            <div class="col-6">
              <h6 class="headfont">{{'AIM_REPORT.section3.Inference' | translate: translationData : 'messageformat'}}</h6>
              <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part1.'+reportSections[0].categories[4].summary | translate: translationData : 'messageformat'">
                <!--{{category.summary}}-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="position:absolute;bottom:-706px;;width:100%;height:48px;">
      <div style="float:right;height:100%;width:6%;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">11</p>
      </div>
    </div>
    <footer></footer>
  </div>
</div>