<div ng-if="reportSections[5].name =='Interest'">
    <div style="position:relative">
        <!--heading-->
        <div style="padding-top:8%">
            <label class="headingall">
                <strong>{{'AIM_REPORT.section3.section3_part6.Interest' | translate: translationData : 'messageformat'}}</strong>
            </label>
        </div>


        <!--image and description-->
        <div class="p-5 motivationFrontpage">
            <div class="imagemain text-center" ng-if="reportSections[5].name =='Interest'"
                 style="padding-left: 19%;padding-right: 19%;">


                <?xml version="1.0" encoding="utf-8"?>
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 593.2 599" style="enable-background:new 0 0 593.2 599;" xml:space="preserve">

                                <circle class="st0" cx="297.6" cy="300.4" r="296.6"/>
                                <title>Inscale Graph</title>
                                <path class="st1 section-4"  fill={{sections[3]}} d="M429.8,81.7L324,253.9l-0.1-0.1h-27.3V44.5h0.5C343.9,44.4,389.8,57.3,429.8,81.7z"/>
                                <path class="st1 section-5" fill={{sections[4]}} d="M518,172.5L336.6,275.7L324,253.9L429.8,81.7C466.3,104.1,496.7,135.3,518,172.5z"/>
                                <path class="st1 section-6" fill={{sections[5]}} d="M551.7,298.5H349.8l-13.1-22.8L518,172.5c21.5,37.5,33.1,79.9,33.6,123.1C551.6,296.6,551.7,297.5,551.7,298.5z
                                    "/>
                                <path class="st1 section-7" fill={{sections[6]}} d="M551.7,298.5v0.5c0,0.5,0,1,0,1.5c-0.2,43.9-11.8,87-33.7,125L337.4,321.9l13-22.5l-0.5-0.9H551.7z"/>
                                <path class="st1 section-8" fill={{sections[7]}} d="M518,425.6c-21.9,38-53.2,69.8-90.8,92.3l-103-173.1l0,0l13.2-22.9L518,425.6z"/>
                                <path class="st1 section-9" fill={{sections[8]}} d="M427.1,517.8c-39.3,23.4-84.2,35.7-130,35.7h-0.5V345.1H324l0.2-0.3L427.1,517.8z"/>
                                <path class="st1 section-10" fill={{sections[9]}} d="M296.6,345.1v208.4c-41,0-81.5-10-117.8-29.1l93.5-179.3L296.6,345.1L296.6,345.1z"/>
                                <path class="st1 section-11" fill={{sections[10]}} d="M272.4,345.1l-93.5,179.3c-42.7-22.5-78.2-56.6-102.3-98.4l180.9-104.8l13.8,23.9H272.4z"/>
                                <path class="st1 section-12" fill={{sections[11]}} d="M257.5,321.2L76.6,426c-22.3-38.6-34-82.4-33.9-127v-0.5h202.8l-0.5,0.9L257.5,321.2z"/>
                                <path class="st1 section-1" fill={{sections[0]}} d="M257.5,277.5l-12.1,21H42.7c0-41.9,10.4-83.1,30.2-119.9L257.5,277.5z"/>
                                <path class="st1 section-2" fill={{sections[1]}} d="M270.9,254.3l-13.4,23.2L72.9,178.6c22.2-41.3,55.4-75.7,95.8-99.4L270.9,254.3z"/>
                                <path class="st1 section-3" fill={{sections[2]}} d="M296.6,44.5v209.2h-25.4l-0.4,0.6L168.7,79.2C207.5,56.5,251.7,44.5,296.6,44.5z"/>
                                <polygon class="st2" points="349.3,298.4 336.4,320.9 323.1,343.7 323.1,343.7 323,344.1 270.2,344.1 256.5,320.2 243.9,298.4
                                    244.4,297.5 256.5,276.5 269.9,253.3 270.2,252.7 323,252.7 323,252.9 335.6,274.7 348.8,297.5 "/>
                                <circle cx="297.1" cy="298" r="5.5"/>
                                <line class="st3" x1="297.6" y1="287.5" x2="297.6" y2="260.5"/>
                                <polygon points="302.4,266.3 292.1,266.3 297.2,257.4 "/>
                                <line class="st3" x1="307.6" y1="298" x2="334.6" y2="298"/>
                                <polygon points="328.9,302.8 328.8,292.5 337.7,297.6 "/>
                                <line class="st3" x1="287.1" y1="298.5" x2="260.1" y2="298.5"/>
                                <polygon points="265.9,293.8 266,304 257.1,298.9 "/>
                                <line class="st3" x1="296.6" y1="309.5" x2="296.6" y2="336.5"/>
                                <polygon points="291.9,330.8 302.1,330.7 297.1,339.6 "/>
                    <!-- <text transform="matrix(1 0 0 1 59.15 248)" class="st4 st5"></text>
                                <text transform="matrix(1 0 0 1 114.15 144)" class="st4 st5"></text>
                                <text transform="matrix(1 0 0 1 235.15 73.6699)" class="st4 st5">3</text>
                                <text transform="matrix(1 0 0 1 353.15 75.3301)" class="st4 st5">4</text>
                                <text transform="matrix(1 0 0 1 466.48 145)" class="st4 st5">5</text>
                                <text transform="matrix(1 0 0 1 526.821 247.9999)" class="st4 st5">6</text>
                                <text transform="matrix(1 0 0 1 526.8207 362.25)" class="st4 st5">7</text>
                                <text transform="matrix(1 0 0 1 462.4796 474.5004)" class="st4 st5">8</text>
                                <text transform="matrix(1 0 0 1 353.1497 536.96)" class="st4 st5">9</text>
                                <text transform="matrix(1 0 0 1 226.48 539.5801)" class="st4 st5">10</text>
                                <text transform="matrix(1 0 0 1 120.3186 477.5002)" class="st4 st5 st6">1</text>
                                <text transform="matrix(1 0 0 1 130.3386 477.5002)" class="st4 st5">1</text>
                                <text transform="matrix(1 0 0 1 59.1501 376.0009)" class="st4 st5">12</text> -->
                                <rect x="255.1" y="10.8" class="st7" width="83.2" height="46.4"/>
                                <text transform="matrix(1 0 0 1 263.0085 19.27)" class="st8 st9 st10">{{'AIM_REPORT.section3.section3_part6.graph.Working with' | translate: translationData : 'messageformat'}}</text>
                                <text transform="matrix(1 0 0 1 275.5085 39.27)" class="st8 st11 st5">{{'AIM_REPORT.section3.section3_part6.graph.Data' | translate: translationData : 'messageformat'}}</text>
                                <rect x="7.9" y="255.1" class="st7" width="46.4" height="83.2"/>
                                <text transform="matrix(4.489659e-11 -1 1 4.489659e-11 16.4382 330.3535)" class="st8 st9 st10">{{'AIM_REPORT.section3.section3_part6.graph.Working with' | translate: translationData : 'messageformat'}}</text>
                                <text transform="matrix(4.489659e-11 -1 1 4.489659e-11 36.4382 327.5537)" class="st8 st11 st5">{{'AIM_REPORT.section3.section3_part6.graph.People' | translate: translationData : 'messageformat'}}</text>
                                <rect x="255.5" y="560.5" class="st7" width="83.2" height="46.4"/>
                                <text transform="matrix(1 0 0 1 263.4874 569.0195)" class="st8 st9 st10">{{'AIM_REPORT.section3.section3_part6.graph.Working with' | translate: translationData : 'messageformat'}}</text>
                                <text transform="matrix(1 0 0 1 273.3874 589.0195)" class="st8 st11 st5">{{'AIM_REPORT.section3.section3_part6.graph.Ideas' | translate: translationData : 'messageformat'}}</text>
                                <rect x="541.9" y="256.1" class="st7" width="46.4" height="83.2"/>
                                <text transform="matrix(-1.346898e-10 1 -1 -1.346898e-10 579.8223 264.0693)" class="st8 st9 st10">{{'AIM_REPORT.section3.section3_part6.graph.Working with' | translate: translationData : 'messageformat'}}</text>
                                <text transform="matrix(-1.346898e-10 1 -1 -1.346898e-10 559.8223 267.5693)" class="st8 st11 st5">{{'AIM_REPORT.section3.section3_part6.graph.Things' | translate: translationData : 'messageformat'}}</text>
                                <polygon points="302.4,54.3 292.1,54.3 297.2,45.4 "/>
                                <polygon points="51.9,293.8 52,304 43.1,298.9 "/>
                                <polygon points="291.9,544.8 302.1,544.7 297.1,553.6 "/>
                                <polygon points="541.9,304.8 541.8,294.5 550.7,299.6 "/>
                                <path class="st12" d="M37.8,212.2c0,0,25.5-110.2,157.9-170.4"/>
                                <rect x="39.4" y="111.7" transform="matrix(0.6317 -0.7753 0.7753 0.6317 -59.6328 114.5166)" class="st13" width="102.5" height="16.7"/>
                                <path id="SVGID_x5F_1_x5F_" class="st7" d="M50.8,190.2c0,0,34.8-107.7,171.8-156.4"/>
                                <text><textPath  xlink:href="#SVGID_x5F_1_x5F_" startOffset="17.6543%">
                                <tspan  class="st8 st9" style="font-size:14px;">{{'AIM_REPORT.section3.section3_part6.graph.People' | translate: translationData : 'messageformat'}} &amp; {{'AIM_REPORT.section3.section3_part6.graph.Data' | translate: translationData : 'messageformat'}}</tspan></textPath>
                                </text>
                                <polygon class="st8" points="197,46.3 193.2,36.7 203.4,38.2 "/>
                                <polygon class="st8" points="33,210.9 43.2,212.6 36.6,220.5 "/>
                                <g>
                                    <path class="st12" d="M394,39.4c0,0,108.6,31.8,161.1,167.4"/>

                                        <rect x="431.7" y="89.2" transform="matrix(0.7378 0.675 -0.675 0.7378 192.4647 -300.4577)" class="st13" width="102.5" height="16.7"/>
                                    <path id="SVGID_x5F_2_x5F_" class="st7" d="M415.2,53.7c0,0,105.5,40.9,146.3,180.5"/>
                                    <text>	<textPath  xlink:href="#SVGID_x5F_2_x5F_" startOffset="17.6543%">
                                <tspan  class="st8 st9" style="font-size:14px;">{{'AIM_REPORT.section3.section3_part6.graph.Data' | translate: translationData : 'messageformat'}} &amp; {{'AIM_REPORT.section3.section3_part6.graph.Things' | translate: translationData : 'messageformat'}}</tspan>	</textPath>
                                </text>
                                    <polygon class="st8" points="550.5,207.9 560.3,204.7 558.3,214.7 	"/>
                                    <polygon class="st8" points="395.6,34.7 393.3,44.8 385.8,37.8 	"/>
                                </g>
                                <polygon class="st8" points="389.3,554.5 393,564 382.9,562.6 "/>
                                <polygon class="st8" points="560.1,386.7 549.9,385 556.4,377.1 "/>
                                <path class="st12" d="M387.3,560.5c0,0,133.3-57.8,168-175.8"/>
                                <rect x="430.7" y="487.6" transform="matrix(0.7432 -0.6691 0.6691 0.7432 -207.5655 449.8653)" class="st13" width="103" height="15.4"/>
                                <path id="SVGID_x5F_3_x5F_" class="st7" d="M392.3,561.5c0,0,133.3-57.8,168-175.8"/>
                                <text><textPath  xlink:href="#SVGID_x5F_3_x5F_" startOffset="27.6543%">
                                <tspan  class="st8 st9" style="font-size:14px;">{{'AIM_REPORT.section3.section3_part6.graph.Ideas' | translate: translationData : 'messageformat'}} &amp; {{'AIM_REPORT.section3.section3_part6.graph.Things' | translate: translationData : 'messageformat'}}</tspan></textPath>
                                </text>
                                <polygon class="st8" points="49.1,403.9 39.5,407.7 40.9,397.6 "/>
                                <polygon class="st8" points="218.3,573.3 219.9,563.1 227.9,569.5 "/>
                                <path class="st12" d="M43,402c0,0,59,132.8,177.3,166.5"/>
                                <rect x="57.5" y="488.6" transform="matrix(0.6754 0.7375 -0.7375 0.6754 401.4078 80.7191)" class="st13" width="103" height="15.4"/>
                                <path id="SVGID_x5F_4_x5F_" class="st7" d="M42.1,407c0,0,59,132.8,177.3,166.5"/>
                                <text><textPath  xlink:href="#SVGID_x5F_4_x5F_" startOffset="27.6543%">
                                <tspan  class="st8 st9" style="font-size:14px;">{{'AIM_REPORT.section3.section3_part6.graph.People' | translate: translationData : 'messageformat'}} &amp; {{'AIM_REPORT.section3.section3_part6.graph.Ideas' | translate: translationData : 'messageformat'}}</tspan></textPath>
                                </text>
                                </svg>


            </div>
            <div>
                <div>
                    <div class="p-3 catdesc">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="headfont" style="margin-bottom:16px;">{{'AIM_REPORT.section3.DESCRIPTION' | translate: translationData : 'messageformat'}}</h5>
                                <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].description | translate: translationData : 'messageformat'">
                                    <!--{{reportSection.description}}-->
                                </p>
                            </div>
                            <div class="col-6">
                                <div ng-if="reportSection.name!='Motivation'">
                                    <h5 class="headfont" style="margin-bottom:16px;">{{'AIM_REPORT.section3.INFERENCE' | translate: translationData : 'messageformat'}}</h5>

                                    <p style="text-align:justify" btf-markdown="'AIM_REPORT.section3.section3_part6.'+learningStyles.second.description | translate: translationData : 'messageformat'">
                                        <!--{{reportSection.summary}}-->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer for page no-->
        <div style="position:absolute;bottom:-7.5%;;width:100%;height:48px;">
            <div style="float:right;height:100%;width:6%;background:#e9f0f6;padding-top:1%;text-align:center;">
                <p style="color:#5a6476;font-size:16px;">24</p>
            </div>
        </div>
        <footer></footer>
    </div>


    <!--primary type data page 2 of interest -->
    <div style="position:relative">
        <div class="p-5 ">
            <div ng-if="reportSections[5].top3CategoriesForInterest[0].type!='secondary'">
                <div class="catexplain">
                    <div class="p-1 cathead">
                        <div style="position:absolute;">
                            <img ng-src={{assets_url+reportSections[5].top3CategoriesForInterest[0].color}}
                                 style="height:39px;margin-bottom:4%;">
                            <div class="row" style="display:inline-block;width:40%; margin-left:1%;height:39px;margin-bottom:4%;">
                                <h5 class="headfont" style="margin-bottom:0px;"
                                    btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].top3CategoriesForInterest[0].displayName | translate: translationData : 'messageformat'"></h5>

                            </div>
                        </div>
                    </div>
                    <hr class="linebreak">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
                            <p style="text-align:justify"
                               btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].top3CategoriesForInterest[0].description | translate: translationData : 'messageformat'">
                            </p>
                        </div>
                        <div class="col-6">

                            <h6 class="headfont">{{'AIM_REPORT.section3.section3_part6.Words that describe' | translate: translationData : 'messageformat'}} {{user.firstName}}</h6>
                            <p style="text-align:justify"
                               btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].top3CategoriesForInterest[0].highText | translate: translationData : 'messageformat' ">
                                <!--{{category.summary}}-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="reportSections[5].top3CategoriesForInterest[1].type!='secondary'">
                <div class="catexplain">
                    <div class="p-1 cathead">
                        <div style="position:absolute;">
                            <img ng-src={{assets_url+reportSections[5].top3CategoriesForInterest[1].color}}
                                 style="height:39px;margin-bottom:4%;">
                            <div class="row" style="display:inline-block;width:40%; margin-left:1%">

                                <h5 class="headfont" style="margin-bottom:0px;"
                                    btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].top3CategoriesForInterest[1].displayName | translate: translationData : 'messageformat'"></h5>
                            </div>
                        </div>
                    </div>
                    <hr class="linebreak">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
                            <p style="text-align:justify"
                               btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].top3CategoriesForInterest[1].description | translate: translationData : 'messageformat'">
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="headfont">{{'AIM_REPORT.section3.section3_part6.Words that describe' | translate: translationData : 'messageformat'}} {{user.firstName}}</h6>
                            <p style="text-align:justify"
                               btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].top3CategoriesForInterest[1].highText | translate: translationData : 'messageformat'">
                                <!--{{category.summary}}-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="reportSections[5].top3CategoriesForInterest[2].type!='secondary'">
                <div class="catexplain">
                    <div class="p-1 cathead">
                        <div style="position:absolute;">
                            <img ng-src={{assets_url+reportSections[5].top3CategoriesForInterest[2].color}}
                                 style="height:39px;margin-bottom:4%;">
                            <div class="row" style="display:inline-block;width:40%; margin-left:1%">
                                <H5 class="headfont" style="margin-bottom:0px;"
                                    btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].top3CategoriesForInterest[2].displayName | translate: translationData : 'messageformat'"></H5>
                            </div>
                        </div>
                    </div>
                    <hr class="linebreak">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="headfont">{{'AIM_REPORT.section3.Description' | translate: translationData : 'messageformat'}}</h6>
                            <p style="text-align:justify"
                               btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].top3CategoriesForInterest[2].description | translate: translationData : 'messageformat'">
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="headfont">{{'AIM_REPORT.section3.section3_part6.Words that describe' | translate: translationData : 'messageformat'}} {{user.firstName}}</h6>
                            <p style="text-align:justify"
                               btf-markdown="'AIM_REPORT.section3.section3_part6.'+reportSections[5].top3CategoriesForInterest[2].highText | translate: translationData : 'messageformat'">
                                <!--{{category.summary}}-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position:absolute;bottom:-6%;width:100%;height:48px;">
            <div style="float:right;height:100%;width:6%;background:#e9f0f6;padding-top:1%;text-align:center;">
                <p style="color:#5a6476;font-size:16px;">25</p>
            </div>
        </div>
    </div>
    <footer></footer>
</div>