<!--cognitive intelligence report section-->
<div ng-include="'/views/aimReports/aimReport/section3_part1.html'"></div>

<!--personality section-->
<div ng-include="'/views/aimReports/aimReport/section3_part2.html'"></div>

<!--emotional intelligence-->
<div ng-include="'/views/aimReports/aimReport/section3_part3.html'"></div>

<!--social intelligence-->
<div ng-include="'/views/aimReports/aimReport/section3_part4.html'"></div>

<!--motivation-->
<div ng-include="'/views/aimReports/aimReport/section3_part5.html'"></div>

<!--interest-->
<div ng-include="'/views/aimReports/aimReport/section3_part6.html'"></div>



