<div>
  <!--talents-->
  <div ng-include="'/views/aimReports/aimReport/section4_part1.html'"></div>


  <!--strengths-->
  <div ng-include="'/views/aimReports/aimReport/section4_part2.html'"></div>

  <!--weaknesses-->
  <div ng-include="'/views/aimReports/aimReport/section4_part3.html'"></div>




</div>