<div style="position:relative;">

  <!--best fir for class 6 to 8-->
  <div ng-if="user.grade=='6'||user.grade=='7'||user.grade=='8'">
    <div style="padding-top:8%">
      <label class="headingall">
        <strong>{{"AIM_REPORT.section1.junior.heading" | translate: translationData : 'messageformat'}}</strong></label>
    </div>
    <div class="p-5 bestFitsmall">
      <div class="row concept-desc descriptionconcept">
        <p class="col-11" style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section1.junior.careerCommonText' | translate: translationData : 'messageformat' "></p>
      </div>

      <div class="row" style="margin-top:15%">
        <div class="col-6">
          <div class="fitcard">
            <p class="cardTitle">{{"AIM_REPORT.subjects.Subjects" | translate: translationData : 'messageformat'}}</p>
            <div style=" padding-left: 10%;padding-top: 12%;">
              <p class="list-subjects" ng-repeat="subject in subjects" btf-markdown="'AIM_REPORT.subjects.'+subject.name | translate: translationData : 'messageformat'">
              </p>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="fitcard">
            <p class="cardTitle">{{"AIM_REPORT.liesures.Leisures" | translate}}</p>
            <div style=" padding-left: 10%;padding-top:12%;">
              <p class="list-subjects" ng-repeat="hobbie in hobbies" btf-markdown="'AIM_REPORT.liesures.'+hobbie.name | translate: translationData : 'messageformat'"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:10%">
        <div class="col-4" ng-repeat="career in aimExpertCareerInventory" style="padding:22px;">
          <div class="career-card"
               ng-class="{smallcareer1:{{$index}}==0,smallcareer2:{{$index}}==1,smallcareer3:{{$index}}==2}">
            <div class="cardImage">
              <img style="margin-left: 10%;height: 150px;margin-top:10%;" ng-src={{assets_url+career.imageName}}>
            </div>
            <div class="careerTitle"><label style="display: inline-block;margin-bottom: .5rem;font-size: 14px;font-weight: 600;margin-top: 6%;text-transform: uppercase;">{{'AIM_REPORT.careers.name.'+career.name | translate: translationData : 'messageformat'}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="position:absolute;bottom:-5.5%;width:100%;height:48px;">
      <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">2</p>
      </div>
    </div>
  </div>

  <!--best fit for class 9 to 10-->
  <div ng-if="user.grade=='9'||user.grade=='10'">
    <div style="padding-top:8%">
      <label class="headingall">
        <strong>{{"AIM_REPORT.section1.junior.heading" | translate: translationData : 'messageformat'}}</strong></label>
    </div>
    <div class="p-5 bestFitsmall">

      <div class="row concept-desc descriptionconcept">
        <p ng-if="user.grade=='9'||user.grade=='10'" style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section1.senior.careerCommonTextClass9_10' | translate: translationData : 'messageformat'"></p>
      </div>

      <div class="row" style="margin-top:15%">
        <div class="col-6">
          <div class="fitcard">
            <p class="cardTitle">{{"AIM_REPORT.streams.Streams" | translate}}</p>
            <div style=" padding-left: 10%;padding-top: 12%;">
              <div class="list-subjects" ng-repeat="stream in recommendedStreams">
                <p ng-if="$first">{{$index+1}}.&nbsp;{{'AIM_REPORT.streams.'+stream.name | translate}}({{"AIM_REPORT.section1.junior.Best Fit" | translate}})</p>
                <p ng-if="!$first">{{$index+1}}.&nbsp;{{'AIM_REPORT.streams.'+stream.name | translate}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="fitcard">
            <p class="cardTitle">{{"AIM_REPORT.liesures.Leisures" | translate}}</p>
            <div style=" padding-left: 10%;padding-top:12%;">
              <p class="list-subjects" ng-repeat="hobbie in hobbies" btf-markdown="'AIM_REPORT.liesures.'+hobbie.name | translate: translationData : 'messageformat'"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:10%">
        <div class="col-4" ng-repeat="career in aimExpertCareerInventory" style="padding:22px;">
          <div class="career-card"
               ng-class="{smallcareer1:{{$index}}==0,smallcareer2:{{$index}}==1,smallcareer3:{{$index}}==2}">
            <div class="cardImage">
              <img style="margin-left: 10%;height: 150px;margin-top:10%;" ng-src={{assets_url+career.imageName}}>
            </div>
            <div class="careerTitle"><label style="display: inline-block;margin-bottom: .5rem;font-size: 14px;font-weight: 600;margin-top: 6%;text-transform: uppercase;">{{'AIM_REPORT.careers.name.'+career.name | translate: translationData : 'messageformat'}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="position:absolute;bottom:-5.5%;width:100%;height:48px;">

      <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">2</p>
      </div>
    </div>
  </div>

  <!--best fit for higher classes-->
  <div ng-if="user.grade=='11'||user.grade=='12'">
    <div style="padding-top:8%">
      <label class="headingall">
        <strong>{{"AIM_REPORT.section1.senior.heading" | translate: translationData : 'messageformat'}}</strong></label>
    </div>
    <div class="bestFitsmall" style="padding-right:7%;padding-left:7%;">
      <div class="row concept-desc descriptionconcept" style="margin-bottom:0cm;">
        <p ng-if="user.grade=='11'||user.grade=='12'" style="text-align:justify;color:#202c54" btf-markdown="'AIM_REPORT.section1.senior.careerCommonTextClass11_12' | translate: translationData : 'messageformat'"></p>
      </div>
      <div class="row">
        <div class="col-4" ng-repeat="career in aimExpertCareerInventory">
          <div class="career-opt" ng-class="{career1:{{$index}}==0,career2:{{$index}}==1,career3:{{$index}}==2}">
            <div ng-class="{caricon1:{{$index}}==0,caricon2:{{$index}}==1,caricon3:{{$index}}==2}">
              <!--<img style="margin-right:7px;" ng-src={{assets_url+career.imageName}} />-->
              <img style="margin-right:7px;" ng-src={{assets_url+career.imageName}} />
              <div style="background-color: white; padding: 1%;">
                <div style="padding: 2%">
                  <div style="height: 70px;">
                    <h5 class="heading-career headfont" style="margin-bottom:10px;padding-top:6px;" btf-markdown="'AIM_REPORT.careers.name.'+career.name | translate: translationData : 'messageformat'"></h5>
                  </div>
                  <hr class="hrCareer">
                  <div>
                    <div style="height: 160px; padding: 2%;">
                      <label class="career-label ">{{"AIM_REPORT.subjects.Subjects" | translate: translationData : 'messageformat'}}</label>
                      <ul ng-repeat="subject in career.subjects" style="padding-left: 14px;">
                        <li btf-markdown="'AIM_REPORT.subjects.'+subject.name | translate: translationData : 'messageformat'"></li>
                      </ul>
                    </div>
                    <br>
                    <div style="height: 210px;  padding: 2%">
                      <label class="career-label">{{"AIM_REPORT.liesures.Liesures" | translate: translationData : 'messageformat'}}</label>
                      <ul ng-repeat="leisure in career.leisures" style="padding-left: 14px;">
                        <li btf-markdown="'AIM_REPORT.liesures.'+leisure.name | translate: translationData : 'messageformat'"></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="position:absolute;bottom:-2%;width:100%;height:48px;">
      <div style="float:right;height:100%;width:6%;;background:#e9f0f6;padding-top:1%;text-align:center;">
        <p style="color:#5a6476;font-size:16px;">2</p>
      </div>
    </div>
  </div>
</div>