<div class="text-center">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link  active" data-toggle="tab" ng-click="loadTags('QUESTION');loadSubTags('QUESTION');">QUESTION</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" ng-click="loadTags('COUNSELLING_SESSION');loadSubTags('COUNSELLING_SESSION');">COUNSELLING SESSION</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-md-6">
    <!-- Nav tabs -->
    <div class="card">
      <div class="card-header">

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link  active" data-toggle="tab" ng-click="selectTab(1)">Tag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" ng-click="selectTab(2)">Sub Tag</a>
          </li>
          <li class="nav-item">
            <button class="btn" ng-click="addTag()">new</button>
          </li>
        </ul>
      </div>
      <div class="card-block p-4">
        <!-- Tab panes -->
        <div class="tab-content text-center">
          <div class="tab-pane active" id="tag">




            <div class="row">
              <table class="table table-responsive">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tag in tags">
                  <td>{{tag.name}}</td>
                  <td>
                    <button class="btn btn-sm" ng-click="editTag(tag)">edit</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane" id="subtag">
            <div class="row">
              <button class="btn btn-sm float-left" ng-click="addSubTag()">new</button>
            </div>
            <div class="row">
              <table class="table table-responsive">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subtag in subtags">
                  <td>{{subtag.name}}</td>
                  <td>
                    <button class="btn btn-sm" ng-click="editSubTag(subtag)">edit</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card" ng-show="showTag">
      <div class="card-header p-4">
        {{workingTag.mode}} Tag
      </div>
      <div class="card-block p-4">
        <div class="row">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"></span>
            <input type="text" class="form-control" placeholder="Name" ng-model="workingTag.name" required>
          </div>

        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm" ng-click="saveTag(workingTag)">save</button>
      </div>
    </div>


    <div class="card" ng-show="showSubTag">
      <div class="card-header p-4">
        {{workingSubTag.mode}} Sub Tag
      </div>
      <div class="card-block p-4">
        <div class="row">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"></span>
            <input type="text" class="form-control" placeholder="Name" ng-model="workingSubTag.name" required>
          </div>
          <div class="input-group form-group-no-border">
            <select class="form-control" ng-model="workingSubTag.tagId" ng-options="tag.id as tag.name for tag in tags" ng-change="tagChanged(workingSubTag.tagId)">
            </select>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm" ng-click="saveSubTag(workingSubTag)">save</button>

      </div>
    </div>


  </div>
</div>