<div class="card-header " >
  <h6 class="card-title">Create Audio Type Answers </h6>
</div><br>
<form name="myForm" id="myForm">
<div ng-repeat="answerObject in mainAnsArray track by $index">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group form-group-no-border row">
        <div class="col-md-1 col-form-label">Answer{{$index+1}}:</div>
        <div class="col-md-3">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Enter Answer Description" ng-model="answerObject.description">
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="number" class="form-control" ng-model="answerObject.marks" placeholder="Marks" >
          </div>
        </div>
        <!--<div class="col-md-3">
          <input class="btn  btn-round" id="ansAudio-{{$index}}" type="file" accept="audio/mpeg" />
        </div>-->
        <div class="col-md-2">
          <button class="btn  btn-round" ng-click="browseAnswerAudio($index)">Choose Audio</button>
        </div>
        <audio controls class="col-md-2" ng-src="{{answerAudio[$index]}}" type="audio/mpeg"></audio>
        <input id="ansAudio-{{$index}}" type="file" style="display:none" accept="audio/mpeg" onchange="angular.element(this).scope().setAnswerAudio(this)"/>
        <div class="col-md-1 col-form-label">{{audioName[$index]}}</div>
      </div>

    </div>
  </div>
    </div>
  </div>
</div></form>
<div class="card-footer " >
</div>
