<div class="card-header " >
  <h6 class="card-title">Create Group Type Answers </h6>
</div><br>
<div class="row">
  <div class="col-md-12">
    <div class="input-group form-group-no-border row">
      <div class="col-md-1 col-form-label">Group Name:</div>
      <div class="col-md-5">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <input type="text" class="form-control" placeholder="Enter Group Name" ng-model="questionData.groupName">
        </div>
      </div>
      <div class="col-md-2">
        <div class="checkbox">
          <input id="checkbox1" ng-click="fetchAnswerDataByGroupName(groupData)" type="checkbox" ng-model="groupData">
          <label for="checkbox1">
            Copy Group Data
          </label>
        </div>
      </div>
      <div class="col-md-2">
      <div class="checkbox">
        <input id="check11" ng-click="randomAnswerOptions(randomAnswer)" type="checkbox" ng-model="randomAnswer">
        <label for="check11">
          Randomize Answers
        </label>
      </div>
      </div>
      <div class="col-md-2 col-form-label">
        <i class="fa fa-plus-circle" aria-hidden="true" ng-click="addCommonActivity()"></i>Additional Activity
      </div>
    </div>
  </div>
</div>
<div ng-repeat="answerObject in mainAnsArray track by $index">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group form-group-no-border row">
        <div class="col-md-1 col-form-label">Answer{{$index+1}}:</div>
        <div class="col-md-5">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Enter Answer Description" ng-model="answerObject.description">
          </div>
        </div>
        <div class="col-md-5">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="number" class="form-control" placeholder="Enter Marks" ng-model="answerObject.marks">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer " >
</div>

<script type="text/ng-template" id="commonActivity.html">
  <div class="card col-lg-12">
    <div class="card-header">
      <h6 style="float: left;" class="card-subtitle mb-2 text-muted text-center">Add Common Activity with Group {{questionData.groupName}}</h6>
    </div>
    <div class="card-block">

    <div class="row">
      <div class="input-group form-group-no-border row">
        <div class="col-md-3 col-form-label">Group Activity Text:</div>
        <div class="col-md-8">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-paragraph" aria-hidden="true"></i></span>
            <textarea placeholder="Enter common description" class="form-control" ng-model="activity.commonText"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="input-group form-group-no-border row">
      <div class="col-md-3 col-form-label">Group Activity Types:</div>
      <div class="col-md-8">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>
          <select class="form-control" ng-change="displayCommonActivity()" ng-model="activity.commonType">
            <option value="" selected>Select Activity Type</option>
            <option ng-repeat="caty in activityTypes track by $index" value="{{caty}}">
              {{caty}}
            </option>
          </select>
        </div>
      </div>
    </div>
    </div>

      <div class="row" ng-show="activity.commonType=='Image'">
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Activity Image:</div>
          <div class="col-md-8">
            <img class="rounded-circle img-raised" ng-src="{{actImageURI}}" alt="" style="width: 155px; height: 155px" ng-click="browseActivityImage()">
            <input id="activityImg" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setActivityImage(this)"/>
            <button class="btn btn-round" ng-click="browseActivityImage()">Choose Image</button>
          </div>
        </div>
      </div>

      <div class="row" ng-show="activity.commonType=='Audio'">
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Activity Audio:</div>
          <div class="col-md-4">
            <audio controls class="col-md-12" ng-src="{{actAudioURI}}" type="audio/mpeg"> </audio>
            <input id="activityAudio" type="file" style="display:none" accept="audio/mpeg" onchange="angular.element(this).scope().setActivityAudio(this)"/>
          </div>
          <div class="col-md-1">
            <button class="btn  btn-round" ng-click="browseActivityAudio()">Choose Audio</button>
          </div>
        </div>
      </div>

      <div class="row" ng-show="activity.commonType=='Video'">
        <div class="input-group form-group-no-border row">
          <div class="col-md-3 col-form-label">Activity Video:</div>
          <div class="col-md-6">
            <video controls width="320" height="240" ng-src="{{actVideoURI}}" type="video/mp4"></video>
            <input id="activityVideo" type="file" style="display:none" accept="video/mp4" onchange="angular.element(this).scope().setActivityVideo(this)"/>
            <button class="btn btn-round" ng-click="browseActivityVideo()">Choose Video</button>
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer text-right">
      <button class="btn btn-rose btn-default btn-sm" ng-click="saveCommonActivity(activity)">Save</button>&nbsp;
      <button class="btn btn-rose btn-default btn-sm" ng-click="cancelCommon()">Close</button>
    </div>
  </div>
</script>
