<div class="card-header " >
  <h6 class="card-title">Create Image Type Answers </h6>
</div><br>
<div ng-repeat="answerObject in mainAnsArray track by $index">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group form-group-no-border row">
        <div class="col-md-1 col-form-label">Answer{{$index+1}}:</div>
        <div class="col-md-3">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Enter Answer Description" ng-model="answerObject.description">
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="number" class="form-control"   placeholder="Enter Marks" ng-model="answerObject.marks">
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn  btn-round" ng-click="browseAnswerImage($index)">Choose Image</button>
        </div>
        <div class="col-md-2">
          <img ng-click="browseAnswerImage($index)" class="rounded-circle img-raised" ng-src="{{answerImage[$index]}}" alt="answerImage" style="width: 120px; height: 100px">
          <input id="ansImage-{{$index}}" type="file" style="display:none" accept="image/*" onchange="angular.element(this).scope().setAnswerImage(this)"/>
        </div>
        <div class="col-md-1 col-form-label">{{imageName[$index]}}</div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer " >
</div>
