<div class="card-header " >
  <h6 class="card-title">Create MCQ Type Answers </h6>
</div><br>
<div class="row">
  <div class="col-md-12 offset-1">
    <div class="input-group form-group-no-border row">
      <div class="col-md-2 col-form-label">Randomize Answers:</div>
      <div class="col-md-1">
        <div class="checkbox">
          <input id="check21" ng-click="randomAnswerOptions(randomAnswer)" type="checkbox" ng-model="randomAnswer">
          <label for="check21">
            &nbsp;&nbsp;&nbsp;
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-repeat="answerObject in mainAnsArray track by $index">
  <div class="row">
    <div class="col-md-12 offset-1">
      <div class="input-group form-group-no-border row">
        <div class="col-md-1 col-form-label">Answer{{$index+1}}:</div>
        <div class="col-md-5">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Enter Answer Description" ng-model="answerObject.description">
          </div>
        </div>
        <div class="col-md-5">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="number" class="form-control"   placeholder="Enter Marks" ng-model="answerObject.marks">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer " >
</div>
