<div class="card-header " >
  <h6 class="card-title">Create Slider Type Answers </h6>
</div><br>
<div ng-repeat="answerObject in mainAnsArray track by $index">
  <div class="row">
    <div class="col-md-12 offset-1">
      <div class="input-group form-group-no-border row">
        <div class="col-md-1 col-form-label">Answer{{$index+1}}:</div>
        <div class="col-md-3">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Enter Slider Description" ng-model="answerObject.description">
          </div>
        </div>

        <div class="col-md-1 col-form-label">SliderRange:</div>&nbsp;
        <div class="col-md-2">
          <div class="input-group form-group-no-border">
            <input type="number" class="form-control" placeholder="0" ng-model="answerObject.startPoint">&nbsp;
            <input type="number" class="form-control" placeholder="0" ng-model="answerObject.endPoint">
          </div>
        </div>
        <div class="col-md-1 col-form-label">SliderType:</div>
        <div class="col-md-3">
          <div class="input-group form-group-no-border">
            <select class="form-control" ng-model="answerObject.sliderType">
              <option value="" selected>Select Slider Type</option>
              <option value="dragTrap">Drag Trap</option>
              <option value="trap">Only Trap</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer " >
</div>