<div class="card-header " >
<h6 class="card-title">Create Text Type Answers </h6>
</div><br>
<div class="row">
  <div class="col-md-12 offset-2">
    <div class="row">
      <div class="col-md-3">
        <div class="checkbox">
          <input id="hasValidation" type="checkbox" ng-model="questionData.hasValidation">
          <label for="hasValidation">
            HasValidation
          </label>
        </div>
      </div>
      <div class="col-md-3" ng-show="questionData.hasValidation">
        <div class="checkbox">
          <input id="alphaAllowed" type="checkbox" ng-model="questionData.alphabetAllowed">
          <label for="alphaAllowed">
            AlphabetAllowed
          </label>
        </div>
      </div >
      <div class="col-md-1 col-form-label" ng-show="questionData.hasValidation">MinLength</div>
      <div class="col-md-2" ng-show="questionData.hasValidation">
        <div class="input-group form-group-no-border">
          <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
          <input type="text" class="form-control" placeholder="Min Length" ng-model="questionData.minLength">
        </div>
      </div>
    </div>
  </div>
</div>
<br ng-show="questionData.hasValidation">
<div class="row" ng-show="questionData.hasValidation">
  <div class="col-md-12 offset-2">
  <div class="row">
  <div class="col-md-3">
    <div class="checkbox">
      <input id="specialCharAllowed" type="checkbox" ng-model="questionData.specialCharAllowed">
      <label for="specialCharAllowed">
        SpecialCharAllowed
      </label>
    </div>
  </div>
    <div class="col-md-3" ng-show="questionData.hasValidation">
      <div class="checkbox">
        <input id="numericAllowed" type="checkbox" ng-model="questionData.numericAllowed">
        <label for="numericAllowed">
          NumericAllowed
        </label>
      </div>
    </div>
  <div class="col-md-1 col-form-label">MaxLength</div>
  <div class="col-md-2">
    <div class="input-group form-group-no-border">
      <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
      <input type="text" class="form-control" placeholder="Max Length" ng-model="questionData.maxLength">
    </div>
  </div>
  </div>
  </div>
</div>
<br ng-show="questionData.hasValidation">
<div ng-repeat="answerObject in mainAnsArray track by $index">
  <div class="row">
    <div class="col-md-12 offset-1">
      <div class="input-group form-group-no-border row">
        <div class="col-md-1 col-form-label">Answer{{$index+1}}:</div>
        <div class="col-md-5">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="text" class="form-control" placeholder="Enter Answer Description" ng-model="answerObject.description">
          </div>
        </div>
        <div class="col-md-5">
          <div class="input-group form-group-no-border">
            <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
            <input type="number" class="form-control"   placeholder="Enter Marks" ng-model="answerObject.marks">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
</div>
